[2020-06-02 08:14] ematipico commented on #563
I can take a look at this

[2020-06-02 08:14] ematipico commented on #562
I will look into this

[2020-06-02 15:26] bitpshr commented on #556
I think this is a great rule to add. Something like `jsx-a11y/svg-has-title` or something. Thanks for taking the time to research and propose this!

[2020-06-02 15:51] #562 closed

[2020-06-02 15:51] #563 closed

[2020-06-03 04:43] #547 closed

[2020-06-03 11:02] bitpshr opened #572 "Rome mishandles computed enum members"
## Description:

Rome handles computed enum members more-loosely than the TypeScript compiler.

## Steps To Reproduce

Both of these cases should be errors. Specifically, Rome should only handle computed members that involve variables if they resolve to numbers. Purely-local computed members can still resolve to strings.

These should fail:

[code]

[code]

This should succeed:

[code]

## Expecte

[2020-06-03 16:52] VictorHom commented on #341
There's been other things happening recently, but I am still working on these rules:
`no-this-in-sfc`
`react-hooks/rules-of-hooks`
`react/no-array-index-key`

[2020-06-03 18:42] yassere opened #574 "Var bindings not being attached to scope"
## Steps To Reproduce

Create a visitor with:

[code]

Then use it to lint a file like:

[code]
## Results

You only log `undefined` for every path. If you change the `var` to a `let`, you'll successfully log the let binding (several times).

It looks like var bindings are now intended to be added to the relevant block scope, but the `JSVariableDeclaration` evaluator only adds var bindings to scop

[2020-06-04 09:59] ematipico opened #576 "Reorganize the `ariaHelpers.ts` file and add more test cases"
At the moment `ariaHelpers.ts` is a big file that contains some type and some maps of roles/attributes.

The file is getting big and I would like to split it into separate files and try to follow the same approach or [`aria-query`](https://github.com/A11yance/aria-query/tree/master/src/etc/roles) package, although I don't it's necessary to further divide roles into abstract, literal and dpub (espe

[2020-06-04 13:52] yeonjuan commented on #341
Can I take a `require-render-return`?

[2020-06-05 14:07] bitpshr opened #580 "Improve React lint rule utilities"
Many React lint rules check for the same AST characteristics when determining whether to apply rule logic. For example, the following AST checks are repeated frequently right now:

- Detect `Component` extension
- Detect `React.Component` extension
- Check for `createElement` signatures

Further, these repeated checks are not very robust. No rules verify that `react` is actually in scope before ch

[2020-06-05 19:30] yassere commented on #389
MemoryFileSystem#handleDeletion calls `deletedFileEvent.send(path)` after it calls `files.delete(path)`

In response to the `deletedFileEvent`, FileAllocator#handleDeleted calls `memoryFs.getFileStatsAssert(path)` which checks the `files` Map for the path entry which was just deleted, and then throws an error when it can't find it.

I think you can solve this particular problem by changing MemoryF

[2020-06-05 23:29] sebmck commented on #389
Ah yeah changing it to `await .call()` sounds right. There may be some issues such as duplicate fs watch events that could cause race conditions but those could be solved with locks.

[2020-06-07 02:13] stefanuros opened #588 "Lint rule react/no-direct-mutation-state; Uncertainties about call stacks and functional components"
@macovedj Had some good questions about #582 implementation related to call stacks. The rule might allow state mutation if things are abstracted one layer behind a function call. (Async functions are not allowed but synchronous ones may be)

Also, when it comes to autofix, it could be possible to autofix this.state mutations to use setState instead, but this might act differently in functional com

[2020-06-07 22:29] sebmck commented on #88
Should be fixed by #589.

[2020-06-07 22:29] #88 closed

[2020-06-07 23:22] yassere commented on #535
Closed by #589

[2020-06-07 23:22] #535 closed

[2020-06-07 23:25] yassere commented on #574
Resolved by #589

[2020-06-07 23:25] #574 closed

[2020-06-10 06:13] Kelbie commented on #341
I'll take `autocomplete-valid`

[2020-06-10 11:12] yeonjuan commented on #341
I'll take `react/no-render-return-value`.

[2020-06-11 17:49] VictorHom commented on #341
gonna start on `react-hooks/rules-of-hooks`

I'll also take a look at `react/jsx-props-no-spreading`

[2020-06-11 21:59] stefanuros opened #599 "react/state-in-constructor redundant rule"
[state-in-constructor](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/state-in-constructor.md)
[no-direct-mutation-state](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-direct-mutation-state.md)

The state-in-constructor rule prevents users from initializing state anywhere except in the class constructor. This seems to already be covered by the

[2020-06-11 22:36] ljharb commented on #599
`this.state =` is not state mutation, and that's what `state-in-constructor` prevents.

[2020-06-11 22:46] stefanuros commented on #599
@ljharb `this.state = ` is state initialization, right? And that's the difference you're talking about? `no-direct-mutation-state` already handles cases of state initialization in places other than the constructor. Should it only handle state mutation while `state-in-constructor` handles state initialization?

[2020-06-11 22:50] ljharb commented on #599
I can't speak for rome's implementation - the intention of `state-in-constructor` is to force people to use a public class field to initialize state, or to force them to use `this.state = {}` in the constructor. `no-direct-mutation-state` is for mutations of `this.state` itself, which does also check that `this.state` is not reassigned outside the constructor.

In other words, the rules together a

[2020-06-12 13:36] yassere commented on #389
`LintRunner` populates worker queues with all the paths that were passed to `LintRunner#run` at the start of the run.

There doesn't appear to be any handling of file deletion while those queues spin down, and when `Cache#get` is called for a nonexistent path, rome crashes because `Cache#createEmptyEntry` needs the `mtime`.

[2020-06-14 14:24] VictorHom opened #608 "Changing references to word master in codebase"
This is based on a conversation in the discord server
https://discord.com/channels/678763474494423051/678763474930761739/720847340541444157

@sebmck mentioned references to Master in the codebase. I'm adding this task and possibly a discussion for a better name for those references.

`Main` has been suggested, but it might not be a relevant name to all spots in codebase.

[2020-06-15 02:23] #588 closed

[2020-06-15 04:49] sebmck commented on #389
Hopefully resolved #604. Let's reopen this if there's more issues.

[2020-06-15 04:49] #389 closed

[2020-06-15 05:04] #608 closed

[2020-06-17 00:36] lishine commented on #496
Your website is down

[2020-06-17 01:57] yassere opened #613 "Rome process can exit while awaiting Server writeFiles"
When using the `ci` command with the `fix` flag to lint and test a single file, the tests will be skipped if the lint saves any fixes.

## Steps To Reproduce

Create a `foo.test.ts` file with an auto-fixable lint error
[code]

Then run: `./scripts/dev-rome ci --fix foo.test.ts`

## Expected Results

It should lint then produce a diagnostic for the test assertion, but Rome exits with no errors afte

[2020-06-17 11:21] KidyasoVasiliy commented on #496
@sebmck  please, change description on repo
now is https://romejs.dev address is indicated there

thanks

[2020-06-17 14:12] yassere commented on #613
@sebmck This problem is related to `Server#writeFiles` and it's not isolated to the `ci` command.

I think what's happening is that when `LintRunner#runLint` calls `writeFiles`, Node doesn't wait for the unresolved `waitRefresh` promise before exiting.

Adding a `const keepAlive = setTimeout(() => {}, 99999);` into the promise constructor callback and clearing it when it resolves fixes the problem

[2020-06-17 18:29] yassere opened #618 "LSP server crashing on invalid syntax"
## Steps To Reproduce

With VS Code closed, run `./scripts/run-vscode-extension .` to start an Extension Development Host window.

Create a new file `foo.ts` and type some invalid syntax: `function {"oops"}`

## Results

LSP server crashes. From the `Rome` Output panel:

[code]
[code]

[2020-06-17 20:36] sebmck commented on #618
Probably need a `catchDiagnostics` somewhere in `LSPServer`.

[2020-06-18 20:46] yassere commented on #618
I think we'd need to wrap the call to `runner.run()` in the `watchFilesFromArgs` callback and then maybe add an `onError` handler to `WatchEvents`.

Although, I'm not sure why the errors are getting that far. I'll try to figure out why they aren't being handled earlier. Ideally, syntax errors in a single file wouldn't disrupt the lint run and LSP diagnostics for any other files that changed at the

[2020-06-18 20:49] sebmck commented on #618
I’m pretty sure that’s it’s the auto formatting that’s causing it (the requestWorkerFormat call in LSPServer) I’m confident the linter already handles this (there’s a catchDiagnositcs somewhere in WorkerAPI#lint).

[2020-06-18 21:06] yassere commented on #618
I saw the `catchDiagnostics` in `WorkerAPI#lint` which is why I was confused that it wasn't already handled. The server was crashing as I typed though, not when I saved, which is why I thought it was lint-related. When I have a moment later, I'll try wrapping the format call and see if that fixes it.

[2020-06-19 22:57] #599 closed

[2020-06-21 04:36] #572 closed

[2020-06-22 02:45] stefanuros commented on #341
Ill take a look at react/sort-comp

[2020-06-23 09:33] sorja opened #628 "Placeholder "under construction" message on romejs.dev"
Description:
 `NET::ERR_CERT_COMMON_NAME_INVALID`

![image](https://user-images.githubusercontent.com/5508251/85387506-967b6580-b54d-11ea-9b3d-6f045f59f7a3.png)
![image](https://user-images.githubusercontent.com/5508251/85387538-a004cd80-b54d-11ea-9ae7-bf26fa177729.png)

## Steps To Reproduce
1. Go to https://romejs.dev/

## Expected Results

    See website

[2020-06-23 09:36] sebmck commented on #628
This is intentional. We took the site down because it’s out of date and we intend to launch the new one upon the first release. This has come up often enough that I need to spend some time to redeploy a placeholder page.

[2020-06-24 01:43] yassere opened #629 "ServerRequest watchFilesFromArgs adds ignored files on change"
##  Steps To Reproduce

    touch foo.bad

    ./scripts/dev-rome lint --watch

    touch bar.bad

## Results

Rome lint will ignore `foo.bad` because `Linter#watch` specifies `LINTABLE_EXTENSIONS` in `ServerRequestGetFilesOptions`.

But those options aren't taken into account when `watchFilesFromArgs` calls the `onChange` handler in response to a `refreshFileEvent`, so Rome will attempt to lint `

[2020-06-24 02:30] yassere commented on #618
It looks like the errors are happening on `LintRunner#runGraph`

Is it reasonable to catch diagnostics in `WorkerAPI#analyzeDependencies` and return `{…UNKNOWN_ANALYZE_DEPENDENCIES_RESULT, diagnostics}` when they're caught?

[2020-06-24 03:10] yassere commented on #576
Splitting up that file sounds like a great idea to me. Once #626 merges, there will be a `lint/utils` directory, and I think it would be good to model an `aria` subdirectory after the `react` subdirectory that @bitpshr created.

[2020-06-24 03:18] sebmck commented on #628
Done: https://romejs.dev/

[2020-06-24 03:18] #628 closed

[2020-06-24 03:20] sebmck commented on #618
Yup, that should be good.

[2020-06-24 04:58] #629 closed

[2020-06-24 23:22] #618 closed

[2020-06-25 08:40] sebmck opened #637 "Add team page to website"
We should list all the core contributors just like how we have now in GOVERNANCE

[2020-06-25 14:11] arneesh commented on #637
@sebmck Requesting assignment of this issue/work and similar issues to me.

[2020-06-26 19:26] #580 closed

[2020-06-27 17:35] VictorHom commented on #341
Still working on `react-hooks/rules-of-hooks`. I should have something soon

[2020-06-27 19:35] yassere opened #643 "Reconsider the preferFunctionDeclarations lint rule"
The `preferFunctionDeclarations` lint rule warns against const functions like `const foo = () => {}` in favor of function declarations like `function foo() {}`

While I do personally like this rule, it's contentious enough that it may drive some people away since it can't be disabled and isn't practical to suppress globally.

And while that's the sort of tradeoff that opinionated tools can and do

[2020-06-27 19:38] sebmck commented on #643
What’s the cost to users? It’s auto fixable in all cases, and those that it isn’t we don’t emit an error.

What’s the bar for when a lint rule is considered inconvenient? I think a similar argument can be made for almost all the rules.

The idea behind having strong autofixes and autofix suggestions is that we can justify having conventions that would otherwise be tricky to enforce with a lot of m

[2020-06-27 21:45] yassere commented on #643
I don't think this rule is inconvenient for anyone who chooses to use Rome. But I do think this rule could be more of a deal-breaker for some people than most other rules.

Most of the lint rules are related to code quality, mistake prevention, or accessibility. There are only a handful that are style-related and they don't seem very controversial.

In contrast, people seem to have stronger, diffe

[2020-06-28 00:14] bitpshr commented on #643
When it comes to format-based or style-based lint rules and their enforcement, I tend to think of Rome as a code standardizer and rather than a linter or a formatter. I feel that consumers should be able to code locally in any style that they choose, and that they should be able to confidently rely on `rome lint --save` to format their code in a standard manner before pushing. In this sense, Rome

[2020-06-28 03:35] sebmck opened #644 "Consider renaming `rome lint` to `rome check`"
Right now the `rome lint` command will run the linter AND build a dependency graph to construct module resolution errors.

The usage of "lint" in Rome is a lot more general than other tools like ESLint. We use it to mean "detect any problems" rather than just simple per-file static analysis.

Possibly renaming to `rome check` would make the intent behind this command more obvious. And in the futur

[2020-06-28 03:49] sebmck commented on #643
I think it would be good to establish some consistent criteria for the conventions we want to enforce. It might be worth having something in the governance document on how we build consensus. Right now it's been really adhoc and nothing has been too radical. We've benefited largely by not having a release. I anticipate a release probably in July (only blocker is the website) so we should have some

[2020-06-28 04:40] sebmck opened #648 "Comments being attached to arrow function param instead of function"
[code]

Becomes:

[code]

[2020-06-28 06:03] #17 closed

[2020-06-28 06:04] #506 closed

[2020-06-28 06:33] aravind1078 commented on #341
i will take `react/no-this-in-sfc` ?

[2020-06-28 15:14] yassere commented on #643
It's a great idea to have an official process for establishing conventions.

For the most part, I think they should be decided by the project steward(s), but I think it's important that these decisions are made deliberately and explicitly, and that everyone feels comfortable providing feedback. Sometimes there are points that might not have been considered, and we should make sure that people have

[2020-06-28 16:29] yassere commented on #644
I like the idea of `rome check` with `rome check --fix` as the flag to save changes.

[2020-06-28 18:51] yassere opened #651 "LSPServer delay when opening new workspace"
When a workspace is opened in VS Code with the Rome extension, the LSPServer begins a `Linter#watch` of the entire project. During that initial lint run, format-on-save is unresponsive, and no diagnostics will be published until the lint run is complete.

Is it necessary that the LSPServer watch the filesystem instead of just responding to `textDocument/didOpen`, `didChange`, `didClose`, and `form

[2020-06-28 18:54] EduardoLopes commented on #644
I feel like `rome check` is better. And i prefere `--fix` rather than `--save`. Or even --save-fix, following the verbosity rule.

[2020-06-28 19:08] sebmck commented on #651
Rome relies heavily on the memory file system so we can have fast synchronous calls to see if a file exists, get its stats etc.

Without having it initialized we can’t perform any operation on a file because:

- We don’t know if it’s a part of a sub project. We only start watching the file system which triggers the project loading at the “highest” folder that we’ve found a project in.
- We don’t k

[2020-06-28 19:12] sebmck commented on #644
--save is used instead of --fix to avoid overloading the term “fix”. The flag only applies formatting and “recommended fixes”. We have the suggestions API which are also “fixes”. Do you not think it’s an issue in practice?

[2020-06-28 19:14] yassere opened #652 "LSPServer doesn't clear diagnostics for deleted files"
## Steps To Reproduce

Run `./scripts/run-vscode-extension` and wait for the Rome extension to output that it's watching.

Add an error to an existing file so that Rome publishes a diagnostic in the `Problems` tab.

Delete that file.

## Results

The diagnostic remains published for that deleted file in the `Problems` tab.

[2020-06-28 19:25] sebmck commented on #652
Can you repro with ‘rome lint --watch’? I think you’ll see the same behaviour.

[2020-06-28 19:39] yassere commented on #652
Yes, if I run `lint --watch` then delete a file with diagnostics, the diagnostics will stay logged (although the code frame loses the relevant code sample).

[2020-06-28 20:42] yassere commented on #644
Good point. I can see how it might be a bit confusing if ` check --fix` doesn't fix everything that's fixable.

I don't think that `check --save` fully conveys what it does, but I also don't have a better suggestion off the top of my head.

[2020-06-28 20:45] sebmck commented on #644
You can do `rome lint --save --format-only` too which wont apply "recommended fixes". I don't know what the right balance of terminology is here.

I do think it would be nice to have some sort of global `--fix` flag. Whenever we are doing parsing or normalization we almost always actually produce a result despite errors. Things like invalid `package.json`, syntax errors etc. We can automatically f

[2020-06-28 21:21] yassere commented on #651
I don't think that the delayed diagnostics are a very big deal, but I think we should take a look at the unresponsive format-on-save. If I try to save a file while the initial lint run is in progress, VS Code gives me a `Saving 'foo.ts': Running 'Rome' Formatter` message that persists until I hit cancel, and it seems to disrupt the initialization process.

Ideally, we could somehow prioritize just

[2020-06-28 22:26] EduardoLopes commented on #644
yea, good point! i'm with @yassere and i don't have a better suggestion either.

[2020-06-28 22:34] bitpshr commented on #644
I like `rome check --save` or `rome check --apply`.

[2020-06-28 23:44] sebmck commented on #644
Ohh I like `rome check --apply`!

[2020-06-28 23:46] sebmck commented on #651
I don't think it is without some serious architecture changes (or rather supplements, partial hydration of things like project configs, manifests etc, for operation on only a single file).

That sounds good. I'm actually not too sure why it would hang after initialization. We should only be blocking under the project is ready.

[2020-06-29 02:25] aravind1078 commented on #341
can i try `react/state-in-constructor` ?

[2020-06-29 02:53] #644 closed

[2020-06-30 04:27] yassere commented on #652
Is there any way to get a `FileReference` for a deleted path?

A quick and dirty solution for this issue is that `Linter#runWatch` and `LSPServer#watchProject` each create subscriptions to handle their own deletions, but it would be better if `LintRunner#run` just returned diagnostics-less `LintWatchChanges` for deleted files.

Would it make any sense to create an `AbsoluteFilePathMap<FileReferenc

[2020-06-30 04:36] sebmck commented on #652
This should already be happening. Lines 222-229 of `Linter.ts` is already meant to handle deleted paths. The paths that `watchFilesFromArgs` emits includes deleted files. Is `watchFilesFromArgs` not emitting them?

In `LintRunner#computeChanges` we should then be producing a changes object for all updated paths, and so it should then produce an empty diagnostics array.

There's already code to han

[2020-06-30 05:29] yassere commented on #652
I think those lines in `Linter.ts` only do anything when a file is deleted while the queue is spinning down. But I don't think you can currently `WorkerQueue#pushQueue` a path that doesn’t exist.

If `LintRunner#run` is being executed as part of a `watchFilesFromArgs` callback in response to a `refreshFileEvent` for a deleted file, `queue.pushQueue(path)` is just going to result in a `FileNotFound

[2020-06-30 17:34] yassere commented on #643
I'll close this because this particular issue seems settled. I think that if we want to discuss conventions, either specifically or in general, we can open new issues for that.

[2020-06-30 17:34] #643 closed

[2020-06-30 18:08] sebmck commented on #341
Hey everyone! I'd like to pause development of new React lint rules (if you're currently working on or have reserved something in this thread then feel free to complete it!). We're preparing for our first release and should focus on stability and polish.

We need to take a more comprehensive look on the sort of React rules and patterns we want to encourage (ideally with approval from the React tea

[2020-06-30 18:21] sebmck commented on #652
Ahhh that makes sense.

I think what needs to be done to fix this:

- Add `LintRunner#clearDiagnosticsForPath(path: AbsoluteFilePath)` that contains:

[code]

- Update the `queue.addCallback` callback to use it.

- Change the `pushQueue` wrapping to:

[code]

I think that should resolve the remaining issues? I haven't tested it.

It should. In `runGraph` the returned paths are basically all the ch

[2020-06-30 19:06] yassere commented on #652
I'd tried that, but I don't think that `runGraph` returns deleted paths in `validatedDependencyPaths` because of the `allowFileNotFound: true` in `graph.seed()` and because of:

[code]

I think the problem is that `LintRunner#computeChanges` needs a `FileReference` to create a `LintWatchChanges` but if anything calls `projectManager.getFileReference(path)` for a missing path, it just throws an err

[2020-06-30 19:22] sebmck commented on #652
Ah, you should just be able to put `validatedDependencyPaths.add(path);` before the `if`, right?

What specifically does `getFileReference` call that throws an error? It should just work fine on deleted paths, although it still shouldn't be called.

Regardless, we could just do `this.server.memoryFs.exists` in the loop where we do `changes.push` to handle it.

[2020-06-30 21:40] yassere commented on #652
I think that would cause problems later with the `graph.validate()` which doesn't use `maybeGetNode`. Plus I think you'd want to rename it if you were adding a path to the set without validating it, hah. But `LintRunner#computeChanges` gets passed `evictedPaths`, so can we just assume that any path in `evictedPaths` but not in `updatedPaths` is a deleted file?

Hmm, I think it was the `assertProje

[2020-06-30 22:33] sebmck commented on #652
I found it pretty hard to follow so in the process of investigating I fixed it and opened #672. It's weird because we need to reconcile two different sources of diagnostics. The dependency graph which when validated will return possible cached diagnostics. And then separately diagnostics from the compiler. When we source diagnostics from only the dependency graph and never the compiler then we nee

[2020-06-30 23:11] #652 closed

[2020-07-01 08:56] ematipico opened #679 "Add unedited line for diff previews that only have either adds or delete"
## First issue

I noticed few things inside the rule `noUselessFragments`. The test assumes that the following is invalid:

[code]

Isn't it wrong? In this case the fragment is needed, am I right?

Sure, it depends on the case:

[code]

## Second issue

It's not technically an issue but I think that the suggested fix could be improved. This is a piece of snapshot taken from the source code:

[code

[2020-07-01 12:21] #576 closed

[2020-07-01 19:30] sebmck commented on #679
I think it might be a bug in the way we're displaying the "Recommend fix" diff. Lines 2-3 probably only have whitespace removed. Could you run `check --apply` on a file and see what it's fixed to?

[2020-07-02 06:54] #651 closed

[2020-07-02 07:19] ematipico commented on #679
Yeah you were right, it's just presentation of the that is misleading. I just tried the following code and run `check --apply`:

[code]

Instead, here's what I get when I run `check`:

<img width="1023" alt="Screenshot 2020-07-02 at 08 17 52" src="https://user-images.githubusercontent.com/602478/86328352-97db1b00-bc3c-11ea-8150-96e8125a4cd6.png">

And this the pending fixes:

<img width="772" alt=

[2020-07-02 15:50] yassere opened #686 "Dev-rome failing to display available commands"
## Steps To Reproduce

Run `./scripts/dev-rome --help`

## Results

[code]

Requesting help for a single command like `./scripts/dev-rome check --help` still works.

[2020-07-02 16:01] sebmck commented on #686
Oops, commandRequired shouldn’t be called by init if showHelp is true. There are test snapshots for the help output (pretty sure) and were probably updated without me actually reviewing them.

[2020-07-02 16:13] yassere commented on #686
Ok, I'll have a PR up in a moment.

[2020-07-02 17:13] yassere commented on #686
There wasn't a test case for the `--help` flag (the snapshot tests are just calling `parser.showHelp()` directly) and I'm having some trouble adding it. I think the `process.exit(1)` in the `shouldShowHelp` conditional is killing the test worker.

[2020-07-03 04:10] sebmck commented on #686
Could add a new `ParserOptions` property called `noProcessExit` or something obtuse and then add an `exit` method to `Parser` that doesn't do anything when it's set.

[2020-07-03 23:14] #686 closed

[2020-07-04 21:47] sebmck commented on #679
Looks like it's just an unhandled case in the way we output diffs. When we have a lint that only contains deletions then we should output the final as a separate line. I think we also need a better way to indicate tabs. Previously we used a special character but with the switch to tabs we started treating a hard tab as two spaces.

[2020-07-04 21:48] sebmck commented on #679
I'll leave this issue open (and wont mark it as done from my notifications) until I can fix it. The diffing code is pretty gnarly.

[2020-07-06 08:45] sebmck opened #704 "Replace website og:image with PNG"
These are currently SVG which isn’t supported on any social media embed.

[2020-07-06 18:16] sebmck commented on #160
We've removed this section entirely. https://preview.romejs.dev/docs/getting-started/ We now recommend using `rome init` which will create the config for you with some default values. I'll keep this in mind and improve the "Empty file" error (if anyone would like to submit a PR updating the error message please feel free (you can literally just grep for "Empty file")). Thank you @customcommander!

[2020-07-06 18:17] #160 closed

[2020-07-06 18:26] sebmck commented on #295
Fixed in #705, thank for reporting @pnegahdar!

[2020-07-06 18:29] #295 closed

[2020-07-06 19:00] #637 closed

[2020-07-06 19:02] #238 closed

[2020-07-06 19:03] sebmck commented on #402
I don't think we'll plan on even mentioning the term AST on the website so I'm going to close this out. We should definitely keep this in mind when we decide to make some of these more advanced commands public. The suggestion by @aaron-simpson97 to mark specific things as "advanced topics" and make them more separate from the rest of the docs is a great idea. Thank you @edjw for flagging this!

[2020-07-06 19:03] #402 closed

[2020-07-06 19:04] sebmck commented on #557
I don't see how we can have this since things like file system events aren't consistent across OS'.

[2020-07-06 19:04] #557 closed

[2020-07-06 19:06] sebmck commented on #508
The `config` command should be stable. I've added a command example to all the project config documentation on the website. We should make the `config` command the recommended way to add/modify configuration since it's extremely approachable.

[2020-07-06 19:06] #508 closed

[2020-07-06 19:06] sebmck commented on #10
I don't think this is something we even want to consider at this time. I'm going to reopen if it becomes a larger concern. For linting the public API should be the LSP server which we can more thoroughly document how to communicate with.

[2020-07-06 19:06] #10 closed

[2020-07-06 19:07] sebmck commented on #476
@Kelbie Any idea if this is still a problem? We've done a lot of work to make the LSP more stable. Maybe @yassere has some thoughts.

[2020-07-06 19:34] yassere commented on #476
I assume that the version you get from `npm install` is incompatible with current builds. But you should be able to run:
[code]
followed by
[code]
and it should work fine.

[2020-07-06 19:51] sebmck commented on #476
I'll close this out and we can come back to it once we have a stable "official" release that we can support and test.

[2020-07-06 19:51] #476 closed

[2020-07-06 22:02] #613 closed

[2020-07-06 22:04] sebmck commented on #128
We're just focused on linting which shouldn't surface dependency graph errors from inside `node_modules`. This should be addressed when we eventually tackle bundling.

[2020-07-06 22:04] #128 closed

[2020-07-06 22:19] #704 closed

[2020-07-07 15:36] ctaylo21 opened #713 "Getting started docs appear to be incorrect"
## Description:

  Hello! Perhaps I have missed something, but when I tried to install and use Rome, I noticed that the[ getting started instructions](https://preview.romejs.dev/docs/getting-started/) tell you to run the `rome check` command, which doesn't appear to exist.

## Steps To Reproduce

1. `npm install rome`
2. `rome check` (or `npx rome check`)

## Expected Results
Check command is exec

[2020-07-07 16:28] yassere commented on #713
Hi! We haven't had an official release yet, and the build on the npm registry is outdated. We recently renamed the `rome lint` command to `rome check` because we intend for it to have a broader scope than just linting. The "getting started" instructions on the preview website will be accurate once we publish a release.

[2020-07-07 18:35] sebmck commented on #713
Might be worth adding a banner at the top of the docs to make the status more obvious.

[2020-07-07 20:55] ctaylo21 commented on #713
Ah okay, that makes sense. Thanks!

[2020-07-07 21:15] #11 closed

[2020-07-07 21:16] sebmck commented on #380
Fixed by #711

[2020-07-07 21:16] #380 closed

[2020-07-07 21:16] sebmck commented on #648
Fixed by #711

[2020-07-07 21:16] #648 closed

[2020-07-07 21:23] sebmck commented on #713
Thanks for bring this up @ctaylo21! We put the domain at `preview.romejs.dev` away from `romejs.dev` to kind of hide it and show a WIP indication but it's definitely confusing. I added a banner to the website in #716 to better convey the intent. Let us know if you feel the messaging is clearer now or if you have any suggestions for improvement!

[2020-07-07 21:23] #713 closed

[2020-07-08 06:05] sebmck commented on #36
test262 is only relevant for Babel because that runner is compiling and executing files. We don't currently do that. Checking if we can just parse something isn't super high signal since there are many scenarios where we fail which is excepted but in the wrong way that was intended. We already have enough coverage with the Babel-imported tests. I found [`test262-parser-tests`](https://github.com/t

[2020-07-08 06:05] #36 closed

[2020-07-08 09:13] sebmck opened #719 "Mobile website homepage hero is squished"
This would have changed when we updated our title and slogan. There should be some text and padding tweaks we can make to fix it.

![image](https://user-images.githubusercontent.com/853712/86900623-69d45b80-c0c0-11ea-922b-f45e08c328f7.png)

[2020-07-08 09:34] sebmck opened #720 "Unicode characters are rendered as emoji on mobile website homepage preview"
There’s probably some CSS properties we can use to disable this.

![image](https://user-images.githubusercontent.com/853712/86902942-81611380-c0c3-11ea-9eac-1510e9d310a9.png)

[2020-07-08 09:41] sebmck opened #721 "Finally fix flaky macOS check command integration test"
Only thing preventing CI from being stable.

[2020-07-08 09:45] Kgnx7 opened #722 ""Getting Started" link in README.md file is broken"
Description:
URL should be: https://romefrontend.dev/docs/getting-started
Сurrent one: https://romefrontend.dev/docs/introduction/getting-started

## Steps To Reproduce

1. go to the README.md file
2. check "Getting Started" section

## Expected Results

 Working "Getting Started" link

[2020-07-08 18:17] #722 closed

[2020-07-08 19:07] sebmck opened #728 "Move lint rule test cases into JSON file and automatically generate lint rule docs"
From #726:

[2020-07-08 19:07] sebmck commented on #728
cc @VictorHom and @ematipico

[2020-07-08 19:09] sebmck opened #729 "Error on overlapping suppression comment categories"
From the Discord https://discordapp.com/channels/678763474494423051/678763474930761739/730499884528173189:

[2020-07-08 19:09] sebmck commented on #729
@VictorHom Feel free to assign yourself if you want to take this up.

[2020-07-08 19:11] sebmck commented on #413
Going to close this since #14 is the only actual blocker.

[2020-07-08 19:11] #413 closed

[2020-07-08 19:13] sebmck opened #730 "Add blog to website"
I worked on the base of this in `website/src/posts` and `website/src/_includes/layouts/post.njk` but didn't get very far.

The blog will just be a place for us to post announcements, new releases, changelogs etc. Just long form content for the project.

[2020-07-08 19:14] sebmck opened #731 "☂️ Comprehensive lint documentation for release"
This issue is for tracking the required documentation for our release.

[2020-07-08 19:15] sebmck commented on #730
It'd be pretty cool if we could automatically link the most recent blog post on the top of the homepage too.

[2020-07-08 19:16] sebmck commented on #730
@EduardoLopes Any thoughts on the design? If I get around to this I was just going to wing it and take a lot of hints from your docs design. I can't imagine we'd want something too fancy, just a stripped derivative of the docs layout.

[2020-07-08 19:16] VictorHom commented on #729
I can take a look at this. so essentially if it overlaps, then there should be an error that it's not necessary for the nested (overlapping) suppression

[2020-07-08 19:16] sebmck commented on #496
New website issues that are unowned/unassigned if anyone is interested:

- #730 Add blog to website
- #731 Comprehensive lint documentation for release
- #719 Mobile website homepage hero is squished
- #720 Unicode characters are rendered as emoji on mobile website homepage preview

[2020-07-08 19:17] sebmck opened #732 "Clean up issue templates"
There are way too many.

[2020-07-08 19:17] sebmck commented on #729
Yeah exactly.

[2020-07-08 19:18] sebmck commented on #729
Something like this:

[code]

[2020-07-08 19:26] EduardoLopes commented on #730
yeah! let's use the same design and nothing too fancy. i'll open a PR and work on that

[2020-07-08 19:44] ematipico commented on #728
Yeah that was one of my initial thoughts at the very beginning when I started tackling the lint rules.

It would be nice and we can automate lot of boilerplate and documentation at the same time.

Nice Idea!

The tests can be part of the documentation.

[2020-07-08 20:45] yassere opened #733 "Markers not written for `rome check --collect-markers`"
Markers are only written when the `ServerQueryResponse` type is "SUCCESS" but the `check` command results in a response type of "DIAGNOSTICS" because `Linter#runSingle` always throws a `DiagnosticsPrinter`

## Steps To Reproduce

Run `./scripts/dev-rome check --collect-markers`

## Expected Results

Markers should be written to a `json` file.

[2020-07-08 20:47] sebmck commented on #733
Let's add the `markers` prop to all the `ServerQueryResponse` objects. We can just have `ServerQueryResponseBase` and extend it.

[2020-07-08 20:54] yassere opened #734 "🐛 Diagnostics for redeclared variables"
Rome doesn't currently produce diagnostics for:

[code]

I think we should have a lint rule and/or parser diagnostics for redeclared variables.

[2020-07-08 20:55] sebmck commented on #734
Yeah we don't currently do any scope validation, which is bad. I'm not sure where it should be handled. ie. in the parser, lint rules, or during scope construction. There are pros and cons to any of those.

[2020-07-08 21:33] yassere commented on #734
Do we want to distinguish between duplicate declarations that throw a syntax error vs duplicate declarations that you can technically do but shouldn't?

[2020-07-09 02:49] yassere opened #736 "LSP Server crashing on curly quotes and emojis"
## Steps To Reproduce

With VS Code closed, run `./scripts/run-vscode-extension .`

After project initializes, add curly quotes or emojis to a file:
[code]

## Results

LSP Server crashes with a `JSON parse error`

[2020-07-09 02:55] sebmck commented on #736
What’s the stack trace? Is it coming from the bridge? First guess it’s an update buffer call going from the LSP to a worker. Second guess is that we aren’t correctly counting string length when parsing LSP messages. We read a Content-Length header and cut the buffer off when it reaches that limit and parse it as JSON.

[2020-07-09 03:19] yassere commented on #736
Yeah, it does look related to how we parse the messages.

<details>
  <summary>Stack Trace</summary>

[code]
</details>

[2020-07-09 03:27] sebmck commented on #736
Sweet. I'll work on a fix now and add some LSP parser tests.

[2020-07-09 04:55] #736 closed

[2020-07-09 07:19] #721 closed

[2020-07-09 13:20] ematipico commented on #728
There's one thing that concerns me: having one single `.json` file for all the rules of a single category could create a very big file. This could create issues in managing such a big file.

What if we decided to scaffold a `.json` file for each rule? `anchorHasContent.test.json` which will contain

[code]

[2020-07-09 20:30] paulomenezes commented on #720
I would like to fix this.

[2020-07-09 20:46] sebmck commented on #720
@paulomenezes Go for it! Clone the repo and run the following commands to setup the website for development:

[code]

You'll then get a URL in the terminal that you can open.

[2020-07-09 20:57] egilsster opened #742 "Write some of (or all) the functionality in Rust"
This may or may not be completely irresponsible, but the idea kept roaming in my head, so decided to post it.

I have been writing a teeny tiny bit of [Rust](https://www.rust-lang.org/) recently and have gotten quite enamored with the language and its properties — a big one being performance. I realize, most, if not all, of the contributors of the project as of today (thank you ❤️ ) are seasoned J

[2020-07-09 20:58] sebmck commented on #742
Hey! I think your questions have already been answered in #144. Let me know if there's anything else I can answer!

[2020-07-09 21:02] paulomenezes commented on #720
I found that we can use `&#xFE0E;` right after the unicode to prevent this be rendered as an emoji, but I don't know if is the best solution because this image can be replaced in the future.

[2020-07-09 21:13] egilsster commented on #742
That plus the HN thread capture exactly what I was hoping to get. Appreciate the time, thanks!

[2020-07-09 21:13] #742 closed

[2020-07-10 03:38] macovedj opened #746 "Ban nested ternary (from list in discord)"
Is the thought here to ban all nested ternaries, or simply those that don't include parentheses to disambiguate.  I'm a little rusty on this, but I guess you could probably use some DeMorgansesqe logic to convert nested ifs into an or or something?  If so, do we want to ban nested ifs too?  I think I remember from my logic classes that "if p then q" is logically equivalent to "!p or q", but I'm no

[2020-07-10 09:30] MareikeTaeubner commented on #731
@sebmck until when do you need this documentation?

[2020-07-10 19:05] bitpshr commented on #746
I thought the intention of this rule was to ban nested ternaries purely because of poor readability. They can always be broken up into either separate ternaries or traditional `if` statements, so I don't think an autofix would ever limit application logic.

Note that the rule implementation by @VictorHom is at https://github.com/romefrontend/rome/pull/725.

[2020-07-10 19:23] #733 closed

[2020-07-10 19:59] #746 closed

[2020-07-10 21:33] sebmck commented on #679
Fixed in #739 where I rewrote our unified diff algorithm. Before I didn't really know what I was doing but I'm extremely confident now that we have parity with GitHub and other source code tools. I added your example as a test case:

[code]

Should be pretty easy to read since the same reading rules apply if you're used regular source control diffs.

Thank you for the report @ematipico!

[2020-07-10 23:11] sebmck opened #747 "Add multiline string support to RJSON"

[2020-07-10 23:11] sebmck opened #748 "Add rjson command to convert an RJSON file to JSON"

[2020-07-10 23:12] sebmck commented on #728
@ematipico Individual files makes a lot of sense.

I've also opened #747 and #748 to add multi linestring support and the ability to convert an RJSON file to regular JSON. That would be most useful for this since you can import RJSON normally and for any generated files we can run the `rjson` command to convert them so we can read them from those scripts.

[2020-07-10 23:15] sebmck opened #749 "Add mtime to virtual modules"
Right now we write them every time Rome starts.

[2020-07-10 23:16] sebmck opened #750 "📎 Add syntax highlighting to patches"

[2020-07-10 23:16] sebmck opened #751 "🐛 Fix package.json file updates not working"
If a `package.json` is modified while the server is running then we blow up.

[2020-07-10 23:16] sebmck opened #752 "📎 Avoiding escaping all unicode characters when formatting JS"

[2020-07-10 23:19] yassere opened #753 "Lint rule noMultipleSpacesInRegularExpressionLiterals has incorrect autofix"
## Steps To Reproduce

Running `check` on a file containing:
[code]
suggests the fix
[code]

## Expected Results

It should suggest `/foo {2}bar/`

[2020-07-10 23:34] sebmck commented on #731
@MareikeTaeubner Before release at the end of the month (specific date TBD). I can't really provide much guidance on what needs to be documented since a lot of it is either embedded in code or my head.

[2020-07-11 01:19] VictorHom commented on #750
@sebmck I'm interested in looking more into diagnostic related stuff. (I don't know much on highlighting). If you can direct me a little, that'd be great

[2020-07-11 02:16] sebmck commented on #750
@VictorHom Sweet! I’m not sure how this one would be implemented, it’s probably pretty gnarly. I’ll update this issue once I’ve thought of an approach with the relevant changes/files.

I have a list of issues I’m going to create tonight and there’s a handful that are diagnostics related. I’ll cc you on those issues when I create them to see if you’re interested.

[2020-07-11 04:37] #720 closed

[2020-07-11 04:39] sebmck commented on #734
We should probably early error for everything the spec says. Meaning implementing the rules in the parser and just emit diagnostics that we could alternatively ignore later. Do you think there would be any value in making the validation generic? ie. would we want to validate a transformed AST to see if it passes the scoping rules?

[2020-07-11 04:47] sebmck opened #755 "Use fileHandlers for formatter test fixtures"

[2020-07-11 04:51] sebmck opened #756 "📎 `init` command improvements"
`rome init` is going to be the first command a new Rome user runs. We should make it work well for existing codebases. We will probably want to make these improvements before our release:

- Automatically add `// @jsx` to .js files that contain JSX
- Automatically populate `lint.globals` with undeclared variables. There is a `meta` property on `Diagnostic` that we set in `lint/js/undeclaredVariabl

[2020-07-11 04:52] sebmck opened #757 "Add `hidden` to non-lint commands. Warn when using a hidden command."
We should hide all non-lint related commands. These will technically work at launch but we shouldn't be advising people to use them as they are unpolished/probably non-functional commands. We should hide them from `--help` and have a warning. I'm pretty sure there's already a command `hidden` option that can be used to hide them from `--help`. We can add the warning to any hidden command executed

[2020-07-11 04:53] sebmck opened #758 "📎 Consistent lint rule naming"
Right now the lint rule naming is inconsistent. We use `no` and `prefer` prefixes on different things. We should converge on a consistent naming scheme. This task is for renaming them, and if possible, figuring out some written guidelines for future lint rule names.

[2020-07-11 04:54] sebmck opened #759 "📎 Allow `unsafe_` to pass `camelCase` lint rule"
More generally, we should maybe always allow underscores? I dunno if there's some heuristics we can generalize.

[2020-07-11 04:56] sebmck opened #760 "📎 `confusingLanguage` should be a suggestion for non-variable identifiers"
If you have:

[code]

Renaming `whitelist` is a recommended autofix and will be applied with only the `--apply` flag. However, the most common usage of `whitelist` etc as a property will be passing it into a third party library. This means that renaming properties is an unsafe fix. We should convert this to a lint suggestion instead (only for non-variable identifiers).

[2020-07-11 04:59] sebmck opened #761 "New lint rule: Disallow shouty constants that have the same variable name as the value"
This is such a bad pattern:

[code]

It's typically used for constants. The prevailing consensus once you actually drill down into why people do this is for no good reason.

We can have an autofix to inline these (unless exported, which we should probably error on).

This should be _relatively_ easy.

 - For all `JSReferenceIdentifier`, look up the `scope.getBinding`. If it matches `binding instan

[2020-07-11 05:01] sebmck opened #762 "New lint rule: Don't use template literals if you aren't interpolating anything"
Self explanatory. `node.type === "JSTemplateLiteral" && node.expressions.length === 0`. Add an autofix that converts it to a `JSStringLiteral`. We'll want to allow template literals that contain a double quote, single quote, or newlines though.

[2020-07-11 05:02] sebmck opened #763 "New lint rule: No implicit boolean JSX attributes"
Don't allow:

[code]

Autofix it to:

[code]

The consensus from anyone I've spoken to on the React team or those involved with the creation of JSX is that this was a mistake. It's always clearer to have the explicit boolean value and it's confusing with the introduction of shorthand object properties.

[2020-07-11 05:05] sebmck opened #764 "📎 New lint rule: Set selfClosing on `HTMLElement` and `JSXElement` with no children"
Right now we have a `selfClosing` property on `HTMLElement` and `JSXElement`. When formatting any of those nodes we check if `node.selfClosing === true && node.children.length === 0`. So `selfClosing` is merely a hint.

We do this so that to retain the original closing status that the developer wrote. This way when you're writing code and you have format-on-save enabled, we don't mess with what yo

[2020-07-11 05:07] sebmck opened #765 "📎 New lint rule: `.?` preference rule"
There are likely certain patterns where we can recommend `.?` there are certainly a lot of places inside of Rome where we do a lot of `=== undefined` checks where this would be valuable.

[code]

Could be suggested as:

[code]

We should preferably also have an autofix.

Does a lint rule like this already exist for ESLint that we can take inspiration from? (AKA copy their heuristics)

[2020-07-11 05:09] sebmck opened #766 "📎 Add `as const` TypeScript syntax support"
We will need to add a `TSConstKeyword` node or something. Right now we parse it as a `ReferenceIdentifier` and we throw an `undeclaredVariables` error.

[2020-07-11 05:11] sebmck opened #767 "📎 Add merge conflict marker detection to parsers"
This could maybe be generic to `parser-core`. We should detect git conflict markers and throw a meaningful error. We could also maybe automatically select the incoming changes to derive the final AST.

Right now other tools throw cryptic errors about the marker sequence. This seems like a common enough scenario to have a dedicated logic and error.

[2020-07-11 05:14] sebmck opened #768 "Add errors for supression comment prefix typos"
We use `rome-ignore` as a comment prefix to for suppressions. However other tools use `-disable` like `eslint-disable or even have a `@` prefix like `@ts-ignore`.

We should only actually `rome-ignore` to work., but error for common typos such as:

 - `rome-disable`
 - `@rome-ignore`
 - `@rome-disable`
 - Maybe others?

Relevant file: `packages/@romefrontend/compiler/suppressions.ts`

@VictorHom M

[2020-07-11 05:20] sebmck opened #769 "📎 Before writing saved lint files or inline snapshots, verify original mtime"
When we are saving fixed lint files and inline snapshots, if the developer saved them after we had a chance to read them then we'll save over their changes. We should first get the mtime and just before writing, check that it's the same or else bail and error to prevent throwing away their changes.

[2020-07-11 05:28] sebmck opened #770 "Consider changing governance voting rules to be private"
Right now the `GOVERNANCE.md` section for core contributor induction says this about voting:

Upon further reflection, having the vote done in public can result in people not wanting to voice their dissent or disapproval.

Should we change this to instead require messaging a steward (only me right now) to place a vote? This should be for both yes and no. This also adds some anonymity if the vote f

[2020-07-11 05:58] sebmck opened #771 "📎 Remove `cli-layout` markup parser and just use the HTML parser"
This will need to be done later once the HTML parser is more mature. We will need to add the relevant validation hooks too.

[2020-07-11 06:27] sebmck opened #772 "📎 Make HTML parser recoverable"
We still have usages of `expectToken` etc that will throw hard errors.

[2020-07-11 06:48] sebmck opened #773 "Add new tag to string-markup that indents itself according to the column of the starting tag and appends an attribute for newlines"
This would allow us to have soft line wrapping for lines of code. Title is vague because it's hard to explain. When I submit a PR it'll make sense.

[2020-07-11 13:07] VictorHom commented on #768
I can take a look at this 👍

[2020-07-11 14:32] bitpshr commented on #770
I agree that votes should be made in private. I also think that the subjective aspect of messaging a steward vs. using a private voting bot adds a necessary human element.

[2020-07-11 16:41] sebmck opened #776 "📎 Add safe array element get to Consumer"
- Turn `asArray` into `asList` that returns an `Iterable` to prevent index lookup
- Add `getIndex`

[2020-07-11 16:44] sebmck opened #777 "Mirror LSP logs to Server Logger"
Right now we have a `logMessage` method on `LSPServer`. We should also emit those logs to `this.server.logger.info`.

That way they're visible when running `rome logs` or `rome <command> --logs`. We also have the command `rome rage` and `rome <command> --rage` that will create a tarball with a lot of environment information, including the logs for a certain command execution that will be amazing f

[2020-07-11 16:47] sebmck commented on #770
@romefrontend/core-contributors Anyone want to draft a PR? Final decision/approval can be made there.

[2020-07-11 16:56] #729 closed

[2020-07-11 17:29] sebmck commented on #776
Actually this isn't necessary at all since you can just use `get("0")`... cc @yassere if you want to include that change in a future LSP PR.

[2020-07-11 18:35] bitpshr commented on #763
I'll grab this one.

[2020-07-11 18:44] bitpshr commented on #762
I'll grab this one.

[2020-07-11 18:45] bitpshr commented on #764
I'll grab this one.

[2020-07-12 05:34] #763 closed

[2020-07-12 05:40] #762 closed

[2020-07-12 09:42] ematipico commented on #757
I would like to work on this one!

[2020-07-12 12:25] #770 closed

[2020-07-12 17:56] #749 closed

[2020-07-12 19:25] sebmck opened #786 "Remove --verbose flag and Reporter#verbose"
We don't use these anywhere.

[2020-07-12 19:37] #768 closed

[2020-07-12 21:56] #730 closed

[2020-07-12 22:53] yassere commented on #776
Calling `get("0")` on a consumer-wrapped array doesn't currently work because of the internal call to `isPlainObject`

Should we add a `getIndex` method or modify `get`?

[2020-07-12 23:09] yassere opened #789 "Rage flag causing unhandled CLI query error"
## Steps To Reproduce

Run `./scripts/dev-rome check --rage`

Rome exits with:
[code]

## Expected Results

Rome should complete the command and create a tarball containing debugging information.

[2020-07-13 01:30] sebmck commented on #776
Ah yeah, that makes sense. We should have a separate method since we can use `getIndex` as a hint that it should be an array and have a more specific error rather than a cryptic "expected an object".

[2020-07-13 01:32] sebmck commented on #789
The condition on line 315 in `Client.ts` should be inverted.

[2020-07-13 05:15] sebmck commented on #789
Fixed by #791.

[2020-07-13 05:15] #789 closed

[2020-07-13 05:20] #786 closed

[2020-07-13 07:03] sebmck commented on #777
I think I made it do this already

[2020-07-13 12:57] VictorHom commented on #766
@sebmck can I take a look at this?

[2020-07-13 13:31] yassere commented on #777
Great! Thanks for the fixing the lsp `--logs` crashes in #791

[2020-07-13 13:31] #777 closed

[2020-07-13 16:44] sebmck opened #793 "📎 Add `lint.disallowedWords` project config option"
We probably need to have a higher level discussion on the purpose of this rule, whether it should be renamed, the scope, etc.

[2020-07-13 16:47] ematipico commented on #793
Two names that come to mind: `preferredLanguage` or `suggestedLanguage`

It's more positive and it's more clear than "confusing"

Regarding the scope, I live it to the people that are english native speaker :)

[2020-07-13 16:51] #679 closed

[2020-07-13 17:14] sebmck opened #795 "Randomize team member order on website team page"
`ul.team-list` in `website/src/contributing/team.md` should be randomized on load. We can do this with simple JS magic that can be added to `website/static/js/index.js`.

[2020-07-13 17:21] yassere commented on #793
I know we want to have minimal configuration, but I don't think we should have a hard-coded list of English-only words that we apply to every project. Maybe `rome init` could populate our defaults, but each project could set up their suggestions in a way that works for them?

[2020-07-13 17:41] sebmck commented on #793
@yassere Oh that'd be cool. I have been thinking around how we want to handle custom lint plugins, and having some lint project config options like:

 - `disallowedWords`: What you're proposing we make the rule use
 - `disallowedPatterns`: Basically what we pass into `doesNodeMatchPattern`
 - `disallowedModules`: With inherited project configs you could disallow some heavy node module that's avail

[2020-07-13 18:28] sebmck opened #796 "Add website search"
We can probably set something up with Algolia. Should be pretty easy for us to generate the index JSON with eleventy. Assigning myself for now since this will require some service setup.

[2020-07-13 18:39] ooflorent commented on #761
I’ll work on this

[2020-07-13 18:52] ooflorent opened #797 "📎 Investigate repository size"
Currently Rome's repository sits at 52MiB. It does not seem to be a lot but it grows faster than typical projects because `node_modules` and binaries are published. It would be possible to remove the obsolete blobs to reduce the size of the repository.

The main drawback of this is that it would no longer be possible to build old version of Rome since the large files would be gone.

- [Reduce repo

[2020-07-13 19:08] sebmck opened #798 "Reconsider docs/lint/rules layout"
Tables don't work well on mobile.

[2020-07-13 22:43] sebmck commented on #773
Closed by #781.

[2020-07-13 22:43] #773 closed

[2020-07-14 06:20] ematipico commented on #798
Maybe just a simple list for each category could work. And if the text is too long, it goes on a new line

[2020-07-14 07:25] ematipico opened #801 "🐛 Running `init` command to a project already initialised goes in heap out of memory"
Description:

Calling the command `rome init` (`scripts/dev-rom init`) on a project that already has a `rome.rjson` file, create a heap out of memory.

Not sure if this is a problem related to the `dev-rome` script or not.

<img width="1643" alt="Screenshot 2020-07-14 at 08 24 07" src="https://user-images.githubusercontent.com/602478/87396891-70287300-c5ab-11ea-8228-50c16687c107.png">

## Steps To

[2020-07-14 07:31] sebmck commented on #766
@VictorHom Sure. `packages/@romefrontend/js-parser/parser/typescript.ts` is the relevant file. Let me know if you need other pointers!

[2020-07-14 07:33] #757 closed

[2020-07-14 07:49] #747 closed

[2020-07-14 07:49] #748 closed

[2020-07-14 08:09] sebmck opened #802 "📎 Add compiler transform to clean a dirty tree"

[2020-07-14 08:15] sebmck opened #803 "📎 Remove compiler diagnostics for deleted nodes"
Right now we stack them up. Which is bad and results in excessive deduping.

[2020-07-14 08:19] sebmck commented on #793
Edited the issue title to reflect the new approach. I'll handle adding the disallowWords option as a reference and create issues for the others we might want for discussion and assignment.

[2020-07-14 08:25] ematipico commented on #728
I am going to start moving the files under `rules/js`

[2020-07-14 08:46] ooflorent opened #804 "Codeframe is not displayed correctly"
Sometimes the codeframe is not really readable

## Steps To Reproduce

1. Modify a test case so the snapshot no longer matches what's expected
2. Run the test

[code]

## Expected Results

Codeframe should be readable

[2020-07-14 08:50] #804 closed

[2020-07-14 08:51] ematipico opened #805 "📎 Syntax highlighting of RJSON in VSCode extension"
Now that we internally use `.rjson` files extensively, we could extend the VSCode extension to detect these files and highlight its syntax.

I would be also great if we could apply the linting too

[2020-07-14 11:52] aravind1078 commented on #795
can i take this up ?

[2020-07-14 13:33] ematipico commented on #795
@aravind1078 feel free to go ahead!

[2020-07-14 14:22] ematipico opened #809 "Missing description for commands flags"
Description:

Missing description for flags that belong to a command

## Steps To Reproduce
1. run `scripts/dev-rome check --help`
2. check result

<img width="398" alt="Screenshot 2020-07-14 at 15 21 41" src="https://user-images.githubusercontent.com/602478/87437062-bdc1d180-c5e5-11ea-9c00-54d2119b9d12.png">

## Expected Results

There should be a description to explain the option

[2020-07-14 14:40] yassere commented on #734
I don't think I've explored the parser closely enough yet to know the best approach. I can take a closer look at this later if nobody else chooses to take this on.

[2020-07-14 15:31] sebmck opened #811 "Add terminal features and format to rage"
Someone else can take this on if they'd like. It just involves dumping a couple of existing objects to a string/file. Should be a handful of changes and not take long. Happy to provide additional guidance.

[2020-07-14 15:35] sebmck commented on #809
The 'get' method on 'Consumer' that's used for all the CLI flags accepts an additional object parameter that can include a description prop, which will then be visible in '--help'.

[2020-07-14 18:03] sebmck commented on #795
Closed by #810. Thank you @aravind1078!

[2020-07-14 18:03] #795 closed

[2020-07-14 18:08] sebmck commented on #728
Resolved by #728. I think there's a few remaining but we can either track those in another issue or just leave them for now. Thanks @ematipico!

[2020-07-14 18:08] #728 closed

[2020-07-14 18:10] sebmck commented on #805
Not sure how these are declared in an extension but might be reasonably "straight forward". We can likely copy existing JSON grammar since our data types/syntax are copied and quite basic.

[2020-07-14 18:14] sebmck commented on #796
I've applied for [Algolia DocSearch](https://docsearch.algolia.com/) which is used by Babel, Yarn etc.

[2020-07-14 20:34] ematipico commented on #801
After further investigation, I noticed that this heap of memory occurs every time that we run a command and the script start to build the project.

[code]

[2020-07-15 04:08] yassere commented on #753
This also doesn't properly handle multiple groups of spaces. Checking:
[code]
suggests the fix
[code]

[2020-07-15 05:20] #811 closed

[2020-07-15 07:34] ematipico commented on #798
I will look into it

[2020-07-15 17:24] #798 closed

[2020-07-15 18:13] #809 closed

[2020-07-15 19:33] #796 closed

[2020-07-15 19:43] sebmck opened #820 "📎 Update governance steward responsibilities with Algolia access"
cc @ematipico from #819

[2020-07-15 19:55] sebmck opened #821 "📎 Add autofix commands to LSP"

[2020-07-16 06:03] #761 closed

[2020-07-16 06:05] sebmck opened #822 "Add CLI output alongside lint rule example docs"
We can automatically generate this.

[2020-07-17 07:19] #822 closed

[2020-07-17 17:10] sebmck opened #828 "📎 Add `rome cache` command"
We'd probably only want one subcommand, `rome cache clean`. We might run into cache poisoning issues so it would be nice to have a command we can tell people to run to potentially fix it. This is low maintenance since it's a single delete call.

[2020-07-17 17:14] sebmck opened #829 "Convert some `scripts` to use TS and use `dev-rome`"
I recently added `scripts/generated-files/lint-rule-docs.ts`. It would be nice to move a lot of the scripts that aren't in the init-path for `dev-rome` into TypeScript that we can run with `dev-rome` and use our internal modules.

[2020-07-17 18:31] sebmck opened #830 "Make website search more prominent"
Right now it's hard to notice the search input, even though it's fairly big. I did some "user testing" and it wasn't obvious to a lot of people. I think we can improve this by increasing the contrast of the placeholder, and adding a magnifying glass icon.

[2020-07-17 18:32] sebmck opened #831 "Allow TOC to be disabled"
On some short pages it's distracting and not necessary. Notably on the homepage it makes it feel quite cluttered since we have a lot going on with the blog header.

[2020-07-18 08:46] sebmck commented on #829
Resolved by #832.

[2020-07-18 08:46] #829 closed

[2020-07-18 20:51] VictorHom commented on #766
@sebmck I'm trying to go thru this section of rome. I see that when I parse
`let v1 = 'abc' as const`

it becomes:
[code]

is the `TSAsExpression` enough to indicate `as const`?

[2020-07-18 21:59] sebmck commented on #766
@VictorHom Yeah it already parses, we need to look for that node structure and create a new dedicated node. Otherwise we'll have to go around special-casing `const` everywhere since it looks like a variable.

We should create a new `TSConstKeyword` node and replace it when we see `TSTypeReference/JSReferenceIdentifier` with the `name` `const` in the `typeAnnotation` field.

You can find the releva

[2020-07-18 22:01] #753 closed

[2020-07-19 08:43] #719 closed

[2020-07-19 08:43] #830 closed

[2020-07-19 08:43] #831 closed

[2020-07-19 09:41] sebmck opened #836 "🐛 `stringDiffUnified` produces bad output when only a newline has been removed"
It makes it look like the next line was removed.

eg. https://github.com/romefrontend/rome/runs/886639122

[2020-07-19 09:46] sebmck opened #837 "Mobile website regressions and other nits"
These are things I broke with my recent PRs:

-----------

- [x] Zalgo lol
![image](https://user-images.githubusercontent.com/853712/87871982-f2c57f80-c969-11ea-9f80-9c00049d1d6b.png)

-----------

- [x] Accidental debug variable inclusion and stroke overflow (looks weird)
![image](https://user-images.githubusercontent.com/853712/87871989-f9ec8d80-c969-11ea-98e2-9689d4e651af.png)

-----------

- [

[2020-07-19 20:13] sebmck opened #839 "📎 Website accessibility audit"
- Contrast
- Screenreader

[2020-07-19 20:42] #837 closed

[2020-07-20 00:21] #732 closed

[2020-07-20 02:22] sebmck opened #848 "📎 Reconsider styling of "Getting Started" button on website homepage"
@EduardoLopes you mentioned you weren't happy with it on Discord. Feel free to close this out if you think it's fine as-is.

[2020-07-20 03:25] sebmck commented on #759
Should be fixed.

[2020-07-20 03:25] #759 closed

[2020-07-20 03:28] sebmck commented on #755
Should have been done.

[2020-07-20 03:28] #755 closed

[2020-07-20 05:46] #776 closed

[2020-07-20 07:30] #848 closed

[2020-07-20 07:46] EduardoLopes opened #857 "📎 Make better icons for mobile topbar"
- [x] show a close icon when the menu or TOC is open on mobile

Current:
![Annotation 2020-07-20 002545](https://user-images.githubusercontent.com/1084297/87912471-d4cc4d80-ca43-11ea-97ea-83e142552f33.png)

Others interations:
![Annotation 2020-07-19 214838](https://user-images.githubusercontent.com/1084297/87912473-d5fd7a80-ca43-11ea-8aea-fa2a1f5c050a.png)
![Annotation 2020-07-19 214934](https://

[2020-07-20 07:49] EduardoLopes opened #858 "📎 Reconsider styling of the footer"
- [ ] fix link size (it needs to be bigger, for better mobile experience)

[2020-07-20 19:29] sebmck commented on #857
For posterity, I think the clearest thing we can do here is make it a magnifying icon and move/copy the search input into the table of contents pane. It groups index/searching behind a single button.

[2020-07-20 20:25] VictorHom opened #862 "📎 Failed dependency resolution causes obscure error during graph validation"
[code]

I was missing some files that broke the ci (https://github.com/romefrontend/rome/pull/838/checks?check_run_id=890438160), but this error was a bit tough to figure out what was wrong. It's clear to me now what's happening, but it was confusing just looking at the error.

This is an issue for creating a clearer output

[2020-07-20 21:50] VictorHom commented on #803
@sebmck is this something I can help with?

[2020-07-20 22:11] yassere commented on #821
I can work on this.

Is there a good way to support `suggestions` autofixes through LSP, or do we just want a setting that enables our recommended `--apply` autofixes with `codeActionsOnSave`?

[2020-07-20 22:44] EduardoLopes commented on #857
Yea, that's the best idea so far!

I think it's better to have an input for desktop, and another one for mobile. So on desktop we keep the search input on the left side bar, and doesn't have to show the right side bar when there's no TOC in the page. I'll look into it!

[2020-07-21 07:56] ematipico commented on #756
@sebmck I might be able to help here.
Is there a specific order of how we want to run things?

[2020-07-21 13:39] bitpshr opened #865 "Change log generation"
As we prepare for an initial release, it's important that Rome consistently produces accurate change logs that downstream consumers can safely rely on. I feel that a change log generation solution that removes the human element such as [standard-version](https://github.com/conventional-changelog/standard-version) provides the level of automation and accuracy required by a mission-critical project

[2020-07-21 13:54] VictorHom opened #866 "🐛scripts/ast-create-node throws an unhandled cli query error"
## Environment

[code]

## Steps To Reproduce

1. Run `./rome run scripts/ast-create-node js JSVictorType typescript`

## Expected Results
Generated files are created with no error

when I comment out the block that makes the `formatter/builder` file, I run into an error with the next file creation:
[code]

[2020-07-21 14:15] VictorHom commented on #866
I have a quick fix - it's the paths of the files

[2020-07-21 14:54] ematipico commented on #865
I like conventional commits: https://www.conventionalcommits.org/en/v1.0.0/

Which is basically implemented by `standard-version`.

We could create our own parser (codec) to align to their specifications.

[2020-07-21 16:23] arneesh opened #870 "🐛 Run failed: Pull Request Labeler"
## Pull Request Labeler failing over and over and sending periodic notifications on email

## WorkFlow

[code]

## Error

 Check failure on line 10 in .github/workflows/labeler.yml

[code]

## Sample Action Link

[code]

[2020-07-21 18:27] bitpshr commented on #865
@ematipico to clarify, I was suggesting using either `standard-version` or `conventional-changelog` (both of which rely on the `conventional-commit` specification you linked.) There would't be any need to create and maintain our own parser; there's already readily-available GitHub Actions (and local precommit hooks) to lint and to verify commit messages per the `conventional-commit` specification,

[2020-07-21 19:52] #866 closed

[2020-07-21 20:31] yassere opened #871 "🐛 LSP Server crashing with `--logs` argument"
## Environment

[code]
<details>
<summary>
Summary
</summary>

[code]
</details>

## Steps To Reproduce

Add `"--logs"` to the `args` array [here.](https://github.com/romefrontend/rome/blob/c8e1833a4e5ff75bfa051458626a8502c94f4d16/packages/%40romefrontend-integration/vscode/index.ts#L152)

`./rome run scripts/run-vscode-extension.ts`

## Expected Results

Should see logs in the VS Code `Rome` outp

[2020-07-22 07:13] #870 closed

[2020-07-22 15:13] aravind1078 opened #876 "🐛 lint-create-rule fails throwing an error"
## Environment

[code]

## Steps To Reproduce

1.clone the repo
2. run the command `./rome run scripts/lint-create-rule js/test`
 then it throws error like below
![Screenshot 2020-07-22 at 8 42 01 PM](https://user-images.githubusercontent.com/22080780/88193929-d6705e00-cc5b-11ea-9133-aec51d3e32c6.png)

## Expected Results
it should continue writing boilerplate code to other files and end successfu

[2020-07-22 17:25] #876 closed

[2020-07-22 17:29] sebmck commented on #871
I think there might be something weird going on with line wrapping. In `cli-layout` when we're writing text we register the text ranges with the tags we're inside of so we can properly format the final output. Pretty sure we wont ever color the output in that environment though so you should be able to safely comment out that `throw`.

[2020-07-22 18:57] sebmck commented on #821
@yassere Yeah you can reuse the way `rome check --review` works using `action` diagnostic advice. (Explanation is fairly elaborate, you don't need to know all of it to use but wanted to be comprehensive)

**What is `action` diagnostic advice?**

`action` advice references an operation that could be performed on the diagnostic. It contains information needed to query the server to perform. By defau

[2020-07-22 19:32] sebmck commented on #821
Actually, there's the potential for a new abstraction here. Saving/updating files is common amongst a bunch of the commands, notably test snapshots and lint autofixes.

We can have a method in `ServerRequest` to push a file to update/save when the request has completed. This is useful since we can consolidate logic to verify the accuracy of our saved files. ie. we don't want to update a file on di

[2020-07-22 19:33] sebmck opened #878 "📎 Add `saveFiles` property to `ServerRequestQueryResponse`"
From #821:

[2020-07-22 20:15] sebmck commented on #803
@VictorHom If you'd like! I'm not quite sure how this would work. Basically diagnostics can refer to nodes that have already been deleted.

[`packages/@romefrontend/compiler/methods/reduce.ts`](https://github.com/romefrontend/rome/blob/main/packages/%40romefrontend/compiler/methods/reduce.ts) is where we handle AST traversal. We can handle the simple case of "deleted node <-> diagnostic" by mainta

[2020-07-22 20:47] yassere commented on #821
@sebmck Thanks for the detailed explanation! I'll let you know if I have any questions once I've gone through the code in more depth.

[2020-07-23 00:07] bitpshr commented on #758
Happy to take this.

[2020-07-23 20:07] vovictort commented on #765
ESLint does not have this rule implemented yet. Someone proposed the new lint rule on June 20th, and is working to add it as a new feature. The lint rule is proposed as "Prefer Optional Chaining".

https://github.com/eslint/eslint/issues/13430

[2020-07-24 01:38] #769 closed

[2020-07-24 01:38] #878 closed

[2020-07-24 04:07] #857 closed

[2020-07-24 04:52] #756 closed

[2020-07-24 11:45] ematipico commented on #766
Implemented via #838

[2020-07-24 11:45] #766 closed

[2020-07-24 11:48] ematipico commented on #802
Is it something I can help you with?

[2020-07-24 21:49] yassere opened #885 "🐛 LSP Server crashing on files in non-Rome projects"
## Steps To Reproduce

Run `./rome run scripts/run-vscode-extension.ts`
Open a file in a non-Rome project.

## Expected Results

Rome should not crash.

[2020-07-25 05:03] sebmck commented on #885
What's the error?

[2020-07-25 12:31] bitpshr commented on #865
I'll work up a PR today that includes necessary tooling updates so we can see how this would look in practice.

[2020-07-25 12:44] yassere commented on #885
I think we just need to check `findProjectExisting` in a few more spots before calling a `ServerRequest` method. I just opened this issue as a reminder to take care of it this weekend.

[2020-07-25 14:11] yassere opened #888 "🐛 Overlapping terminal output"
## Environment

<details>
<summary> $ rome rage --summary</summary>

[code]
</details>

## Steps To Reproduce

Run `./rome check`

<img width="245" alt="Screen Shot 2020-07-25 at 8 55 20 AM" src="https://user-images.githubusercontent.com/7271639/88458647-28300880-ce55-11ea-8693-6cdf815ef0bb.png">

## Expected Results

Old lines should be fully cleared.

[2020-07-25 14:12] ematipico commented on #888
I have the same issue

[2020-07-25 18:20] sebmck commented on #888
Are you both using the VSCode terminal?

[2020-07-25 18:22] sebmck commented on #888
There's some weirdness going on with other terminal emulators and cursor movement.

[2020-07-25 18:37] sebmck commented on #888
Fixed it. Working on regression tests and other tests for the ANSI cursor movement and will have a PR up soon.

[2020-07-25 18:53] #888 closed

[2020-07-27 13:46] #885 closed

[2020-07-27 23:50] sebmck opened #893 "Default project config location"
I'm writing the docs and right now we recommend an `.rjson` file for the project config. I'm not totally sold on this and want us to consider the following two options, if anything so we can rule them out:

- Defaulting to `package.json`
- Force `rome.r?json` files to be inside of a `.config` directory. Many tools support this although I would propose forcing it if we decide to support it. We can

[2020-07-28 00:02] milesj commented on #893
Just chiming in with my support for placing config in `.config`. I did this recently for a personal project of mine (https://www.npmjs.com/package/@boost/config) and I believe it to be a good standard for JS projects going forward. Will help to reduce project root clutter.

[2020-07-28 00:08] ljharb commented on #893
As long as the config isn't directory-specific (in which case, a config file directly in the directory makes the most sense), that would work fine. However, it might be nice to have config able to live in two places: either directly in `package.json`, or, in a path that might default to `.config/rome.rjson`. That way users get to choose for themselves where they want it to live.

[2020-07-28 00:15] sebmck commented on #893
Right now the possible locations are:

- `rome` field in `package.json`
- `rome.json` and `rome.rjson` in the project base

I'm proposing it be changed to:

- `rome` field in `package.json`
- `.config/rome.json` and `.config/rome.rjson` in the project base

We automatically discover the project config so it has to be in one of these hardcoded locations. Although with `extends` in `package.json` yo

[2020-07-28 08:36] ematipico commented on #893
I like the idea of having `.config/rome.json`/`.config/rome.rjson`; the name of the folder tells what's that about.

I would discourage the use of the `package.json` because some projects would already have a big file and this would increase the size and lower the readability.

[2020-07-29 00:14] #764 closed

[2020-07-29 08:12] #802 closed

[2020-07-29 16:09] EduardoLopes opened #905 "📎 Website design improvement"
Things to address:

- There's too much borders everywhere
- Rules page is noisy
- Toc links is a bit noisy
- Search input is not contrasty on dark mode

[2020-07-29 17:33] sebmck opened #906 "📎 Verify generated file contents for an actual hash match rather than just the comment"
From #904:

[2020-07-29 17:34] sebmck opened #908 "📎 Automatically pull website intro from README"
We should be able to do this fairly easy by adding something to eleventy. We'll just have to replace the absolute paths with something relative (just stripping the hostname should be enough).

[2020-07-30 06:33] #893 closed

[2020-07-30 06:41] #865 closed

[2020-07-30 17:20] ematipico commented on #906
Closed by #904

[2020-07-30 17:41] sebmck commented on #906
Sorry, that's not in mind what I meant for this issue. In `readGeneratedFile` @ `scripts/_utils.ts` we should hash everything after the comment in the file and make sure it also matches the `currentHash`.

[2020-07-30 17:50] ematipico commented on #906
Ok that makes sense then :)

Should we apply the logic to all the auto generated files?

[2020-07-30 17:51] sebmck commented on #906
Yeah, that method is used for reading all generated so only handling it there will make it work everywhere.

[2020-07-30 19:12] yassere opened #918 "🐛 Raw markup visible in `check --review` output"
## Environment

<details>
<summary>$ rome rage --summary</summary>

[code]

</details>

## Steps To Reproduce

Create a file `foo.ts` containing: `const foo = () => {};`
Run `./rome check foo.ts --review`

Outputs:
[code]

## Expected Results

The raw `<dim>` tags should not be visible in the output.

[2020-07-30 20:08] #918 closed

[2020-07-30 22:07] #858 closed

[2020-07-30 22:07] #905 closed

[2020-07-31 00:11] yassere opened #920 "🐛 Suppression comments suppressing all diagnostics"
## Environment

<details>
<summary>$ rome rage --summary</summary>

[code]
</details>

## Steps To Reproduce

Invalid suppression comments are also suppressing all diagnostics.

Create a file `foo.ts` with:
[code]
or
[code]

Running `./rome check foo.ts` results in:
[code]

## Expected Results

There should be an `undeclaredVariables` diagnostics in both cases and a `noUnusedVariables` in the seco

[2020-07-31 01:38] yassere opened #921 "🐛 preferFunctionDeclarations suppression comments being added incorrectly"
## Environment

<details>
<summary>$ rome rage --summary</summary>

[code]
</details>

## Steps To Reproduce

Create a file `foo.ts` with:
[code]
Running `./rome check foo.ts --decisions suppress-lint/js/preferFunctionDeclarations-foo.ts-3` results in:
[code]

With `foo.ts` as:
[code]
Running `rome check foo.ts --decisions suppress-lint/js/preferFunctionDeclarations-foo.ts-1` results in:
[code]

#

[2020-07-31 01:43] yassere commented on #921
The `preferFunctionDeclarations` autofix erases a blank line if there's one before the const function. That seems related to this problem.

[2020-07-31 01:46] sebmck commented on #921
I don't think that's related. We retain the newlines by measuring the `loc` lines between two sibling nodes while formatting. I think this is because the suppression logic chooses the last node on a line rather than the first. I've actually rewritten that today to be more efficient so I'll take care of this and make sure the new logic fixes it.

[2020-07-31 08:31] foisonocean commented on #144
I don't think it's a good option to use WASM for improving performance, bacause WASM is much slower than native code (at least for now).

And here's a comparison from [dprint](https://github.com/dprint/dprint). The `dprint-cli` uses WASM, and `deno fmt` uses drpint by compiling it to native code.

[code]

As you can see, WASM version is 3.62 times slower than the native code version.

[2020-07-31 14:53] yassere opened #922 "🐛 Decisions applying unrelated autofixes"
## Environment

<details>
<summary>$ rome rage --summary</summary>

[code]
</details>

## Steps To Reproduce

With a file `foo.ts` as:
[code]
Running `./rome check foo.ts --decisions suppress-lint/js/noUnusedVariables-foo.ts-1` results in:
[code]

## Expected Results

It should add the suppression comment without autofixing the const function.

[2020-08-01 08:40] sebmck commented on #922
This was actually only isolated to that particular lint rule. Fixed in 857d8b91cb2408c3fc76d6af93d9a588abd88512. There was even a TODO that it ignored suppressions that I forgot about...

[2020-08-01 08:40] #922 closed

[2020-08-01 08:40] sebmck commented on #921
We were never checking for `diagnostic.category === suppression.category` apparently... Fixed in `master`.

[2020-08-01 08:41] sebmck commented on #921
Oops meant to close #920.

[2020-08-01 08:41] sebmck commented on #920
We were never checking for `diagnostic.category === suppression.category` apparently... Fixed in `master`.

[2020-08-01 08:41] #920 closed

[2020-08-02 17:54] yassere opened #931 "🐛 Rome rage --summary crashing"
## Steps To Reproduce

Running `./rome rage --summary` causes a fatal error:
[code]

## Expected Results

It should output a summary without crashing.

[2020-08-02 18:07] yassere opened #932 "🐛 Autofix decisions not being applied"
## Environment

[code]
Can't produce output due to #931

## Steps To Reproduce

With a file `foo.ts` as:
[code]

Running `./rome check foo.ts --decisions fix-lint/js/doubleEquals-foo.ts-2:0-0` doesn't apply the autofix.

Running `./rome check foo.ts --decisions suppress-lint/js/doubleEquals-foo.ts-2` does still add the suppression.

## Expected Results

The autofix should be applied to the file.

[2020-08-03 12:18] ematipico commented on #767
I started works on this one.

@sebmck do you have any suggestions on how to implement this?

I did start by creating specific methods for tokenization and parsing inside `parser-core`.

Later I thought about creating a specific parser and using it inside different other parsers.

I am not sure about both approaches. What's your idea?

[2020-08-03 17:50] sebmck commented on #767
@ematipico Best strategy I think is to sanitize the `input`.

We could do a prepass on the `input` passed into `ParserCore`. Probably only when a flag is explicitly set though, we would only want to do it with "source code", ie. markdown, JS, CSS etc, we wouldn't want the overhead for other smaller parsers like semver. Although a `includes("<<<<<<<")` should be pretty fast as a check if we need to

[2020-08-04 20:28] David-Else commented on #793
Hello, what is the purpose of this rule? Is it to disallow certain JS/TS keywords like `var` etc? Thanks, sorry to ask, I must be missing something obvious here.

[2020-08-04 20:29] sebmck commented on #793
It's to disallow certain words inside of comments and identifier names. It doesn't effect keywords.

[2020-08-04 20:30] David-Else commented on #793
@sebmck Cheers, but I don't see why anyone would want to do that? What is the use case?

[2020-08-04 20:33] sebmck commented on #793
It's designed to replace this lint rule #267/#447.

[2020-08-04 20:53] David-Else commented on #793
@sebmck I read those two links, and am shocked you just shut down the debate like that. I thought this was a linting tool, not a political or moral soapbox. This rule has nothing to do with software or coding and I strongly suggest you remove it to avoid unwanted controversy and alienation of potential users.

[2020-08-04 20:56] sebmck commented on #793
@David-Else Literally the entire purpose of this issue is for discussing and implementing an alternative strategy. Are you trying to bait me? I don't know what it is that you want.

[2020-08-04 21:10] David-Else commented on #793
@sebmck I am not trying to bait you! I don't know why you think that. I am just really into linting tools, that is why I am here reading the issues in an unreleased lint tool.

I like the look of this project and just want to give my opinion in this discussion. I think what I am saying is valid, I am saying that the idea of having a lint that does things like suggest you replace `blacklist` with `

[2020-08-04 21:57] sebmck commented on #793
Because you were deliberately inflammatory.

Linting is encouraging best practices, including things like checking for spelling and grammar. If you agree with that basic premise then providing a way to avoid using problematic words to create a more inclusive and healthy code and social environment fits in. After all, linting is about enforcing order for a more homogeneous codebase.

For a tool tha

[2020-08-05 00:40] David-Else commented on #793
@sebmck I just wrote you back an essay of an answer, and then deleted it as I realized I was adding to the exact thing I am fundamentally against.

Software needs to be free of this awful polarized politics that has drained all the fun out of it. This is very much a political issue and is clearly highly diverse. Here is the evidence in the number and content of these comments on the subject:

http

[2020-08-05 01:49] ljharb commented on #793
Using certain terms alienates users far more than avoiding certain terms, and there does not exist a part of life or software divorced from politics.

If being considerate of other humans takes the fun out of programming, i truly wish you luck finding a profession where “other people” aren’t a consideration.

[2020-08-05 07:34] #760 closed

[2020-08-05 15:34] botoxparty commented on #556
Hey,

So i've been implementing this and have a couple of questions...

Has anyone seen this implemented somewhere before? Would love to see the rules they've written for it.

**aria-labelledby**

[code]

I don't think it's valid to nest a `<span>` in there, I can only find examples where a `<title>` and `<desc>` are used with the id attribute to link to aria-labelledby.

In the css-tricks article

[2020-08-05 15:50] ematipico commented on #556
This would make things much simpler to implement! If this was due to a browser bug, I'd say we can ignore this check. What do you think?

If we play well the implementation of the rule, we won't need to do a nested check: `if (svg[role=img] OR ellipse tag OR <any other tag that represents an image (e.g. path. etc.)>)`. I am not an expert when it comes to `svg`, so I am totally open to suggestions

[2020-08-05 16:23] ljharb commented on #556
@ematipico it's be great if you filed an issue/PR on eslint-plugin-jsx-a11y as well, if you have a useful a11y rule.

[2020-08-05 17:25] botoxparty commented on #556
I would agree that if it's a browser bug we can ignore it.

I think we should follow the rules defined in the [MDN docs for SVG title](https://developer.mozilla.org/en-US/docs/Web/SVG/Element/title).

We could start with something like this:

if: Does SVG title? PASS
else if:  Do all children have titles? PASS
else: FAIL

The docs also mention: `Note: For backward compatibility with SVG 1.1, <titl

[2020-08-05 18:10] bitpshr commented on #828
Note that `rome cache clear` already exists, along with `rome cache dir`. Do we still need this issue?

[2020-08-05 18:16] sebmck commented on #828
Nope! Thanks for the reminder!

[2020-08-05 18:16] #828 closed

[2020-08-05 21:17] sebmck commented on #801
Does this still repro?

[2020-08-05 23:25] botoxparty commented on #556
@ematipico Check out this branch here: https://github.com/botoxparty/rome/tree/jsx-a11y-svgHasTitle

run `./rome check svg-test/test.tsx` to see the results, comment/uncomment the code blocks as needed.

[2020-08-06 09:25] ematipico commented on #556
Sounds good to me!

This could be material for another lint rule, where if a SVG has `role="img"`, it should have `aria-label`.

Feel free to open a draft PR so we can discuss technical details there :)

[2020-08-06 09:58] ematipico opened #939 "📎 [docs] add description to our rules"
At the moment our rules page (https://romefrontend.dev/docs/lint/rules/?veryfunny) is quite empty and we should make an effort to put some documentation.

How to help:
- open a rule file (e.g. `preferInterfaces.md`)
- update the `description: MISSING DOCUMENTATION` part. This will update the brief description inside the main rules page
- update the `MISSING DOCUMENTATION` under the name of the rul

[2020-08-06 10:11] botoxparty commented on #556
Cool i've created a [Draft PR ](https://github.com/romefrontend/rome/pull/940)

Will also need a bit of help with writing a test.

[2020-08-06 15:29] katungi commented on #939
Hey @ematipico I would like to help out on this with your guidance.

[2020-08-06 16:50] bitpshr commented on #758
Just an update, I'm almost done the naming consolidation here.

[2020-08-06 18:23] ematipico commented on #758
What will be the standard naming convention?

[2020-08-07 07:06] sebmck commented on #906
Did this already.

[2020-08-07 07:06] #906 closed

[2020-08-07 07:06] sebmck commented on #921
Fixed by #927.

[2020-08-07 07:06] #921 closed

[2020-08-07 07:52] ematipico commented on #801
@sebmck Now I can't even generate the `rome.rjson` file anymore. I tried to remove the `"rome":` object from the `package.json` and and when I run `./rome init` I get:

<img width="963" alt="Screenshot 2020-08-07 at 08 51 43" src="https://user-images.githubusercontent.com/602478/89622635-3df8f100-d88b-11ea-81c0-7664e626961b.png">

[2020-08-07 08:21] #801 closed

[2020-08-07 08:21] #931 closed

[2020-08-07 09:04] #932 closed

[2020-08-07 12:21] ematipico commented on #939
Hey @katungi, thank you for that!

You could start with some rule that you might be comfortable with and follow this PR https://github.com/romefrontend/rome/pull/941 as example! If possible, for now, it's preferable to avoid rules that have names that start with "no" or "prefer", this is because we are in the process of applying some consistency to the name of the rules (see this https://github.co

[2020-08-07 13:14] yassere opened #949 "🐛 Rome crashing on file deletion during check"
Rome used to handle file deletion without crashing, but this is a regression.

## Environment

<details>
<summary>$ rome rage --summary</summary>

[code]
</details>

## Steps To Reproduce

Create a file `foo.ts`

Running `./rome check` then deleting `foo.ts` while Rome is linting results in:
<details>
<summary>Error</summary>

[code]
</details>

Also, running `./rome check --watch` then deleting `

[2020-08-07 14:02] yassere opened #950 "🐛 preferFunctionDeclarations autofix erasing extra blank line"
## Environment

<details>
<summary>$ rome rage --summary</summary>

[code]
</details>

## Steps To Reproduce

Create a file `foo.ts` with:

[code]

Running `./rome check --apply foo.ts` results in:

[code]

## Expected Results

It should retain the space above the function and result in:

[code]

[2020-08-08 02:34] sebmck commented on #751
Fixed by #953.

[2020-08-08 02:34] #751 closed

[2020-08-08 03:09] yassere opened #954 "🐛 Rome `stop` command ends with error"
## Environment

<details>
<summary>$ rome rage --summary</summary>

[code]
</details>

## Steps To Reproduce

Start the daemon with `./rome start`

Stopping the daemon with `./rome stop` results in:

[code]

## Expected Results

Rome should stop the daemon without an error.

[2020-08-08 03:17] sebmck commented on #949
Fixed by #953 with a regression test.

[2020-08-08 03:18] sebmck commented on #954
@yassere Is the daemon actually stopped?

[2020-08-08 03:31] yassere commented on #954
Yes, it stops.

[2020-08-08 03:51] yassere commented on #949
@sebmck I'm getting a different error now.

Deleting `foo.ts` during `./rome check --watch` results in:

<details>
<summary>Error</summary>

[code]

[2020-08-08 04:27] yassere opened #955 "🐛 `package.json` race condition results in duplicate package warning"
## Environment

<details>
<summary>$ npx rome rage --summary</summary>

[code]
</details>

## Steps To Reproduce

[code]

Results in either:
<details>
<summary>nameCollision</summary>

[code]
</details>

or sometimes:

<details>
<summary>internalError</summary>

[code]
</details>

## Expected Results

Rome should initialize with no errors.

[2020-08-08 04:29] sebmck commented on #955
Noticed this too. Race condition when the `package.json` file is formatted, saved, and then the project evicted and reloaded.

[2020-08-08 04:30] aravind1078 opened #956 "🐛 rome-initialization fails in node_modules"
## Environment

[code]

## Steps To Reproduce

1.in an nextjs project install rome
2.run `rome init`
then it fails with error like below
![Screenshot 2020-08-08 at 9 47 49 AM](https://user-images.githubusercontent.com/22080780/89702316-c8118a00-d95d-11ea-9266-743e8031c0b6.png)

## Expected Results
it should initialize successfully

[2020-08-08 05:11] yassere commented on #949
I'm also still getting an error when deleting a file during `./rome check`:

<details>
<summary>Error</summary>

[code]
</details>

[2020-08-08 08:47] sebmck commented on #955
Fixed by #957.

[2020-08-08 08:47] sebmck commented on #950
Fixed by #957.

[2020-08-08 08:47] #950 closed

[2020-08-08 08:47] sebmck commented on #949
Hopefully fixed again by #957.

[2020-08-08 08:47] #949 closed

[2020-08-08 08:47] sebmck commented on #956
Fixed by #957. Thanks for the report!

[2020-08-08 08:47] #956 closed

[2020-08-08 09:02] #821 closed

[2020-08-08 09:22] ematipico opened #958 "🐛 [VSCode extension] Server crashes when opening a rome project"
## Environment

<details>
<summary>

</summary>

[code]
</details>

## Steps To Reproduce

1. Create a rome project
2. Open the project using VSCode and extension installed

Output:

[code]

## Expected Results

It should not crash.

[2020-08-08 10:04] sebmck commented on #958
Fixed by #959

[2020-08-08 10:04] #958 closed

[2020-08-08 12:59] yassere commented on #955
I'm still getting the `projectManager/nameCollision` error any time I `npx rome init`, even in a new project.

<details>
<summary>Error</summary>

[code]

[2020-08-08 13:56] yassere opened #961 "🐛 Lint rule jsx/fileExtension has false positives"
## Environment

<details>
<summary>$ npx rome rage --summary</summary>

[code]
</details>

## Steps To Reproduce

With a file `foo.test.tsx` containing:
[code]
Running `rome check` produces the diagnostic:
[code]

## Expected Results

Rome should allow JSX in all files that end in `.jsx` or `.tsx`

[2020-08-08 14:08] noftaly opened #962 "🐛 Internal Rome error during a lint review"
## Environment

`$ rome rage --summary`
<details>
<summary>Summary</summary>

[code]
</details>

## Steps To Reproduce

1. Create a rome environment (init npm, git and rome)
2. Run `touch index.js && echo "var a = 3" >> index.js`
3. Run `rome check --review`
4. Press "m"
4. Exit with Escape
5. Rerun `rome check --review`, and here you should have the error every time you do `rome check --review`

[2020-08-08 14:16] ematipico commented on #955
I can confirm I get the same error too

[2020-08-08 14:24] noftaly opened #963 "💭 Shorthand CLI flags"
Hey!

I've juste installed Rome and wanted to get the help page: my first reflex was to type `rome -h` in the terminal. Unfortunately, like all the other flags in Rome, there is no shortcut. It would've been great if there was something like `-h` for `--help`, `-v` for `--version` etc etc, for every or most of the Rome flags.

I would've love to make a PR for that but Rome uses its own argument pa

[2020-08-08 15:41] sebmck commented on #955
I don't think I'll have time to fix this before launch, so I'll look into it after. This doesn't cause any failures so should be fine. `rome init` is no longer destructive so it shouldn't matter. This is a race condition whenever we save `package.json` files.

[2020-08-08 16:09] #939 closed

[2020-08-08 17:24] #954 closed

[2020-08-08 17:26] sebmck commented on #963
Thanks for the suggestion! We actually already have support for parsing shorthand flags. The error is actually after the fact. I have generally found shorthand flags to be extremely vague and confusing. ie. would `rome -v` dump the version, or start Rome in verbose mode? I'll leave this issue open for discussion but it was a deliberate choice to leave them unsupported.

[2020-08-08 17:46] sebmck opened #966 "📎 Support `/* global */` comments for declaring globals"

[2020-08-08 17:46] sebmck opened #967 "📎 Add fixable tag to lint rule docs"
This should go in the index and in the generated `description`. It could be a frontmatter field.

Generation scripts:

 - https://github.com/romefrontend/rome/blob/main/scripts/generated-files/lint-rules-docs.ts
 - https://github.com/romefrontend/rome/blob/main/scripts/generated-files/lint-rules.ts

[2020-08-08 17:47] sebmck opened #968 "📎 Split JS regex lint rules into a separate category"

[2020-08-08 17:47] sebmck opened #969 "📎 Import ESLint rule tests"

[2020-08-08 17:48] sebmck opened #970 "☂️ Future performance optimizations"
This issue is for tracking some known areas that can be optimized:

 - During `check` dependency analysis, don't recurse deep into packages. We will only surface errors.
 - Expensive JS parsing. Lookaheads are expensive and should be minimized. We have parts of the parser that try multiple branches and requires cloning the parser state which is very expensive.

Add the `--profile` flag to any Rome

[2020-08-08 17:48] sebmck opened #971 "📎 Fatal error coloring sometimes has unhighlighted trailing characters"
I have no idea what causes this. I think it consistently repros but haven't had a chance to look into it.

[2020-08-08 17:49] sebmck opened #972 "💭 Consider mandatory lint suppression explanations"

[2020-08-08 17:49] sebmck opened #973 "📎 Always retain `@jsx` header even if the leadingComment node it's attached to is removed"
If a file is fixed, and a node removed from the very top, we will remove the `@jsx` comment. I noticed this in the `noUselessFragments` tests with the case:

[code]

[2020-08-08 17:50] sebmck opened #974 "📎 Interactive yes/no when suggesting CLI commands in a TTY"
Inspired by https://twitter.com/goshakkk/status/1291161477353799681

We can ask the user if they really meant the command that was suggest in the console when in a TTY.

We can perform some validation before on the suggested command flags too to make sure that accepting it wont result in more errors.

[2020-08-08 17:50] sebmck opened #975 "📎 Detect `debugger` statements in bundler and enable it while running tests"
This would you to write `debugger` in a test and we would automatically interupt and provide a repl, and allow you to manually connect with devtools.

[2020-08-08 17:50] sebmck opened #976 "📎 Additional lint rules from IntelliJ"
I've recently switched to Webstorm and was impressed with a lot of the rules they offer with code inspection. I haven't seen some of these in ESLint.

- ~Unnecessary `continue` as the last statement in a loop~
- Simplify statement or boolean expression
- Expression statement that is not assignment or call
- Single character regex alternations can be a charset
- Unused shadowed bindings

[2020-08-08 17:51] sebmck opened #977 "📎 Slim down huge internal files"
Files like `ServerRequest` are getting very unwieldly. We can extract it out into separate methods and just call them from the class method.

[2020-08-08 17:51] sebmck opened #978 "📎 Enable `--changed` for `check` by default in `rome ci`"
Would lead to a small performance increase for `rome ci` and should be relatively safe. (`rome test` takes up a **significant** portion of a `rome ci` run)

[2020-08-08 17:51] sebmck opened #979 "📎 Warn if there are multiple configs"
Currently if you have a `.config/rome.json` and `.config/rome.rjson` file, we wont complain and just use the first one we find.

[2020-08-08 17:52] sebmck opened #980 "📎 Binary bridge format"
JSON is pretty slow for big trees. We should be able to get a significant efficiency increase by switching to `SharedArrayBuffer` for communication between workers and the server. We could also collapse object structure, and support transporting non-JSON values over the bridge such as file paths.

[2020-08-08 17:52] sebmck opened #981 "📎 Considering removing `hr` from console output"
Right now we render this huge dashed lines to separate some content. I think we use whitespace and indentation efficiently enough to distinguish between different sections. I have been staring at the output for way too long so curious if others have the same thoughts.

[2020-08-08 17:53] sebmck opened #982 "📎 Unquote valid JS identifier property keys and computed members"
Right now if you have:

[code]

We will retain the quotes even though we can drop them. Not sure if this should be implemented in the linter as an autofix or formatter as a basic AST transform.

[2020-08-08 17:53] sebmck opened #983 "☂️ HTML support"
## Parsing

I implemented a pretty awful HTML parser that isn't spec compliant in the slightest. We can expand upon it though and import some spec tests to ensure validity.

## Linting

We might want to make some of the JSX and Accessibility lint rules generic and allow accepting HTML.

[2020-08-08 17:54] sebmck opened #984 "☂️ CSS support"
We already have the basis of a CSS formatter that @bitpshr has built out. Not sure how much more work needs to go into supporting additional syntax and testing.

## Linting

What sort of rules do we want? https://stylelint.io/ and https://postcss.org/ would be good references.

[2020-08-08 17:54] sebmck opened #985 "☂️ Markdown support"
cc @ematipico and #883

[Edit from @ematipico ]

This is the spec that we should follow: https://github.github.com/gfm/

## Current state

The markdown support is slowly resuming and here the things to implement

- #883 will implement emphasis and strong tokenization with known limits: limit recursion of inline parsing and handle case of closing tags;
- #883 will implement parsing of code blocks;

[2020-08-08 18:04] noftaly commented on #985
There is a set of Markdown Linting rules available here if you need inspiration: https://github.com/DavidAnson/markdownlint#rules--aliases.

Some relevant examples:
- header-increment - Heading levels should only increment by one level at a time
- no-inline-html - Prohibits inline HTML
- no-empty-links - No empty links

[2020-08-08 18:06] #758 closed

[2020-08-08 18:12] bitpshr commented on #758
@ematipico apologies, I missed your comment. Check the pull request description at #965 for a convention overview. We can definitely tweak things going forward if any rules don't fit into the two rule categories described.

[2020-08-08 20:43] yassere opened #988 "🐛 Rome `check` command ignoring file arguments"
## Environment

<details>
<summary>$ rome rage --summary</summary>

[code]
</details>

## Steps To Reproduce

In a project with files `foo.ts` and `bar.ts` both containing errors, running `rome check foo.ts` results in:

[code]

## Expected Results

Rome should only check and report diagnostics for `foo.ts`

[2020-08-08 20:48] ematipico commented on #983
Something that I wish to see here is the orchestration of different parsers: when there's a `<style>`, use the CSS parsing, same thing with `<script>`.

But maybe this is something that can be done way in the future!

[2020-08-08 20:54] sebmck commented on #988
Relevant method is ServerRequest#glob which is meant to default the args to the query if they weren't supplied.

[2020-08-08 21:05] liamnewmarch opened #989 "🐛 Support for Android via Termux"
Rome currently fails to run on Android via Termux with the following error:

[code]

I believe the reason for this is `process.platform` in Termux returns `"android"`, whereas there is a recursive watch workaround for `"linux"` only at the moment.

## Environment

[code]

## Steps To Reproduce

1. Install Termux from the Google Play Store or F-Droid.
2. Run `rome start`.
3. Observe that the comman

[2020-08-08 21:23] noftaly commented on #962
I can confirm this has been fixed by 9b772a2 ! Closing

[2020-08-08 21:23] #962 closed

[2020-08-08 21:49] pnfcre opened #990 "🐛 Cannot construct a FilePath with zero segments"
## Environment

[code]

## Steps To Reproduce

There are unfortunately no clear steps to reproduce for this issue, but Sebastian mentioned in Discord that he probably can figure it out just from the stacktrace, so here it is:

[code]

The above stacktrace is a result of running `rome check` in a project with an unknown conflicting package in my `node_modules` folder. Running the same command with

[2020-08-08 22:03] kysley opened #991 "🐛 × Expected relative file path but got:"
## Environment

[code]

## Steps To Reproduce

1. run `yarn -s rome init`

[code]

## Expected Results

Rome to successfully initiate a new project

[2020-08-08 22:07] rickhanlonii opened #992 "🐛 Error: Should have returned a node"
## Environment

<details><pre>Environment Variables
  Object {
    TERM: "xterm-256color"
    USER: "rickhanlonii"
  }

User Config
  unset

Rome Version
  10.0.3-beta

Node Version
  12.16.1

Platform
  darwin x64 19.4.0

Terminal Features
  Object {
    background: "unknown"
    colorDepth: 8
    columns: 231
    cursor: true
    hyperlinks: true
    isTTY: true
    unicode: true
  }

Client Fla

[2020-08-08 22:10] ematipico commented on #992
Quick question about the file that rome tried to lint (based on the screenshot): is that file a flow file?

[2020-08-08 22:22] noftaly opened #993 "💭 Add ZSH shell completions"
With rome we can enable shell completions with a simple command. It would be great if the ZSH shell was supported as it is widely used (it is the macOS' default shell).

If this can help, this article seems really helpful: https://mads-hartmann.com/2017/08/06/writing-zsh-completion-scripts.html

Thanks :)

[2020-08-08 22:31] anilanar opened #994 "🐛 polished@3.4.2 breaks rome init"
## Environment

[code]

## Steps To Reproduce

1. Try `rome init` with a project that has `polished@3.4.2` installed.

## Expected Results

???

---------------

This is actually a funny issue. It seems before/during publish, `polished` accidentally added a file with the name `~`.
`rome` tries to do something with that file, but expands `~` to my home directory path `/home/aanar`.

See:

[code]

[2020-08-08 22:45] sebmck opened #995 "📎 Remove PATH from rage —summary"
It's not really useful and can expose potentially sensitive information.

[2020-08-08 22:51] ematipico commented on #995
I'd like to propose to remove the user too, if possible

[2020-08-08 23:02] sebmck commented on #995
Sure. The only relevant information we need there is if they're running as ROOT, which can be a separate property. Want to make the changes? Client#generateRageSummary should be the only place.

[2020-08-08 23:05] sebmck opened #996 "📎 Improve test performance and stability"
It takes way too long and the turnaround time is horrendous. It makes it really clunky to develop.

[2020-08-08 23:06] ematipico commented on #995
Sure, will do

[2020-08-08 23:27] a1russell opened #997 "💭 Consider supporting deno."
Rather than installing this via npm or yarn, I believe deno should be the first-class installation method. It'd be more forward-thinking, I think, to write against deno, another "reboot" by an influential author, and it would help differentiate from the current Babel/Webpack/ESLint toolchain. I believe this should be achievable especially since you are aiming for zero dependencies, and the project

[2020-08-08 23:30] Kelbie commented on #994
Confirmed this issue. Seems to be produced by a file in `/node_modules/polished/\~`, if you delete it you can successfully run `rome init`. At least that worked for me. I'm going to dive deeper to see if I can see why this is happening.

[2020-08-08 23:34] Kelbie commented on #994
I think Rome just doesn't like the fact its got `~` as the filename.

[2020-08-09 00:08] kirillgroshkov commented on #991
Got the same error

[2020-08-09 00:35] n3xrodrigo commented on #991
I was able to reproduce the same error on a new project after adding https://github.com/uuidjs/uuid, i guess it has something to do with module resolution but i'm not really sure how to debug further.

[2020-08-09 00:43] sebmck commented on #991
It's due to internal/path/index.ts where when constructing file paths we do the tilde exploding. When creating a relative path we need a way to signal to the create method that it's what we want and for it skip it, otherwise it looks like an absolute path of it starts with a tilde.

[2020-08-09 00:55] domoritz commented on #991
I'm getting a similar error when trying to initialize rome in https://github.com/vega/ts-json-schema-generator.

[code]

[2020-08-09 01:13] Kelbie commented on #994
This LOC appears to be the issue.
https://github.com/romefrontend/rome/blob/765e91ccc1b27eff59a6205e64e23b0df66db0f3/internal/path/index.ts#L757

When it comes across `~` it explodes the home directory resulting in the incorrect path being constructed. Simply commenting out that condition fixes the issue and doesn't break any test cases, but thats probably not something we want to do. Not exactly

[2020-08-09 01:46] estevanmaito opened #999 "🐛 Errors thrown with `ci` and `test`"
I commited and pushed somes fixes to my local fork and before PR, I realized I forgot to run the tests and recommended scripts, so I went back and tried to run the commands below (Steps To Reproduce).

The code to reproduce is present in this PR: #1000

I only changed 3 `.md` documentation files.

## Environment

[code]

## Steps To Reproduce

1. `./rome ci`
2. `./rome ci --fix`
3. `./rome test`

[2020-08-09 01:56] sebmck opened #1001 "📎 Lower supported Node version"
VS Code ships with an older version of Node that we only noticed yesterday does not support `recursive` on `rmdir`. We can lower it again once that has been shimmed since it seems like the only version-specific thing in the 12.0 range we are relying on.

[2020-08-09 01:58] sebmck commented on #989
Had no idea that `process.platform` could ever be `"android"`. In `MemoryFileSystem` we have a fallback for `"linux"` for the `recursive` flag. Fix here would just be adding another check.

[2020-08-09 02:16] #988 closed

[2020-08-09 02:20] smhmd opened #1002 "📎 Change logo alt text in main README"
[![image](https://user-images.githubusercontent.com/46059092/89723464-b3310700-d9ee-11ea-9d72-660e5df0173d.png)](https://github.com/romefrontend/rome/blob/main/README.md#L2)

The alt text should be changed. I liked the old logo a lot, so I couldn't come up with a proper alt text. `alt="A boring yellow gate. This used to be this badass ancient Greek spartan helmet"`, see?

[2020-08-09 02:28] Soremwar commented on #997
Deno already has its own built in tools to deal with these issues. If anything, feels like an unnecessary addition considering the idea would be too make the experience simpler to use.

[2020-08-09 02:36] adityapurwa commented on #974
Hi, I would like to try and help to implement this feature. Are there any constraints that you had in mind? I imagined a scenario of:

In case when there's only one possible command
[code]
When the user pressed enter, we run the command, when they pressed a possible cancel key (backspace? esc? q?) - we immediately return the control back to the user.

When there are multiple commands:

[code]

I t

[2020-08-09 02:53] ljharb commented on #1001
Adding the `mkdirp` package should give you pretty far backwards compatibility.

[2020-08-09 03:26] sebmck commented on #1001
`mkdirp` isn't about to be our first dependency 😛 All `fs` calls go through the `internal/fs/index.ts` module so it's all centralized.

[2020-08-09 03:58] kyle1320 opened #1003 "🐛 `rome rage` error: Users is not a valid attribute name for filelink"
## Environment

[code]

## Steps To Reproduce

[code]

## Expected Results

No error

PR inbound

[2020-08-09 05:30] wlabranche commented on #990
getting the same issue in one of my repos. Happy to help dig into this with some direction.

node version `14.4.0`
platform `darwin x64 19.5.0`

[2020-08-09 05:56] iaravindreddyp opened #1006 "🐛 Connection dies while running `rome check`"
## Environment

[code]

## Steps To Reproduce

1.rome init in a local project
2.rome check
one running lint it is trying to analyze a file in node_modules and it ends saying connection died
![Screenshot 2020-08-09 at 11 22 05 AM](https://user-images.githubusercontent.com/22080780/89725951-0036cc80-da33-11ea-8f48-2f7d04d8b584.png)

and also the ignore pattern configuration for lint doesn't seem to

[2020-08-09 06:29] cyborg-z commented on #1002
@smhmd maybe something along the lines of "An ancient roman arch colored yellow and white"

[2020-08-09 06:40] ematipico commented on #994
This is a duplicate of https://github.com/romefrontend/rome/issues/991

We might want close this one, I guess

[2020-08-09 06:52] ematipico commented on #990
Duplicate of https://github.com/romefrontend/rome/issues/991 and https://github.com/romefrontend/rome/issues/994

[2020-08-09 07:30] aravind1078 commented on #1006
it happens even when i fork rome and run `./rome ci`.
![Screenshot 2020-08-09 at 12 59 35 PM](https://user-images.githubusercontent.com/22080780/89727227-3a5a9b00-da40-11ea-83f7-1435cb05d5d0.png)

[2020-08-09 07:57] krupenja commented on #991
Reproducible at my end with the following steps:

1. Create a new directory.
2. From that directory, `npm init -y`
3. `npm install uuid`
4. `npm install rome`
5. `npx rome init`

If you omit step 3, everything goes well.

[2020-08-09 08:43] AntonioStipic commented on #991
Same problem, adding Rome alongside empty Angular Project.

[code]

[2020-08-09 10:04] ematipico commented on #496
@sebmck I think we can close this one, the website is finally live :)

[2020-08-09 10:43] zhuangya commented on #991
FYI: if you install rome along with jest, you would encounter this error as while, as jest depends uuid package.

[2020-08-09 10:58] ayshiff commented on #979
Can I work on it @sebmck ?

[2020-08-09 11:35] ematipico opened #1009 "📎 Create script to run in CI to verify the correctness of the commit messages"
We already have a parser and some log inside `changelog.ts`.

We want to have a script to run in the CI that checks if the commit message follows the `conventional-commit` guidelines/rules.

[2020-08-09 12:48] #995 closed

[2020-08-09 13:27] bitpshr commented on #1009
This is a great idea. Note that while I think it's smart to provide local tooling to verify commit messages, I also think that we should rely on a well-tested GitHub Action if possible, similar to how we use them for other CI tasks already. I don't think we necessarily have to recreate a conventional-commit verification mechanism.

[2020-08-09 13:30] synul commented on #990
I have the same issue.
Node v12.18.3 (via nvm)
Ubuntu 20.04.1

[2020-08-09 13:45] ematipico commented on #1009
Is there a GitHub action for that already? If so, we could add it!

[2020-08-09 13:47] rickhanlonii commented on #992
[Here's the file](https://github.com/facebook/react/blob/master/scripts/jest/matchers/interactionTracingMatchers.js), I don't see anything flow specific in the file.

[2020-08-09 13:50] patrickjm commented on #556
Would this consider the presence of `ariaHidden`?

Seems to me like that property would mark the node to be ignored by this rule.

[2020-08-09 14:01] ematipico commented on #992
The file should be `react-native-host-hooks.js`.

It's under the stack trace

[2020-08-09 14:04] ematipico commented on #556
The attribute would tell the screen reader to ignore the element, still the element would be visible. What do you suggest?

[2020-08-09 14:20] patrickjm commented on #556
My guess is that the rule wouldn't look for label attributes or title elements in svgs where `ariaHidden` is set to true.

In the odd case where `ariaHidden` is an expression rather than hardcoded, maybe a rule override comment would simplify things.

[2020-08-09 14:21] kyle1320 commented on #991
It looks like Rome doesn't support [nested conditions](https://nodejs.org/api/esm.html#esm_nested_conditions) in the package.json `exports` field. For example `uuid`'s `exports` field looks like this:

[code]

Rome seems to be assuming [here](https://github.com/romefrontend/rome/blob/0b03c1734b1212aae315d26ebfa3b23b3267b87e/internal/codec-js-manifest/index.ts#L506) that after it gets to exports/./

[2020-08-09 14:26] Kelbie commented on #994
Yeah this is a duplicate, closing.

[2020-08-09 14:30] egtann opened #1013 "🐛 Internal Fatal Timeout on rome check"
Running `rome check` results in internal fatal timeout errors and never completes the "Adding project" phase. As a result, this tool cannot be used in my project. There's many errors in the following form:

[code]

## Environment

[code]

## Steps To Reproduce

1. `npm install -D rome`
2. `npx rome init`
3. `npx rome check`

## Expected Results

It to succeed without timeouts.

[2020-08-09 14:51] botoxparty commented on #556
@patrickjm Can you point me in the direction where there's another override rule comment in the Rome project? Want to see how we've been doing it for this implementation.

[2020-08-09 15:24] kyle1320 commented on #1006
If this is happening for you even in the Rome repo it may be a system-dependent issue.

@aravind1078 Please run `rome rage --summary` and paste the output here.

[2020-08-09 15:25] #997 closed

[2020-08-09 15:35] hexagon6 commented on #990
I have the same issue with Node v14.3.0 and all v10.0.x-beta versions so far.

Trying to add it to an existing project with lots of dependencies in node_modules.

React, Jest, Storybook, etc.

[2020-08-09 17:05] #989 closed

[2020-08-09 17:17] trusktr commented on #144
Why not [AssemblyScript](https://www.assemblyscript.org/) instead of C++ or Rust? Then JS/TS users can still easily contribute to that code, and it can be compiled to four targets:

- regular JS (`tsc` compiler)
- asm.js (`asc` compiler)
- Wasm (`asc` compiler)
- native (`asc` compiler plus some additional tools)

[2020-08-09 19:03] #496 closed

[2020-08-09 19:03] sebmck commented on #496
🎉

[2020-08-09 19:05] sebmck commented on #1013
The issue is most likely in the parser. Our parser is recoverable and there are certain conditions that can trigger infinite loops. Is the problematic file something you can share?

[2020-08-09 19:26] sebmck commented on #992
Yeah it's a Flow file but still a bug since the parser should never throw runtime errors.

[2020-08-09 19:50] sebmck commented on #994
This is actually a different issue. The other is from package.json exports parsing whereas this is memory file system construction.

[2020-08-09 22:22] jthegedus opened #1015 "🐛 More specific error message for top-level await in scripts"
## Environment

This is run in an unmodified GitHub Codesapces environment:

[code]

## Steps To Reproduce

1. create a `.js` script with top-level `await`

The script I used was a modified version of https://github.com/googleapis/nodejs-cloudbuild/blob/master/samples/listBuildTriggers.js where the `async` function contents were lifted to the root of the script:

[code]

## Expected Results

The e

[2020-08-10 01:35] aravind1078 commented on #1006
So yeah when i closed my vscode and tried it worked and it occurred again after running few commands
@kyle1320  it is occurring intermittently so am not sure i will try to get rage output if it occurs again

[2020-08-10 08:15] ematipico commented on #983
This resource could help: https://html.spec.whatwg.org/multipage/parsing.html

[2020-08-10 08:27] thebspin opened #1016 "💭 Support other HTML templating languages (eg. smarty .tpl)"
I wonder if there is a possibility to easily support .tpl files (and others maybe aswell framework depending like twig and blade).
From what i understand right now rome sees them als text files and just ignores them.
But in fact they are just html files with with some extra syntaxing depending on the framework.

For example in smarty i could have this:

[code]

This is just valid html with around

[2020-08-10 08:36] rvion opened #1017 "🐛 rome start => internalError/fatal: Permission denied for AppData\Local\Temp\rome-wait"
## Environment

[code]

## Steps To Reproduce

[code]

## Expected Results

I don't know what to expect, this was the first invocation.

[2020-08-10 08:55] ematipico commented on #1017
Hi @rvion could you please paste the entire stack trace? There aren't enough information to triage your issue

[2020-08-10 09:01] ematipico commented on #985
This a good rule but I think we should change it. We want to support GitHub flavored markdown. They support HTML but only for certain tags: https://github.github.com/gfm/#disallowed-raw-html-extension-

[2020-08-10 09:08] ematipico commented on #961
Closing, looks like it's fixed

[2020-08-10 09:08] #961 closed

[2020-08-10 09:16] rvion commented on #1017
@ematipico sure, here is it:

[code]

[2020-08-10 09:18] rvion commented on #1017
Also, I have a fairly standard setup on a relatively fresh windows installation.
I'm running the command through `git bash`, but  I didn't mess with permissions nor did anything really strange with folders, path, o permissions

[2020-08-10 13:08] rvion opened #1019 "🐛 `rome rage` is crashing"
## Environment

<details>
 <summary>`rome rage --summary`</summary>

[code]

</details>

## Steps To Reproduce

[code]

**I got no error stacktrace**

check https://github.com/romefrontend/rome/issues/1017 to see the output of `rome rage` when it was still working

## Expected Results

no error

[2020-08-10 13:10] bradydowling commented on #990
Here's another set of logs in case it's helpful:
[code]
Maybe it doesn't like dashes in the directory name?

Stack trace:
[code]

[2020-08-10 13:13] rvion opened #1020 "🐛 `rome config push test 1` : => success despite uncaught exception 🔴 (then `rome push test 2` => crash)"
## Environment

<details>
 <summary>`rome rage --summary`</summary>

[code]

</details>

## Steps To Reproduce

1. `rome config push test 1`

[code]

my config is now

[code]

2. `rome config push test 2`

[code]

no change in config

## Expected Results

Output of first command is very probably a bug because it success with an async error not caught.

[2020-08-10 14:22] Sascha8a opened #1021 "🐛 TypeScript Class With Decorator Not Exported"
Rome shows `This file doesn't have any exports`, when in fact there are exports present.

## Environment

[code]

## Steps To Reproduce

See https://github.com/Sascha8a/rome-decorator-bug

1. Create some class with a TypeScript class Decorator
2. `rome check`
3. Class is not recognized as being exported

## Expected Results

Class is exported.

[2020-08-10 14:37] ematipico commented on #1019
@rvion  Is it a duplicate of https://github.com/romefrontend/rome/issues/1003 ?

[2020-08-10 15:11] jakedohm opened #1022 "🐛 Trying to run Rome in a fresh Vue CLI project fails immediately."
## Environment

[code]

## Steps To Reproduce

1. Run `vue create rome-vue`
2. Run `cd rome-vue`
3. Run `rome init --apply`

## Expected Results

I expected Rome to start linting, and run some codemods to change the default Vue CLI code formatting.

## Actual Result

Rome fell over, providing me with the following error

[2020-08-10 15:17] rvion commented on #1019
yes

[2020-08-10 15:17] #1019 closed

[2020-08-10 15:29] richard-lopes-ifood commented on #793
A great proposal here, indeed! :tada:

I've taken a look at the related issues mentioned along with the discussions and I've got some questions (probably related):

- Would those disallowed words be fixed or could they be provided/extended?

- I'm not sure if this is supposed to be a zero-config tool, but would you consider adding this as a global suppression through a config file?

It's also wort

[2020-08-10 15:34] jer3m01 opened #1023 "☂️ Missing Tests"
List of all missing tests that need to be done.

- [x] ast-utils/removeLoc.ts
- [x] codec-js-regexp/index.ts
- [x] codec-source-map/ArraySet.ts @nt591
- [x] codec-source-map/base64.ts
- [x] codec-source-map/MappingList.ts
- [x] codec-source-map/SourceMapConsumer.ts
- [x] codec-source-map/SourceMapConsumerCollection.ts
- [x] codec-source-map/SourceMapGenerator.ts
- [x] js-ast-utils/assertMultipleNo

[2020-08-10 16:10] estevanmaito commented on #839
Do you have something specific in mind for this @sebmck ?

I usually ensure my projects are accessible using NVDA (screen reader) and a mix of browser tools and reports to catch contrast/sizing/labeling issues, etc. and I could help with this.

[2020-08-10 18:01] AlchemistCamp opened #1024 "💭 Formatter feature request: comment before `else` keyword"
One of the most contentious decisions in Prettier and the reason I personally no longer use it for any projects, was its forcing the removal of breaks before else blocks: https://github.com/prettier/prettier/issues/840

To illustrate two issues with this, consider the following code:

[code]

As it is now, Rome will throw errors suggesting the following format

[code]

The problems with eliminatin

[2020-08-10 18:38] bitpshr commented on #1024
I'm in favor of breaking before `else` statements, I feel that the advantages are objective in terms of comment legibility.

[2020-08-10 18:46] milesj commented on #1024
What about?

[code]

[2020-08-10 19:19] bitpshr commented on #1024
@milesj that syntax is especially common and admittedly pretty readable, but it's technically semantically-off since the comment for the `else` block is inside the `if` block.

[2020-08-10 19:28] ematipico commented on #1024
Would this formatting choice applied only in presence of comments or always?

[2020-08-10 19:52] milesj commented on #1024
@bitpshr Interesting point. I've never thought about it that way, as semantics in relation to comments don't mean anything to me. They describe the following line/block and nothing more.

[2020-08-10 20:39] richardaum commented on #793
A great proposal here, indeed! :tada:

I've taken a look at the related issues mentioned along with the discussions and I've got some questions (probably related):

- Would those disallowed words be fixed or could they be provided/extended?

- I'm not sure if this is supposed to be a zero-config tool, but would you consider adding this as a global suppression through a config file?

It's also wort

[2020-08-10 20:44] yufizan commented on #793
Tq,

[2020-08-10 20:45] noftaly commented on #1024
The main downside I see is that if we fold the `if` block, we won't see the comment of the else block anymore, but still the comment of the if block.

I'm also in favor of breaking before else statements 😄

[2020-08-10 20:49] yufizan opened #1025 "A great proposal here, indeed! :tada:"
A great proposal here, indeed! :tada:

I've taken a look at the related issues mentioned along with the discussions and I've got some questions (probably related):

- Would those disallowed words be fixed or could they be provided/extended?

- I'm not sure if this is supposed to be a zero-config tool, but would you consider adding this as a global suppression through a config file?

It's also wort

[2020-08-10 20:52] richard-lopes-ifood commented on #1025
I didn't get why is it becoming a separate issue?

[2020-08-10 20:56] #1025 closed

[2020-08-10 21:07] AlchemistCamp commented on #1024
That's still aligning the else block with cond2, even though it corresponds
to cond1.

On Tue, Aug 11, 2020, 2:47 AM Miles Johnson <notifications@github.com>
wrote:

[2020-08-10 21:15] AlchemistCamp commented on #1024
Thanks for taking it under consideration!

[2020-08-10 21:18] AlchemistCamp commented on #1024
This would still have the else block lined up with cond2, instead of cond1.  It's

[2020-08-10 22:30] richard-lopes-ifood commented on #1024
I'd agree with the Prettier decision by moving the comment inside the `else` block because you could have a lot of comment lines (or a larget comment block) - it could hurt the legibility where you could quickly identify if it is about an `if`/`else` statement and not a solely `if`.

[code]

[2020-08-10 22:33] yufizan opened #1026 "I'd agree with the Prettier decision by moving the comment inside the `else` block because you could have a lot of comment lines (or a large comment block) - it could hurt the legibility where you could quickly identify if it is about an `if`/`else` statement and not a solely `if`."
I'd agree with the Prettier decision by moving the comment inside the `else` block because you could have a lot of comment lines (or a large comment block) - it could hurt the legibility where you could quickly identify if it is about an `if`/`else` statement and not a solely `if`.

[code]

_Originally posted by @richard-lopes-ifood in https://github.com/romefrontend/rome/issues/1024#issuecomment-

[2020-08-10 22:34] richardaum commented on #1024
I'd agree with the Prettier decision by moving the comment inside the `else` block because you could have a lot of comment lines (or a large comment block) - it could hurt the legibility where you could quickly identify if it is about an `if`/`else` statement and not an isolated `if`.

[code]

[2020-08-10 22:35] richardaum commented on #1026
Didn't get why you keep opening my comments as a new issue. Could you explain it?

[2020-08-10 22:37] #1026 closed

[2020-08-10 22:41] bitpshr commented on #1024
@richardaum most code editors rely on the semantically-correct placement of comments for block folding. For example, if the `if` block in your example above is collapsed, the `else` block comments are also incorrectly collapsed.

I'd argue that Prettier and other tools that do not add new lines before `else` blocks are doing so at the cost of proper alignment, code folding, and comment placement,

[2020-08-10 23:32] sebmck commented on #994
#1027 will fix this.

[2020-08-10 23:32] #994 closed

[2020-08-10 23:33] sebmck commented on #991
#1027 will fix this. Thanks for the repro steps everyone!

[2020-08-10 23:33] #991 closed

[2020-08-10 23:33] sebmck commented on #1003
Fixed by #1004, thanks @kyle1320!

[2020-08-10 23:33] #1003 closed

[2020-08-10 23:36] sebmck commented on #1020
Gah, looks like we weren't properly `await`ing the validation calls. Previously this stuff was sync but was moved to async so we can do some file operations. Fixed by cb9d3810d54365ff2ae182264500000589eb61d0 in #1027. Thanks for the report!

[2020-08-10 23:36] #1020 closed

[2020-08-10 23:37] sebmck commented on #1022
Duplicate of #990.

[2020-08-10 23:37] #1022 closed

[2020-08-11 00:55] sebmck commented on #990
Fix should be in #1027.

[2020-08-11 00:55] #990 closed

[2020-08-11 01:04] sebmck commented on #1001
Lowered minimum supported Node version to 12.8 in 38ef4175b0835b1617f952d2d84d7962b0c8a92a and #1001.

[2020-08-11 01:04] #1001 closed

[2020-08-11 01:08] sebmck commented on #839
I never went over the website with a screen reader. I think @EduardoLopes might have, but wanted to make sure that we weren't doing anything funky. Our docs are a single page so want to make sure the anchor hashes are sufficient enough to make navigating with a screen reader possible.

[2020-08-11 01:25] EduardoLopes commented on #839
I did, but there was quite a lot changes since that and i couldn't do another pass yet. Your help will be much appreciated, @estevanmaito.

I tried to make sure contrast/sizing/labeling is good (we might have missed some labeling), but if you think we can improve on that, we can change it.

[2020-08-11 01:26] sebmck commented on #974
Yeah that sounds right. Feel free to take it on! The changes would just be confined to `internal/cli-flags/Parser.ts`. I'm not really sure how it would all work. We verify that a command was specified (it could just be only arguments) in `commandRequired`.

You actually wouldn't need any existing map to produce the suggested commands, in fact, we already have a `findClosestStringMatch` call in `co

[2020-08-11 02:20] decafbad opened #1028 "Vscode extension crashes after detecting Node version wrongly."
## Environment

[mkose@casper units]$ yarn rome rage --summary
yarn run v1.22.4
$ /home/mkose/Desktop/units/node_modules/.bin/rome rage --summary
Environment Variables
  Object {
    COLORTERM: "truecolor"
    LANG: "en_US.UTF-8"
    PATH: "/tmp/yarn--1597112087653-0.13461780193441975:/home/mkose/Desktop/units/node_modu
    les/.bin:/home/mkose/.config/yarn/link/node_modules/.bin:/usr/libexec/lib/

[2020-08-11 03:32] sebmck commented on #1028
The error is correct, the Node version is 12.8.1, it's the Node version inside of VSCode. We've since lowered the supported Node version to resolve it. See #1001 for more info, fixed in #1027.

[2020-08-11 03:32] #1028 closed

[2020-08-11 03:34] sebmck commented on #1002
Fixed in #1014, thanks @smhmd!

[2020-08-11 03:34] #1002 closed

[2020-08-11 03:57] sebmck commented on #993
Sure! Want to submit a PR? Only file that needs to be changed is `internal/cli-flags/Parser.ts` and the following changes would be required:

 - Add `"zsh"` to `SupportedCompletionShells`.
 - Add `"zsh"` to the allowed values of the `shell-completions` flags in `init`.
 - Add a zsh branch to `writeShellCompletions` with logic on how to add it to a zsh profile.
 - Create `genZshCompletions` method

[2020-08-11 04:03] sebmck commented on #1016
There _might_ be a place for us to support this, depending on maintenance overhead and complexity. I can see us adding `.tpl` as being parsable as HTML, and it would just be automatically linted and work everywhere. My concern would be adding magic to detect the `{}` since otherwise we will parse it as regular text and when formatting will just print it as:

[code]

Which looks a bit nasty. This c

[2020-08-11 04:05] sebmck commented on #1016
I renamed the issue to generally track supporting other "HTML" templating languages. I don't imagine we'll get to this soon unless someone is sufficiently motivated to work on this (I can provide some guidance and support). Thank you for the suggestion!

[2020-08-11 04:13] sebmck commented on #1017
Is your Windows install managed by any chance? That folder should be writable but appears like [named pipes](https://docs.microsoft.com/en-us/windows/win32/ipc/named-pipe-security-and-access-rights) under Windows can be disabled with access control. It's how Rome communicates between the CLI and a running server.

[2020-08-11 04:15] sebmck commented on #1006
Is there anything above where you've taken the screenshots? If you're running the VSCode extension then the CLI could be connecting to the server that's attached there.

[2020-08-11 04:25] sebmck commented on #979
@ayshiff Sure! If you'd like!

Changes just need to be confined to the `findProject` method in `internal/core/server/project/ProjectManager.ts`. In the first loop we walk up the directory chain and search each directory for a config. Right now we bail as soon as we find one. What you'd have to do is defer the actual loading. You would need to:

 - Add a `foundProjectDirectory` variable that we ass

[2020-08-11 04:27] sebmck commented on #999
Huh, I'm not sure what could cause this. The out of memory error sometimes happens when there's a lot of test failures (causing us to read in a lot of source maps for the failed tests). Something might have broken in a previous run that just caused cascading problems.

[2020-08-11 04:39] sebmck opened #1029 "📎 Cascading dying worker"
When a worker dies, we fatal error on the main process, this causes all the other workers to also be killed, which can result in error messages being printed for each. We should suppress these errors, and also preferably, have a better original error message for why the worker died.

[2020-08-11 07:13] noftaly commented on #993
Thanks for these details! I'm not currently at home but I will try to make a PR! I don't promise anything 😄

[2020-08-11 07:53] hexagon6 commented on #990
@sebmck will this be in v10.0.4-beta ? I could test it again.

[2020-08-11 07:54] sebmck commented on #990
Yeah it will, I'll do the release early tomorrow. Don't have time to do it tonight.

[2020-08-11 08:12] aravind1078 commented on #1006
am not sure @sebmck and I did not install the Rome vscode extension. this one seems to be occurring intermittently in my local and mostly it fails in parsing some file in `node_modules` and it just waits for few secs before the connection dies. I will try to get a full screenshot if possible.

[2020-08-11 08:53] robintom commented on #967
@sebmck Can i help you on this? And could you please clarify on basically what is to be done? As in i don't understand what you mean by `Add fixable tag `

[2020-08-11 09:36] ematipico commented on #967
@robintom We have a set of rules that can be fixable automatically by running the command `rome check --apply`, although some rules cannot be fixed automatically.

Sebastian is suggesting to flag these rules that can be fixed automatically in our docs by adding a frontmatter field. The frontmatter fields are the properties at the top of the file.

If you need more guidance, feel free to ask!

[2020-08-11 09:46] ematipico commented on #839
As initial check, we could use [axe](https://www.deque.com/axe/). They have a chrome devtools that does an accessibility check on the website.

[2020-08-11 11:58] katungi commented on #1029
Hey @sebmck can you explain more on the task?

[2020-08-11 14:30] estevanmaito commented on #999
This commit apparently solved it for the PR https://github.com/romefrontend/rome/pull/1000/commits/a3b140db41abeb9978a949d6e3ba266ac1b95913

Looks like it has something to do with the linter, but the error is not exactly specified 🤔

[2020-08-11 15:19] thebspin commented on #1016
If you could point me in the right direction i would not mind giving it a go.

[2020-08-11 15:27] katungi commented on #982
@sebmck I think it should be a lint rule. Would the two options still give the same results which is no quotes??

[2020-08-11 16:56] yassere opened #1032 "📎 Update Getting Started docs to clarify local installation usage"
We recommend that Rome be installed locally with `npm install rome` or `yarn add rome`.

We should clarify that people will need to run `rome` commands prefixed with `npx` or `yarn` if they don't have `node_modules/.bin` in their PATH. (e.g. `npx rome init` or `yarn rome init`)

[2020-08-11 17:20] CodeByCorey opened #1033 "Use .editorconfig for file formats like spaces vs tabs 💭"
When you run `rome init` it adds an .editorconfig

Some projects and companies have policies where you are required to use spaces over tabs.

It would be nice to know I can change my editorconfig to spaces.
Running `rome check` would then use the spaces over tabs.

[2020-08-11 17:21] CodeByCorey commented on #1033
I understand Rome is supposed to be very opinionated but there are a few things that would be nice to customize.

[2020-08-11 17:38] ematipico commented on #1033
There was a discussion here https://github.com/romefrontend/rome/issues/425

[2020-08-11 17:49] CodeByCorey commented on #1033
That looks like it's just a discussion of forcing Tabs over original spaces. But never about allowing the user of Rome to decide what they want to use with some sort of config.

[2020-08-11 19:14] sebmck opened #1034 "📎 Clarify Node support as a "frontend""
It hasn't been clear to a lot of people that Rome supports writing Node backend code. There isn't anything special we need to do to support it. I think it's still important to emphasis "frontend toolchain" as it emphasises the cohesion that Rome is aiming for and doesn't seem like an unfocused collection of tools and supported languages. There is possibly something we can tweak or further clarify

[2020-08-11 19:23] bitpshr commented on #1033
I definitely understand the initial desire to configure various lint rules within Rome to match existing code styles.

The rules that Rome has chosen to enforce have been approached objectively, and have been added to the toolchain specifically to push consumers towards best practices that tangibly offer objective advantages. For example, if any consumer - company or otherwise - has chosen to adop

[2020-08-11 19:32] sebmck commented on #1033
Rome being opinionated doesn't necessarily mean we don't need to have configuration. However, for this specifically, I don't expect us to have any way to configure formatting options.

If you're going to adopt the Rome formatter then it's likely going to cause an extreme amount of formatting churn anyway since we do not aim to match Prettier, which is the predominant code formatter and likely what

[2020-08-11 20:01] estevanmaito commented on #1033
Off topic, but I think this should be fixed somewhere, or at least be highlighted in [Philosophy](https://romefrontend.dev/#philosophy).

It's like "explain it like I'm 5".

[2020-08-11 20:05] dibenso commented on #1021
https://github.com/romefrontend/rome/blob/765e91ccc1b27eff59a6205e64e23b0df66db0f3/internal/js-parser/parser/expression.ts#L1516 at a quick glance shows there is no case for handling decorators? It seems to fall into the default clause of the switch with diagnostic: `descriptions.JS_PARSER.UNKNOWN_EXPRESSION_ATOM_START`

[2020-08-11 22:13] yamadayuki opened #1035 "🐛 fish-shell completion has unexpected descriptions"
## Environment

[code]

## Steps To Reproduce

1. Invoke `rome --log-shell-completions fish`

[code]

## Expected Results

Meaningful description is set if the subcommand's description exists.

[code]

[2020-08-11 22:24] yamadayuki commented on #1035
The root cause located at `genFishCompletions` function in `internal/cli-flags/Parser.ts`. The `meta.description` is an object as `AnyMarkup`. But in this case, the interpolation is only template literal not in a `markup` tagged template string. So the `meta.description` object was called with `toString` (I suppose).

I found the mitigation for this issue. You can prints the fish completions with

[2020-08-11 22:38] ematipico commented on #1035
Go ahead!! Thank you!

[2020-08-11 22:58] estevanmaito commented on #839
Below you find a list of problems found in my audit for the home page.

# Screen Reader

## General

- [ ] The **Latest blog post** section at the top could be moved to the bottom of the file and reordered with CSS so it's not the first thing announced when navigating to the page.
- [ ] Header anchors (the `#` link after titles) don't have text, so titles are announced as (117 times) eg.:
  - Head

[2020-08-11 23:19] yamadayuki commented on #1035
Thanks! I made a PR https://github.com/romefrontend/rome/pull/1036

[2020-08-11 23:36] RaviVaranasi opened #1037 "Invalid licenses in node_modules"
I'm seeing linting error even though `node_modules` is in lint.ignore section

`rome.json` in `.config`
[code]

Run `rome check`
[code]

[2020-08-12 03:54] iOnline247 opened #1039 "🐛 VSCode Extension not discovering correct Rome path"
## Environment

[code]

<details>
<summary>Summary</summary>

[code]
</details>

## Steps To Reproduce

1. [Install VSCode extension](https://marketplace.visualstudio.com/items?itemName=rome.rome)

## Expected Results

I'd expect the Problems section to report what `$ npx rome check` does.

<details>
<summary>$ npx rome check</summary>

[code]
</details>

![image](https://user-images.githubusercon

[2020-08-12 03:55] sebmck commented on #1039
Most likely duplicate of #1028, also see #1001. It will be fixed in an upcoming release (<1 hour).

[2020-08-12 05:26] kno-raziel opened #1040 "🐛 Rome doesnt recognize typescript libs globals, example ReadonlyArray interface"
## Environment

[code]

## Steps To Reproduce

1. create **test.ts file** with the following code
[code]
2. run **npx rome check**
[code]

## Expected Results

[code]

[2020-08-12 07:57] thisizkp commented on #1040
Rome by default generates the following config https://romefrontend.dev/#project-configuration. We would have to manually add globals to the config by using the following command https://romefrontend.dev/#lint.globals

So in this use case, the command should be `npx rome config push lint.globals ReadonlyArray`. I don't think this is a bug. It looks like more of an intentional feature.

[2020-08-12 07:59] sebmck commented on #1040
@thisizkp This issue is to track automatically loading and extracting global names from TypeScript libraries. It would allow these to not even need to be configured.

[2020-08-12 08:09] thisizkp commented on #1040
My bad. That makes sense 👍, manually configuring and managing all the globals will be hard.

[2020-08-12 12:32] nstepien opened #1041 "🐛 Failed to parse exports.node with nested condition in package.json"
Rome is failing to parse a nested condition, see official Node documentation:
https://nodejs.org/api/esm.html#esm_nested_conditions

[code]

(are the `^^^^^` pertinent? I'd highlight the whole `"node": {` instead, just my 2 cents 🤔)

## Environment

[code]

## Steps To Reproduce

1. My package.json has this exports config:
[code]
2. I run `npx rome init --apply`

## Expected Results

Should suppor

[2020-08-12 12:38] nstepien opened #1042 "🐛 UNLICENSED license not recognized"
I work on an internal package at my job, we publish it as a private npm package, it's not public/open-source so it has "UNLICENSED" in the "license" field. Rome does not consider it a valid value.

From the npm docs:
https://docs.npmjs.com/files/package.json

## Environment

[code]

## Steps To Reproduce

1. Have `{ "license": "UNLICENSED" }` in your package.json
2. Run `npx rome init --apply`

##

[2020-08-12 12:42] nstepien commented on #1042
NVM I misread the Rome error report.

[2020-08-12 12:42] #1042 closed

[2020-08-12 13:08] bradydowling opened #1043 "💭 Add package name to license diagnostic message"
When I ran `rome check` I got the following output:
[code]
I instinctively went to the link referenced to find an MIT license then copy/pasted the contents into a `LICENSE` file in the root of my repo. This didn't help. Then I went to add a `license` key into my `package.json` file, which also didn't seem to work. Some actionable steps for fixing this issue would be helpful.

[2020-08-12 13:54] EduardoLopes commented on #839
Sweet! ✨ This looks good to me. What's you plan to fix the language support table and header links?

[2020-08-12 14:01] ematipico commented on #1043
The problem is in one of your dependencies: `deep-freeze`

`node_modules/deep-freeze/package.json:50:14 parse/spdxLicense`

The issue is not in your package.json

[2020-08-12 14:15] Anoesj commented on #1024
I agree with @AlchemistCamp that a break before the `else` keyword makes more sense. `if` and `else` indented identically are visually more cohesive. Also, you can decide where to place the comment yourself. Because personally, when I write this...
[code]

...I mean something different than when I'm writing this:
[code]

[2020-08-12 14:38] estevanmaito commented on #839
1. Language support: I would like to understand first what the empty cells mean. Are they being worked or will never be developed? In the last case, I would add ⛔ and a meaningful label.

For context:

![Screenshot_2020-08-12 Rome Frontend Toolchain](https://user-images.githubusercontent.com/8527573/90028550-31600880-dc90-11ea-85fb-fb988b305fca.png)

2. Headings: duplicate the header content insid

[2020-08-12 15:27] Hina-creator opened #1044 "🐛 <keywords simulation uninstall>"
## Environment

[code]

## Steps To Reproduce

1.
2.

## Expected Results

[2020-08-12 15:46] bradydowling commented on #1043
Thanks for pointing that out, I missed that. I think this issue is still pertinent though. If it were an issue with my package, would one or both of those approaches fix it? It's tough to tell from the error message what I should actually do to fix it.

[2020-08-12 16:15] ematipico commented on #1043
Did you ignore `node_modules` in your config? If so, this is could be a potential bug!

[2020-08-12 16:45] jojo0273 opened #1045 "💭 <TITLE>"

[2020-08-12 17:09] #1044 closed

[2020-08-12 17:27] iOnline247 commented on #1039
This remains an issue for me after upgrading the this version: `"rome": "^10.0.4-beta"`
I should note, I'm using `rome` locally and didn't install it globally.

[2020-08-12 18:01] yassere commented on #1039
What does it say in the Rome output channel in VS Code? Is it successfully discovering the path to Rome in `node_modules` and is it watching your project directory?

[2020-08-12 18:45] flowHater opened #1046 "💭 usage of Record<Keys,Type> to define Dict from "@internal/typescript-helpers""
From: https://www.typescriptlang.org/docs/handbook/utility-types.html#recordkeystype

Dict should be implemented as:

[code]
Small change to make code more idiomatic.

[2020-08-12 18:49] nt591 commented on #1023
I'm going to look into  js-ast-utils/isBinary.ts now

[2020-08-12 19:11] rvion commented on #1017
No, regular windows setup. I have no clues why this happens.

[2020-08-12 19:41] iOnline247 commented on #1039
This is from the Output window:
`No Rome path found. Waiting for workspace folder changes before trying again`

[2020-08-12 20:19] yassere commented on #1039
Do you have Rome installed locally in your project directory? (i.e. `npm install rome` without a global flag)

If so, we'll need to figure out why the extension isn't finding it.

[2020-08-12 20:28] pizzafox commented on #1046
Relevant code:

https://github.com/romefrontend/rome/blob/d4ff4dc26129ba0172600fb95c2ba68f9a995ab7/internal/typescript-helpers/index.ts#L27-L29

[2020-08-12 21:08] #1046 closed

[2020-08-12 21:10] bitpshr commented on #1045
Hi @jojo0273! For the sake of keeping the issue tracker tidy, I'm going to delete this, but please feel free to open a new issue if this wasn't created by mistake.

[2020-08-12 21:10] #1045 closed

[2020-08-12 21:11] SanketDG commented on #1032
Can I take this up?

[2020-08-12 21:12] bitpshr commented on #1043
In projects with multiple sub-project configurations like monorepos, I still think there's value in improving the diagnostic message here, perhaps by adding the package name emboldened in the message itself. The file paths in diagnostic messages are admittedly easy to miss.

[2020-08-12 21:17] bitpshr commented on #1032
Definitely @SanketDG! Please feel free to submit an associated pull request and we'll be sure to get it reviewed quickly.

[2020-08-13 00:53] parisholley opened #1051 "🐛 Path normalization can normalize away all segments"
## Environment

[code]

## Steps To Reproduce
[code]

[2020-08-13 02:40] iOnline247 commented on #1039
Yes, I tried both versions from a local install: `"rome": "^10.0.3-beta"` & `"rome": "^10.0.4-beta"`.
Using npx works, but using VSCode after a `npx rome init` doesn't seem to work. I have *not* installed this globally to date.

[2020-08-13 02:42] iOnline247 commented on #1039
If there's a debug/verbose logging mode for the extension, I'll give it a shot. I don't mind spending the time getting this up and running, so let me know how I can get you more information to troubleshoot.

[2020-08-13 03:54] ducanh38 opened #1052 "📎 <TITLE> Atp update"
#Atp update

[2020-08-13 05:09] wlabranche commented on #1051
had a similar issue in #990 (beta-10.0.3) now seeing this after #1027

node version`14.4.0`

[2020-08-13 07:31] aravind1078 commented on #1006
@sebmck here is complete error with latest code
<img width="953" alt="rome_error" src="https://user-images.githubusercontent.com/22080780/90106447-0e535880-dd65-11ea-9105-5ee90543f9a8.PNG">
<img width="946" alt="romeerr1" src="https://user-images.githubusercontent.com/22080780/90106458-10b5b280-dd65-11ea-9264-5c8819020b5f.PNG">
<img width="889" alt="romeerr2" src="https://user-images.githubusercon

[2020-08-13 08:42] sebmck opened #1053 "📎 Add support for TS `infer` to scope tracking"
This is probably going to be extremely difficult since it's similar to how `var` works, although I may be misunderstanding the semantics.

[2020-08-13 09:39] #1052 closed

[2020-08-13 09:40] sebmck commented on #1032
I don't if this is necessarily a good first task. If we're going to recommend the usage of `npx rome init` then we also need to install it locally to `package.json` which would be a non-trivial amount of work to support.

[2020-08-13 09:43] sebmck commented on #1037
We "lint" package.json files but it’s not really linting. We load, normalize, and validate any we see during project initialization since they’re required for module resolution.

It has been an area of confusion though because you cannot ignore them because any validation errors are either legitimate problems or bugs/unhandled validation cases, and are fatal.

[2020-08-13 09:44] sebmck commented on #1043
@ematipico

No, this is intentional behaviour. `package.json` errors don't occur in the linter and are a side effect of loading in `package.json` files.

[2020-08-13 09:45] sebmck commented on #1043
The diagnostic should have a code frame pointing to the problematic `package.json` line which would have made it a lot clearer and harder to miss the filename above it. I'm not sure why it wasn't displayed here.

[2020-08-13 10:15] ematipico opened #1055 "🐛 [lint] `this` binding is removed from the code when running `rome check --apply`"
## Steps To Reproduce

1. Have the following code

[code]

2. run `./rome check --apply`
3. rome removes `this: Foo` from the `bar` function

## Expected Results

It should not remove the `this` binding.

https://www.typescriptlang.org/play?#code/C4TwDgpgBAQghgJygXigCgJQoHxQG4D2AlgCYDcAUAGYCuAdgMbBEF1QBGiawAFkQM4AuKADECBDMMKkoAbwpRFUCgF8KFBgBs4-fqPFyFSzgmHwElAJANW-YAhpMCCTIaVRLvAQDoTKDoi+RHQk3Hz8G

[2020-08-13 10:40] bradydowling commented on #1043
I still think there needs to be more clear guidance on how to fix this. If
it is an issue with a package I'm depending on, I'd guess I should either
figure out how to remove that package or ignore just that package. But if
I'm a beginner and just playing around with this or a project that uses
rome then I'm dead in the water. Maybe rome isn't intended for beginners
though.

On Thu, Aug 13, 2020, 5

[2020-08-13 15:08] SanketDG commented on #1032
Would there be any reasons to enforce this?

[2020-08-13 15:14] EduardoLopes commented on #839
For me, you can already start to work on it. i'll ping @sebmck here, he made the the table, he'll explain it better

[2020-08-13 15:21] sesm opened #1056 "💭 Add linter rules to detect non-inclusive terminology"
As stated in [Project Philosophy](https://romefrontend.dev/#technical), one of the goals of the project is to `Use inclusive terminology`. Since this project is a linter, it would be good to create linter rules for this, this way Rome code will be checked for inclusive terminology by itself.

[2020-08-13 15:30] SanketDG commented on #1032
I was struggling to find the right place to put this so I just checked out how `create-react-app` [does](https://github.com/facebook/create-react-app#quick-overview) it. Can we do something like this in our Getting Started?

Let me know what you guys think.

[2020-08-13 15:32] sesm commented on #1056
Looks like it's already fixed in https://github.com/romefrontend/rome/pull/267, closing

[2020-08-13 15:32] #1056 closed

[2020-08-13 15:49] ematipico commented on #1032
I wonder if we can provide a command that creates a file that can run `rome` with the shebang? Kinda like we are doing at the moment internally inside our repo.

[2020-08-13 16:06] dibenso opened #1058 "💭 Nicer detection of non existent categories created with scripts/ast-create-node"
Notice the singular "statement" category directory does not exist in internal/ast/js

Running:

`./rome run scripts/ast-create-node js JSDecorator statement`

Outputs:

[code]

It would make things more clear to contributors if this showed a list of possible current categories instead of this peculiar message shown above

[2020-08-13 16:16] nt591 commented on #1023
I'm adding tests for js-ast-utils/isFor

[2020-08-13 16:36] #1055 closed

[2020-08-13 16:37] sebmck commented on #1056
Note that it's currently disabled while we figure out a more sustainable approach to term management. ie. Non-English, custom words etc. See #793 for additional conversation.

[2020-08-13 17:34] yassere commented on #1032
My opinion is that we should still recommend people install Rome with `npm install rome` or `yarn add rome` and then `npx rome <command>` or `yarn rome <command>` will just use the `rome` in `node_modules` without installing anything new.

While it's technically possible to have `npx rome init` also install Rome into a project on its own, I'm not in favor of it.

[2020-08-13 18:02] bitpshr commented on #963
I feel like we should continue to implicitly not shorthand flags since they really are vague, but I feel like special-casing `-h` specifically may be a good idea. It's almost pseudo-standard, and it will be useful for users who do expect shorthand flags since that command will in turn show them that no other commands have them.

[2020-08-13 19:02] sebmck commented on #1032
Automatically installing is the behaviour of `create-react-app` and other generators. My fear is that it wont be obvious to many that rome has not actually been installed and that it's running in a magic cache somewhere that isn't fixed to a specific version. This also means it wont work with LSP out of the box unless we can find it locally.

The only reason we need to recommend `npx` is because i

[2020-08-13 19:13] sebmck commented on #963
That sounds good! We can also provide a suggestion for `-v`. We used to have a `--verbose` flag but no longer do. Regardless, we could still check if there's been a `verbose` flag declared and hint at it too. So far we've been making all the Rome packages very general without being constrained too much by Rome uses, so it'd be really nice to open them up in the long distant future since I think a

[2020-08-13 20:00] matiaschileno commented on #1006
I'm having exactly the same issue, `Connection died` after some `Process unexpectedly exit` on `rome check`. This is the output of `rome rage --summary`:
`
Environment Variables
  Object {
    COLORTERM: "truecolor"
    LANG: "en_US.UTF-8"
    TERM: "xterm-256color"
    TERM_PROGRAM: "vscode"
  }

User Config
  unset

Rome Version
  10.0.4-beta

Node Version
  12.16.3

Platform
  linux x64 5.7.9-1

[2020-08-13 20:13] nt591 commented on #1023
I'm also adding tests for codec-source-map/ArraySet.ts

Should I start collapsing these posts into one and edit accordingly?

[2020-08-13 20:15] sebmck commented on #1023
Sorry I didn't have time to review the list of tests in the issue body. We don't need tests for basic methods that are just refining types, they are extremely excessive and will be implicitly integration tested elsehwere.

[2020-08-13 20:16] sebmck commented on #1023
@nt591 Feel free to batch them up into a single PR, whatever's easiest. If you're only adding new files then you shouldn't need to worry about merge conflcits at all! Thank you for doing this work!

[2020-08-13 20:18] sebmck opened #1062 "📎 Add `README`s to all `internal` folders"
This will make it easier for others to understand what a package does and it's responsibilities.

[2020-08-13 20:22] sebmck commented on #1023
Also when implementing any tests that operate on an AST, preferably inline the AST itself by manually constructing it with the `create` builder methods in `@internal/ast`, and if you really need to parse JS (such as a large example), use:

[code]

[2020-08-13 20:33] ottob opened #1064 "🐛 parse/spdxLicense errors during rome init"
## Environment

[code]

## Steps To Reproduce

1. run `rome init` in existing project.
2. look at generated errors:
[code]

It seems like it fails to parse these licenses:
1. `(MIT or Apache-2.0)` from `dom-storage` 2.1.0 (latest) here https://git.coolaj86.com/coolaj86/dom-storage.js/src/branch/master/package.json#L16
1. `(LGPL-2.0 or MIT)` from `xmldom` version 0.1.31 here  https://github.com/xml

[2020-08-13 20:40] sebmck commented on #1064
I think it's because we require `or` and `and` in SPDX expressions to be capitalized.

[2020-08-13 20:46] estevanmaito opened #1065 "🐛 Windows 10 line endings errors on `check`"
The entire error result:

https://gist.github.com/estevanmaito/b0686f12b4b988dc73b4a53822765510

## Previous conversation on Discord

**Sebastian Today at 4:21 PM**
yeah it's line endings
can you open an issue?
when we format code, if the original file contained \r then we use \r\n newlines instead of \n

**ematipicoToday at 4:22 PM**
Maybe we'd need some more settings inside .gitattributes

**Seb

[2020-08-13 20:53] sebmck commented on #1064
Yeah, we expect them to be capitalized. `tokenize` in `internal/codec-spdx-license/parse.ts` should be updated to also respect the lowercase form.

[2020-08-13 21:26] mrewers commented on #1037
So what is the resolution here? I'm not sure it's reasonable to expect that people only use dependencies that have a valid license in the package.json since that is largely out of their control.

[2020-08-13 21:28] sebmck commented on #1037
Probably a project config option to allow certain invalid licenses.

[2020-08-13 21:41] EduardoLopes opened #1066 "📎 Suppress lint diagnostic for an unknown peer dependency"
## Discord conversation

*Thursday, August 13, 2020*

**Eduardo Lopes Today at 6:30 PM**
I'm trying rome in a lib that have peer dependencies. Since these dependencies are not installed, the lint shows a resolver/notFound problem
there's any way to deal with that other than suppression?

**Sebastian Today at 6:32 PM**
[code]
you can add that to your project config
ideally though we should suppress

[2020-08-13 22:33] sebmck opened #1067 "📎 Perform bundle concatenation in test workers"
Right now tests are extremely slow because we ship a few megs of JS for each bundled test. We can just send over the unique files and concatenate them after. Will require some significant changes and abstractions to the bundler.

[2020-08-13 23:31] EduardoLopes opened #1068 "🐛 Internal error when renaming a file being watched"
## Environment

[code]
<details>
<summary>
Summary
</summary>

[code]
</details>

## Steps To Reproduce

1. run `rome check --watch`
2. rename a file being watched

I got the `lint/js/useDefaultExportBasename` diagnostic, once i renamed the file, there was the internal fatal error.
I was renaming `src/systems/input/Input.ts` to `src/systems/input/InputSystem.ts`

<details>
<summary>
Log
</summary>

[2020-08-14 00:11] hanhanhan commented on #1023
@nt591  and I started in on `js-ast-utils/isUnaryLike.ts`

Does the strikethrough mean it's one of the unneeded "basic methods that are just refining types" to be tested elsewhere?

We noticed [throw](https://github.com/romefrontend/rome/blob/f1f17631ba034128abd82639ff990d41237b2b67/internal/ast/js/expressions/JSUnaryExpression.ts#L26) is a JSThrowStatement not a UnaryExpression.

[2020-08-14 00:15] jer3m01 commented on #1023
Yes the strikethrough means a test for it isn't needed.
I'll add that the the description.

[2020-08-14 03:32] bitpshr commented on #966
Happy to pick this up. @sebmck can you provide any additional context around implementation on this one? From a high level, it feels like we'd parse comment blocks and add declarations to the global scope accordingly.

[2020-08-14 03:35] bitpshr commented on #972
If I understand this issue correctly, Rome would require suppression comments to include an explanation. I'm in favor of this; this wouldn't be too tedious during development where rules may be hastily turned off since a simple `"wip"` comment could be used until release.

[2020-08-14 04:39] #968 closed

[2020-08-14 07:25] #1035 closed

[2020-08-14 08:40] aravind1078 commented on #1023
i'm goning to look into `js-ast-utils/isJsxElement`

[2020-08-14 14:11] RaviVaranasi commented on #1037
FYI: this is a template generated with expo to generate a `react-native` application.

[2020-08-14 14:33] ematipico opened #1075 "📎 Create a new project config where user can store invalid licenses"
From https://github.com/romefrontend/rome/issues/1037#issuecomment-673377148

And from https://github.com/romefrontend/rome/issues/1037#issuecomment-673719698

[2020-08-14 17:09] mudathirlawal commented on #1062
Hello, @sebmck,

I am willing to pick up this task that addresses the concern raised in issue #1062. However, I have difficulty understanding what the various functions of internal folders do. If you could please provide me some guide.

Many thanks.
**Mudathir**

[2020-08-14 17:21] sebmck commented on #1062
Sorry, I don't think this is a task someone else can take on (some core contributors likely could). If I explain what all the folders do then I've essentially already written the READMEs.

[2020-08-14 18:41] SanketDG commented on #1032
Sounds good to me!

Do we reach a consensus here so that I can start working on this?

[2020-08-14 19:13] ematipico commented on #1032
As far as I know, `nvm`, `n` and the installer add `node_modules/.bin` to the global `$PATH` but only for packages that will be installed *globally* (when using `npm install -g`). We suggest to install `rome` locally to a project (or set of projects), the only way to run is using a `npx` or `yarn`.

`npx`, when run inside a project that has a `package.json`, will try to run the binary inside `proj

[2020-08-14 19:15] marudor opened #1076 "🐛 parse/semver: Unexpected word workspace"
## Environment

[code]

## Steps To Reproduce

1. have a workspace dependency in a monorepo (using yarn berry for instance)
Example dep:
[code]
2. try to use rome

## Expected Results

It should recognize `workspace:*` as valid dependency

[2020-08-14 23:43] yassere commented on #1039
Thanks for helping troubleshoot!

I don't think there's any extra logging that the extension can currently do while it's attempting to locate the Rome path.

Could you try adding a top-level field to your `package.json` called `romeLSPBin` with the relative path from your project directory to the `rome/index.js` in your `node_modules`?

[2020-08-15 00:16] yassere commented on #972
How would this interact with `decisions` that add suppression comments? Would they insert a placeholder explanation or would they insert incomplete suppressions that need to be manually corrected?

[2020-08-15 02:18] jellydn opened #1078 "🐛 Print comments differently when inside of JSX"
## Environment

[code]

## Steps To Reproduce
- Use `dangerouslySetInnerHTML` on TSX

[code]

Reproduce gif: https://gyazo.com/fb376f4b5d49a81ebd3f83c6a1c5981c

## Expected Results
- Should suppress the rule on JSX file

[2020-08-15 03:44] sebmck commented on #972
@yassere Probably a default explanation of "suppressed via --review" when run via the CLI. In LSP we could just have "insert explanation here" or something. There's probably also something cool that could be done with `--review` where you could write the explanation there. A CLI flag would also be nice to skip having to input it completely. eg.

[code]

[2020-08-15 03:52] sebmck opened #1079 "💭 Consider changing ts noArrayShorthand rule"
Right now we require `Array<T>` instead of `T[]` but it usually ends up with extracting the array type into one that just has an `s` on the end.

[2020-08-15 09:38] Shuunen commented on #1039
Same here 😢

![image](https://user-images.githubusercontent.com/439158/90309765-92374d00-deeb-11ea-954d-af69a7807ced.png)

Rome check is reporting 3 problems, but VSCode with `rome.rome` extension does not :

![image](https://user-images.githubusercontent.com/439158/90309785-bdba3780-deeb-11ea-8667-d351422c2922.png)

![image](https://user-images.githubusercontent.com/439158/90309789-c6127280-deeb-

[2020-08-15 09:43] sebmck commented on #1039
What errors are you expecting there to be visible? Keep in mind that we explicitly hide the "pending fixes and formatting" diagnostic as it's not useful in an editor and would be covered by auto formatting, the other diagnostic suggestions, and quick fixes.

[2020-08-15 09:52] Shuunen commented on #1039
I'm expecting to see the 3 problems `rome check` found.

Here for example, I just run `rome check --apply` and one problem still exists :

![image](https://user-images.githubusercontent.com/439158/90309935-366dc380-deed-11ea-873a-d9f9f6906d31.png)

Why all these are considered useless to show ?

EsLint have warn & error severity levels and is well displayed in the VSCode problem tab because lint i

[2020-08-15 09:55] Shuunen commented on #1039
Can anyone provide a code snippet that should display errors in this VSCode problem tab to verify that extension is working properly ?

[2020-08-15 09:57] sebmck commented on #1039
They aren't useless to show. I was referring specifically to a single sort of diagnostic we output that was included in the CLI output from the example in the issue body.

We need to add additional logging to the extension output channel so we can more properly debug these sorts of issues.

[2020-08-15 10:00] Shuunen commented on #1039
Ok, let me know if I can help to investigate more.

I tried many folderpath & filepath for `"romeLSPBin"` and then reload my VSCode but I'm still seing `No Rome path found. Waiting for workspace folder changes before trying again` in the Rome extension output.

[2020-08-15 10:10] sebmck opened #1081 "💭 Consider replacing RJSON with TOML or YAML"
We could alternatively support both. I can write a parser for either pretty easily. I really despise both formats, I think they're truly awful, but others seem to like them so I'm willing to concede.

They offer the same advantages we have with RJSON, but are actual community standards with great portability and interopability. Supporting both would also allow us to better integrate into the ecosy

[2020-08-15 10:40] ematipico commented on #1039
Is there a chance where you can share your project or a minimal repository where we can replicate the issue?

[2020-08-15 10:49] ematipico commented on #1081
Personally, I don't like YAML. It's very sensible to tab/spaces... let's say I haven't had a pleasant experience so far.

But objectively, it's better to support a standard format (or more known/used) because it integrates better with the current ecosystem (IDEs, existing libs, etc.)

[2020-08-15 12:35] Shuunen commented on #1039
[test-rome.zip](https://github.com/romefrontend/rome/files/5078632/test-rome.zip)

[2020-08-15 12:55] yassere commented on #1039
@Shuunen Did you try "node_modules/rome/bin/rome/index.js" for `romeLSPBin`?

You shouldn't have to specify the path yourself, but I'm just trying to see if it works for troubleshooting purposes.

You won't see diagnostics from Rome under "Problems" if you see "No Rome path found" because that means the extension couldn't find the LSP server to even start it.

[2020-08-15 12:59] aravind1078 commented on #1023
I will take
`js-ast-utils/assertMultipleNodes.ts`
 `js-ast-utils/assertSingleNode.ts`
` js-ast-utils/assertSingleOrMultipleNodes.ts`
and try to batch them together bcz all of them looks fairly similar

[2020-08-15 13:11] yassere commented on #1081
I'm definitely in favor of switching to support one or more community standards.

We're trying to minimize the amount of configuration that people need to do anyway, so I don't think the ergonomic benefits of a custom format outweigh the lack of interoperability.

[2020-08-15 14:52] Shuunen commented on #1039
Same result :
![image](https://user-images.githubusercontent.com/439158/90314929-b446c480-df17-11ea-8d62-fcb028125bb5.png)

[2020-08-15 17:02] cascading-jox commented on #442
[This comment](https://github.com/prettier/prettier/issues/4102#issuecomment-378161572) in that prettier thread is the main reason why I prefer single quotes in JS. It feels unnatural to write html with two different styles depending on if it is in a .js file or .html file.

In [this comment](https://github.com/prettier/prettier/issues/4102#issuecomment-580229613) they show evidence that it is the

[2020-08-15 20:41] sebmck commented on #442
I think it's more likely that we would just skip this argument entirely and use template literals for all strings.

[2020-08-15 22:01] sebmck commented on #1006
I don't think this is an issue anymore after #1054 since we are no longer using separate processes for workers. I'll leave this open so we can confirm for the next release.

[2020-08-15 22:20] sebmck commented on #1078
I'm not sure how we'd implement this. We'd need to wrap comments that would appear in JSX text as `{/* comment */ }`. When we're printing an AST node, we just print all comments, which outside of JSX is fine, but here requires some additional heuristics.

[2020-08-15 22:24] sebmck commented on #1076
It's not clear what we should do with these. Right now we are strict in how we parse `package.json` because later we will want to do many other things such as dependency installation. So it's better for us to iron out the bugs and require strict checks so we don't need to do it later.

We could possibly support the `workspace` pattern for compatibility, and later when we add dependency installatio

[2020-08-15 22:27] sebmck commented on #1065
The thing that stands out to me here, is that all the modified lines specifically have `\r\r` which is really weird. You'll notice that we print invisible characters when display code, primarily to identify bugs and changes like this. `\r` is printed as `␍` for example, which is the unicode presentation character for a carriage return.

It's also odd that we're printing the trailing `\r` in the fi

[2020-08-15 22:28] sebmck commented on #1068
There's some funky race conditions happening in general when files are modified :(

I think to reliably fix this we need to have more reliable locks, likely global, when performing file change operations/events.

[2020-08-15 22:29] sebmck commented on #1023
@hanhanhan

Oh that's really bizzare, that shouldn't be there... Want to open a PR to remove it? TypeScript checks should be enough to validate it's not used anywhere.

[2020-08-15 22:58] sebmck opened #1087 "📎 Gracefully handle failing VSC getUncommittedFiles and getModifiedFiles"
See #1073 for relevant discussion.

We could do one of three things:

1. What we do now: throw a hard error. But make it more descriptive. We don't even include the method name right now.
2. Log an error, and return an empty array.
3. Log an error, and return something else besides an array when we aren't sure or fail.

[2020-08-15 23:09] sebmck opened #1088 "💭 Consider supporting `/?` style CLI flags on Windows"
Windows doesn't use `--` to denote flags, it uses `/`. It might be a good idea for us to support those flags variants when `process.platform === "win32"`. We would only do it on Windows because `/` is obviously the file system root on Unix systems and would come up often.

The biggest advantage of us doing this would be signalling to Windows developers that we care about and want to support them.

[2020-08-15 23:33] sebmck commented on #966
I think the best strategy would be to have all comments in a file be declared as global at the root, rather than at a more specific scope-level. You can add it to the `RootScope` constructor in `internal/compiler/scope/Scope.ts` and add it to `this.globals`. A `RootScope` is constructed only once.

I think that's the behaviour of ESLint and other tools. I mostly say we should do that because it's

[2020-08-15 23:41] sebmck commented on #1023
Thank you so much everyone for the PRs! I really appreciate it, especially since you've all written them without any context. I've long neglected tests for most of the code I've written since it's been a colossal effort to build it in the first place.

[2020-08-15 23:47] sebmck commented on #1016
@thebspin Our HTML parser (located in `internal/html-parser`) is pretty bad. I wrote it off the cuff just so we had something, and it's not standards compliant at all. Improving the parser, and then enabling HTML support would be a prerequisite for this task. HTML linting/formatting support is currently disabled. You can enable it by setting the `capabilities` to `true` in `internal/core/common/fi

[2020-08-15 23:50] sebmck commented on #982
@katungi Yeah it would. I don't think this makes sense as a lint rule, as it seems purely like formatting, and when we're generating any sort of code, we should still do this.

The changes would need to be made in only the file `internal/formatter/builders/js/objects/JSStaticPropertyKey.ts`. `node.value` can be a `StringLiteral` so you would need to check for that. You would also need to validate

[2020-08-15 23:53] sebmck commented on #1033
I'm open to including it in the intro. The "Rome has strong conventions and aims to have minimal configuration" paragraph would be good to clarify. If anyone is opening to making the change, then you can make it to `README.md`, and then run `./rome run scripts/generate-all-files` which will also update the website homepage markdown.

[2020-08-15 23:55] sebmck commented on #1021
Yeah we have no support at all for decorators. They were one of the syntax extensions I removed years ago when I forked `js-parser` from `babel-parser`.

If the syntax of decorators has been settled then I'm open to adding support. I just recall a high amount of chur as the syntax was still evolving. We would also only support the latest decorator syntax revision, rather than also supporting the o

[2020-08-16 00:08] #805 closed

[2020-08-16 00:14] sebmck commented on #1024
Ah, that makes sense and makes this change a lot easier. I actually think this would be fairly straight forward to do now. Although I think we would still have issues inserting the comment in the correct place, but that can be resolved also.

The heuristic we would use here when determining if `else` should have a preceding line break, would be if the `alternate` starts on a different line than wh

[2020-08-16 00:15] sebmck commented on #1017
I'm wondering if it might be more reliable for us to listen on a local port instead of a named pipe. Although I think there's some strong performance issues to consider there. We could potentially support detecting and gracefully falling back, but I think we should only do that if this issue is more widespread since supporting both would be tricky.

[2020-08-16 00:16] sebmck commented on #1051
This might have been fixed earlier, but should be gone for good with #1086. I want to confirm though, since `../..` should never be normalized away.

[2020-08-16 00:19] sebmck commented on #1043
No, Rome is definitely for beginners. Rome is not an "expert tool" and is meant to be actionable and informative. Licensing errors are definitely something we can improve so we appreciate the feedback. #1075 is tracking adding an option to configure license exceptions, which is what we would advise here, and include as a solution in the error.

[2020-08-16 00:21] sebmck commented on #1043
We could also potentially add these exceptions for you automatically when running `rome init --apply`.

I think we likely need a dedicated command perform some automatic configuration generation, since `rome init --apply` can only be used when you're creating a project. When you might want to run something like this to fix issues whenever you add a new `package.json` dependency.

[2020-08-16 00:28] sebmck commented on #839
Ah yeah, the empty cells indicate that support isn't necesary. What JSON linting includes isn't obvious, although there's likely something we could do such as JSON schema validation, but nothing is planned right now. We can just fill them with check boxes though for consistency.

[2020-08-16 01:21] sebmck commented on #1058
Want to submit a PR? Adding AST nodes isn't common so these scripts have been very ad-hoc so far. On the specific topic of decorators, there likely needs to be more discussion that needs to happen. I don't want you to do a bunch of work that doesn't end up getting merged (unless you want to).

[2020-08-16 01:24] estevanmaito commented on #839
Great. I'll start working on it on Monday.

[2020-08-16 01:28] sebmck opened #1089 "📎 Setup CODEOWNERS"
Can be used for PR review recommendations and allow people to opt in to parts of the codebase they want to be responsible for or care about.

[2020-08-16 01:50] bitpshr commented on #1089
Happy to help oversee current and future lint rules and their utilities in `internal/compiler/lint/`.

[2020-08-16 06:38] ematipico commented on #1021
The thing is, TypeScript have decorators too (legacy version) and there are various libs that rely on them. Example:

- Mobx (frontend)
- Nestjs
- TypeORM

The big problem with decorators is that the syntax is still under revision and the proposal is still idle at stage 2 for quite long time.

[2020-08-16 06:49] EduardoLopes commented on #1089
I'll help oversee the website and related stuff

[2020-08-16 08:31] rvion commented on #1017
I'd love a port fallback, especially for custom setups / weird setups. I find it very practical.

Also, could you try another folder location as fallback ?

[2020-08-16 09:43] marudor commented on #1076
I would greatly appreciate to support the `workspace` pattern until dependency installation is there. That way workspace users can start using rome.

[2020-08-16 11:49] ematipico commented on #1089
I'd be happy to take responsibility of the `internal/markdown-parser` and `internal/html-parser`.
I could also assist @bitpshr with the linter.

[2020-08-16 12:35] yassere commented on #1089
I'll help review any PRs for `internal/core` because that's where I've mostly been working, but I'll generally still wait for @sebmck to merge them to make sure any core changes match the project's principles.

[2020-08-16 12:44] ematipico opened #1094 "💭 [lint] propose new rules around the correct usage of `Promise`"
I'd like to propose some rule to enforce some best practice around the usage of `Promise`.

1. Always use `.catch` if using `.then`:
[code]
2. Do not use `new` when using static methods:
[code]
3. Always `return` inside the `.then`:
[code]

[2020-08-16 17:46] jwondrusch commented on #1017
Ran into the same issue while just starting into Rome.

Windows 10 Pro, Git Bash (run as Admin), fairly stock setup.

[code]

[2020-08-16 18:09] sebmck commented on #1017
Named pipes/unix sockets is a pretty basic IPC primitive so I doubt we'll need to implement a port solution. Keep in mind that `rome start` is an optional feature, a daemon is not required.

I'm not sure what other location we could use, I don't know if there's another location that is safe to be written to.

If you could open a `node` repl and run:

[code]

And let me know if it still produces an

[2020-08-16 18:11] sebmck commented on #1076
Thinking about it more, it's reasonable. I'll get around to this later today as it's a relatively easy addition.

[2020-08-16 19:01] yassere commented on #1094
There are promises that never reject. I don't think that `Promise.allSettled()` ever does, for example.

What's the argument against the example you posted? Isn't that just a normal `Promise<void>`?

[2020-08-16 19:32] ematipico commented on #1094
We can limit the rule to cases that we know require `.catch`. After all also Node.js doesn't like unhanded promises.

Having `return` inside the `.then` will return a new promise, which would allow to chain other promises. Example:

[code]

With the advent of `async`/`away` this pattern is less used but doing this is quite a standard:

[code]

In order achieve that, we have to make sure that we al

[2020-08-16 19:43] ematipico commented on #1094
I think we should force the `.catch` anyway because of the following example:

[code]

In this example the error gets swallowed because there's no `.catch`.

[2020-08-16 20:51] yassere commented on #1094
I don't think that this is true. The `then` method always synchronously returns a promise that you can chain off of. That promise will just resolve with `undefined` if your callback completes without returning anything.

It may be possible to implement a narrow version of this rule that detects the specific mistake in that example, but I think it would feel very strange to enforce code like this:

[2020-08-16 22:07] jogibear9988 opened #1096 "Questions for planed bundler/bundling"
I've a few questions when about how rome would work when it gets a bundler.

1.) Will rome only allow bundling of javascript, or will it also support a html file as a start?
2.) How will rome support javascript modules with cylic references?
3.) Will rome bundler support lazy loaded modules? so if I lazy load a javascript module (for example a plugin), but this references now bundled files? (So is

[2020-08-16 22:08] ematipico commented on #1094
Well it's partially true. Check this simple sandbox I made. Without return, the last log is printed first. With the return, the chain of promises is correctly executed.

https://codesandbox.io/s/mystifying-mclaren-14n8g?file=/src/index.js

I am saying that what you're saying is false, actually my example was bad. So sorry. I think to enforce the `return` would help to keep the chain of promises in

[2020-08-16 22:12] sebmck commented on #1096
Hey! Bundling is still really early, and mostly only built out to support our internal usage, as well as that of React Native while I was on that team. So my answers will understandably by pretty vague:

Yeah I expect us to support bundling non-JavaScript files. It's tricky to architect, but I think Parcel is good precedent here. We will likely be able to do a lot more sophisticated things with ou

[2020-08-16 22:22] jogibear9988 commented on #1096
We bundled our project using "polymer-cli" but this took forever and it broke from time to time. So it would be good to see an bundler wich also supports html as a start.
So also scripts included via "<script src=" could be bundled into one file...

Yes, but it the modules will only be loaded when configured, so the bundling should exclude them and leave them as seperatly loadable. So some referen

[2020-08-16 23:36] ljharb commented on #1094
Even Promise.allSettled can reject, if the receiver’s constructor lacks the resolve method.

[2020-08-16 23:36] yassere commented on #1094
It's just showing some placeholder code for me. Can you check if it wasn't saved or if the problem is on my end?

While I still don't agree that this is always true, I suppose it does seem plausible that the overall code quality improvements from enforcing `.catch` could be worth any minor inconvenience.

[2020-08-16 23:37] yassere commented on #1094
Ah, I didn't know that. Thanks for the info.

[2020-08-17 06:04] JustBeYou commented on #1023
I think I will give a try to the things under `js-ast-utils`:
* markup-syntax-hightlight/index.ts
* parser-core/comments.ts
* parser-core/ParserCore.ts
* parser-core/utils.ts
* string-diff/index.ts
* vcs/index.ts

[2020-08-17 08:09] ematipico commented on #1094
@yassere  Could you try again with this URL please? https://codesandbox.io/s/gifted-goodall-qdtgh?file=/src/index.js

[2020-08-17 09:11] nles opened #1103 "💭 add something like --disable-formatting"
I'm currently using Rome for a Next.js codebase (with TypeScript). It seems there's still some work to be done with getting JSX/TSX formatting rules up to speed with the best practices (https://github.com/romefrontend/rome/issues/341). I don't really care about things like single quotes vs double quotes, as long as there are some uniform practice in place. But things like the lack of `react/jsx-wr

[2020-08-17 09:48] sebmck opened #1104 "🐛 Progress bar bleed when running `rome ci`"
Something wrong with the cursor movement when clearing lines.

<img width="1792" alt="Screen Shot 2020-08-17 at 2 47 22 AM" src="https://user-images.githubusercontent.com/853712/90382788-14cb2400-e034-11ea-8d13-39711c90ac6a.png">

[2020-08-17 12:15] Sascha8a commented on #1021
I'm not expecting there to be full support for TypeScript Decorators, however would love it for them to be just "ignored". In this case, the class should be exported normally.

[2020-08-17 12:54] ematipico commented on #1104
I wonder, is there a way to test these cases? It's not the first time there are this kind of regressions and having some test could prevent them from happening.

[2020-08-17 14:50] jwondrusch commented on #1017
That worked fine for me.

[2020-08-17 16:41] nerdybeast commented on #1064
I can repro this by simply doing `npx rome init`:
![image](https://user-images.githubusercontent.com/15707802/90421106-c0449a80-e06d-11ea-8fb7-dcaf0fbf3531.png)

[2020-08-17 17:23] botoxparty commented on #556
Bump @patrickjm @ematipico

I'm sure everyones been super busy with the release, just bringing this back into consciousness to get it over the line.

[2020-08-17 17:55] ematipico commented on #556
@botoxparty basically if there's an attribute `ariaHidden`, you don't need to apply the rule.

I left some feedback on your PR some time ago.

[2020-08-17 20:03] sebmck opened #1110 "📎 Add explanation advice to manifest diagnostics"
Need to clarify that they aren't lint errors. We need to offer ways to fix them, and add necessary config options to add things like license exceptions. We can do better in the docs here too.

[2020-08-17 20:27] JustBeYou opened #1111 "🐛 Cannot access markupTemplateCache before initialization"
## Environment

[code]

## Steps To Reproduce

1. Create a file with the following piece of code (initially I created a `.test.ts` file, but the bug can be reproduced anywhere)
[code]
2. Run it and get the following error:
[code]

## Expected Results
Return an object with the highlighted code.

## Other mentions
As @sebmck pointed out, it looks like a dependency problem. I tried reordering the imp

[2020-08-17 21:41] sebmck opened #1112 "📎 Add `auto-config` command"
We would extract the config generation from `rome init` and move it into a `auto-config` command that can be ran with an already established Rome project. We can then supplement it with additional features such as automatic detection of invalid licenses, and other useful tools for "fixing" a project.

[2020-08-17 23:54] yassere commented on #1094
@ematipico  Ah, I understand what you're saying now. If you want your promise chain to wait on a promise, then you need to return that promise from your handler. That's true, but that's not always necessary and I think that the following code is normal:
[code]

I'm not trying to be negative. I do think these could be useful rules that would catch errors. But I also want to be cautious about rules

[2020-08-18 03:02] aravind1078 commented on #1023
i will give a try at `js-ast-utils/isFunctionNode`

[2020-08-18 05:23] sebmck opened #1116 "📎 Reenable integration tests"
I disabled them in #1115 as they are flaky and effect the ability for other contributors to run tests.

[2020-08-18 07:00] ematipico commented on #1094
Yeah this makes sense. What if the rules checks for the usage of at least two `.then` and if so, it checks for `return` inside the first `.then`. Does it make sense? Is it something that we could implement?

Also wonder if we'd be able to check this:

[code]

In this small example the function `a` should have a `return` in order to have a correct execution of `somethingElse` AFTER `a`. Probably th

[2020-08-18 07:07] ljharb commented on #1094
That's incorrect, though. There's *zero reason whatsoever* that `a` needs to return anything; if `somethingElse` doesn't expect an argument, everything will work perfectly, as-is.

[2020-08-18 07:44] ematipico commented on #980
Closing as it's been implemented

[2020-08-18 07:44] #980 closed

[2020-08-18 07:58] ematipico commented on #1075
I think I will start working on this and pause the markdown parser.

I believe this has more priority and it's stopping more and more people from using rome.

@sebmck did you have some idea in mind already?

We could have a top level config called `dependencies` and map the invalid licenses by package:

[code]

We could fill these information at project `init`. Do we have this information already

[2020-08-18 08:07] ematipico commented on #1094
Yes, but how many people know that? That's why I was wondering if we can have some linting around promises.

I mean, if I know that `somethingElse` doesn't need anything from `a` in terms of returned value OR it doesn't care about execution order, then why having it inside the second `.then`? It's confusing and not correct from my point of view. Do I miss something?

Instead, if `somethingElse` is

[2020-08-18 12:54] ematipico opened #1118 "💭 [lint] require `await` inside `async` functions"
Upstream rule: https://eslint.org/docs/rules/require-await

Basically I would like to propose a rule where we enforce the use of `await` if a function is marked with `async`.

Unfortunately with TypeScript we can bypass this check, so I think having a lint rule might be beneficial for us. I noticed this in one of the tests where the callback was marked as `async (t) =>` but there was no `await` in

[2020-08-18 13:06] aravind1078 commented on #1023
will try `js-ast-utils/getJsxElementName`

[2020-08-18 14:58] samccone commented on #1118
I would rework this rule to be a bit more nuanced, all async function calls should either be

1. prefixed with an `await`
2. consumed by another fn

for instance

[code]

That means that the following patterns would not error

[code]

but
[code]

would

[2020-08-18 16:10] ljharb commented on #1118
This eslint rule is horrifically bad and should never have existed in the first place. There are tons of benefits from using `async function` alone, and forcing use of `await both can make code less readable and can force an unnecessary tick (via `return await`, which is always an antipattern outside a try block)

Similarly, calling a sync function inside an async one is perfectly valid, and tryin

[2020-08-18 16:28] ljharb commented on #1094
That sounds like something a type system would handle, not a linter. There’s nothing about promises that suddenly enables static analysis of JS to know when a function is being called improperly.

[2020-08-18 16:50] bitpshr commented on #1118
If I'm understanding this proposal correctly, the intention of this rule is to mandate that `async` function bodies contain at least one `await` statement. This is tangentially related to - but different - than mandating how `async` functions are consumed, which is what I believe @samccone is referring to (which is a valid rule in my opinion, and one that we should track the creation of in another

[2020-08-18 18:45] nt591 commented on #1023
I'd like to take

js-ast-utils/tryStaticEvaluation.ts
js-ast-utils/tryStaticEvaluationPath.ts

[2020-08-19 00:02] yassere commented on #1094
It does get executed after `a`

`promise.then(a).then(somethingElse);` is equivalent to:

[code]

`somethingElse` won't execute until `aPromise` resolves.

If `a` returns a promise, then `aPromise` will resolve when that returned promise does.

If `a` doesn't return anything, `aPromise` will resolve when `a` has completely executed.

If `a` internally does something like `const promise = getData()

[2020-08-19 01:31] sebmck commented on #1017
I setup a Windows VM and I can confirm you can't create named pipes in `$TMP`. Not sure why and seems consistent to all Windows installs. I'm in the process of consolidating all the various directories we write to and I'll make sure to fix this.

[2020-08-19 01:33] sebmck commented on #1017
Lol from the [`net.listen`](https://nodejs.org/dist/latest-v10.x/docs/api/net.html#net_server_listen_handle_backlog_callback) docs:

We can figure something out.

[2020-08-19 01:53] ashi009 commented on #985
https://github.com/DavidAnson/markdownlint is great, but the defaults for those rules are less than ideal in terms of minimizing patch size and remove noise from code reviews.

For instance, an ordered list:

[code]

Will cause multiple line changes when inserts/removes items. However, the following one won't:

[code]

Also, notice the additional space between the item number and the content, whic

[2020-08-19 06:17] sebmck commented on #1104
Terminal cursor movement is really hard to define and manage. I'm open to suggestions on how we can regression test it. It's notably more difficult as progress bar rendering is not predictable and has a variable "frame rate".

[2020-08-19 06:21] #963 closed

[2020-08-19 06:46] sebmck commented on #1075
I think we should have a general place to put "package exceptions", where people can explicitly list invalid packages. The `dependencies` field is a good idea, but I would go even further and have something like:

[code]

Then when we're presenting the license errors we can have a diagnostic that says:

[code]

[2020-08-19 06:48] sebmck commented on #1075
Relevant files that would need to be changed are `internal/project` to add the project config fields. You would need to pass the information to `codec-js-manifest` somehow, there's a few different ways you could try. Keep in mind for that specifically, that it can't take a single `ProjectConfig` object, as with nested projects we need to be able to support checking against multiple. Let me know if

[2020-08-19 06:58] sebmck commented on #1017
Fixed by #1126.

[2020-08-19 06:58] #1017 closed

[2020-08-19 07:15] sebmck commented on #1076
Fixed by #1127.

[2020-08-19 07:15] #1076 closed

[2020-08-19 07:40] Blocked commented on #1033
Asking every other editor to follow `.editorconfig`, while Rome won't do the same is hypocrisy.  There should be a way to configure to  whatever style users want to use, regardless of the default superior objective opinion. Opinions shouldn't be forced.

[2020-08-19 07:52] ematipico commented on #1118
Thank you all for the constructive feedback! As suggested by @bitpshr I am going to open a new ticket to track the rule suggested by @samccone which is more focused the `async` part rather than the `await` part.

We can all agree that forcing an `await` inside an `async` function is a bad practice.

[2020-08-19 07:52] #1118 closed

[2020-08-19 07:58] ematipico opened #1128 "💭 [lint] suggested usage of `async function`"
This is an issue to track a suggestion from @samccone (https://github.com/romefrontend/rome/issues/1118#issuecomment-675530868); suggestion given while there was a discussion around [enforcing `await` inside `async` functions](https://github.com/romefrontend/rome/issues/1118).

Here's the suggestion of the rule

I like this suggestion and I think we should implement it.

cc @bitpshr

[2020-08-19 08:21] ematipico commented on #1094
Thank you for the feedback!

Nobody said anything around `new Promise.resolve` so I'd assume that it's a reasonable suggestion that could be implemented as lint rule, right?

Regarding the other two suggestions, let's forget about the `return` thing.

Is having a `.catch` a reasonable lint rule?