[2020-08-19 09:34] antonk52 opened #1130 "💭 lint/ts/useInterfaces has incorrect documentation"
I've been reading about already implemented rules and found that [`ts/useInterfaces`](https://romefrontend.dev/docs/lint/rules/ts/useinterfaces/) rather confusing. It openly states that the rule is equivalent to [`jsx-filename-extension`](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-filename-extension.md) which is about file extensions, not typescript interfaces as s

[2020-08-19 09:47] sebmck commented on #1130
The docs are completely wrong and likely the result of a copy+paste error when I was working on them in the rush for our official release.

The rule is intended to lint against the usage of object type aliases. However, when enabling it I noticed some critical errors that prevent its adoption, at least in the Rome codebase itself.

It is not possible to match interfaces with static fields against

[2020-08-19 12:19] botoxparty commented on #556
Oh shit i totally missed it @ematipico !

You provided very comprehensive feedback! I'll jump on it this afternoon.

[2020-08-19 16:55] sebmck commented on #1032
I thought I had already put up a PR but I have the automatic installation implemented in a branch.

[2020-08-19 16:58] mbrookes commented on #893
🎉

You [heard it here first](https://twitter.com/randomtechdude/status/984882660265873408) I even [tagged @babeljs](https://twitter.com/randomtechdude/status/985116570501484544)! 😉

(I wish I could _actually_ take credit for this being added to Rome, but glad to see it happen. I hope it paves the way for more tools to follow suit!)

[2020-08-19 17:35] ljharb commented on #1033
Regardless of what Rome decides to allow to be configured, it does seem like Rome should error when an editorconfig exists that it's not going to comply with - iow, Rome should either obey an editorconfig, or should force the editorconfig to match "what Rome does".

[2020-08-19 17:36] ljharb commented on #1128
The problem with this suggestion is that, in the absense of type info, it forces otherwise synchronous function calls to take an unnecessary tick (by adding `await`), which isn't just slower, but might also break things if same-tick semantics are important.

[2020-08-19 17:44] sebmck commented on #1033
@Blocked You aren't being somehow oppressed by this decision. The inability to customize something doesn't make it hypocritical to enforce other tools/editors to follow the same convention. There are many configuration options we could theoretically have, and their omission isn't some grandiose statement. Delete the `.editorconfig` if you want, nobody is forcing you to use it. We create it during

[2020-08-19 18:20] sebmck commented on #1128
I am generally against lint rules that can't be reliably inferred with static information, even `.then` makes me a bit uncomfortable since we don't know that it's actually a promise. Although 99.999% of the time it will be, especially since "thenables" are an actual spec detail.

It would be nice to keep a track of lint rules that are only practical, or reliable, with the usage of type information

[2020-08-19 18:24] sebmck commented on #1033
For what it's worth, anecdotes are the most useful here, since organizational blockers that would prevent adoption are the most serious issue. I am less likely to engage in hysterics and it just causes work in these areas to be deferred since I'd rather work on things that don't make people pissed off and post overtly negative comments.

[2020-08-19 18:36] SanketDG commented on #1032
I also have seem to put up a PR, do I continue on this?

[2020-08-19 18:39] ljharb commented on #1094
A generic lint rule that could be useful is warning on `new` used on any non-constructor builtin, but that wouldn't be specific to Promises.

[2020-08-19 20:27] Skalman opened #1133 "💭 Escape non-printable characters"
Having non-printable characters in the code can be very confusing. I'd suggest automatically reformatting some characters by using their escape sequences instead. Usually, when these types of characters are added to the source code, it's a mistake, and depending on the editor it may well be invisible and therefore very hard/annoying to debug.

[code]

## Whitespace

I've personally had problems wi

[2020-08-19 20:48] sebmck commented on #981
Wanted to ping this issue and see if anyone else had thoughts on this and think it would be a positive improvement.

[2020-08-19 21:06] sebmck commented on #1133
I could have sworn I created an issue related to this, but I might have just added a TODO to create one...

Our current strategy for determining when to escape characters isn't very good. Right now anything that isn't ASCII gets output as a unicode escape inside of strings. It's really an awful experience for users working in different languages.

As far as I know, Prettier gets around this by usi

[2020-08-19 22:20] barakyosi opened #1134 "🐛 Lint fails with `No context found` error"
## Environment

[code]

## Steps To Reproduce

1. Add a file with this content:
[code]
2. Run `rome check`

## Expected Results
Lint should run without failing.

## Actual Results
Lint fails with `✖ No context found` error.

[2020-08-20 06:07] sebmck commented on #1032
Merged #1135 which when ran in a folder with `package.json` that doesn't have `rome` specified as a dependency, will add it, and if a `yarn.lock` or `package-lock.json` exists, will run it.

Neither open PRs address how we would actually want to document this new behaviour.

If you are using npm, all you need to do is run:

[code]

And if you're using yarn:

[code]

Then any future commands would

[2020-08-20 13:55] dibenso commented on #1058
#1124 fixes this

[2020-08-20 13:55] #1058 closed

[2020-08-20 15:52] ematipico commented on #981
Personally, I found the `hr` refreshing, maybe because it was the first time I had seen it used by CLI in an efficient way.

From another point of view, I found it superfluous when copying it somewhere else because it might longer than the code blocked used inside a chat bloc or an issue block.

Maybe we could try to remove it and see how's the look and feel. I don't have strong opinions.

[2020-08-20 15:53] ematipico commented on #1032
@SanketDG will you send a PR?

[2020-08-20 16:12] ematipico opened #1136 "📎 Add test cases for different cache directories/platforms and make the code more abstract"
From https://github.com/romefrontend/rome/pull/1126#issuecomment-675890704

[2020-08-20 20:28] sebmck commented on #981
Yeah that's how I feel too. It's not common for CLI tools to adapt to terminal width and I guess having it makes it a lot more obvious. We can maybe do some tweaks since some people have missed that the filename is included to the left, but not sure if that's common.

[2020-08-20 21:15] adeyahya opened #1137 "💭 Support for module alias / module resolution"
I'm using module alias in typescript

tsconfig.json
[code]

but the linter saying `Cannot find @lib`
@sebmck answering [my question](https://discordapp.com/channels/678763474494423051/714237988145594428/746109838051901501) on discord, saying that this options doesn't available yet

I think it would be nice if the config same as typescript and Rome able to infer if not specified
[code]

[2020-08-20 21:18] sebmck commented on #1137
This isn't actually specific to the linter and if we add support for this, will automatically work with the bundler too!

With #1112 we can even automatically populate the Rome config with rules inferred from `tsconfig.json` (Just wanted to note that I am vehemently against us automatically doing this during project load. I think this should be an explicit action since we shouldn't be relying on o

[2020-08-20 21:30] Skalman commented on #1133
I assume what you're saying is that there are situations where you don't store the original location, meaning you can't reconstruct the raw value.

I'm not sure that it's possible to have a one-solution-fits-all without keeping at least some raw string values.

Here's me thinking out loud about my needs/preferences:
1. I always want to escape non-printable chars
1. I've had a modern environment ma

[2020-08-20 22:55] yassere commented on #1094
That sounds reasonable to me, although I agree with @ljharb that a generic rule could be useful. We have lists of builtins in `internal/compiler/scope/globals`, so I think we could check if the callee of a `JSNewExpression` matches one of those (as either an identifier or member expression) and then compare it with a list of known builtin constructors.

Here are a few more things to consider if we

[2020-08-23 16:07] jorrit-g opened #1144 "🐛 Internal error thrown when trying out Rome: Segments were normalized to an empty array"
## Environment
[code]

## Steps To Reproduce

1. `yarn add rome` in existing project
2. `rome init-apply`
3.  saw warning about potential destructive operation
4.  commited changes
5. `rome init-apply`

output in terminal:

`[1/2] Generating lint config and apply formatting

 project-rome/@internal/path/index.ts:823:8 internalError/request  INTERNAL  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

[2020-08-23 16:30] #1144 closed, assigned to nobody

[2020-08-24 12:25] aravind1078 commented on #976
@sebmck i wanna pick `Unnecessary continue` already started working on it, missing few cases currently will come up with a pr soon.

[2020-08-24 22:35] qw-in commented on #1051
Ran into this issue on `10.0.4-beta` node version `v12.18.3` after running `rome init` on existing project

<details>
<pre>
 Welcome to Rome! Let's get you started...

[1/2] Generating .editorconfig

 project-rome/@internal/path/index.ts:823:8 internalError/request  INTERNAL  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

  ✖ Segments were normalized to an empty array. Original: ["file:..",".."]

  10

[2020-08-25 05:16] aravind1078 commented on #976
do we want to remove the continue statement in `unnecessary continue`  rule or we just tell them that the continue is unnecessary here!

[2020-08-25 08:16] ematipico commented on #985
A couple of things that the formatter could do: spaces between blocks and automatically order a numeric list:

Before
[code]

After
[code]

[2020-08-25 09:17] ashi009 commented on #985
@ematipico Please see the comment I made earlier. Automatically order a numeric list is problematic in terms of code review and merge conflict resolution. If rome meant to be configure-less and reasonable, these small things should be considered as well, just like the choice of indentation.

[2020-08-25 09:59] ematipico commented on #985
@ashi009 Sorry, probably I missed your point. Could you explain me better what problems would cause fixing the `20.` to `2.`? Assuming that there won't be any change in spacing.

[2020-08-25 14:14] ashi009 commented on #985
Ha, apparently I didn't make myself clear about the case in the previous comment. Here is a detailed explanation on the case.

Assuming you have a markdown file with the following content:

[code]

After a while, someone realized that there is an additional step after A, say A2, now the file looks like:

[code]

Now, they send the change for code review and the diff is all over the file:

[code]

[2020-08-25 14:57] ematipico commented on #985
Oooooh I see your point now! To be honest, I didn't even consider a case like this. Is this what markdowlint does when it lints a file?

What I wanted to suggest was just **fixing the numbers** based on their position. Doing a sorting based on the text of each list item is something that I really don't want to consider 😆

I was suggesting something simpler:

Before
[code]

After
[code]

Is it some

[2020-08-25 16:27] ashi009 commented on #985
I think there is still some misunderstanding here.

markdownlint can be configured to do so.

My example was completely unrelated to the content-based sorting.

If the existing state is shitty like this, any linter can drive the entropy down.

There are multiple lines of changes here, which is nuts. The diff should be a single line change:

[code]

[2020-08-25 22:47] pikeas opened #1149 "Config can't be updated when project doesn't lint"
On first-use in an existing project.

## Environment

[code]

## Steps To Reproduce

1. Have a directory which causes `projectManager/nameCollision` (potentially any lint error, this is the one I had due to the project structure being in flux)
2. Run `rome config push lint.ignore "[that directory]"`
3. Config isn't updated:

[code]

## Expected Results

Config is updated.

Also, `rome config` with

[2020-08-26 07:11] ematipico commented on #1149
Hi @pikeas

Is it possible for you to share the project or a minimal repo to reproduce the issue, please?

This is not a lint error but a fatal error. As you may notice, the error category doesn't have `lint/` at the beginning of its name.

I am not familiar with this path of the code but it looks like there are two packages with the same name. If you shared a minimal repo, I might be able to help

[2020-08-26 07:20] ematipico commented on #985
I see now. I'm not sure if we can do something about it. I mean, also GitHub fixes the numeric list automatically and we aim to pair their behavior. Also IntellJ fixes the numeric list.

Here's an example of how Github fixes it:

![Numeric-list](https://user-images.githubusercontent.com/602478/91273246-e60c2680-e774-11ea-8088-0a66009f1dc5.gif)

If you wanted to keep the changelog to a minimum, you

[2020-08-26 07:28] ashi009 commented on #985
Github didn't **fix** it, they **render** it. The first page you are showing is the markdown source file, the second page is the preview of the generated HTML, which converts whatever number you put in the source file to `<ol>`s.

Linting happens to the source code, **not** the generated HTML. We are still not talking.

Bullet points are for enumerating things that don't care about ordering.

Some

[2020-08-26 08:06] ematipico commented on #985
Thank you! You made a good point!

[2020-08-26 13:06] sasurau4 commented on #1023
I'll work on `js-ast-utils/isNodeLike.ts`.

[2020-08-26 15:22] bitpshr commented on #1128
Circling back here; should we repurpose this ticket to be a list of rules that may be useful once proper type information is available @ematipico?

[2020-08-26 16:11] sebmck commented on #981
For that case it's because VSCode doesn't set `columns` so we're defaulting to like 180 columns and causes the wrapping.

[2020-08-26 19:57] pikeas commented on #1149
Hi @ematipico,

I've just confirmed that the following will reproduce the error:

[code]
Bonus: Rome's error message has a typo, `occured` should be `occurred`.

Basically, a tmp directory with some cruft. This particular repro is meant to simulate "I have an older downloaded copy of this project's package.json nested for reference ". It doesn't seem like Rome should block updating its config on a

[2020-08-26 20:49] pvarga-dni opened #1153 "🐛 public/protected/private TypeScript qualifiers removed from constructor arguments automatically by Rome"
## Environment

[code]

## Steps To Reproduce

1. Ran `rome check --review` but then didn't accept any of the proposed changes (pressed `n`).

2. Modifications like this are made to code: `class X { constructor(public y: z,` -> `class X { constructor (y,`

## Expected Results

Just fix formatting but don't remove the visibility modifiers and types.

[2020-08-27 14:46] claytron5000 opened #1154 "💭 How to handle libraries that implement onClick and onKeyPress for us"
Specifically, I'm using the Material UI Button component, https://material-ui.com/api/button/.

This component handles key events for us, and uses the `onClick` handler as a fallback: https://github.com/mui-org/material-ui/blob/master/packages/material-ui/src/ButtonBase/ButtonBase.js (line 212).

I don't want to have to re-implement the logic in `handleKeyDown`, and I also don't want to add suppre

[2020-08-27 15:20] ematipico commented on #1154
Hi @claytron5000 , could you share an example of the code that Rome doesn't like please?

I am not sure what the real issue is. If it the `{...props}` or something else.

[2020-08-27 16:42] sebmck commented on #1154
Should we restrict some of the a11y rules to only DOM elements?

[2020-08-27 16:44] sebmck commented on #1153
`JSBindingIdentifier` and `JSBinding*` formatter methods need to be updated to output `meta.accessibility`.

[2020-08-27 16:45] #1064 closed

[2020-08-27 16:47] sebmck commented on #1051
We haven't done a release in a couple of weeks, I'll try and have one out today as it will fix a ton of issues like this.

[2020-08-27 17:19] ematipico commented on #1154
I think so

[2020-08-27 17:22] ematipico commented on #1153
@sebmck I started looking at it and it's not only a format issue but also the parser. That information is not present in the final AST.

[2020-08-27 18:54] pikeas commented on #1078
I'm experiencing something that may be related to this. I've tried commenting out some lines in a JSX file, and Rome either a) reformats them from `{ /* <tag /> */ }` to a mess of multiline `{}`, or b) gets stuck in a loop when I try to suppress. This is quite inconvenient when actively working on a JSX file.

[2020-08-27 19:13] claytron5000 commented on #1154
@ematipico The issue is the missing keyhandler. This is venturing into secondary bug territory, but I'm going to show some of the issues here:

Sometimes it doesn't see the rome-ignore
[code]

And sometimes it thinks the suppression is unused
[code]

Let me know if I should create separate tickets for that issue, though restricting a11y rules to DOM elements would fix the entire issue for me.

tha

[2020-08-27 19:22] ematipico commented on #1154
Thank you @claytron5000 !

They are valid bugs, we should limit the rule only to DOM elements.

[2020-08-27 20:04] pikeas commented on #33
This is still an issue in 10.0.4-beta. Even with a pragma of `/** @jsx jsx */`, no file extension seems to satisfy Rome.

It may be tricky under the hood, but I would like to be able to use `.js`, or at least `.jsx` files *with* imports/exports, without a pragma, without `type: module` in package.json (not workable when using NextJS), and without multiple package.json files.

[2020-08-27 21:05] pikeas opened #1155 "🐛 Rome does not use tsconfig baseUrl"
## Environment

[code]

## Steps To Reproduce

1. tsconfig.json file with `"baseUrl": "."`
2. A tsx file with an import like `import foo from "styles/Foo.css"`
3. `rome check` throws `resolver/notFound`

## Expected Results

Rome is aware of absolute imports.

[2020-08-28 01:38] sebmck commented on #1078
Yeah it's the same issue. We don't correctly wrap comments with `{}` in scenarios where it would be considered JSX text. I don't think even Babel handles this, but we should.

[2020-08-28 01:41] sebmck commented on #1153
That's weird, `parseBindingListItem` and the `parseTSAccessModifier` call is where we'd be setting it.

[2020-08-28 01:53] #1130 closed

[2020-08-28 09:20] #1075 closed

[2020-08-28 10:41] iaravindreddyp opened #1156 "🐛 formatter breaks with labelled continue statement while running tests"
## Environment

[code]

## Steps To Reproduce

1. add below test in one of the test cases:
`loop: for (let i = 0; i < 5; i++) {
		continue loop;
}`
2.run `./rome test`
 rome fails to tokenize the labelled continue statement
![Screenshot 2020-08-28 at 4 08 37 PM](https://user-images.githubusercontent.com/22080780/91552105-e1986700-e948-11ea-91fd-1f589c6124aa.png)

## Expected Results

Rome should c

[2020-08-28 11:11] mucsi96 commented on #144
Today discovered esbuild. Which is at least 100x faster than the other JavaScript bundlers because it's written in Go.

Details: https://github.com/evanw/esbuild#benchmarks

[2020-08-28 13:20] MaxGraey commented on #144
No, not just because written in Go. [And that's menthoned in esbuild readme in why-is-it-fast section](https://github.com/evanw/esbuild#why-is-it-fast). esbuild has monolith architecture with minimal intermediate passes

[2020-08-28 13:47] bitpshr commented on #1041
Picking this one up.

[2020-08-28 16:03] caseyjhol opened #1159 "💭 Suppress noPropSpreading if using TypeScript?"
I'm using Material UI and trying to customize some of the components. So, I'm wrapping them in a new component and using prop spreading to pass the props down. I'm also using TypeScript, and I'm importing the components' associated interfaces from Material. This is triggering `lint/jsx/noPropSpreading`, but are there really any downsides to prop spreading when using it in conjunction with TypeScri

[2020-08-28 18:56] CodeByCorey commented on #1033
I understand the decisions you guys made.

You want to follow best practices and make sure everyone else is too.

The argument where tabs are the better choice because it allows every user to change the "size" of their tabs without affecting the code base is valid. I guess I just stick to spaces because that is required for python and it keeps me from having to switch between projects. I know that

[2020-08-29 10:11] ematipico commented on #1081
At the moment we internally use RJSON for testing our lint rules. If we decided to support YAML/TOML, what would happen to these files?

I can't see them ported into a YAML file. Would we port them into a JSON file?

[2020-08-29 10:14] ematipico commented on #1079
Is this a lint rule or a diagnostic of the compiler?

And what's the suggested change?

[2020-08-29 10:17] #1037 closed

[2020-08-29 10:18] ematipico commented on #1037
Next release will have a new configuration space where to store these invalid licenses

[2020-08-29 10:22] ematipico commented on #999
@estevanmaito do you still have this issue? Can it be closed?

[2020-08-29 10:22] #996 closed

[2020-08-29 10:23] ematipico commented on #996
Latest refactoring improved the architecture and performance of the testing structure.

[2020-08-29 10:26] ematipico commented on #993
It's been here for a while now, I'll take a stab a it!

[2020-08-29 13:55] estevanmaito commented on #999
No, I think it was related to the spacing in .md files, as fixing spacing solved the problem.

I still have a related problem with https://github.com/romefrontend/rome/issues/1065 which prevents me from contributing with anything that's not documentation :(

[2020-08-29 13:55] #999 closed

[2020-08-30 12:25] nordxai commented on #908
I believe this issue has been mitigated in #930, correct me if I'm wrong @sebmck? If correct, then it should be closed.

[2020-08-30 12:41] nordxai opened #1161 "💭 Commands passed to `ast-create-node` are very confusing, it should be based on the file-structure"
Hi Rome team,

Was going through the Contribution doc and came across the [`ast-create-node`](https://github.com/romefrontend/rome/blob/main/CONTRIBUTING.md#ast-create-node) section and the commands passed down to the script are very confusing and are not based on the file structure of the `ast` folder.

Rather than `./rome run scripts/ast-create-node [language] [nodeType] [category]`

This might

[2020-08-30 13:33] ematipico commented on #908
I think the idea was to do it automatically, which means updating the README file would be reflected to the website too. At the  it would be a manual process

[2020-08-30 20:41] #1041 closed

[2020-08-30 20:47] sebmck commented on #1159
I think the lint rule reasoning still applies, it's not clear what properties you actually care about. Maybe it's appropriate here to recommend a suppression. There might be another way we can balance this though since there are places where you're using types and just want to pass everything in.

I think the case you mention is common though. Wrapping another component you don't necessarily care

[2020-08-30 20:49] sebmck commented on #1033
We are most likely going to add indentation options but the default will stay as a hard tab. I expect this to happen when we add a bunch of other options (such as disabling lint rules etc).

[2020-08-30 20:50] sebmck commented on #1081
YAML wouldn't be too bad since you can do multi-line strings like:

[code]

We could pick whatever config format we would want to use internally.

[2020-08-30 20:52] sebmck commented on #1079
It's the lint rule `js/noShorthandArrayType` (it should actually be in the `ts` namespace). We ban:

[code]

And instead recommend:

[code]

The proposed change is flipping it and recommending `T[]` instead of `Array<T>`. The reason I added this rule in the first place was that `Array<T>` is the recommended pattern in Flow, which Rome was previously using.

[2020-08-30 20:54] sebmck commented on #1161
Sure, want to submit a PR? Those have grown organically, and there aren't any strong technical decisions or opinions behind any of the `scripts`.

Previously we never had separate language namespaces, we just had a `category`. When we added support for multiple languages I just renamed the `category` argument to `language` and added another `category` argument at the end.

Another approach is to j

[2020-08-30 20:55] sebmck commented on #908
Yeah this has been resolved. They are now both synced with a generation script and will error in CI if they aren't. Thanks for raising @nordxai!

[2020-08-30 20:55] #908 closed

[2020-08-30 21:43] #972 closed

[2020-08-30 21:47] #979 closed

[2020-08-30 22:12] sebmck opened #1162 "🐛 Incorrect heading level for `dependencies.exceptions.invalidLicenses`"
![Screen Shot 2020-08-30 at 3 11 10 PM](https://user-images.githubusercontent.com/853712/91670505-22bc8280-ead3-11ea-8249-19ea67a7e904.png)

It's too long and causes the sidebar to overflow

[2020-08-30 23:20] ljharb commented on #1079
This is a good change. It looks better, is just as obvious, and is shorter.

[2020-08-31 07:19] ematipico commented on #1162
yeah I had noticed that bug too and I forgot to open an issue.

What about the length of the wording? Maybe we should come up with a different wording in order to avoid these long names

[2020-08-31 08:26] nordxai commented on #1161
Absolutely mate.

And I do like your approach on the arguments being delimited by `/` and form one command, just like the way [lint-create-rule](https://github.com/romefrontend/rome/blob/main/CONTRIBUTING.md#lint-create-rule) command works.
Will look into the delete ast script and of course, the lint-create-rule before writing my implementation.

Cheers

[2020-08-31 09:29] hasparus opened #1165 "🐛 VSCode extension MemoryFileSystem crashes trying to format symlink"
👋 Hi! _@internal/core/server/fs/MemoryFileSystem.ts_ crashes when editing a symlinked file in VScode.

## Environment

[code]

## Steps To Reproduce

1. Create a file which would be formatted by Rome

[code]

2. Create a symbolic link `ln -s index.ts symlink.ts`

3. Open the symbolic link in VSCode and save it <kbd>Ctrl+S</kbd>

4. MemoryFileSystem crashes.

<img width="200px" height="200px" title

[2020-08-31 09:34] nordxai commented on #1161
Btw, I was already half way through the reimplementation of the aforementioned opened `issue` and found a bug on the current implementation of `ast-create-node` command.

The condition in question: https://github.com/romefrontend/rome/blob/4000dec37b06854b16e113a9c756905339c04c16/scripts/ast-create-node.ts#L25-L30
It looks like it's checking if the `filename` has a prefix of the `language` name an

[2020-08-31 09:46] #993 closed

[2020-08-31 12:17] ematipico commented on #1155
We might probably want to support aliases too. What do you think @pikeas ?

[code]

[2020-08-31 12:22] ematipico commented on #1103
PR open: https://github.com/romefrontend/rome/pull/1163

[2020-08-31 15:02] ematipico commented on #1079
I'll work on this one

[2020-08-31 15:33] pikeas commented on #1155
@ematipico Absolutely, anything that the Typescript compiler can resolve should be visible to Rome. I'm sure what a sane precedence policy is for tsconfig's include/exclude interacting with Rome's include/exclude.

[2020-08-31 16:00] ematipico commented on #1155
Great, there's a feature request for the aliases as well: https://github.com/romefrontend/rome/issues/1137

And we plan to enable this feature using the `auto-config`: https://github.com/romefrontend/rome/issues/1112

[2020-08-31 19:28] antonk52 opened #1168 "🐛 Unwanted optional chaining formatting"
## Environment

[code]

## Steps To Reproduce

1. While working with AST attempt to create an optional member expression that has more properties after the elvis(`?.`) operator or a call expression. For example `a?.b()`
2. See that it is automatically formatted to be `(a?.b)()`

## Expected Results

It should be formatted as `a?.b()`

There're some mentions of this bug in #1143, since it also appe

[2020-08-31 21:58] sebmck opened #1169 "📎 Website should not point to `main`"
The website should only point to the version that was at the latest release and we can cherry pick into that branch. Otherwise we need to wait for a release before merging documentation updates.

[2020-08-31 21:59] sebmck commented on #1103
You'll now be able to have `{format: {enabled: false}}` in your project config and formatting/autofixes will be disabled. You also will not get the autofix command suggestions.

[2020-08-31 21:59] #1103 closed

[2020-09-01 00:18] sebmck opened #1170 "🐛 Table of contents anchor links don't work on website"
When you click a TOC link in the website sidebar it doesn't get added to the URL. This is a regression.

[2020-09-01 04:28] aravind1078 commented on #1156
@sebmck @ematipico where should i head if i wanna try and fix this? the ast generated itself is getting undefined in the body but where should i look for the ast generation code...?

[2020-09-01 05:28] a1russell commented on #997
I know I closed this, but I wanted to add for posterity that deno bundle isn't currently intended for browsers:

https://github.com/denoland/deno/issues/6516#issuecomment-650756464

Other features like linting would still be a clash, though.

[2020-09-02 03:22] #1170 closed

[2020-09-02 13:13] Hina-creator opened #1175 "📎 <TITLE>"

[2020-09-02 15:40] Hina-creator opened #1176 "☂️ <TITLE>"

[2020-09-02 15:58] #1175 closed

[2020-09-02 15:58] #1176 closed

[2020-09-04 00:30] yoshixmk opened #1177 "🐛 Cannnot rome config push dependencies.exceptions.invalidLicenses"
## Environment

[code]

## Steps To Reproduce
I noticed that `vite` uses deep-freeze@0.0.1 and removed it first.
[code]
then,
[code]
And an error occurred during the check stage, bellow.
![image](https://user-images.githubusercontent.com/6196702/92185807-ccaf5c80-ee8f-11ea-9f9d-6937bbf4a523.png)
next,
I have also tried adding the config directly in rome.rjson , but it has been failure.
When I run

[2020-09-04 00:54] iOnline247 commented on #1039
I spent some time debugging this using ProcMon. I found some things of interest. The `NAME INVALID` errors have a file path prefix of: `C:\c:\`, which would cause problems. Hopefully, it helps.
Also, should this issue be reopened?

![name invalid](https://user-images.githubusercontent.com/515152/92187338-73abde00-ee27-11ea-80f3-50b458de00ac.png)

[2020-09-04 06:02] ematipico commented on #1177
Hi @yoshixmk , this feature is not available yet. We have a problem with the documentation where the new changes that are pushed to main are directly published to the main website. (We have an issue to track it)

This feature will be available next release

[2020-09-04 11:34] yassere commented on #1039
@iOnline247 Thanks for the help. That does look like a useful clue.

[2020-09-05 08:48] nordxai commented on #1161
So I went ahead and added a `whitelistedPrefix` array and added `TS`(for now), so that we can have different prefixes other than the main language which in this case was `js` and our prefix was `TSSomeFile.ts`.

[2020-09-07 11:05] nl3s commented on #1103
I'm trying to test this out, but it keeps failing with:

![image](https://user-images.githubusercontent.com/69427864/92381211-18256d00-f113-11ea-9ec6-5d46fcf84e22.png)

It seems that these changes have not gone out to the published version yet, so I tried running from the latest main branch (with no luck...)

Here's what I did to run `rome check` with a version from the main branch:
[code]

My .co

[2020-09-07 12:07] ematipico commented on #1103
Hi @nl3s , unfortunately we haven't released this feature yet. At the moment we have an issue with the official documentation that gets updated straight from the `main` branch.

[2020-09-07 12:08] ematipico commented on #1103
Would you mind open an issue @nl3s ? I think I know what's the issue

[2020-09-07 16:56] nl3s opened #1181 "🐛 "format" config property not working"
The "format" config property does not work even when running against the latest `main` branch. Some discussion related to this also at https://github.com/romefrontend/rome/issues/1103

![image](https://user-images.githubusercontent.com/69427864/92407612-bd583980-f143-11ea-8321-dcc62278cf37.png)

## Environment

[code]

## Steps To Reproduce

Here's what I did to run rome check with a version from

[2020-09-07 17:09] EduardoLopes commented on #1162
Closing this because the issue is already fixed. But use different wording to avoid long names is a good idea.

[2020-09-07 17:09] #1162 closed

[2020-09-08 18:55] josephspurrier opened #1182 "🐛 project-rome/@internal/core/server/WorkerManager.ts:323:5 internalError/fatal INTERNAL"
In VSCode, it throws fatal errors when I try to save a file: `project-rome/@internal/core/server/WorkerManager.ts:323:5 internalError/fatal  INTERNAL`.

## Environment

[code]

## Steps To Reproduce

1. Clone this repository: https://github.com/josephspurrier/mithril-template
1. CD to the repo
1. Run: `npm install -g rome` and `npm install -S rome`.
1. Install the VSCode extension
1. Open VSCode
1

[2020-09-09 12:21] ematipico commented on #1182
Hi @josephspurrier , we strongly suggest to not install rome globally.

About the issue, have you tried to run `npx rome init` first? Or having a valid configuration? The issue is clear I know how to fix it, it's strange though that rome tries to work on your node modules.

[2020-09-09 13:35] josephspurrier commented on #1182
Ah `npx rome init`, that's how you get it to run without being installed ;-) Do you have a `common pitfalls` page or wiki to help with troubleshooting (I'm just going to start deleting files until I get it to work)?

Awesome work by the way, this is what the ecosystem needs.

[2020-09-10 00:26] josephspurrier commented on #1182
It looks like removing the webpack config fixes this error: https://github.com/josephspurrier/mithril-template/blob/master/webpack.config.js.

[2020-09-10 17:52] roman-rr commented on #1
Hello everybody, especially logo author!

I was inspired by this logo works provided and would like ask author to create something similar for my product [cupertino-pane](https://github.com/roman-rr/cupertino-pane)

I will happy to pay or donate some amount in my gratitude, please contact me with email: romwtb@gmail.com

[2020-09-10 22:04] sebmck commented on #1051
Hey! Not at the moment, sorry 😢 I have had restricted time to work on Rome but it will stabilize in a couple of weeks. If another core contributor who is reading this is interested in cutting a release and writing a changelog then I can defer it to them and add the relevant permissions.

[2020-09-11 07:21] #1181 closed

[2020-09-11 15:10] #1161 closed

[2020-09-11 18:55] matAlmeida opened #1184 "💭 Translate the documentation"
Do you guys have in mind to translate the documentation at some point? With the hacktober fest on the window I think that would be a great time to get some new users into the github's world while helping the rome's project. If is something that you guys have in mind I can help with the pt-br translations.

[2020-09-11 18:57] sebmck commented on #1184
Hey! I'm not sure if we're quite ready yet to encourage that sort of adoption and the documentation is still really immature and I can imagine it extremely difficult to coordinate updates.

@jamiebuilds has had success with setting up crowdin for other projects, and I think it'd be a pretty sizable amount of work to set it up with our website build tooling and eleventy. That's potentially a change

[2020-09-11 19:06] matAlmeida commented on #1184
Totally got it. It's a tough task to keep all synced.

Any news I would happily help with it.

[2020-09-13 10:38] andersekdahl commented on #8
Is there anything written down around your thoughts/plans on AST transformation?

I'm particularly interested in interop with how Typescript does it or getting access to type information during AST transformation. There's a lot of interesting optimization that's possible when you have access to `ts.TypeChecker` that is either really hard, or much less robust without it.

[2020-09-15 05:53] roman-rr commented on #1
@MaggieAppleton
Please answer on instagram direct 🤓

[2020-09-15 12:08] orta commented on #1
Hi @roman-rr - this is pretty toxic behavior, Maggie hasn't ever posted in this thread and you're asking her to respond to your DMs in public:

![Screen Shot 2020-09-15 at 8 04 47 AM](https://user-images.githubusercontent.com/49038/93208003-dd7e8e80-f729-11ea-8f5e-e4bfd811560d.png)

[2020-09-15 12:53] roman-rr commented on #1
@orta Thank you for advice.

[2020-09-16 13:44] sasurau4 commented on #1156
I couldn't reproduce this bug in e41e4e7d8ae619a96f503b8b2488c719d721dba4 (Today's main latest).
I created following `test.test.ts`, ran `./rome test test.ts` and passed the test.
Any other steps to reproduce the bug or already fixed it?

[code]

[2020-09-17 00:24] richardaum opened #1187 "🐛 "No file handler found" error causes the VSCode extension to stop unexpectedly"
## Environment

[code]

## Steps To Reproduce

1. Clone the following repository: https://github.com/richardaum/sample-project
1. Run `npx rome check` to see the following output: ✖ **No file handler found for '/home/richardaum/projects/sample-project/src/index.scss'**.
1. Open the project on Visual Studio Code
1. Install and enable the official Visual Studio Code Rome extension.
1. Wait until it

[2020-09-19 20:55] richardaum commented on #1169
How does the `website` is published to the host? Locally using some sort of CLI?

[2020-09-21 13:03] EduardoLopes commented on #1169
It uses Netlify continuous deployment

[2020-09-25 11:38] ia17011 commented on #1023
I'll take  `js-ast-utils/isTypeNode.ts`

[2020-09-27 17:59] #1154 closed

[2020-09-27 18:05] #1153 closed

[2020-09-28 12:12] #1032 closed

[2020-09-28 23:35] cherihung commented on #1177
is the next release with this feature the only way to bypass/address this error?

[2020-09-29 11:13] ematipico commented on #1177
@cherihung yeah that's the only way.

An invalid license (of the libraries as dependencies of the project) is an error for Rome.

[2020-09-29 12:23] alappe opened #1190 "🐛 Segments were normalized to an empty array. Original: ["file:..",".."]"
## Environment

[code]

## Steps To Reproduce

1. `npx rome init`, resulting in:

[code]

## Expected Results

I expected it to generate a config and let me explore the power of rome.

[2020-09-29 14:44] ematipico commented on #1190
Hi @alappe , thank you for filing the issue!

Can you share your `package.json`? If possible. It might help to triage the issue

[2020-09-29 14:48] alappe commented on #1190
@ematipico Sure:

[code]

The local packages do exist and webpack builds the project without complaints. Happy to provide more information…

[2020-09-29 14:57] ematipico commented on #1190
As I thought, the issue is with local paths `"file:../../"` that Rome probably doesn't know how to handle. Thank you for providing these information!

[2020-10-01 06:50] ematipico opened #1191 "☂️ TOML support"
Having TOML support would allow Rome to correctly read `.editorconfig`, which is a standard to set up the format configuration of the project.

Which means, we'd need to start the works by creating a parser.

As a plus, we could move our `rome.rjson` to TOML.

[2020-10-04 18:52] antonk52 opened #1199 "🐛 Invalid bundling for code with optional chaining"
## Environment

[code]

## Steps To Reproduce

1. Create a `foo.ts` file with the contents
[code]

2. run `./rome bundle ./foo.ts ./dist`
3. Open `./dist/foo.js` to see the following

[code]

This produces invalid code, which breaks at the runtime. Ie `TypeError: cannot get add of undefined`

## Expected Results

Bundle command should not introduce new ways for code to error out. To be more specif

[2020-10-05 22:04] antonk52 commented on #1199
I've looked into how rome handles `optionalChaining` and it looks like there might be some non-intuitive behavior with optional call expressions as well. Below is what I've found. Not sure if this should be extracted into a separate issue.

Any call expression that has `?.` anywhere in the callee is marked as `JSOptionalCallExpression`. Which is okay, however there is no indicator if `?.` is betwe

[2020-10-05 22:04] ayshiff commented on #1067
Can I work on this @sebmck ?

[2020-10-06 21:23] ludofischer commented on #976
I am currently trying to write `Expression statement that is not assignment or call`. Down from 12115 false positives to just 329... For the benefit of others attempting a similar task, it helps to know that the AST (Abstract Syntax Tree) format looks similar to [ESTree](https://github.com/estree/estree) and you can paste code into https://astexplorer.net/ to get an idea of how it’s parsed (I thin

[2020-10-07 05:45] ematipico commented on #976
@ludofischer Rome has also a command called `parse` that write to screen the AST:

[code]

[2020-10-07 07:04] ematipico commented on #1199
I also noticed that the babel's output is different from our output [here](https://babeljs.io/repl#?browsers=&build=&builtIns=false&spec=false&loose=false&code_lz=IYfgdARgFAlA3EA&debug=false&forceAllTransforms=false&shippedProposals=false&circleciRepo=&evaluate=false&fileSize=false&timeTravel=true&sourceType=module&lineWrap=true&presets=env%2Cenv&prettier=true&targets=&version=7.11.6&externalPlugi

[2020-10-07 19:30] antonk52 commented on #1199
@ematipico if you mean the comparison to `null` and `undefined` than it will be the same if `loose mode` is enabled for babel. However, we still need to fix rome's output replacing the outermost expression with a ternary and I think adding a flag to optional call expressions to see if it is the very the call expression that is optional or an object on which we are calling a method

[2020-10-10 19:33] jellydn opened #1202 "🐛 Expected token ParenClose but got Word for unknown license"
## Environment

[code]

## Steps To Reproduce

1. Install `dom-storage` package
2. Run `yarn rome check`
[code]

## Expected Results
 It should work without the internal error. Probably, this is the root cause https://git.coolaj86.com/coolaj86/dom-storage.js/src/branch/master/package.json#L16

[code]

[2020-10-11 19:16] Mr-Chilly opened #1203 "🐛 rome check - Javascript heap out of memory"
## Environment

[code]

## Steps To Reproduce

1. `npm i rome -g` -> `rome init` -> `rome --help` -> `rome check`

## Expected Results

I'm not sure guys; some sort lint error I guess? I got this instead:

[code]

[2020-10-13 14:45] evilebottnawi commented on #984
@sebmck @ematipico  Need help? I have long dreamed of rewriting postcss/stylelint/cssnano (over the years, many problems have accumulated, especially related postcss - lack of opportunities of parsing). Many stylelint rules was written/rewritten by me, cssnano (minificator for CSS) lately supported by me, have worked on CSS formatting in prettier. But I would like to discuss some aspects a little,

[2020-10-15 18:27] #765 closed

[2020-10-16 04:29] sebmck commented on #1067
@ayshiff This issue should have actually already been closed since we now do this, among some other bundle concat optimizations.

[2020-10-16 04:29] #1067 closed

[2020-10-17 09:05] ematipico commented on #1202
Hi @jellydn, yes that's invalid license. The next release will have a configuration that would help to ignore these invalid licenses.

[2020-10-17 09:07] ematipico commented on #1203
Hi @Mr-Chilly, would you be able to share the source code of the project?

[2020-10-17 14:18] jer3m01 opened #1208 "💭 Bundler & Plugins"
Used to track discussion related to the rome bundler and the design of it's plugin system.

[2020-10-17 15:57] jer3m01 commented on #1208
Plugins could be made using callbacks similar to Laravel's middleware https://laravel.com/docs/8.x/middleware#defining-middleware.
[code]

This would also make the backend implementation fairly easy. *This should in theory be working*
[code]

[2020-10-19 07:47] ematipico commented on #1208
I think the philosophy of the bundler should reflect what the modern web development needs.

We still need a bundler for when we ship code to production (still) but we don't need a bundler for develop our applications locally. That's where snowpack and vite shine. I believe Rome should follow the same philosophy.

ESM modules for web development, optimized build for production.

That being said, a

[2020-10-19 09:32] koriolis commented on #1190
Hi. Just to add a little information that might be useful. I got the exact same problem/error and my `package.json` doesn't have any local paths defined.
Suspecting - for some reason - that it might be a conflict with an installed package, I triaged every single package on my setup on an empty folder, removing them one by one and doing a fresh install followed by `npx rome init`.
In my case a dev

[2020-10-22 20:24] jer3m01 commented on #1208
ESM modules for development and optimized builds for prod sound like the way to go.

Had a quick look to Parcel's plugin system, really like the idea of auto loading & splitting them.
The splitting is a bit similar to my example with the different stages, now how to implement it would need a bit more input.

@sebmck any takes on this?

[2020-10-24 22:15] sebmck opened #1211 "📎 Add domain suggestion and original GitHub org owner to website credits"
From #1210:

[2020-10-26 16:56] noftaly opened #1214 "🐛 Little problem with the "preferOptionalChaining" documentation"
I just wanted to report that the doc page of the "preferOptionalChaining" rule, on the website, is the raw markdown: https://rome.tools/docs/lint/rules/js/preferoptionalchaining/

[2020-10-27 02:49] aravind1078 commented on #1214
This is due to tab spaces because of the bug in the script which generates these files fixed the script.I will take this up as well!

[2020-10-27 07:06] #1214 closed

[2020-10-27 11:56] darthmaim commented on #985
- Frontmatter should also be parsed and linted. See discussion in #1215.
- Codeblock styles (fenced/indented) should be linted (at least to be consistent per file)
  fenced code blocks have the advantage that they can contain an [info string](https://github.github.com/gfm/#info-string).

[2020-10-28 13:42] evilebottnawi commented on #984
cc @sebmck @ematipico friendly ping

[2020-10-31 12:22] ematipico commented on #984
Hi @evilebottnawi , at the moment @bitpshr has made a stable base for the CSS parser although there are still some aspects missing (I can't remember the details but there some sub grammars that are not supported yet).

Although we could potentially start writing something around linting, which is the first step I think (together with the formatter).

About minification/purgin, there's nothing yet

[2020-11-09 05:38] jer3m01 commented on #1043
Should this issue be closed?

[2020-11-09 09:04] ematipico commented on #1043
True, going to do that

[2020-11-09 09:04] #1043 closed

[2020-11-10 08:20] pizzafox opened #1217 "💭 Docs and their discussions should be separated for readability"
## The problem

Looking at issues like #3 we have a short issue that tells us exactly what we need to know about diagnostics in Rome, great.

But other issues like #20 are not as concise.  It starts off like #3 but has a long discussion about linting in Rome. Discussions like this are great, but it can make extracting information about Rome's current state harder.
Do I need to read 38+ replies to

[2020-11-13 20:51] sebmck commented on #977
I believe I've already done this. Let's open individual issues if we find anything particularly problematic.

[2020-11-13 20:51] #977 closed

[2020-11-13 20:52] sebmck commented on #1190
This should be fixed in `main`.

[2020-11-13 20:52] #1190 closed

[2020-11-14 13:04] #1079 closed

[2020-11-15 21:47] likern commented on #1096
Would be interesting to know how to use this project in / for React Native.

[2020-11-16 11:34] ematipico commented on #984
We need to implement the following selector syntax: https://www.w3.org/TR/selectors-4/#syntax

[2020-11-16 12:00] evilebottnawi commented on #984
@ematipico Thanks for answer, I'll look at the code and get back to it in near future, maybe we should start with CSS formatter (without scss/less/etc), it should be easy and will allow finish parser, good parser = good linter

[2020-11-16 17:42] tomhodgins commented on #984
@ematipico Let me know if there's anything I can do to help, either by providing samples of valid CSS syntax, or hunting for things in specs (tokens, productions, etc). I've already got a bunch of tools I use in my own work for parsing or validating pieces of CSS syntax according to the spec :D

- tool to parse samples of CSS according to the parser entry points defined in the CSS syntax spec: htt

[2020-11-19 13:47] antonk52 opened #1221 "🐛 Fails on long files"
## Environment

[code]

## Steps To Reproduce

1. clone [flowts](https://github.com/zxbodya/flowts/) repository
2. install rome using `npm i -D rome`
3. init rome using `npx rome init` and see that it will complain with `Duplicate package name flowts`
4. Edit name to "flowts-cli" in `packages/cli/package.json`
5. Run check again with `npx rome check` and see it failing with the output below

[code

[2020-11-20 13:41] antonk52 commented on #1221
I've realized that I did not provide the link to the [repository](https://github.com/zxbodya/flowts/) 🤦‍♂️

[2020-12-06 02:17] TheJaredWilcurt opened #1222 "📎 Vue + Sass"
Everytime I see a new "webpack killer" I say "FINALLY, I hate webpack". Then I go look at it and the first thing I check is can it handle Vue Single File Components that use Sass. Then I say "Oh well, maybe next year".

[code]

[2020-12-06 02:23] sebmck commented on #1222
Ok? Do you have a particular question or are you looking for a specific response?

Sass and Vue on their own aren't trivial to implement and would require significant time and engineering resource investment.

If you want us to support something it's probably a good idea to not be so inflammatory from the beginning. Nobody here gets paid to work on Rome.

[2020-12-06 02:23] #1222 closed

[2020-12-06 03:41] sebmck commented on #1222
Actually this isn't the first time I've dealt with you before. 5 years later and you haven't changed. babel/babel#2056. Don't use my software.

[2020-12-09 21:28] SuperKruse opened #1226 "Formatter is removing type declarations before tagged templates"
Formatter is removing type declarations before tagged templates

[code]

becomes
[code]
When the linter/formatter runs

[2020-12-09 21:50] mmkal commented on #1217
Looks like discussions were enabled: https://github.com/rome/tools/discussions

[2020-12-10 01:35] cassiebeckley commented on #983
Is anybody working on this? I'd be interested if not.

[2020-12-10 03:55] pizzafox commented on #1217
With discussions enabled following a structure similar to what Next.js has been doing for their big features is probably a good setup (see [image RFC](https://github.com/vercel/next.js/discussions/16832)).

[2020-12-10 05:06] gie3d commented on #1023
I'll try `js-ast-utils/valueToNode.ts`

[2020-12-10 11:03] ematipico commented on #983
Not at the moment @cassiebeckley , you can pick it up if you wish!

What's missing (as far as I know):
- `CDATA` parsing
- parsing of self closing tags

And surely there are more cases that I didn't think about.

If possible, it would be great to change the current parser and make it spec compliant. With did that with our current CSS parser and should do the same with our current HTML parser.

[2020-12-13 22:38] sebmck commented on #1217
I agree! I did enable GitHub Discussions when I saw they were available. Separating tasks/bugs and discussions will go a really long way to making things more manageable. I'll update our issue templates and convert all the discussion labeled issues to discussions.

[2020-12-13 22:41] #556 closed

[2020-12-13 22:41] #1094 closed

[2020-12-13 22:42] #1128 closed

[2020-12-13 22:42] #1208 closed

[2020-12-13 22:42] #1217 closed

[2020-12-13 22:42] #42 closed

[2020-12-16 09:25] iOnline247 commented on #1039
Circling back on this... Any progress?
I could start a PR, but I'm not too sure where to look at in the code for sus out this bug. Can you give me some tips and I'll start poking around.

[2020-12-17 17:23] tkeiyama opened #1238 "🐛 internalError/request occurs when React returns React.Fragment in a conditional operator"
## Environment

<details>
<summary>rome rage --summary</summary>

[code]

</details>

## Steps To Reproduce

<details>
<summary>Error</summary>

[code]
</details>

1. This error occurs when a React component returns only `<></>`(or `<React.Fragment>`).
`undefined` was good.

## Expected Results

`lint` is passed with no error.

Please let me know if you need more details.
Thanks.

[2020-12-17 18:25] ematipico commented on #1238
Hi @tkeiyama , thank you for reporting this. Could you share the wrong code here, please? (what you have inside Dialog.tsx).

I have been trying some dummy code locally and I don't get the error.

[2020-12-18 12:02] tkeiyama commented on #1238
Hi, @ematipico .
Thanks for checking my issue.
Here is my code which I modified a little bit to share.

[code]

If I replace `<></>` with `undefined`, rome doesn't show me an error. (The browser shows me an error though.)
So I guess the `<></>` part is the problem.

If I'm doing something wrong, please let me know.
Thank you.

[2020-12-18 13:43] tkeiyama commented on #1238
I changed the title because the previous one makes people misunderstand the problem.

[2020-12-19 07:19] ematipico commented on #1203
@Mr-Chilly any news?

[2020-12-21 11:53] ematipico commented on #1203
Going to close as there aren't enough information. Please create a new issue once there are sufficient way to reproduce the issue.

[2020-12-21 11:53] #1203 closed

[2020-12-21 15:31] achille1789 opened #1243 "export * as ns Syntax"
## Environment

[code]

## Steps To Reproduce

1. I have an index file where I am importing/exporting some utilities as documented in here (TS code is compiled with no issues): https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-8.html#export--as-ns-syntax
2. Here is the code: export * as utilities from "./utilities";
3. Then I run rome check
4. And I get this log error:
[code]

[2020-12-21 16:38] antonk52 opened #1244 "📎 Typescript v4.1 & template literal types support"
The new typescript version has been out for some time now and it introduced [Template liternal types](https://devblogs.microsoft.com/typescript/announcing-typescript-4-1/#template-literal-types).

This issue is for updating the typescript in node_modules and adding support for the new feature.

[2020-12-21 17:04] sebmck commented on #1243
Thanks for the report! I'm happy we invested in decent error messages since it helps a lot with debugging.

[2020-12-22 06:25] wingdeans opened #1245 "🐛 Incorrect .editorconfig generation in [rome init]"
Running the getting started steps from [here](https://rome.tools/#getting-started) creates an .editorconfig which does not apply to json files.

## Environment
[code]

## Steps To Reproduce
1. `yarn add rome`
2. `yarn rome init`
3. `yarn add editorconfig`
4. `yarn editorconfig package.json`

## Expected Results
Removing the spaces after the commas in the generated .editorconfig yields the expected

[2020-12-22 07:51] #1226 closed

[2020-12-22 10:02] ematipico commented on #1245
This should really easy to fix! A good first issue, PR welcome :)

[2020-12-22 10:08] ematipico commented on #1244
I think the version 4.1 brings to the table more features (and we don't have yet all the features we should support form version 4.0):
- variadic tuples: https://www.typescriptlang.org/docs/handbook/release-notes/typescript-4-0.html#variadic-tuple-types
- labeled tuples: https://www.typescriptlang.org/docs/handbook/release-notes/typescript-4-0.html#labeled-tuple-elements
- key remappings in mapped

[2020-12-22 12:05] ematipico commented on #1039
No news unfortunately :( most of us don't have a Windows OS, so it's difficult to triage the issue. Any help is welcome!

About where to look at:
- https://github.com/rome/tools/blob/main/internal/core/server/lsp/LSPServer.ts: this is where the bulk of the job happens
- https://github.com/rome/tools/blob/main/public-packages/vscode-extension/index.ts: this the VSCode extension, it doesn't do much

[2020-12-22 14:15] andreujuanc opened #1247 "🐛 Timeout and fail while requesting analyzeDependencies"
## Environment
#### Docker image:
`mcr.microsoft.com/vscode/devcontainers/javascript-node:0-14-buster`

#### Rome rage:
[code]

## Steps To Reproduce

1. package.json
[code]
2. npx rome check

## Expected Results

I was just checking the project out, but it didn't work.

This is the rome check output:

[code]

[2020-12-22 14:18] andreujuanc commented on #1247
UPDATE:
I did steps suggested here https://github.com/rome/tools/issues/1182 but nothing 😢

[2020-12-22 16:34] ematipico commented on #1247
Any chance you could share the project as repository?

[2020-12-22 16:43] andreujuanc commented on #1247
@ematipico  no, i cannot, but I will try to setup a repo to repro it.
Anything I could do meanwhile ? Any other info/data you would need?

[2020-12-22 17:04] ematipico commented on #1247
I think I have a pretty good idea, Rome is dying while analyzing `typescript.js`, which is a 9MB  file. It's not the first issue we have about the analysis of big files. Not sure how we should tackle the issue, probably @sebmck has some insight.

[2020-12-22 17:29] andreujuanc commented on #1247
Hi @ematipico
I setted up repro steps and I even got a slightly different error:
[code]

## REPRO

My goal was to add rome to a side project I'm working on, so it goes like this:
## With VSCode

1. Install extension ms-vscode-remote.vscode-remote-extensionpack
2. Do this:
[code]
3. Extension will prompt to "Reopen in Container". Click that button.
4. Add rome (cos it's not yet in the template:
[co

[2020-12-22 22:14] #1238 closed

[2020-12-23 01:23] jer3m01 commented on #1023
Removed @JustBeYou from `parser-core`, and @ia17011 from `js-ast-utils/isTypeNode.ts` as there haven't been any updates for a few weeks.
If you want to take them back just post a comment.

[2020-12-23 15:56] #1245 closed

[2020-12-23 15:56] #1199 closed

[2020-12-23 16:31] ematipico commented on #1191
This is now done!

[2020-12-23 16:31] #1191 closed

[2020-12-26 18:27] #772 closed

[2020-12-28 11:52] Andrew-Dyachenko commented on #1190
I got the same problem with `"rome": "^10.0.4-beta"` :neutral_face:
The error occurs at the first start with `yarn rome init` command at the project directory

**Screenshot**

![Снимок экрана 2020-12-28 в 14 31 00](https://user-images.githubusercontent.com/10127643/103211744-0d892080-491a-11eb-8e5f-bf949d76407b.png)

**package.json**

[code]

**Spoiler:**

[code]

[2020-12-28 14:36] ematipico commented on #1187
This is fixed on `main`

[2020-12-28 14:36] #1187 closed

[2020-12-29 07:53] Andrew-Dyachenko commented on #1190
Could you please recheck this issue?

[2020-12-29 07:59] ematipico commented on #1190
@Andrew-Dyachenko as Sebastian wrote, this  issue is fixed in the current branch `main` but not yet published. Once we publish a new version (no ETA unfortunately), it should fix your issue.

[2020-12-29 14:29] Naturalclar commented on #1023
I'd like to work on `js-ast-utils/isTypeNode.ts`

[2020-12-29 14:34] jer3m01 commented on #1023
@Naturalclar A test for `js-ast-utils/isTypeNode.ts` is no longer needed as it's covered by the test for `js-ast-utils/isInTypeAnnotation`.

But thanks for wanting to help!

[2020-12-29 14:37] Naturalclar commented on #1023
@jer3m01 got it, thanks for the info!

[2020-12-30 09:47] Andrew-Dyachenko commented on #215
I got similar problem.

After issue [#1190](https://github.com/rome/tools/issues/1190), I am trying to work around the problem by building the release myself from the `main` branch, which already contains the required patch, but has not yet been published as **NPM** package. To build release I'm using command `node scripts/build-release dist` at cloned  **rome/tools** project directory However, th

[2020-12-30 10:08] Andrew-Dyachenko commented on #1190
I tried to build the release myself, until it works due to unmet dependencies. Posted this problem here: [#215](https://github.com/rome/tools/issues/215)

[2020-12-30 10:36] ematipico commented on #215
Hi @Andrew-Dyachenko , if you want to use Rome straight from `main` you don't need to bundle it at all. Rome is ready to be used as itself. Just the command you need inside your project.

- checkout rome (`tools` folder)
- go inside your project
- use rome inside your project

[code]

[2020-12-30 15:39] pradel commented on #982
As https://github.com/rome/tools/pull/1235 was merged this one can probably be closed.

[2020-12-30 15:45] #982 closed

[2020-12-30 16:15] antonk52 commented on #1168
This has been fixed and no longer an issue

[2020-12-30 16:16] #1168 closed

[2021-01-03 14:09] Andrew-Dyachenko commented on #215
@ematipico Thank you you, your hint for starting **Rome** straight from the `main` branch helped, but there were other warning. Should I ignore the warning below if I using `main` branch to launch **Rome** in project directory?

**Warning:**

[code]

**Screenshot:**

![Снимок экрана 2021-01-03 в 13 11 35](https://user-images.githubusercontent.com/10127643/103476443-b6c29180-4dc6-11eb-9c0c-e1afe0d3

[2021-01-03 14:20] ematipico commented on #215
Those warnings are there for a reason. You can use those commands but in the future their behaviour can change, just that.

About the error, it's a valid and fatal error. The license is invalid so you'd need to tell Rome to ignore it or fix it with a valid license.

[2021-01-06 09:59] ematipico opened #1284 "🐛 Error while trying to start a new daemon"
## Environment

[code]
[code]

## Steps To Reproduce

1. checkout `main` branch
2. run command `./rome start`
3. waiting until you get the error

Stacktrace error:

[code]

## Expected Results

I expect to have the daemon running.

[2021-01-08 17:14] yeonjuan commented on #984
Hi. I'm interested in CSS syntax and contributing to supporting it. Here is the current state.

### Current State

### values

 - [x] [css-values - number](https://www.w3.org/TR/css-values-3/#numbers)
 - [x] [css-values - dimension](https://www.w3.org/TR/css-values-3/#dimensions)
 - [x] [css-values - percentage](https://www.w3.org/TR/css-values-3/#percentage-value)
 - [ ] [css-values - string](htt

[2021-01-10 12:25] ematipico commented on #984
Namespace: https://www.w3.org/TR/selectors-4/#attrnmsp
Keyframes: https://www.w3.org/TR/css-animations-1/#keyframes

[2021-01-13 10:20] yeonjuan opened #1295 "🐛 formatter should not remove generic trailing comma in tsx"
## Environment

[code]

## Steps To Reproduce

1. write below example in a file with `.tsx` extension
[code]

2. run formatter

[code]

- output

[code]

## Expected Results

The result makes ts parsing error so it should not remove trailing comma.

[code]

[2021-01-13 13:31] ematipico commented on #1295
At the beginning I thought it was a typescript bug  it's not! Although it seems strange having a trailing comma

[2021-01-13 18:44] antonk52 commented on #1295
it's the only way for typescript to differentiate the initial type assertion syntax in tsx file with jsx ie

[code]

[code]

They've introduced the `as` syntax in [v1.6](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-1-6.html#new-tsx-file-extension-and-as-operator) to preserve assertions in `tsx` files, the comma trick was introduced later on as far as I know

[2021-01-14 10:28] jer3m01 opened #1299 "📎 Implement CSSFunction builder"
The formatter builder for CSSFunction hasn't been implemented yet.
https://github.com/rome/tools/blob/main/internal/formatter/builders/css/core/CSSFunction.ts

This causes rome to crash when trying to format one.

*This should've been a task, could a member change the label*

[2021-01-14 16:22] #1039 closed

[2021-01-15 19:21] PeteJodo commented on #1023
was looking for `good first issues` and came across this which seems completed (if the checklist is accurate). Maybe worth closing or updating with what additional code needs testing. I imagine now, given the velocity of the project, that tests are requirements to get something merged and so there may not be anymore missing tests

[2021-01-15 20:31] jer3m01 commented on #1023
Yes, thanks!

We should go through issues and add good first issues label if they are. A lot will be added once #1298 is complete.

[2021-01-15 20:31] #1023 closed

[2021-01-16 21:14] jer3m01 commented on #1299
#1306

[2021-01-16 21:14] #1299 closed

[2021-01-26 21:19] dareksob opened #1311 "🐛 demon not starting"
Version: 10.0.4-beta
OS: windows 10

[code]

I try to start the demon as current user and as admin.
Rome try to create a socket file. After start I see 2 folders that created by rome rome-10.0.4-beta and rome-remote, and nothing else

[2021-01-27 07:07] ematipico commented on #1311
Is it the same issue of #1284 ?
If so, we could close this one and add your comment there

[2021-01-27 08:42] dareksob commented on #1311
Looks similar to this issue, but have an other operation system. My node version are the same or simular 14.15.x

[2021-01-27 08:42] #1311 closed

[2021-01-27 08:45] dareksob commented on #1284
Same issue with os windows 10. I try that as administrator too. Rome creates only temp folders on start

[2021-02-01 07:45] ematipico commented on #1112
I will start working on this one

[2021-02-02 12:46] jer3m01 opened #1315 "📎 File handler for *.txt"
Implement a file handler for *.txt files

[2021-02-02 21:25] jer3m01 opened #1316 "🐛 Typescript trailing comma after index signature error"
## Environment
[code]

## Steps To Reproduce

1. Create a ts file with
[code]
2. Parse it with rome
![image](https://user-images.githubusercontent.com/33844379/106663410-f9cd7b80-65a3-11eb-930f-918395b82187.png)

## Expected Results
Should work

[2021-02-04 02:54] sebmck commented on #1315
What's the intended functionality?

[2021-02-04 02:58] sebmck commented on #1284
@ematipico It's weird that the temp folder has the permissions 40700 which means it cannot be read or written to. Did you get this locally?

@dareksob Probably unrelated. We use completely different paths on Windows and the daemon uses some special pipe namespace that doesn't have file permissions.

[2021-02-04 06:39] ematipico commented on #1284
@sebmck yes it's locally

[2021-02-04 08:10] jer3m01 commented on #1315
For the moment rome crashes when it encounters a txt file, just something to ignore the file (similar way than fonts).

Don't think we can do much more than ignore the file (ie an empty file handler).

[2021-02-04 08:29] wildlyinaccurate opened #1320 "🐛 "Expected end of file" error for file in node_modules/"
Rome doesn't appear to ignore node_modules and throws an `✖ Expected end of file` error during `rome init`. This also happens during `rome check` in a project where Rome is already initialised. The file it complains about seems to be valid JSON.

[code]

## Environment

[code]

## Steps To Reproduce

1. Clone [this repo](https://github.com/wildlyinaccurate/rome-bug-repro) (or set up a new project

[2021-02-04 09:47] ematipico commented on #1320
That's caused by another non-valid license. `fast-xml-parser` has the following license:

[code]

I think Rome should handle this particular case. Thank you for reporting this.

[2021-02-04 13:10] ematipico opened #1321 "🐛 Unable to build rome (vendor/rome.cjs)"
## Environment

[code]

## Steps To Reproduce

1. `./rome run scripts/commit-rome.ts`

[code]

## Expected Results

It should build without errors

@sebmck the reason why I am running this command is because the vendor we have is too old and it doesn't contain some code I really need, such as the handling of the new configuration `dependencies.exceptions`.

I wanted to add the invalid licenses tha

[2021-02-04 16:04] sebmck commented on #1315
Oh what does the crash look like? I think we throw a pretty poor error when we resolve to a file that's missing a file handler. We can also improve that as a separate task.

[2021-02-04 16:07] sebmck commented on #1320
We should support it only in `loose` mode (ie. when a license expression is in `node_modules`) as it's not valid otherwise and we treat users `package.json` more strictly. We should also make the error message a lot nicer here for sibling words like this.

[2021-02-04 16:09] sebmck commented on #1321
Let me try. Sometimes I have to manually patch the vendored version with fixes.

[2021-02-04 16:09] jer3m01 commented on #1315
![image](https://user-images.githubusercontent.com/33844379/106920683-a1b18900-670b-11eb-8e87-3c482d136ad8.png)

[2021-02-04 16:15] sebmck opened #1322 "📎 Improve file permission errors"

[2021-02-04 16:20] sebmck opened #1323 "📎 Dedicated binary transport type for Position and SourceLocation"

[2021-02-04 16:24] sebmck opened #1324 "📎 Propose new governance structure"
Our governance model needs more structure. The concept of stewards doesn't make a lot of sense because with a future service to fund Rome it introduces some corporate structure. There needs to be some more delegation and assignment of roles. I have a lot of thoughts but will save it for a more concrete PR. This issue servers as a reminder and notice that I'm thinking about it.

[2021-02-04 16:28] sebmck commented on #1323
Also add dedicated `pretty-format` output as it is very noisy.

[2021-02-04 18:39] sebmck opened #1326 "📎 Add InvalidLicense SPDX license node"

[2021-02-04 18:40] sebmck opened #1327 "📎 Infer readable information on internal errors"
Sometimes we throw real runtime exceptions and display them to the user. We should be able to infer a better error message for these cases and display the stack trace after only as some debug metadata.

[2021-02-04 18:42] sebmck opened #1328 "📎 Unknown file handler should throw a diagnostic"
We throw a hard runtime exception whereas we should throw a diagnostic with the input filename. We should also enforce passing in some other information on why the file needs to be handled in the first place such as "specified via CLI", "imported here" etc.

[2021-02-04 21:03] sebmck opened #1329 "🐛 Outdated fixed diagnostics when running `check --apply`"
We should never show outdated diagnostics related to autofixes. They should be saved and the linter should rerun. We are likely not properly flushing a queue somewhere.

[2021-02-04 21:43] sebmck opened #1330 "📎 Command suggestions should offer an interactive question to correct it under a TTY"

[2021-02-04 21:55] sebmck opened #1331 "📎 Add `--logs-info`"
Right now we have `--logs` that includes all our internal logs in the console output but it's extremely noisy as we have a bunch of debug logs visible. We should require the usage of a separate flag to make these visible and leave the high signal warning and error categories only.

[2021-02-04 23:45] #1321 closed

[2021-02-05 05:06] #1331 closed

[2021-02-05 06:14] sebmck commented on #1315
Just opened #1334 which I think addresses this in the best way. When you run a command like `rome check foo.txt` or import a file we don't have a handler for you'll get the following diagnostic:

<img width="621" alt="Screen Shot 2021-02-04 at 11 51 09 PM" src="https://user-images.githubusercontent.com/853712/106996650-f7575700-6746-11eb-8d70-dce45ada7b29.png">

I also think we should probably rem

[2021-02-05 06:30] #1328 closed

[2021-02-05 06:31] #1315 closed

[2021-02-05 19:16] #1323 closed

[2021-02-05 21:29] jer3m01 opened #1338 "📎 Fix rjson comment parsing"
The rjson parser breaks when a comment contains `/`.
![image](https://user-images.githubusercontent.com/33844379/107091101-790bbb00-6801-11eb-9a36-1ba588d84e2c.png)

[2021-02-07 07:03] #1338 closed

[2021-02-07 17:40] #971 closed

[2021-02-08 10:52] ematipico commented on #984
Currently working on CSS Variables and `var()`

[2021-02-08 11:04] #1316 closed

[2021-02-08 16:30] ematipico opened #1345 "📎 Port most of the `a11y-jsx` rules under the new `a11y` category rules"
Recently, we created a new lint category called `a11y`. This new category is meant to be generic and work for JSX and HTML at the same time.

At the moment, we ported only two rules and we should to the same for most of the `a11y-jsx` we currently have

[2021-02-08 20:24] #1112 closed

[2021-02-08 20:24] #1320 closed

[2021-02-09 16:25] ajkachnic opened #1348 "🐛 Errors handling default values with destructuring"
There appears to be a parsing error when handling default values within destructuring. It throws a parsing error on code like:
[code]

This is my first time trying out Rome, so there might be something that I'm missing. I did a brief check for duplicates so there shouldn't be any, but I could be wrong

## Environment

[code]

## Steps To Reproduce

1. Add this code to a file in a rome project:
[co

[2021-02-09 16:29] ematipico commented on #1348
Hi @ajkachnic , what's the actual error that you get?

[2021-02-09 17:23] ajkachnic commented on #1348
It outputs this error

[code]

[2021-02-10 22:17] jer3m01 opened #1351 "🐛 Rome linting breaks optional class attribute"
## Environment

[code]

## Steps To Reproduce

1.
[code]
2. `./rome check --apply {file}`
3.
[code]

## Expected Results

Either leave it as is (what I would personally do) or replace with `private example: string|undefined;`

[2021-02-11 12:36] ematipico commented on #984
Currently working on Keyframes

[2021-02-11 20:16] sebmck opened #1355 "🐛 OOM on excessive test snapshot updates"
We run out of memory when there are huge snapshots as we keep them around until we write them at the end. We should buffer them up and write as we go.

[2021-02-11 20:17] jer3m01 opened #1356 "📎 Change ci linting solution"
When a linting fix is found by `rome ci` the command is `rome check [...] --format`

Can be seen here https://github.com/rome/tools/pull/1354/checks?check_run_id=1882245610#step:4:49.

Should be `--apply`

[2021-02-11 20:26] sebmck commented on #1356
It's actually meant to be `--format-only`. `--apply` isn't the right flag here as the suggestion is "To format this file without any fixes". Not sure why that's appearing there though as it should be alongside the above diagnostic.

[2021-02-11 20:28] sebmck commented on #1356
Also we only show the `--format-only` suggestion when using the `--verbose-diagnostics` flag. It has `hidden: true` set which hides it during a normal `rome check` run. `rome ci` just has an implicit `--verbose-diagnostics` flag as verbosity is good for CI logs. It's also visible when using `--review` to select an action.

[2021-02-11 20:39] sebmck opened #1357 "📎 Stream diagnostic printing"
Right now we wait until collection has completed when we could print as they come.

[2021-02-11 20:41] sebmck opened #1358 "📎 Prefer shorter relative imports over module relative"
We have a lot of imports like:

[code]

when the file that imports it is closer using a relative path. This is likely due to VSCode being awful when using auto-imports.

We should make this a lint error and autofix.

[2021-02-11 20:48] sebmck opened #1359 "📎 Add support for formatters in ESLint integration"

[2021-02-11 20:49] sebmck opened #1360 "📎 Add support for fixes in ESLint integration"

[2021-02-11 20:54] ematipico commented on #1358
You can add WebStorm too

[2021-02-11 20:55] sebmck opened #1361 "📎 Consider annoying log when ESLint integration is enabled"
Something like this when running `rome check`:

[code]

While we have this integration support, it is really not ideal and exists purely to offer an incremental migration path. We should make the experience reliable but we should not incentivize long-term usage.

[2021-02-11 22:23] ematipico commented on #1361
I think we should also consider highlighting the fact that with eslint integration enabled, the execution of the code becomes exposed and it's not sandboxed anymore.

[2021-02-11 22:43] sebmck opened #1362 "📎 Reduce command suggestion console noise"
[code]

We suggest too many commands. Not sure what the right balance is.

[2021-02-12 09:47] ematipico commented on #984
Thank you @tomhodgins , FYI I am going to update our test-fixtures with the example that you pasted here.

[2021-02-13 16:00] jeddy3 commented on #984
It's fantastic to see so much progress on the CSS parser and formatter!

I can break down the stylelint rules for you. I helped create stylelint, and I'm more than happy to share what we learnt.

We split [the rules in stylelint](https://stylelint.io/user-guide/rules/list) into three categories:
- possible error
- limit language feature
- stylistic issue

The _stylistic issue_ rules check whitespa

[2021-02-13 16:58] #1351 closed

[2021-02-13 16:59] ematipico commented on #1362
It would be great to receive some feedback from the adopter!

[2021-02-14 02:51] jer3m01 opened #1367 "🐛 Markup not applying correctly"
## Environment

[code]

## Steps To Reproduce

1. In `scripts/`
[code]
2. `rome run scripts/{file}`
![image](https://user-images.githubusercontent.com/33844379/107867086-d34af280-6e77-11eb-8487-51672b3cffae.png)

## Expected Results
Correctly parse `<emphasis></emphasis>`

[2021-02-14 02:53] sebmck commented on #1367
That error is correct, I think you want "duration"

[2021-02-14 02:55] jer3m01 commented on #1367
I meant the
![image](https://user-images.githubusercontent.com/33844379/107867138-697f1880-6e78-11eb-8bda-9cc84d5cbb36.png)

[2021-02-16 13:52] tcmal commented on #26
Shouldn't there be a note in the README about the node modules being under a different license? For instance, typescript has its own [ThirdPartyNoticeText.txt](https://github.com/rome/tools/blob/main/node_modules/typescript/ThirdPartyNoticeText.txt)

[2021-02-16 18:07] qrohlf opened #1369 "🐛 https://rome.tools is down with a redirect loop"
## Environment

Chrome latest

## Steps To Reproduce

1. Click link to https://rome.tools under the **About** heading on this repo
2. Experience redirect loop:

<img width="753" alt="Screen Shot 2021-02-16 at 10 04 54 AM" src="https://user-images.githubusercontent.com/347189/108103384-b90f4100-703e-11eb-8c40-adfbed832eb7.png">

## Expected Results

Be taken to the project homepage

[2021-02-16 19:00] ematipico commented on #1369
Unfortunately I'm no netlify expert so I don't know where the issue could be: https://www.github.com/rome/tools/tree/main/website%2Fstatic%2F_redirects

This the file that is responsible of the redirects. PR welcome!

[2021-02-18 10:09] ematipico commented on #984
Starting working on media queries!

[2021-02-19 06:18] sebmck commented on #1369
This is an intermittent issue that occurs randomly and I don't believe it's our fault. It's something either on the Netlify or Cloudflare side.

[2021-02-19 11:24] jeddy3 commented on #984
Fantastic!

They may already be on your radar, but I often see the [range context](https://www.w3.org/TR/mediaqueries-4/#mq-range-context) from the [level 4 specification](https://www.w3.org/TR/mediaqueries-4), and [custom media queries](https://www.w3.org/TR/mediaqueries-5/#custom-mq) and the [user preference media features](https://www.w3.org/TR/mediaqueries-5/#mf-user-preferences) from the [lev

[2021-02-19 12:47] ematipico commented on #984
Thank you for the pointers! This opens up a lot of things, especially **what should we support** in Rome. If it was for me I would start writing AST nodes and logic without breaks; probably we would need to come up with something. We actually use `prefers-color-scheme` inside Rome's website.

@jeddy3 BTW, do you know how/where to check the actual stage of a specification? Unfortunately I don't kno

[2021-02-19 13:27] jeddy3 commented on #984
I didn't offhand, but I found [this list of current work](https://www.w3.org/Style/CSS/current-work). The first specification listed is [CSS Snapshot 2020](https://www.w3.org/TR/css-2020/), which introduces the process and stages.

I tend to dig into a specification when someone requests a new rule in stylelint for a CSS feature I haven't seen before. Even after a few years of building stylelint,

[2021-02-19 14:44] tomhodgins commented on #984
All features supported in the CSS language will abide by CSS's syntax, specified here: https://drafts.csswg.org/css-syntax-3/ so if CSS is parsed accurately according to its own syntax, all features should be something we can work with (for example `@media (min-width: 500px)` versus `@media (width >= 500)` are both super easy to parse because you don't need to know anything about media queries to

[2021-02-20 01:23] sebmck commented on #1367
Ah! This is actually intentional, although it is confusing.

The `DiagnosticError` here is being propagated to the `rome run` command handler. However we do not detect this `DiagnosticError` instance to be one we can display as it's constructor is different as it's from the compiled script, and not the binary itself, so it's displayed as a regular error.

`createSingleDiagnosticError` is the const

[2021-02-20 18:17] zlypher opened #1374 "🐛 https://rome.tools/changelog/ contains no content"
## Environment

Any browser (Chrome, Firefox, Opera)

## Steps To Reproduce

1. Open https://rome.tools/changelog

## Expected Results

The site displays changelog between the versions (or, since it is in development, some kind of indication that it is still in development and first release is planned on X)

![image](https://user-images.githubusercontent.com/820423/108604779-47bdee00-73b0-11eb-8f5

[2021-02-20 18:20] zlypher opened #1375 "📎 Plans for RSS or Atom Feed for Blog?"
Are there any plans for publishing a RSS or an Atom Feed for the Blog? Would be great to make it easier to follow future news.

[2021-02-21 10:49] ematipico commented on #1375
This seems  more a subject for a discussion, not an issue.

BTW, does it make sense having a feed? We've had 2 blog posts since the project was launched

[2021-02-21 20:15] leothorp commented on #1369
I was just running into this inconsistently as well.

[2021-02-21 20:18] leothorp opened #1376 "http://rome.tools allows accessing the site without HTTPS"
## Environment

Mac OS Chrome 88.0.4324.182 (likely occurs in any web browser)

## Steps To Reproduce

1. Enter http://rome.tools in your browser address bar, or just click that link.
2. You are able to view the site without HTTPS, with a "this connection is not secure" warning in the address bar (exact language browser dependent)

Note: as a different but potentially related issue, `http` version

[2021-02-21 20:40] ljharb commented on #1376
@leothorp did you just share something that says "do not share" in it?

[2021-02-21 20:45] leothorp commented on #1376
@ljharb
That's a copy-paste from the redirects file I referred to- it's in the public repo.

[2021-02-21 20:48] ljharb commented on #1376
ah ok, nvm then ¯\\\_(ツ)_/¯

[2021-02-23 08:46] brillout commented on #271
FYI I've done that in https://github.com/brillout/vite-plugin-ssr thanks to Vite's SSR support.

Vite has APIs tailored towards SSR, which makes the life of SSR tool authors dramatically easier, which leads to flourishing SSR ecosystems.

Would be neat to have a similar plugin in Rome's world. (Btw if someone is interested in this, feel free to hit me up on Twitter/Discord.)

[2021-02-23 16:02] zlypher commented on #1375
Yeah it is more like a request or question. Not sure where the best place to put it is. I fear it would get lost on discord.

While it might not be necessary right now with the 2 blog posts, I sure hope there will be more updates in the future. But I understand if that is not a priority right now.

[2021-02-23 17:26] ematipico commented on #1375
Sorry I meant you could open a discussion here on Github: ⬇️

![Screenshot 2021-02-23 at 17 24 36](https://user-images.githubusercontent.com/602478/108882280-20f3f780-75fc-11eb-9816-875b9ba4ae7d.png)

Probably we could implement it once adoption is increased and we have more releases (I guess it's something we could add to the feed? Not sure)

[2021-02-27 15:13] jer3m01 commented on #1362
I'd remove the per diagnostic command suggestion and just keep the 2 at the end (and maybe change the wording/add spacing).

[code]

[2021-02-27 19:46] kasperisager opened #1378 "🐛 PolyForm licenses are flagged as invalid"
## Environment

[code]

## Steps To Reproduce

1. Set `"license": "PolyForm-Noncommercial-1.0.0"` in `package.json`.
2. Run `rome init`.

## Expected Results

I expected Rome to initialise the project configuration, but instead I'm met with the following error:

[code]

Although the PolyForm licenses are neither free nor open source licenses, they _are_ valid SPDX licenses and as such I'd expect t

[2021-02-27 21:19] ematipico commented on #1378
The current version doesn't handle correctly all the valid licenses. Although this bug has been fixed in `main`.

[2021-02-27 22:04] #1369 closed

[2021-02-27 22:04] ematipico commented on #1369
This should be fixed now

[2021-02-28 06:25] mainangethe commented on #1345
Hi @ematipico ,
I'd like to take this up. Though I'm not sure what it means when you say you "ported"

Could you give a more details surrounding what I should do to port a rule, so that I can be able to start.

[2021-02-28 19:20] jer3m01 opened #1380 "🐛 Error stack trace lines are offset by 1"
## Environment

[code]

## Steps To Reproduce

1. Throw an error
![image](https://user-images.githubusercontent.com/33844379/109430534-2ab59a80-7a02-11eb-8847-fa82c3bfded8.png)
![image](https://user-images.githubusercontent.com/33844379/109430537-2ee1b800-7a02-11eb-8727-d614c0ad97f1.png)
![image](https://user-images.githubusercontent.com/33844379/109430539-31dca880-7a02-11eb-98de-8ca39bd3f87e.png)

[2021-03-01 08:22] ematipico commented on #1345
Hi @mainangethe

You can use this PR as example https://github.com/rome/tools/pull/1346

At the moment we have a bunch of rules that target some `a11y` requirements. These rules are tailored around JSX AST. Now that we have a working HTML AST parser, what we want to do is to make these rules a bit generic.

So we have to take those rules that are under `jsx-a11y` and move them under the category `

[2021-03-01 12:12] jer3m01 commented on #1376
Has been fixed.

[2021-03-01 12:12] #1376 closed

[2021-03-01 16:54] jer3m01 commented on #1380
Did a bit of digging and have a suspicion the issue is caused by `codec-source-map`.

https://github.com/rome/tools/blob/main/internal/v8/sourceMapManager.ts#L150

[2021-03-02 12:08] ematipico opened #1383 "🐛 Regression around lint rules harness"
## Environment

There's a regression around the test harness of our lint rules. When an assertions fails for whatever reason, Rome throw an unexpected error instead of showing a correct diagnostic that is supposed to come form the test harness itself.

## Steps To Reproduce

1. change a rule harness file rjson, from valid to invalid or vice-versa
2. run `rome test`

Stacktrace of the error

[code]

[2021-03-03 09:19] sebmck commented on #1378
@ematipico This isn't a bug, and is unrelated to any of the license exception stuff you worked on.

That license was added to the SPDX list in v3.9 on 2020-05-15. We're only using 3.8 (released on 2020-02-09) as the list hasn't been updated very often.

`internal/codec-spdx-license/scripts/update-data.sh` is the relevant update script (this predates any of our existing generation scripts). However

[2021-03-03 10:20] sebmck commented on #1375
There's no current plans. I'm in the process of revamping our docs and website, but I'm unlikely to implement this given how infrequently we update our blog, popularity of RSS, and the additional work to add it.

I'll keep this open to track though and can provide some guidance when the new website is released how to technically implement it if someone else wants to.

[2021-03-03 11:47] onygami commented on #144
Using go is not the only reason for its speed, the esbuild [FAQ](https://esbuild.github.io/faq/#why-is-esbuild-fast), lists explains it well.

[2021-03-03 13:41] jeddy3 commented on #984
That's really cool. I assume that's what allowed the [explosion of PostCSS plugins](https://www.npmjs.com/search?q=keywords:postcss-plugin) that extended CSS.

I'm not very familiar with parsers, so I don't know if this is possible, but a granular parser would make it easier to write lint rules. For example, the [`media-feature-name-disallowed-list` rule](https://stylelint.io/user-guide/rules/medi

[2021-03-03 19:41] sebmck commented on #1380
I wonder if it's our sourcemaps that are being generated off-by-one, or it's how we're processing the line provided by the V8 API when capturing errors.

[2021-03-03 19:43] sebmck commented on #1383
Fixed in #1384. (Hasn't merged yet but closing this issue now so I don't forget)

[2021-03-03 19:43] #1383 closed

[2021-03-04 10:36] #1009 closed

[2021-03-07 10:50] ematipico opened #1388 "📎 Remove hardcoded path from eslint integration"
At the moment the eslint integration has a fixed `rulePaths`. I should be removed: https://github.com/rome/tools/blob/main/internal/core/worker/integrations/eslint.ts#L23

I opened this task as reminder.

[2021-03-08 07:18] #1089 closed

[2021-03-09 13:30] jer3m01 opened #1395 "🐛 Invalid flag message wrong string case"
## Steps To Reproduce

1. `rome test --sync-test` (without the s)
![image](https://user-images.githubusercontent.com/33844379/110477569-9d4e0680-80e3-11eb-9d20-3cb5cfa6b732.png)

## Expected Results
`Unknown syncTest flag at` and `- syncTest` should be `sync-test`

[2021-03-10 16:34] ematipico commented on #984
If the CSS parser follows the spec, they are marked as `idents` by default. When the spec introduces a new feature in the grammar, those `idents` (which are still `idents`) become `FeatureName` because they take a specific meaning inside that new grammar. So we can say that `feature name` is `ident` but not vice versa.

Inside a parser, a node can only have a value. It will responsibility of the p

[2021-03-10 18:35] jonahsnider opened #1397 "🐛 Yarn 2 throws when running rome: "Error: Cannot find module '/node_modules/rome/bin/rome/index.js'""
## Environment

- Node.js 15.8.0
- Yarn 2.4.1
- Rome 10.0.7-nightly.2021.2.10

## Steps To Reproduce

Clone [jonahsnider/rome-bug-1397](https://github.com/jonahsnider/rome-bug-1397/), see attached reproduction zip [rome-bug-1397-main.zip](https://github.com/rome/tools/files/6119105/rome-bug-1397-main.zip), or:

1. Create new folder
2. `yarn set version 2.4.1`
3. `yarn add -ED 10.0.7-nightly.2021.2

[2021-03-12 11:12] jeddy3 commented on #984
Thank you for the clear explanation! That's great to hear and will make things easier to author linting rules.

[2021-03-15 10:36] dctalbot opened #1401 "🐛 formatter: tsx typecasting with as keyword wrapped in parentheses"
## Environment

[code]

## Steps To Reproduce

1. Create a tsx file with this contents:
[code]
2. See wrong formatting
[code]

## Expected Results

[code]
Since `themeName` must be a `keyof Themes`

[2021-03-15 11:50] dctalbot opened #1402 "🐛 compiler: unable to resolve commonjs named exports from an es module"
## Environment

[code]

## Steps To Reproduce

This is an issue for probably any react-native project. Still working on creating a smaller example, but here is the scenario:

1. Have some commonjs resource that exposes exports like so:
[code]

2. Try importing into an ES module
[code]

3. See lint error when importing one

[code]

## Expected Results
No error for this use case.

Note that the foll

[2021-03-15 16:56] ematipico commented on #1066
This has been implemented!

[2021-03-15 16:56] #1066 closed

[2021-03-15 17:00] ematipico commented on #1013
@egtann  I am going to close this issue. Feel free to open a new one if you have more details.

[2021-03-15 17:00] #1013 closed

[2021-03-15 17:03] ematipico commented on #1110
This is done

[2021-03-15 17:03] #1110 closed

[2021-03-15 17:04] ematipico commented on #1033
The options have been added. We can close.

[2021-03-15 17:04] #1033 closed

[2021-03-15 17:07] ematipico commented on #1006
@iaravindreddyp are you able to test and see if the issue is still present?

[2021-03-15 17:14] ematipico commented on #1104
Let's close it, this is fixed!

[2021-03-15 17:14] #1104 closed

[2021-03-15 17:17] #1182 closed

[2021-03-15 17:17] ematipico commented on #1029
@sebmck I believe this is fixed?

[2021-03-15 17:20] ematipico commented on #1156
It seems fixed. Feel free to open a new issue if that happens again.

[2021-03-15 17:20] #1156 closed

[2021-03-15 17:21] ematipico commented on #1177
The feature is now enabled!

[2021-03-15 17:21] #1177 closed

[2021-03-15 17:21] ematipico commented on #1202
This feature is available, we can close it

[2021-03-15 17:21] #1202 closed

[2021-03-15 17:22] #1096 closed

[2021-03-15 17:24] ematipico commented on #1284
It now works!

[2021-03-15 17:24] #1284 closed

[2021-03-21 18:54] Himujjal commented on #1081
I suggested keeping the RJSON format as its very intuitive and I have already written serializer and deserializer for a similar format named [EKON](https://github.com/ekon-org/ekon). TOML is good but not very intuitive.

Here's the discussion:
https://github.com/rome/tools/discussions/1410#discussion-3284874

[2021-03-29 04:23] VictorHom commented on #984
I'm going to find time to work on the `@import` rule if that's available

[2021-03-29 07:02] ematipico commented on #984
I will work on implementing few nodes around `@font-face`.

[2021-04-01 00:20] zant commented on #1345
Hi! I'll be working on `noHeaderScope` :)

[2021-04-03 21:46] jer3m01 opened #1418 "🐛 Rome init missing argument"
## Environment

[code]

## Steps To Reproduce

1. Create an empty project
2. `yarn rome init`
![image](https://user-images.githubusercontent.com/33844379/113492299-c68d6700-94d6-11eb-8cf4-562f1e02e052.png)

## Expected Results
Same as rome@latest

[2021-04-06 13:20] ematipico commented on #984
**CSS lint** is now enabled on `master`!! I added a first rule so we have diagnostic categories, highlighting, harness test, etc. well prepared.

Probably the highlighting part needs to be reviewed and we would need to add few stuff to make the coloring better.

We should start discussing which rules we want to implement. We could focus, first, on rules that prevent errors and don't require some c

[2021-04-07 07:25] #1401 closed

[2021-04-08 01:12] jer3m01 opened #1423 "☂️ CSS Prefix: Missing Properties"
## How To
Below is a list of properties missing from our current css prefix implementation.

Use `./script compiler-create-prefix [propertyName]`. *thanks @ematipico!*
This will create:
* `internal/compiler/transforms/compile/css-handler/prefix/prefixes/[propertyName].ts`
* `internal/compiler/transforms/compile/test-fixtures/css-handler/prefix/[propertyName]/input.css`
* `website/src/docs/css-hand

[2021-04-08 01:38] ajkachnic commented on #1423
Currently working on supporting the `box-shadow` property

[2021-04-08 02:35] jer3m01 commented on #1380
How far have we diverted from <https://github.com/rome/tools/tree/main/internal/codec-source-map>?
Could check if this occurs there too, if not we can update.

[2021-04-08 07:00] ematipico commented on #1423
We should create a script file that creates and updates the prefix visitors. Like we do for `create-lint-rule`. I will take care of it.

[2021-04-08 13:09] ajkachnic commented on #1423
I'm currently working `box-shadow`, and to support the browser prefixes, I'd need to do something like this, right?

[code]

Or is there a better way to handle this using `rename`?

[2021-04-08 13:15] jer3m01 commented on #1423
is not required, prefixes are automatically added.
Just return a single `createPrefixVisitor` (same code as our discussion on discord).

I'll update the post to make it clearer.

`rename`  is only used in the case that a specific browser uses a custom name instead of the generic one.

[2021-04-08 13:16] ajkachnic commented on #1423
Ah alright, thanks for the help!

[2021-04-08 13:42] ajkachnic commented on #1423
How should I handle running the tests while #1424 isn't merged? Because it just generates the exact same output at the moment because the new prefix hasn't been added to the main file.

Would it make sense to add it manually (and update the hash), or just wait until it's merged?

[2021-04-08 13:47] jer3m01 commented on #1423
It's just been merged 😄.

[2021-04-08 14:33] jeddy3 commented on #984
That's fantastic!

The rules in this section can be roughly split into two groups:
- invalid CSS that's definitely a mistake
- valid CSS that's probably a mistake

The first group is made up of:
- `no-valid` rules, e.g. [`color-no-invalid-hex`](https://stylelint.io/user-guide/rules/color-no-invalid-hex)
- `no-nonstandard` rules, e.g. [`function-linear-gradient-no-nonstandard-direction`](https://st

[2021-04-08 14:57] alexander-akait commented on #984
This rule will have a lot of limitations, because custom properties hoist, so you can use variable from other files or context, for example `style` tag of HTML

[2021-04-08 15:29] ematipico commented on #984
Lot of amazing feedback! Thank you! I will probably start creating an umbrella issue where I will list the rules that actually makes sense having.

Yes, many rules won't be needed because they are errors in the spec, so we throw diagnostics during the parsing phase of the file.

e.g.

[code]

this syntax will throw a diagnostic error during parsing, because by spec after `/` we can only have numbe

[2021-04-08 15:39] alexander-akait commented on #984
@ematipico just interesting is `Media Queries Level 4` (https://www.w3.org/TR/mediaqueries-4/) supported?

[2021-04-08 15:46] ematipico commented on #984
[Yes they are](https://github.com/rome/tools/blob/main/internal/css-parser/README.md#at-rules)! Although ranges are not yet. The PR was becoming too big so I decided to cut it short and implementing it later

[2021-04-08 16:17] alexander-akait commented on #984
Great, as I understand it, in the future we will have minimizer/uglifier too?

I understand what `rome` is self-sufficient, but maybe we can publish some parts, for example current CSS parsers are very bad, if we could get the parts like parsers/minimizers/etc we could start moving community, and in the end it would allow everyone to migrate painlessly. What do you think? Can we discussion about i

[2021-04-08 17:46] ematipico commented on #984
Releasing internal packages is part of the roadmap!

Not sure how and when, but I know that Sebastian wants to do it :)

Probably after we craft a decent plugin system. It's one of the main concerns.

[2021-04-09 10:28] alexander-akait commented on #984
@ematipico Sounds good, hopefully it will come sooner so that we can start this migration as it will take time.

[2021-04-09 13:52] ajkachnic commented on #1423
I've opened a pull request with `box-shadow` support!

[2021-04-09 15:11] ajkachnic commented on #1423
I can work on `filter`. Since I know the process a lot more now, I should be able to add it fairly quickly

[2021-04-11 19:06] #1357 closed

[2021-04-11 19:06] #1355 closed

[2021-04-11 19:06] #976 closed

[2021-04-11 19:06] #1062 closed

[2021-04-11 19:06] #793 closed

[2021-04-11 19:09] sebmck commented on #1169
It no longer does. It now points to `latest`.

[2021-04-11 19:09] #1169 closed

[2021-04-11 19:09] sebmck commented on #341
Going to close this and use more finegrained issues.

[2021-04-11 19:09] #341 closed

[2021-04-11 19:09] #771 closed

[2021-04-11 19:10] sebmck commented on #1053
We support this.

[2021-04-11 19:10] #1053 closed

[2021-04-12 11:58] magsout commented on #1423
i'm working on the `backface-visibility` property. is that ok for you?

[2021-04-12 14:47] magsout commented on #1423
I opened a PR with position support, hope it's fine ;)

[2021-04-12 17:20] jer3m01 commented on #1423
Indeed thanks for the catch, I'll remove it from the list.

Great thanks!

[2021-04-13 08:29] magsout commented on #1423
I've opened a PR with `box-sizing` support

[2021-04-16 06:52] magsout commented on #1423
@jer3m01 @ematipico Do you mind if I make a pr with multiple properties?

[2021-04-16 06:57] jer3m01 commented on #1423
No problem go ahead! As long as you include them clearly in the description of the PR.

[2021-04-16 23:55] strager opened #1437 "🐛 Regression: `rome check` says "No files linted""
## Environment

[code]

## Steps To Reproduce

1. Clone Rome's source repository.
2. Check out Rome version v10.0.4-beta. (This is to avoid issues with `rome init`: #1418)
3. Create and cd into a temporary directory.
4. Run `/path/to/rome-tools/rome init`.
5. Check out Rome commit 3d09ea15e3e0baab005e4774822cdb1330320f4a (current `main`).
6. Create a file called `test.js` with contents `let x, x;`

[2021-04-17 00:13] strager opened #1439 "🐛 LSP violation: wrong $/progress types"
## Environment

[code]

## Steps To Reproduce

1. Write a program using [lsp-test](https://hackage.haskell.org/package/lsp-test) which runs and communicates with `rome lsp` as an LSP client.

## Expected Results

`rome lsp` sends well-formed messages.

## Actual Results

`rome lsp` sends malformed `$/progress` messages, such as the following:
[code]
According to the [LSP specification version 3.17

[2021-04-17 02:05] jer3m01 opened #1441 "📎 Completely remove ms prefixes from browsers-db"
For some reason there still there, e.g. https://github.com/rome/tools/pull/1436/files#diff-d7c1cc83474cbc56c5207f06670b72433cdbc3faf8f41d06d8b3ff292d64e466R26

[2021-04-17 10:49] ematipico commented on #1437
Have you tried to skip the step `rome init` (which is currently broken) and just adding a config yourself? Even inside the `package.json` is sufficient

[code]

Do you still have the issue?

[2021-04-17 18:59] strager commented on #1437
Same issue (i.e. `./rome check` on the older commit finds issues but on a recent commit finds no issues) if I have only the following files:

`package.json`
[code]

`test.js`
[code]

[2021-04-28 12:19] Andrew-Dyachenko commented on #1320
I got the same problem, ignore rule seems to be not working.
Rome `10.0.4-beta`

[code]

**rome.rjson**
[code]

[2021-04-28 13:46] ematipico commented on #1320
@Andrew-Dyachenko that is not a lint diagnostic. If you check it, it has `parse/spdxLicense` which is the category of the diagnostic. Lint diagnostics have `lint` inside their category name.

Hence, if you want to ignore that particular license, the setting you're looking for is this one: https://rome.tools/#dependenciesexceptionsinvalidlicenses

[2021-05-02 12:31] c0ncentus opened #1446 "☂️ Css Optimizer"
Hi,

Because of HTML parser, formatting support and https://github.com/rome/tools/issues/984 (CSS parser, formatting).

# Extremely Short

1. many properties in one class => One property <-> one class
2. All used and unesd css loaded => use all the times css used for webpage.

In my opinion is the best of best of  css optimisation

# What purpose ?

1. Avoid Css deadly collision on production.
2.

[2021-05-02 13:42] #1446 closed

[2021-05-04 21:31] imrishabh18 commented on #1345
@ematipico Are some more rules left to be ported than I can work on? I am new to this

[2021-05-04 21:43] ematipico commented on #1345
`useHeadingContent` is available! `useAnchorContent` too. They are both simple to implement.

[2021-05-05 10:16] yuzima commented on #1402
@dctalbot I think it's because `react-native` is using CommonJS which not support `module.exports` as named export.

[2021-05-05 12:10] ljharb commented on #1402
CommonJS supports named exports when transpiled with babel or typescript, and in modern node, which infers them vis cjs-module-lexer.

[2021-05-05 12:49] gausie commented on #1397
I think this means that `package.json` needs to have [a `bin` entry](https://yarnpkg.com/configuration/manifest#bin)

[2021-05-05 12:52] ktfth commented on #1423
I can work on `user-select`?

[2021-05-05 13:03] ktfth commented on #1423
@jer3m01 the command on the description is `./script` not `./scripts` just to made clear on the description on that issue.

[2021-05-05 13:08] jer3m01 commented on #1423
Thanks for pointing it out!

[2021-05-05 13:12] ktfth commented on #1423
@jer3m01  how to run my test related to a property?

[2021-05-05 13:28] ktfth commented on #1423
@jer3m01 can you review my [PR](https://github.com/rome/tools/pull/1450)?

[2021-05-05 15:11] ktfth commented on #1423
Now working on `hyphens`

[2021-05-05 15:31] ktfth commented on #1423
@jer3m01 new pull request for `hyphens` check [here](https://github.com/rome/tools/pull/1452)

[2021-05-05 15:51] imskr commented on #1423
I'm working on `border-image` :smiley:

[2021-05-05 17:07] imskr commented on #1423
@jer3m01 while running tests `./rome test internal/compiler/transforms/compile/index.test.ts --update-snapshots` throws:

[code]

[2021-05-05 17:27] jer3m01 commented on #1423
@imskr Does it also happen on `main`?

[2021-05-05 17:33] imskr commented on #1423
@jer3m01 running this on main throws:
[code]

[2021-05-05 18:35] jer3m01 commented on #1423
@imskr Could you open a bug report, rome has some issues around memory usage which could be the cause.

[2021-05-05 19:12] ktfth commented on #1423
@jer3m01 updates on the [PR](https://github.com/rome/tools/pull/1452) i'm waiting the review

[2021-05-05 19:34] UsamaHameed commented on #1423
PR for text-orientation: https://github.com/rome/tools/pull/1453

[2021-05-05 21:32] superhawk610 commented on #1418
The issue appears to be caused by [this line](https://github.com/rome/tools/blob/main/internal/core/server/commands/init.ts#L99), which is asserting that 1 argument is passed when in fact no arguments should be passed (there's even a check for 0 arguments a few lines earlier). It looks like this is confusing arguments and flags.

I believe there's an additional issue with the client-side `init` co

[2021-05-06 07:01] #1395 closed

[2021-05-06 08:46] luisgserrano commented on #1423
I'm working on `background-clip` 🙂

[2021-05-06 09:34] luisgserrano commented on #1423
PR for `background-clip`: #1456

[2021-05-06 13:46] ktfth commented on #1423
Workin now on the `cursor`

[2021-05-06 13:56] ktfth commented on #1423
PR for `cursor`: [#1457](https://github.com/rome/tools/pull/1457)

[2021-05-06 14:14] antonk52 opened #1458 "🐛 No matching lint files found"
Before seeing details please note that the issue went away after a machine restart. But I wanted to create an issue in case other people come across it for further troubleshooting.

While working on Rome I got a little tired of waiting for Rome having to recompile every time I run it so I ran `./rome start` to start the daemon(spoiler: it still gets recompiled). I suspect this to be the issue sinc

[2021-05-06 15:09] imskr opened #1459 "🐛 Running update snapshots causing Internal error"
- While Adding CSS prefix and updating test snapshots it's throwing an error.

## Environment

[code]

## Steps To Reproduce

1. run `./script compiler-create-prefix [prefixname]`
2. run `./rome test internal/compiler/transforms/compile/index.test.ts --update-snapshots`

Error:
[code]

[code]

[2021-05-06 15:10] imskr commented on #1459
\cc @jer3m01

[2021-05-06 15:26] imskr commented on #1459
- Running on Gitpod throwing same error:

![Screenshot_20210506_205433](https://user-images.githubusercontent.com/42062622/117324438-6a3eae00-aead-11eb-829e-b84d653067f6.png)

[2021-05-06 15:56] ematipico commented on #1459
@imskr the error says that you don't have a "input.css" file inside the fixtures. Did you make sure you have it?

[2021-05-06 15:58] UsamaHameed commented on #1423
Working on `text-overflow`

[2021-05-06 16:18] imskr commented on #1459
Yes I verified it, It's automatically generated by that command @ematipico

[2021-05-06 16:43] ematipico commented on #1459
Could you share a small repo?

[2021-05-06 16:52] yeonjuan opened #1460 "🐛 CSS parser falls into infinity loop when parsing rules in media query"
CSS parser falls into infinity loop when parsing rules in a media query.

## Environment

[code]

## Steps To Reproduce

1. example.css

[code]

2. `./rome parse example.css`

it falls into infinity loop and `heap out of memory error `occurred

## Expected Results

It should parse without error and print ast.

[2021-05-06 17:31] ematipico commented on #1460
That's weird, we have similar fixtures already.

https://www.github.com/rome/tools/tree/main/internal%2Fcss-parser%2Ftest-fixtures%2Fmedia%2Fcondition%2Finput.css

Are we missing something?

[2021-05-06 18:04] UsamaHameed commented on #1423
Working on `appearance` and `overscroll-behaviour`

[2021-05-06 19:44] UsamaHameed commented on #1423
`overscroll-behavior` does not need any prefix since the only one it needs is `ms` which we don't support anyway.

[2021-05-07 03:24] yeonjuan commented on #1460
@ematipico
yes maybe :)
it's uncovered cases in our test cases. we have no test about media queries with rules.
I'm not sure but maybe block parsing logic in the media query has some problem.

[2021-05-07 07:08] ematipico commented on #1460
I will look into it

[2021-05-07 07:25] ematipico commented on #1459
Unless you did something that you missed here, the error is expected because there's hasn't been any implementation. The script you launched is used to automatically generate some boilerplate that alone would fail; it needs a correct implementation in order to work.

Instead, if you implemented the rule in some way, you could share a repository here.

[2021-05-07 10:41] #1460 closed

[2021-05-07 18:09] UsamaHameed commented on #1423
Working on `tab-size` and `scroll-snap`

[2021-05-07 21:58] ktfth commented on #1423
Changed the work to `image-set`

[2021-05-08 14:03] ematipico commented on #1418
Actually, the argument is expected to be passed. One of the most recent refactors broke the passage of arguments between commands using the Rome server.

[2021-05-08 16:37] thescripted commented on #1423
Starting work on `text-spacing`

[2021-05-08 21:34] ktfth commented on #1423
Working on `gradient`

[2021-05-09 05:36] yuzima commented on #1397
@jonahsnider I think the latest version solves the problem, `10.0.7-nightly.2021.2.10` doesn't contain package.json to specify the entry of bin

[2021-05-09 10:45] yuzima commented on #1402
@ljharb You are right, the named export is supported. I debugged locally noticed that react-native is using Flow, could this be the problem? As Rome doesn't support Flow now.

[2021-05-09 15:26] ljharb commented on #1402
node only deals with JavaScript, so any transpiler that produces known module named export patterns will be recognized, like Babel’s __esModule.

[2021-05-09 20:04] UsamaHameed commented on #1423
`image-rendering` does not need any prefixes

[2021-05-10 07:19] ematipico commented on #1345
Two rules missing! 🚀
- `useValidAnchor`
- `noRedundantRoles`

[2021-05-10 07:31] ematipico commented on #1458
Could you add the daemon commands to the "Steps to Reproduce" section? I think it's really important. Without daemon, the result is different.

[2021-05-10 07:38] ematipico commented on #1459
@imskr by chatting with people on Discord, it turns out that this error is thrown when the rule is not correctly implemented. Make sure that `browserFeaturesKey` is correctly passed, without it, there's an error.

[2021-05-10 07:38] #1459 closed

[2021-05-10 07:41] #1375 closed

[2021-05-10 07:48] ematipico commented on #974
Bumping this issue. There are already lot of information in order to proceed with the implementation. It might not be a good first issue, but the changes are confined to just one file.

[2021-05-10 09:52] harxki commented on #1345
I'll be working on useValidAnchor !

[2021-05-10 09:57] fregante opened #1475 "🐛 Incompatible with underscore"
`rome check` fails if `underscore` exists.

## Environment

[code]

## Steps To Reproduce

[code]

[code]

[2021-05-10 10:46] fregante commented on #1475
Generally speaking, it probably should not completely fail if a (sub-)dependency doesn’t match Rome’s expectations. This was the first time I tried Rome.

[2021-05-10 15:18] UsamaHameed commented on #1345
I will take on `noRedundantRoles`

[2021-05-10 15:27] ematipico commented on #1345
@UsamaHameed that's a though one :) If you have any questions, please ask!

[2021-05-10 18:40] bechir commented on #1423
PR for `text-align-last`: #1479

[2021-05-10 20:29] noahsb commented on #974
If this is still available in a couple of days I'd love to work on it!

[2021-05-10 21:47] lucastrvsn commented on #1439
I'm having this issue right now using neovim builtin LSP. Simple way to test it is just install the neovim/lspconfig and enable rome lsp.

[2021-05-11 04:04] harxki commented on #1423
i will work on text-align-last

[2021-05-11 06:10] jer3m01 commented on #1423
@bechir is already working on it.

[2021-05-11 10:13] harxki commented on #1423
I overlooked it.
i will work on touch-action.

[2021-05-11 13:56] yeonjuan opened #1481 "🐛 CSS parser falls into infinity loop when parsing ratio value in media condition"
CSS parser falls into infinity loop when parsing [ratio value](https://www.w3.org/TR/css-values-4/#ratio-value) in media condition

## Environment

[code]

## Steps To Reproduce

1. test.css

[code]

2. run `./rome parse test.css`

It falls into an infinity loop.

## Expected Results

Parsing success.

[2021-05-11 16:10] ematipico commented on #1481
Our parser doesn't support `<ratio>` at all.

This is the definition of our current `<mf-value>`, which, from the spec should be:

[code]

Our code base:

[code]

We don't have `CSSRatio` because our parser doesn't support it. It seems `<ratio>` belongs to v4 of values. Not sure how to fix the issue:
1. create a token called `"Ratio"`
2. handle this case inside the media query itself

I'm leaning

[2021-05-11 20:31] JoostKersjes opened #1483 "🐛 (vscode-extension) Cannot add suppression comment in JSX"
## Environment

[code]

## Steps To Reproduce

I'm running VSCode on Windows 10 as a remote window to WSL2 Ubuntu-18.04.
This is in a Next.js project.

1. Create any JSX linting error. For example `<Component {...pageProps} />`.
2. Open the "Quick Fix" menu (default shortcut is `Ctrl` + `.`) when the cursor is at the linting error.
3. Select the "Add suppression comment" option.

For me, this auto

[2021-05-11 21:16] JoostKersjes opened #1484 "🐛 Lint suppression comments in JSX don't work"
## Environment

[code]

## Steps To Reproduce

1. Create a JSX linting error. For example `<Component {...pageProps} />` will create a `lint/jsx/noPropSpreading` violation.
2. Add a suppression comment in the JSX. For example `{/* rome-ignore lint/jsx/noPropSpreading: nextjs _app.tsx convention */}`.
3. Run `rome check`.

As you can see in the output below, the `lint/jsx/noPropSpreading` is still

[2021-05-12 15:13] ktfth commented on #1423
Working on `text-emphasis`

[2021-05-12 22:12] imrishabh18 commented on #1423
I will work on `object-fit`

[2021-05-13 00:18] harxki commented on #1423
i will work on `flex`

[2021-05-13 05:37] #1295 closed

[2021-05-13 08:29] ematipico commented on #1345
I want to thank you everyone that helped to move all the rules! We finished, now all the rules will work on HTML and JSX! 🎉 🎉

[2021-05-13 08:29] #1345 closed

[2021-05-13 16:26] ktfth commented on #1423
Working on `mask`

[2021-05-13 19:14] UsamaHameed commented on #1423
working on `list-*`

[2021-05-13 20:02] jamie-wearsafe opened #1496 "🐛 Unknown exceptions config property at dependencies"
![image](https://user-images.githubusercontent.com/52926764/118180212-4971dd80-b404-11eb-8af1-24434e72b7b8.png)

The configuration isn't working for adding license exceptions.

## Environment

[code]

## Steps To Reproduce

1. yarn rome config push dependencies.exceptions.invalidLicenses.APACHE "github-action-readme-generator@1.0.12"
2.

## Expected Results

allows that invalid licence

[2021-05-13 20:37] ktfth commented on #1423
Working on `*-inline-*`

[2021-05-13 20:53] JustBeYou commented on #1423
`width`, `height` and `size` should be done. working on `grid-*` from `intrinsic-width` feature.

[2021-05-14 07:35] ematipico commented on #1496
Yeah that's a problem of our documentation. It allowed to push documentation before actually releasing the feature. If you updated to version `10.0.7-nightly.2021.2.10`, that should be fixed.

[2021-05-14 08:03] #1481 closed

[2021-05-14 11:08] sergeypriakhin commented on #1423
I will work on `shape`

[2021-05-14 15:39] ktfth commented on #1423
Working on `*-block-*`

[2021-05-14 18:19] yeonjuan commented on #1484
@JoostKersjes Hi:) Thanks for reporting it. I  confirmed that the formatter prints `comment` at the outside of jsx expression (`{..}`).

- input
[code]

- formatted
[code]

#1501 will fix it.

[2021-05-15 17:27] grimxreaper commented on #1423
I can take a stab at `text-decoration` for my first contrib to this repo if that works? @jer3m01

[2021-05-15 17:33] jer3m01 commented on #1423
Sure go ahead!

[2021-05-15 17:48] jer3m01 commented on #1423
Thanks for the catch!

Although `unicode-bidi` does require some:

![image](https://user-images.githubusercontent.com/33844379/118373297-6817d600-b5b6-11eb-9d43-7334b2097b30.png)

[2021-05-15 18:22] jer3m01 opened #1502 "📎 Refactor `browsers-db` for more advanced targeting of css prefixes"
Right now the database stores props that require a prefix as boolean but this doesn't work everywhere i.e. #1497, #1499.
https://github.com/postcss/autoprefixer/blob/main/data/prefixes.js#L566

[2021-05-16 19:03] sergeypriakhin commented on #1423
i will work on `flow-into`, `flow-from`, `region-fragment`

[2021-05-16 21:24] UsamaHameed commented on #974
I started working on this and made plenty of progress. Just need to figure out how to cleanup and init the cli. 💯

[2021-05-17 05:13] imskr commented on #1423
Working on `unicode-bidi`

[2021-05-17 13:00] imskr commented on #1459
@ematipico  can you check this once why updating tests snapshot is failing with errors https://github.com/imskr/tools/commit/73c2b07a134fff1ed4dedb195614dcdf80a149fe

[2021-05-17 13:12] ematipico commented on #1459
It fails because you're trying to prefix the parameter `unicode-bidi`, instead you need to prefix the value.

[2021-05-17 13:33] imskr commented on #1459
Do I have to add `value:` param in `unicode-bidi.ts` ? @ematipico

[2021-05-17 13:38] ematipico commented on #1459
I'd suggest to check how other similar rules are implemented. [This is an example](https://github.com/rome/tools/blob/main/internal/compiler/transforms/compile/css-handler/prefix/prefixes/image-set.ts)

[2021-05-17 13:42] imskr commented on #1459
Thanks @ematipico

[2021-05-17 15:36] grimxreaper commented on #1423
Hi there! I ran tests using `./rome test` but I get this error (` InspectorClient has no active socket`), **_any hint on what I need to do_**_**?**_  I saw that everyone's test files (/input.test.md) was auto-generated so I'm guessing all I have to do to run tests is run the command since I have already created my input.css file and added all the styles. Am I missing something?

<img width="669" a

[2021-05-17 15:39] ematipico commented on #1423
@grimxreaper  The `input.css` is auto generate BUT you need to modify and add the correct test cases. The script can't case the correct test cases.

Unfortunately the stack trace doesn't help. You could try to open a draft PR. From there we can help.

[2021-05-17 16:54] grimxreaper commented on #1423
Hm, how come I don't see those test cases in anyone's PR's in their `input.css` file?

[2021-05-17 17:06] JustBeYou commented on #1423
@grimxreaper after writing your `input.css` you have to run `rome test internal/compiler/transforms/compile/index.test.ts --update-snapshots` and `input.test.md` will be auto-generated.

@ematipico I don't think it's stated anywhere in the docs how to update the snapshots. I was confused about this too a few months ago, maybe it would be useful to write it somewhere.

[2021-05-17 21:34] grimxreaper commented on #1423
Thank you @JustBeYou that was helpful, 2 problems were found when I ran the command you suggested. Could you show me an example of tests you or others have written on this thread for their CSS prefixes? I actually don't see examples of any tests or test files in the code base...any examples available?

[2021-05-17 21:43] JustBeYou commented on #1423
@grimxreaper the idea here is not to write actual unit testing but to generate snapshots to automatically assure that the output does not change. Basically, the flow is as this:
1. Write your code to add prefixes for some CSS props
2. Write an input test case
3. Generate the snapshots (that's basically running your code with your input and saving the output)
4. Check the output by hand and/or usin

[2021-05-17 22:37] jamiebuilds commented on #1024
Moving to #1507

[2021-05-17 22:37] #1024 closed

[2021-05-18 15:06] sergeypriakhin commented on #1423
working on `font`

[2021-05-18 16:29] ematipico commented on #1484
This is fixed on `master` now

[2021-05-18 16:29] #1484 closed

[2021-05-18 18:10] jamiebuilds commented on #1029
Did this commit fix this issue? https://github.com/rome/tools/pull/1389/commits/78521b127a97b39c9fa3abf022ffa120c8250a3b

[2021-05-18 19:37] jamiebuilds commented on #1029
Answer:

[2021-05-18 20:14] jamiebuilds commented on #1418
@ematipico Are you sure that assertion is supposed to exist? Only a few lines before it checks that the argument length is `0` and the args don't appear to be used anywhere. Do you mean you expect `--cwd <path>` to exist? Or rather what argument do you expect there?

[2021-05-18 23:06] jer3m01 opened #1517 "📎 Support shorthands in `prefixCSSValue`"
For the moment `prefixCSSValue` checks if the value is strictly equal to the targeted value which doesn't work on shorthands such as `background`.
Should probably loop over each space separated string.

[2021-05-18 23:08] jer3m01 commented on #1502
Also for #1471.

[2021-05-19 07:38] ematipico commented on #1418
I must I have had a trip.

[code]

Is actually the culprit! Not sure why I recall it was working. My bad! I will make a PR, it's a quick fix.

[2021-05-19 14:12] lucasweng commented on #1423
I will work on `pseudo-classes`

[2021-05-19 20:40] jamiebuilds commented on #1402
Found another issue when looking into this, the compiled output is not great:

[code]

[code]

`...$index_js$foo` should be `...$index_js.foo` or something

[2021-05-20 08:59] JustBeYou commented on #1423
@lucasweng If it's alright, I could work on that as I have a rough idea about how it should be done. (I'm not from the core team btw)
I'll get back with a PR.

Working on `pseudo-classes`.

[2021-05-20 09:04] lucasweng commented on #1423
@JustBeYou sure, and thanks for https://github.com/rome/tools/issues/1423#issuecomment-842661845!

[2021-05-20 10:50] ematipico commented on #1483
Bug confirmed. At the moment the [visitor that we create to generate the suppression](https://github.com/rome/tools/blob/984c93cce0684f712f5adb14e91e85e382ba1add/internal/compiler/suppressions.ts#L66-L83), is not able to pick the correct comment inside a JSX file.

Somehow, we have to instruct this visitor to handle also cases when parsing JSX files. This would require navigating a bit the AST and

[2021-05-20 12:16] #1078 closed

[2021-05-20 12:16] ematipico commented on #1078
This has been fixed. The suppression will be tracked here #1483

[2021-05-20 12:17] ematipico commented on #1051
This has been fixed on `master`

[2021-05-20 12:17] #1051 closed

[2021-05-21 00:50] ktfth commented on #1402
@jamiebuilds the output are coming from v8 error frames, that is my guess

internal/v8/error-frames.ts
113:    } else if (name.startsWith("___R$")) {

[2021-05-21 10:04] ematipico opened #1523 "📎 Review internal script to update browsers data"
Running `./script generated-files/browsers-db.ts` goes in loop/error and it doesn't finish anymore:

cc @jer3m01

![Screenshot 2021-05-21 at 11 03 29](https://user-images.githubusercontent.com/602478/119120443-2fe41d80-ba24-11eb-9746-5d725d16e471.png)

[2021-05-21 20:38] reZach commented on #1423
Is there any more that need to be done here? I was going to take `unicode-bidi` but it appears @imskr has took it (the list hasn't been updated).

[2021-05-22 02:16] lucasweng commented on #1423
Working on `image-rendering`.

[2021-05-23 09:55] imskr commented on #1423
@ematipico @jer3m01 Working on `font` and its derivatives. Also please update the `unicode-bidi` as I already created PR for it :)

[2021-05-23 21:00] ktfth commented on #1402
I have changed some files to catch the point of this production

[code]

[code]

[2021-05-23 21:14] ktfth commented on #1402
internal\compiler\transforms\compileForBundle\modern\esToRefTransform.ts works on the compilation of the rome code
internal\compiler\transforms\compileForBundle\modern\cjsRootTransform.ts works on the bundle process

[2021-05-24 15:55] sergeypriakhin commented on #1423
@imskr Hi! The `font` is ready. I sent a pull request https://github.com/rome/tools/issues/1423#issuecomment-843251238

[2021-05-26 05:07] ematipico commented on #1402
Exactly, this is a compiler problem. If you check the name of the diagnostic, it doesn't contain "lint" in its name.

[2021-05-26 06:06] ocotopdf commented on #1202
@ematipico This is still happening when running `npx rome init` How do I change rome to a newer version?

[2021-05-26 06:07] ocotopdf commented on #1202
https://www.npmjs.com/package/rome is still pointing to the the pre-fix 10.0.4 beta release. How is this resolved for new users?

[2021-05-26 06:35] ematipico commented on #1202
The nightly release has that feature. Soon we'll publish a new latest, please bear with us a little bit longer!

[2021-05-26 07:08] ematipico commented on #1418
This is now fixed on `master`

[2021-05-26 07:08] #1418 closed

[2021-05-29 15:30] UsamaHameed opened #1526 "🐛 Incorrect output for optional chaining operator"
## Steps To Reproduce

As per the [discussion](https://discord.com/channels/678763474494423051/841927329265090590/847901441272053760) on discord, the output produced by Rome for optional chaining operators is wrong.

## Expected Results
It should access the property only once.

For example, the correct output for `a.b?.c` would be:
[code]

[2021-05-30 18:53] imrishabh18 commented on #1378
@ematipico Can I take up this? And do I just need to manually update the license number in that file?

[2021-05-30 19:29] ematipico commented on #1378
Hi @imrishabh18 , based on Sebastian's comment, unfortunately you'll need to do a manual update.

[2021-06-01 09:49] UsamaHameed commented on #1402
I would love to take this on after I finish #1526

[2021-06-01 16:07] imskr commented on #1441
Is this open to work? @jer3m01

[2021-06-01 16:14] jer3m01 commented on #1441
Sure, the data is generated in https://github.com/rome/tools/blob/main/scripts/generated-files/browsers-db.ts.
Although I won't be able to help much until the end of the month.

[2021-06-03 13:02] yassere opened #1528 "🐛 Stop command doesn't fully stop the rome daemon"
## Environment

<details>
<summary>$ rome rage --summary</summary>

[code]
</details>

## Steps To Reproduce

1. `./rome start`
[code]
2. `./rome stop`
[code]
3. `./rome status`
[code]
The `rome-server` process is still running and listening to the socket so the client connects to it, but the Server has mostly ended so it can't respond to requests.

Looks like the `socketServer` doesn't get attach

[2021-06-03 16:37] sebmck opened #1529 "📎 Consider disabling all lint rules by default"

[2021-06-03 16:47] jamiebuilds commented on #1529
Just a quick note from our conversation

We can have flags for easily turning on different rulesets:

[code]

[2021-06-03 16:51] ljharb commented on #1529
Why? What good are lint rules if they're not on by default?

[2021-06-03 17:08] jamiebuilds commented on #1529
"Turned off by default" is probably the wrong answer. I would prefer turned on by default, but have everything turned off as soon as you started providing config.

[2021-06-03 17:09] ljharb commented on #1529
Gotcha, that makes sense - meaning, the default config is not "an empty object", it's "something like in your previous comment".

[2021-06-03 17:11] jamiebuilds commented on #1529
Maybe something like this:

[code]

[2021-06-03 18:29] jamiebuilds commented on #1529
Some more thoughts:

- Everything is divided into rules
- Rules are grouped into categories (ie `js`, `html`, `react`)
- Categories can be `recommended` (i.e. `js` is recommended, but `react` is not)
- Rules can be `recommended` within their category (i.e. `noDirectMutationState` is recommended within `react`)

So we'd have metadata about the rules that looks like:

[code]

That would work like th

[2021-06-03 21:02] #1528 closed

[2021-06-06 20:15] antonk52 opened #1535 "📎 Remove leftover flow types support"
In the codebase there are some artefacts from the days when Rome was written using [flow](https://flowtype.org). Files such as

- `internal/js-analysis/types/EmptyT.ts`
- `internal/js-analysis/types/MaybeT.ts`
- `internal/js-analysis/types/MixedT.ts`
- `internal/js-analysis/types/OpaqueT.ts`

Since typescript does not support those and does not currently seem to be interested in implementing these

[2021-06-07 21:58] yassere opened #1537 "🐛 Regex numeric backrefs parsed incorrectly and broken by `check --apply`"
## Environment

<details>
<summary>$ rome rage --summary</summary>

[code]
</details>

## Steps To Reproduce

Backreferences are parsed as octal escapes even if there are capturing groups they can refer to.

1.  Create a file `test.foo.ts` containing:
[code]
2. Running `./rome parse test.foo.ts` results in this expression:
[code]
3. Running `./rome check --apply test.foo.ts` modifies the file to:

[2021-06-07 23:49] jhessin opened #1538 "🐛 p.match is not a function"
## Environment

[code]

## Steps To Reproduce

1. Clone my repository [here](https://github.com/jhessin/server-side-web-app-tutorial)
2. Go to the `sample_store` directory.
3. run `yarn rome check --apply`

## Expected Results

The project is linted and fixes applied.

## Actual Results

The following error is produced:
[code]

[2021-06-08 15:37] yassere opened #1540 "🐛 VS Code extension not reporting diagnostics"
## Environment

<details>
<summary>$ rome rage --summary</summary>

[code]
</details>

## Steps To Reproduce

Run `./rome run scripts/run-vscode-extension.ts .`

When VS Code is done loading, the "Rome" channel in the Output tab shows that the path to the rome-dev build was discovered. It also logs when files are opened and closed. And "Format Document" still works.
But it doesn't report any diagn

[2021-06-08 20:32] yassere opened #1542 "📎 Allow configurable output filename for bundler"
The bundler currently outputs source maps to `index.js.map` but the sourceMappingURL had been incorrectly based on the name of the entry file.
A temporary fix here #1541 allows source maps to work when debugging. This task is to decide the relevant configuration options and to fix it properly.

Related TODOs:
[Using basePath](https://github.com/rome/tools/blob/49ee439c3d44b05798a0b7a2833d1a7e6c9d3

[2021-06-08 23:39] jamiebuilds commented on #1081
Just to note, it's likely that we will have to support parsing `JSONC` files, which is the format that typescript uses for `tsconfig.json`. I think that format has been really successful for TypeScript, and I'd like to suggest it as an alternative to formats like YAML or TOML.

https://github.com/Microsoft/node-jsonc-parser

[2021-06-08 23:40] jamiebuilds commented on #1081
I believe we basically already support `JSONC` parsing as it's effectively a subset of JSON5

[2021-06-09 00:04] jamiebuilds opened #1543 "📎 Test against Web Platform Tests (WPT) + Test262"
Together these could give us a really solid way of testing Rome's compiler

- https://github.com/web-platform-tests/wpt
- ~https://github.com/tc39/test262~

[2021-06-09 12:58] yassere opened #1545 "📎 Enable linting for internal/resources"
We have `resources` in our lint ignore config, so none of the code in `internal/resources` gets checked. Can we just remove that from the config, or is there a good reason to leave it there?

[2021-06-09 13:07] ematipico commented on #1244
Closing, we now support all these features! 🎉

[2021-06-09 13:08] #1244 closed

[2021-06-09 13:23] ematipico opened #1546 "🐛 JSX comment suppression not working"
## Steps To Reproduce

Given the following code:

[code]

Running the command `rome check` throws a lint diagnostic.

[code]

## Expected Results

The lint diagnostic should be displayed because there's a suppression comment.

[2021-06-09 16:24] ematipico commented on #1529
I like this configuration.

My only concern is how big a configuration file might become (test, lint, bundling, etc.). Maybe, in the future, we might think of a way to splitting it.

[2021-06-09 16:36] sebmck commented on #1529
The `extends` property allows you to specify an array so you can already get the splitting functionality with:

[code]

I think the natural argument is why not support dynamic configuration via a `rome.js` file but that's a whole other can of worms.

[2021-06-09 16:40] ematipico commented on #1529
Oh nice! I didn't think about it! Then problem solved

[2021-06-09 17:19] ematipico commented on #984
Another feature to implement is CSS Grid. This new module bring to the table different features that, I think, should be implemented independently:
- [`repeat()`](https://csstree.github.io/docs/syntax/#Function:repeat)
- [`minmax()`](https://csstree.github.io/docs/syntax/#Type:minmax())
- [`fit-content()`](https://csstree.github.io/docs/syntax/#Function:fit-content)
- [`grid`](https://csstree.gith

[2021-06-09 19:15] jamiebuilds opened #1548 "📎 Replace `Zero/OneIndexed` with clearer data types"
Instead of more abstract types like `ZeroIndexed` and `OneIndexed` we should have data types like `Cursor`, `Column`, `Line`, `Position`, and `Location` which are clearer and can enforce things like _"You can't add a `Cursor` to a `Column`"_

This will require some updates to the binary transport format

[2021-06-09 20:33] jamiebuilds commented on #1356
I can't see the referenced logs, but if its a lint error, why would you suggest `--format-only` to run locally?

[2021-06-09 20:49] jamiebuilds commented on #1326
@sebmck can you assign this a project, idk what this is

[2021-06-09 21:22] jamiebuilds commented on #1159
Two things:

- Since we are now talking about configuration in Rome, I think this is a lint rule we wouldn't put in the recommended set as it highly-opinionated against what most of the community does
- If we can integrate type information, we should modify this rule to require an "exact" object type when rest is used.
  - Alternatively: This could be fixed with improvements to TypeScript and we c

[2021-06-09 21:30] jamiebuilds commented on #1088
Have node+windows users gotten used to this because of the rest of the ecosystem using `--` though? It may be that most of our users would actually be confused by that at this point, keeping in mind that there are likely to be hundreds/thousands of stack overflow answers/github issues/etc that write `--`

[2021-06-09 21:34] jamiebuilds commented on #1034
I don't think its true that there's nothing special we need to do to support Rome. There are certainly things we could do to make the Node experience better. Especially when we start talking about test runners and platform specific compiling/bundling

[2021-06-09 22:36] jamiebuilds opened #1549 "📎 Fail parser snapshot tests if they contain diagnostics unless explicitly permitted"
Right now it would be easy to accidentally commit snapshots that contain diagnostics, we've caught this [a few times](https://github.com/rome/tools/pull/1536/files#r648728867), but CI/tests should really be catching it first

[2021-06-10 00:14] jamiebuilds opened #1550 "📎 Add annotations to auto-deployments for the commits since the last deployment"
Right now it only shows the most recent commit, I'd like to know all of the commits since the last deployment so I can tell if I'm deploying something big.

![Screen Shot 2021-06-09 at 5 11 20 PM](https://user-images.githubusercontent.com/952783/121445163-bdd96700-c945-11eb-8f50-f86890528bf4.png)

[2021-06-10 09:58] ematipico commented on #1549
At the moment these kind of fixtures follow a predefined structure: `test-fixtures` folder and recursive discovery of `input.*` file.

We could change it in a way that if we want to explicitly test diagnostics, the file name could be `invalid.*`.

This means `input.*` files can stay the same and the test runner will fail if there are diagnostics. If the file name is `invalid.*`, the test runner mu

[2021-06-10 16:38] #1545 closed

[2021-06-10 17:25] ematipico opened #1555 "📎 Support for path aliases"
There have been some discussions already in some other issue.

Some code bases take advantage of path aliases to handle how they import their modules.
[code]

TypeScript supports them but it doesn't transform them. I think Rome should support them too - and ultimately transform/explode them during the bundling. Path aliases will be beneficial for the linter and the bundler (and testing as direct c

[2021-06-10 17:38] ematipico opened #1556 "📎 CSS Grid support"
Supporting CSS grid requires a bit a work involved. There are different functions and properties. Also, it has a restricted grammar.

Here's what I found so far:

- [x] [`repeat()`](https://csstree.github.io/docs/syntax/#Function:repeat)
- [x] [`minmax()`](https://csstree.github.io/docs/syntax/#Type:minmax())
- [x] [`fit-content()`](https://csstree.github.io/docs/syntax/#Function:fit-content)
- [

[2021-06-10 18:34] ematipico commented on #966
Closing as it's been implemented

[2021-06-10 18:34] #966 closed

[2021-06-10 23:27] yassere opened #1558 "🐛 LSP Server sends notifications before InitializeResult"
## Steps To Reproduce

Send an `initialize` request to `rome lsp`

The LSP server sends `$/progress` notifications before responding to the `initialize` request.

## Expected Results

According to the spec, "the server is not allowed to send any requests or notifications to the client until it has responded with an InitializeResult" (with some exceptions that don't apply here).

[2021-06-10 23:32] yassere commented on #1439
@strager It looks the token can only be an `integer | string` but is there a restriction on the value?

[2021-06-11 01:33] alejandronanez opened #1559 "🐛 Running `npx rome init` goes in `heap out of memory`"
I'm just trying out Rome for the first time, and if I run `npx rome init`, I get the message that I pasted bellow. I haven't installed Rome globally, it's not listed in my `package.json` either.

Also, I tried creating a new project:

[code]
And got the same error.

Thanks!!!

## Environment

[code]

## Steps To Reproduce

1. On a machine that doesn't have `rome` installed globally, create a new d

[2021-06-11 01:34] yassere commented on #1437
I wasn't able to reproduce this even with the commits you mentioned. Are you still seeing this issue?

[2021-06-11 01:40] alejandronanez commented on #1559
Also, the same happens if I install `rome` doing `npm install rome` and then I create an `npm script` that runs `rome init`

[code]

[2021-06-11 01:53] yassere commented on #1458
There was an issue where attempting to stop a daemon left it in a partially-ended state. That should be fixed now. And you should also be able to use a running dev daemon now without rebuilding trunk.

Has this problem reoccured at all?

[2021-06-11 07:33] strager commented on #1439
Oh, you're right. `value` can be anything. I misread!

[2021-06-11 13:00] yassere commented on #1439
No worries!

And it looks like @lucastrvsn had a different problem (type vs method) that's now been fixed on main, so I'll close this issue.

[2021-06-11 13:00] #1439 closed

[2021-06-11 13:25] ematipico commented on #1559
I just tried it and it worked without issues. I used the same node version that you have.

Not sure how to replicate...

[2021-06-11 13:38] alejandronanez commented on #1559
@ematipico, I think I could try with a version different than LTS later today and report back.
Is there anything else you think I can try?

[2021-06-11 18:08] yassere opened #1562 "📎 Support client capabilities in LSP Server"
Currently, the LSP server ignores the `capabilities` parameter of the `initialize` request and treats all clients the same. Instead, it should provide services based on the provided ClientCapabilities.

[2021-06-12 04:38] imskr commented on #1441
I will look into this @jer3m01

[2021-06-12 06:39] JustBeYou commented on #1559
@alejandronanez I found `rome` to be pretty resource intensive sometimes. I've got the same error a few times when I was really *abusing* my system. Could you check your RAM usage while running the command?

[2021-06-13 09:24] JustBeYou commented on #1555
`tsconfig.json` supports multiple locations for the same alias:
[code]
I think we should support the same syntax if we want it to be fully compatible.

[2021-06-14 10:05] ematipico commented on #1555
@JustBeYou as you expressed your interest working on this, please consider also [this comment](https://github.com/rome/tools/issues/1137#issuecomment-677910513).

The support should be explicit and Rome should not rely on third party API/libs for features.

[2021-06-14 10:06] ematipico commented on #1137
Closing this in favour of #1555

[2021-06-14 10:06] #1137 closed

[2021-06-14 10:30] JustBeYou commented on #1555
Sure, I know that the philosophy here is zero dependencies. I think the fix would go somewhere in the resolver, probably somewhere around `resolveLocal`.

[2021-06-14 13:34] yassere opened #1565 "🐛 Inner comments lost when formatting case-less switch statement"
If a switch statement contains comments but no case clauses, it parses into a `JSSwitchStatement` with no `innerComments`, and formatting it will cause those comments to be lost.

There’s not much use for a case-less switch statement, but if someone comments out the case clauses while testing, those comments shouldn’t disappear when they format-on-save.

## Environment

<details>
<summary>$ rome r

[2021-06-14 21:00] antonk52 commented on #1458
I've updated my local branch and things are well so far. If the problem reoccurs I will post and update here. I think we can close this issue for now.

[2021-06-14 21:56] alejandronanez commented on #1559
I'm back with some updates:
@ematipico I tried with Node 16.3.0 and got the same error

[code]

@JustBeYou Thanks for the hint! Actually `rome` has been using about 300%+ of my resources. I tried quiting every other application but `iTerm` and still got the same result 💔

At this point, I think I won't be able to use `rome` at all on my machine :( Is there anything you can think of to solve my iss

[2021-06-14 21:58] ematipico commented on #1559
@alejandronanez could you trying using the latest nightly?

[2021-06-14 22:23] alejandronanez commented on #1559
Hey @ematipico, thanks for the super quick response. Sadly I don't know how to do that, I tried with `nvm` but it seems that it doesn't have the option to install canaries. Which makes me assume that in order to run a Canary version of Node, I'd have to build it from source? If that's the case, then, I wouldn't be able to do that (I have time constrains).

[2021-06-14 23:49] jamiebuilds commented on #1555
One question we should answer is if `tsconfig.json` paths should apply to more than just JavaScript/TypeScript.

[code]

[code]

etc

That might make sense at first, but consider the use case of Rome where someone isn't using TypeScript or even JavaScript.

[2021-06-14 23:54] jamiebuilds commented on #1555
An alternative is to make the `paths` in `tsconfig.json` "managed" by Rome, as in automatically keep it in sync or yell if they disagree. There's already a number of ways I'd like to see tsconfigs managed by Rome anyways

I like how TypeScript uses a glob-like matching system over the regex stuff webpack does. But we also may be able to do a better job.

[2021-06-15 03:32] yassere commented on #1458
Sounds good. Thanks!

[2021-06-15 03:32] #1458 closed

[2021-06-15 03:33] Xiaohanxu1996 commented on #1565
I will take a look on this issue

[2021-06-15 06:08] ematipico commented on #1559
Hi @alejandronanez , sorry I meant the latest nightly of Rome. The version you used is quite old and maybe a recent one fixes your issue.

[2021-06-15 18:48] jhessin commented on #1538
Okay back up... I first got interested in using Rome because of [this](https://www.sitepen.com/blog/rome-the-last-javascript-package) article about a new tool from the creator of yarn, babel, etc. But if this tool created by the same person who made yarn doesn't support yarn I'm baffled...

[2021-06-15 20:31] ematipico commented on #1538
Eventually Rome will be able to install dependencies too.

Not sure if it's worth investing resources on pnp.

[2021-06-17 10:25] #1546 closed

[2021-06-17 15:35] jamiebuilds opened #1570 "☂️ 0.1 Release Tasks"
- [x] Turn off CSS support temporarily (won't be ready in time)
- [x] #1360 "Add support for fixes in ESLint integration"
- [x] #1388 "Remove hardcoded path from ESLint integration"
- [x] Add ESLint interop option (go through ESLint flags to see which ones we need to support)
- [ ] Test ESLint integration against popular ESLint plugins
- [x] Test ESLint integration against projects already using E

[2021-06-17 17:10] #1388 closed

[2021-06-17 17:11] ematipico commented on #1570
Working on the basic prettier support

[2021-06-17 17:44] yassere commented on #1570
We should also stabilize the LSP Server and improve its spec compliance. I'm working on that now.

[2021-06-17 17:58] #1549 closed

[2021-06-17 18:13] jamiebuilds commented on #1570
@yassere You mind adding tasks that you need to work on to this issue?

[2021-06-17 18:17] #1540 closed

[2021-06-17 23:25] jamiebuilds opened #1574 "📎 Autogenerating AST tsdocs"
Having a strongly-typed AST is great for discoverability in Rome, but newcomers may still have trouble with understanding what each node and its properties mean. While working on new documentation on how to write visitors, I started playing around with auto-generating tsdocs for AST nodes

[code]

In editors like VSCode, this renders an intellisense tooltip like:

Same thing could be done for thei

[2021-06-18 01:36] alejandronanez commented on #1559
Oh gotcha @ematipico, let me try that out.

[2021-06-18 01:45] alejandronanez commented on #1559
@ematipico, I tried running the latest nightly, and I got pretty much the same error.

[code]

But, if I try with `v10.0.7-beta.8` I got this 🎉 (it's not completely working, but it's not the error that I've got so far)

[code]

[2021-06-18 09:39] ematipico commented on #1559
OK, thank you. So the issue is really around the `init` command. You could try to run the command passing the `--profile` flag. Doing so, Rome will generate a v8 profile and from there we might able to understand what's the issue.

[2021-06-18 17:40] yassere opened #1578 "🐛 LSP code actions incorrectly labeled and executed"
Edit: The duplicate suppression comments aren't limited to LSP: #1579

## Environment

<details>
<summary>$ rome rage --summary</summary>

[code]
</details>

## Steps To Reproduce

1. While using the VS Code extension, open a file containing:
[code]
2. Clicking on `foo` and then the Code Action lightbulb shows:
[code]
3. Executing that code action results in:
[code]

## Expected Results

The code

[2021-06-18 17:45] ktfth commented on #1556
That task still available to work on? What is the steps to make a better contribution, what is need to see to made the work?

[2021-06-18 17:56] yassere commented on #1437
I was able to reproduce this when I created the temporary directory outside of any existing Rome project directories. Thanks for the bug report!

[2021-06-18 18:10] ematipico commented on #1437
Actually I was able to reproduce the issue even with files inside a Rome project.

The underlying issue is around threads and queues, that occurs when there are few and small files.

[2021-06-18 18:31] yassere commented on #1437
Yeah, it looks like in a small enough project, `Checker#runSingle` is completing and returning a printer with an empty diagnostics processor before the first `ServerRequest#requestWorkerLint` has a chance to finish. I would assume that [this line](https://github.com/rome/tools/blob/0c870f6fb6bf4f35033afabc4dbd44eeafdc2e97/internal/core/server/checker/Checker.ts#L666) isn't successfully doing what

[2021-06-18 19:35] alejandronanez commented on #1559
Thanks @ematipico!

Here's the output I got

[code]

[2021-06-18 19:44] ematipico commented on #1559
@alejandronanez could you please do it using the latest nightly?

[2021-06-18 19:58] alejandronanez commented on #1559
@ematipico there you go

[code]

[2021-06-18 20:28] yassere commented on #1437
I think that awaiting the `refreshFileEvent` push [here](https://github.com/rome/tools/blob/0c870f6fb6bf4f35033afabc4dbd44eeafdc2e97/internal/core/server/fs/MemoryFileSystem.ts#L1066) could solve the problem.

@sebmck Previously, the `newFileEvent` push had been awaited there. What was the reason for removing that await?

[2021-06-18 23:09] yassere opened #1579 "🐛 Regressions in `check --review` command"
## Environment

<details>
<summary>$ rome rage --summary</summary>

[code]
</details>

## Steps To Reproduce

1. Create a file `test.ts` containing:
[code]
2. Running `rome check test.ts --review` briefly scrolls past a diagnostic then clears the terminal and displays:
[code]
3. Selecting "Add suppression comment" results in:
[code]

## Expected Results

  - The diagnostic should still be visible

[2021-06-21 10:49] jer3m01 commented on #1441
Line 421 of https://www.github.com/rome/tools/tree/main/scripts%2Fgenerated-files%2Fbrowsers-db.ts should be converted to a for loop and a conditional continue if the prefix is `"ms"` should be added.

[2021-06-21 12:09] ematipico commented on #1556
@ktfth you could try with `fit-content`. The spec is quite simple.

[2021-06-21 12:22] ematipico commented on #1570
Currently working on the eslint interop.

[2021-06-21 13:27] #1360 closed

[2021-06-22 09:17] imskr commented on #1441
Thanks @jer3m01

[2021-06-22 14:42] #1361 closed

[2021-06-22 19:43] #1579 closed

[2021-06-23 12:49] #1437 closed

[2021-06-24 07:39] JustBeYou opened #1588 "🐛 Rome hangs on config push"
When running `rome config push` on a fresh project, Rome hangs. I reproduced the bug on two machines running Fedora and Manjaro (on bash and zsh).

## Environment

[code]

## Steps To Reproduce

Run the following commands to reproduce it:
[code]

## Expected Results

Rome should exit cleanly instead of hanging.

[2021-06-24 14:45] JustBeYou opened #1590 "🐛 Auto-config won't show diagnostics"
For example, if you have uncommitted files, running `rome auto-config` should fail and output proper diagnostics. At the moment it simply exists without reporting any error. It should be investigated if it is strictly related to `auto-config` or if the problem occurs on other local commands too.

Related PR #1587

## Environment

not relevant

## Steps To Reproduce

Run `rome auto-config` on an al

[2021-06-24 15:33] ematipico commented on #1588
It's probably a OS thing... I can't reproduce it on macOS. I will check later one when I have a linux based OS.

[2021-06-25 10:46] ematipico opened #1593 "📎 Support for .editorconfig and multiple formatting"
Rome should use `.editorconfig` as first source of truth to apply formatting styles to a project. Even though `INI` and `TOML` share some similarities, they are not quite the same. We should create a mini parser for `INI` and being able to consume `.editorconfig` file.

On the other hand, this also unlocks a feature that now Rome could support, which is the possibility to apply different formattin

[2021-06-25 10:57] ematipico commented on #1081
Closing, `main` has now full support for `TOML` as configuration file!

[2021-06-25 10:57] #1081 closed

[2021-06-25 11:12] ematipico commented on #1006
Closing due to no responses.

[2021-06-25 11:12] #1006 closed

[2021-06-25 11:22] ematipico commented on #1149
I am not sure this is an actual bug. Rome throws a fatal error because there are two packages with the same name, which is not allowed at the moment. Even if you added `tmp` manually to the `lint` section, that won't fix the issue.

If you think that this case is really common among users, feel free to file a feature request (maybe via Discussions) where we can create a allow list of packages allo

[2021-06-25 11:22] #1149 closed

[2021-06-25 14:32] #862 closed

[2021-06-25 14:34] ematipico commented on #955
I think we can close it. It's not happening anymore.

[2021-06-25 14:34] #955 closed

[2021-06-25 17:52] jamiebuilds opened #1596 "☂️ One config format, in one place"
I want to address this before we ship the 0.1 release.

One of my bigger regrets on Babel is not sticking to a single universal config format that was always in one place in the file system. It largely grew out of the many different integrations with Gulp, Grunt, Webpack, etc. where people configured Babel with its library API. But today you have:

[code]

I think this is really bad for the commun

[2021-06-25 18:02] jamiebuilds commented on #1596
I also should probably explicitly call out that I think it would be better if the `rome.toml/json` file was always required. It's a very useful flag for tools (like the Rome vscode extension) to detect if a directory is a Rome project.

See `"prettier.requireConfig"` in the Prettier VSCode extension for example, it makes it so only projects with a `.prettierrc` file have prettier run on them on fi

[2021-06-25 20:12] jamiebuilds commented on #1593
We should come up with an overall strategy to how we want to handle these sorts of things. Particularly how we avoid creating conflicts, and how we make it clear where certain configuration is coming from.

It would be easy for us to say we support all of these formats:

- Generic configuration like `.editorconfig` or `.gitattributes`
- Formatters like `.prettierrc`
- Linters like `.eslintrc`
- La

[2021-06-25 20:36] yassere commented on #1596
I think that JSONC is a good choice, and I don't think there are compelling reasons to deviate from a syntax that the community is already familiar with.

I like TOML for simple config, but personally, I think it's easier to quickly understand nested config in a json-like format (especially when you can easily fold/expand sections in your editor).

And ultimately, I hope our cli is powerful enough

[2021-06-25 20:59] jamiebuilds commented on #1596
I actually feel the opposite way. TOML avoids the problems of nesting because using tables you're always not far from context:

[code]

I don't have to scroll and match indentation/braces to see where I am. Even with braces-folding you still end up with a lots of content to scroll through. You can also text search in your editor "lint.rules.a1" and jump directly to the right section.

I think rega

[2021-06-25 21:57] milesj commented on #1596
How does Rome handle environment specific configs? Like dev/prod/local/etc?

[2021-06-25 22:35] iDuuck commented on #1596
I think @milesj has a valid point, the CLI at least should include an option to override the path (or at least the filename) of your config. This would make it much easier (also for CI) to match for dev/prod/local/etc. Otherwise, CI needs to create a file out of each context.

[2021-06-25 23:30] jamiebuilds commented on #1596
I don't want to go into too much detail in this issue, but at a high level, I don't think that Rome needs/should have environment-specific configuration for a few reasons:

- Rome should always be fully aware of what environment you're in `rome dev` `rome ci` `rome build` `rome test` `rome check` etc. Which means that it can turn things on or off automatically for the task at hand.
- For building,

[2021-06-25 23:32] jer3m01 commented on #1596
I'd go for TOML.

Haven't used it much before but just from these few examples I already understand it. So I don't think that learning it would be a problem. TOML being somewhat capable of being read and reformatted when incorrect is also a plus, ref: https://twitter.com/buildsghost/status/1408492371357028353.
Since TOML is flat we could easily allow splitting the config in as many files as wanted

[2021-06-25 23:46] jamiebuilds commented on #1596
Yeah, I mean... if Rome is successful, then we'll be eliminating the need for a lot of config files.

<details>
<summary>
Example
</summary>

I have a project right now that looks like this:

[code]

If you were to only use Rome tools, that could look like this:

[code]

Maybe in the future even:

[code]

</details>

But in the meantime a couple things:

- Hidden files/folders (dotfiles) are bad f

[2021-06-26 00:49] jer3m01 commented on #1523
Looks like it hangs during `regions.json`, will get on it soon.

[2021-06-27 11:32] JustBeYou commented on #1590
I found the root cause. There is no generic mechanism for displaying diagnostics returned from commands. Check https://github.com/rome/tools/blob/main/internal/cli/cli.ts#L633

Commands which display diagnostics usually use `reporter.<some log function>` or `DiagnosticsPrinter`. If you simply throw a `DiagnosticError` on the server it won't be automatically displayed, even if the client command re

[2021-06-27 11:45] iDuuck commented on #1596
Ok, understood. But actually I would still give the user the ability to define a custom file. There are multiple use cases where there are other build tools (whose use cases Rome cannot handle), and with it configuration files. When it comes to project structure, I would always prefer having build tool configuration in one folder. So she Config file decision should be available for me. But not man

[2021-06-28 10:41] ematipico commented on #1441
Currently working on this

[2021-06-28 10:42] ematipico commented on #1441
@imskr any idea when this will be implemented? If you don't have time it's fine, I can look into it.

[2021-06-28 10:51] ematipico commented on #1596
I am happy with either. I personally like TOML syntax and first time I started looking into it, I got the hang of it quite quickly. It has rules, it supports comments out of the box, it's really expressive  and "flat" (no nested things).

Comments inside a JSON seems, to me, unnatural. It was born to not have comments for a reason, let's stick to it.

Regarding the position of the file, having it

[2021-06-28 11:08] ematipico commented on #1593
Here's my two cents.

All "external configuration" that Rome could benefit from, should stay external and Rome should not look for those unless the user **explicitly says so**.

For example, `.prettierrc` is always ignored, unless the user explicitly turn off the extension inside the configuration file.

We have the command `auto-config` that was born for this purpose. It's a command where we can

[2021-06-28 13:55] #1590 closed

[2021-06-29 16:08] #1558 closed

[2021-06-29 16:08] #1578 closed

[2021-06-29 18:01] jamiebuilds opened #1604 "🐛 testing new bug report UI"
### Environment information

asdf

### What happened?

asdf

### Expected result

asdf

### Rome version

10.0.0

### Configuration file of your project

[code]

### Code of Conduct

- [x] I agree to follow Rome's Code of Conduct

[2021-06-29 18:01] jamiebuilds commented on #1604
Hm, it didn't add the label

[2021-06-29 18:03] #1604 closed

[2021-06-29 23:49] jer3m01 commented on #1523
Worked just took some time. Although the [progress bar](https://github.com/rome/tools/blob/c5a15d8cf48e2be40936ff3a8aa04def3a8740e0/scripts/generated-files/browsers-db.ts#L529) doesn't show for some reason?

Still closing as it doesn't stop it from working.

[2021-06-29 23:49] #1523 closed

[2021-06-30 06:56] #1441 closed

[2021-06-30 16:59] jamiebuilds commented on #1570
@ematipico @yassere Could you add some details about removing dependency checking, and simplifying the LSP and `rome check` commands?

[2021-06-30 17:29] sebmck opened #1607 "📎 Remove dependency validation and change manifest validation"
We want to make 0.1 as fast as possible and eliminate as many barriers and user bugs. One of the most buggy parts of our current `rome check` flow is dependency validation. We do not have the adequate support for module resolution rules, and the requirement for `package.json` to validate causes a lot of confusion as it's not a part of the linter and cannot be suppressed.

By removing it we'll be a

[2021-06-30 17:30] sebmck commented on #1570
Opened #1607

[2021-06-30 19:21] yassere opened #1608 "📎 Disable project-wide check watching for LSP server"
Currently, the LSP server relies on the same mechanisms as `check --watch`

This is so that it can provide project-wide diagnostics including files that aren't open in the editor, but it's also currently a source of instability and bugs.

In the interest of providing a stable LSP experience in the short term, we should modify the LSP Server to only provide diagnostics on open files for which the e

[2021-07-02 14:25] ematipico commented on #1570
The integrations are ready! Now that we decided to turn off dependency check and manifest, maybe we might able to add to the CI the integrations.

Before it wasn't an option.

[2021-07-02 17:01] #1608 closed

[2021-07-03 10:03] robpalme commented on #1555
FYI this feature may overlap with Node's package imports which provides a more constrained form of remapping module specifiers with a package.

https://nodejs.org/api/packages.html#packages_subpath_imports

[2021-07-03 18:55] JustBeYou commented on #1555
@ematipico do you know if this node feature is already supported by rome? If not, I think we need to decide if we should manage it like for `tsconfig` or not. Or maybe we shouldn't allow using both features?

[2021-07-04 09:40] JustBeYou opened #1617 "📎 Delete/pop/reset config"
`rome config` does not support any deletion related commands. I propose to have the following new commands:
* `rome config remove <key>` - deletes the configuration `key`
* `rome config pop <key> <value>` - deletes the specified `value` from an array at `key`
* `rome config reset <key>` - removes all entries from the array at `key`

I found the need for those commands when working on #1616 . When

[2021-07-05 08:35] ematipico commented on #1617
I find these commands useful! I'd like a brief discussion before jumping to developments. I believe all these commands should be followed by a confirmation (y/n) with a preview of the changes. It's a deletion after all, it will affect the project.

Cool feature! We already have arrays in our configuration (the licenses expositions and `lint.ignore`). This would come in handy.

What's the differenc

[2021-07-05 08:44] ematipico commented on #1555
Nope, at the moment the resolution of `exports` field inside a `package.json` is turned of on purpose, which means that at the moment we don't support sub paths and conditional exports.

Resolution on `imports` are not existent at the moment, I think.

We'll need to support sub paths, for sure. Although with Rome we can even go further and extend the feature to CSS files and HTML files.

We can su

[2021-07-05 08:49] #1607 closed

[2021-07-05 20:57] JustBeYou commented on #1617
Yeah, you're right. `config remove` should be enough.

[2021-07-06 19:26] yassere opened #1619 "📎 Display auto-fix code actions as quick fixes in VS Code"
The LSP Server provides code actions for auto-fixing lint diagnostics and they can be executed by clicking on the light bulb in VS Code, but they don't show up as "quick fixes".

Screenshot courtesy of @ematipico
![missing-quick-fixes](https://user-images.githubusercontent.com/7271639/124655200-28a69100-de65-11eb-81b2-e66fe700f573.png)

We should add support to display relevant code actions as qui

[2021-07-06 19:26] yassere commented on #1570
There's more we can do to improve LSP spec compliance and code action support, but I think they're good enough now to no longer be blockers for this release.

[2021-07-07 09:59] #1502 closed

[2021-07-07 10:03] ematipico commented on #1617
I'd that these commands are totally worth! If you wish work on them, feel free to do it!

[2021-07-07 11:38] JustBeYou commented on #1588
I reproduced it on `WSL 2 Ubuntu 20.04` with `node stable` too.

[2021-07-07 19:32] yassere commented on #871
This was fixed at some point, possibly when `ClientLogsLevel` was added. The `--logs all` and `--logs error` flags both work with the `lsp` command without crashing.

[2021-07-07 19:32] #871 closed

[2021-07-08 22:53] ktfth commented on #1348
Can I help solve that bug?

[2021-07-09 11:04] ematipico commented on #1348
This is a tricky one. Feel free to help but this is a subtle issue and would require time and more in depth knowledge of the scope.

[2021-07-09 15:21] #1165 closed

[2021-07-10 17:30] Conaclos opened #1632 "🐛 Rome check: Cannot find ts files imported as js files"
### What happened?

1. create two files `a.ts` and `b.ts` in the same folder
2. import `b.ts` as a js file in `b.ts`
3. run rome linter `rome check`.

Rome check outputs `Cannot find ./a.js from b.ts`

[code]

### Expected result

Rome should identify js imports as ts imports if the js file does not exist.

The use of js extensions in imports is supported by TypeScript and enables direct execution

[2021-07-10 18:07] ktfth commented on #1348
@ematipico Just to register an information about the bug.

Welcome to Node.js v16.4.2.
Type ".help" for more information.

undefined

Uncaught TypeError: Cannot read property 'message' of undefined
    at a (REPL1:1:12)

There is the behavior of a similar reproduction

[2021-07-11 21:09] jer3m01 commented on #1570
We should also add a task to update GOVERNANCE.md.

[2021-07-12 10:49] ematipico commented on #1632
Is it actually a bug? I'd say it's a feature request. Rome doesn't fully support ESM at the moment so I think it's expected as behaviour.

[2021-07-12 10:52] ematipico commented on #1570
@sebmck @jamiebuilds the governance one should assigned to one of you.

[2021-07-12 10:58] Conaclos commented on #1632
@ematipico
This makes sense. Should I close this issue and open a new one?

[2021-07-12 11:02] ematipico commented on #1632
Rome diagnostic (not a lint rule) should show you the type of [error you're getting](https://rome.tools/#anatomy), called category.

[Then add a suppression](https://rome.tools/#suppressions)

If you're not happy with the result, you could use the latest nightly where we disabled this kind of errors.

[2021-07-13 17:06] ktfth commented on #1574
Everyone can help on that task?
And the generation have a specific way to happen (``)?

[2021-07-14 13:13] #1632 closed

[2021-07-15 00:21] jonahsnider opened #1643 "📎 `rome init` should add the Visual Studio Code extension to the workspace's recommended extensions"
### Description

Visual Studio Code has support for [workspace recommended settings](https://code.visualstudio.com/docs/editor/extension-marketplace#_workspace-recommended-extensions). When someone opens the workspace they will be prompted to install the recommended extensions.

Rome could automatically create a `.vscode/extensions.json` file in the `rome init` command. This could help users get s

[2021-07-15 00:40] jamiebuilds commented on #1643
Maybe. I would want to avoid annoying users with this unnecessarily, particularly people not using vscode. There may be a few things we can do to mitigate that though:

- Check if the users editor is vscode
- If they do: Prompt them to install the vscode extension themselves
- If they install the extension: Prompt them if they want to create a `extensions.json` file (probably better done by the ex

[2021-07-15 10:20] ematipico commented on #1643
I don't understand this part. `extensions.json` is meant  to install recommended extensions. If a user installs the extension, then `extensions.json` loses its value. That's what I understood.

Wouldn't be better to ask the user if they use VSCode during `rome init`? The default choice would be no. They have to opt-in.

[2021-07-15 14:02] jonahsnider commented on #1643
There's some value in doing it for other users, not just the person who ran `rome init` (ex. someone outside of your organization is contributing to your project, they have no idea what Rome is until the extension is suggested to them)

[2021-07-15 14:51] ematipico commented on #1596
I'd say we could move the config file in the root folder, away from `.config/` folder with one release.

After that we could use some telemetry to understand which projects prefer to use `json` and which ones prefer `toml`. And with another release, we could deprecate one format and offer a "conversion" command that moves the config with the deprecated extension to the new one.

[2021-07-15 22:56] jer3m01 commented on #1348
Mostly a note to myself:
destructuring with a default value works in functions, results to a `JSBindingObjectPattern` but parser doesn't expect one since it's not sure we're in an arrow function yet. Might need to add it to add it as an expectation on https://github.com/rome/tools/blob/1d128b8e9c2c6facea36c7a6048a42e71a1f8488/internal/js-parser/parser/expression.ts#L1971

[2021-07-16 12:45] jer3m01 opened #1647 "📎 Add rule to only allow 1 kind of TS array definition"
### Description

Typescript has 2 ways to define an array:

[code]

However these become inconstant throughout a codebase.

We should add a lint rule to only allow 1 kind to be used everywhere, either should be configurable and autofixable.

[2021-07-16 12:47] ematipico commented on #1647
We already have it: https://rome.tools/docs/lint/rules/ts/preferShorthandArrayType/#tsprefershorthandarraytype

[2021-07-16 12:48] jer3m01 commented on #1647
Oh my bad, thanks @ematipico

[2021-07-16 12:48] #1647 closed

[2021-07-16 15:57] #1324 closed

[2021-07-16 15:57] sebmck opened #1649 "📎 New Governance requirements"
### Description

Will fill in after our team meeting.

[2021-07-16 15:58] jer3m01 opened #1650 "📎 Fix parsing destructuring default value assignment expression test"
### Description

Context: #1651

js-parser still can't handle
https://github.com/rome/tools/blob/6f1960fae2491a1403654a8eb0e6756f16891d42/internal/js-parser/test-fixtures/es2015/uncategorised/307/input.js#L1

[2021-07-16 17:52] robert-chiniquy commented on #1221
I'm being hit with this one too, Rome seems to be choking on a 13kLOC JSON file.

[2021-07-17 08:53] jonahsnider commented on #1397
The issue is still occurring on the latest versions of Rome.
For whatever reason Yarn 2 installs the package as
[code]

whereas Yarn 1 installs it as

[code]

Yarn 2 is just storing the `bin` directory (???). With no `package.json` it tries to run `index.js`, which doesn't exist and throws an error.
As a temporary workaround you can add a `rome` script that points to the actual binary path:

[code

[2021-07-19 11:08] #1348 closed

[2021-07-19 11:11] ematipico opened #1653 "📎 Support for `declare` inside class field declarator"
### Description

Enable the following TypeScript syntax:

[code]

[2021-07-19 12:20] ematipico commented on #1221
This should not be the case anymore. Latest nightly should exit with error

[2021-07-19 16:40] jamiebuilds commented on #1596
Spoke more about this as a team:

- We want to move away from the `.config` folder for the reasons outlined in [this comment](https://github.com/rome/tools/issues/1596#issuecomment-868886798)
- We want to continue to have the `rome config` command regardless of if we standardize around a single config file, we think its still useful.
- We have not yet decided on TOML vs JSON w/ Comments
  - We agr

[2021-07-24 22:18] jer3m01 opened #1660 "📎 Human readable timestamp in recover list"
### Description

Timestamps displayed on `rome recover list` are hard to read:
![image](https://user-images.githubusercontent.com/33844379/126882212-cd0df2b7-ca4b-4457-847b-754f30c5df93.png)

We should at least show a human readable version next to it or just human & timestamp.
[code]

[2021-07-26 10:21] #1653 closed

[2021-07-27 04:15] imskr commented on #1660
Can I work on this @jer3m01 ?

[2021-07-27 19:54] jer3m01 commented on #1660
@imskr Sure! The formatter already exists: https://github.com/rome/tools/blob/3781e838239c50f3a37baf87fa312bfdb5cd4eec/internal/numbers/Duration.ts#L209-L242

Just need to find where the output is from, enable `longform` and maybe add it to our markup tag (https://github.com/rome/tools/tree/main/internal/markup#duration)

[2021-08-05 05:31] imskr commented on #1660
Thanks @jer3m01

[2021-08-25 11:07] vjpr commented on #742
As of 2021/08/03, Rome is being [re-written in Rust](https://twitter.com/rometools/status/1422616144763097091?lang=en).

[2021-08-25 11:08] vjpr commented on #144
As of 2021/08/03, Rome is being [re-written in Rust](https://twitter.com/rometools/status/1422616144763097091?lang=en). [Reddit thread](https://www.reddit.com/r/rust/comments/oyh95f/rome_tools_being_rewritten_in_rust_and_hiring/).

[2021-09-16 13:09] tkeiyama opened #1663 "🐛 Incorrect domain in `rome init`"
### Environment information

[code]

### What happened?

1. I've run the following commands
  - `yarn init -y`
  - `yarn add rome`
  - `yarn rome init`

2. The console showed me incorrect domains.

#### Details

There are lots of incorrect domain that is `romefrontend.dev` when I run `yarn rome init`.
As you know, `romefrontend.dev` cannot be reached.
So the domain should be `rome.tools/` or other

[2021-09-17 11:36] tkeiyama opened #1664 "🐛 Error occurs with --watch frag"
### Environment information

[code]

### What happened?

1. Ran `yarn rome check --apply --watch`
1. I pressed `Ctrl + V` in package.json
2. The following error occured in the console.

<details>
<summary>Error</summary>
 Linting: package.json                                                                                                      elapsed 0.17s
 server project-rome/@internal/core/serve

[2021-09-22 01:35] Caryyon commented on #1535
is this still up for grabs?

[2021-09-22 14:14] ematipico commented on #1535
No, this issue is not valid anymore.

[2021-09-22 14:14] #1535 closed

[2021-09-22 23:00] jamiebuilds commented on #1663
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:00] #1663 closed

[2021-09-22 23:01] jamiebuilds commented on #1664
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:01] #1664 closed

[2021-09-22 23:01] jamiebuilds commented on #1537
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:01] #1537 closed

[2021-09-22 23:01] jamiebuilds commented on #1660
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:01] #1660 closed

[2021-09-22 23:01] jamiebuilds commented on #1221
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:01] #1221 closed

[2021-09-22 23:01] #1397 closed

[2021-09-22 23:01] jamiebuilds commented on #1650
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:01] #1650 closed

[2021-09-22 23:02] jamiebuilds commented on #1570
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:02] #1570 closed

[2021-09-22 23:04] jamiebuilds commented on #1556
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:04] #1556 closed

[2021-09-22 23:04] jamiebuilds commented on #1588
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:04] #1588 closed

[2021-09-22 23:05] jamiebuilds commented on #1040
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:05] #1040 closed

[2021-09-22 23:05] jamiebuilds commented on #1559
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:05] #1559 closed

[2021-09-22 23:05] jamiebuilds commented on #1548
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:05] #1548 closed

[2021-09-22 23:06] jamiebuilds commented on #1538
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:06] #1538 closed

[2021-09-22 23:06] jamiebuilds commented on #1402
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:06] #1402 closed

[2021-09-22 23:06] jamiebuilds commented on #1526
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:06] #1526 closed

[2021-09-22 23:06] jamiebuilds commented on #1423
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:06] #1423 closed

[2021-09-22 23:06] jamiebuilds commented on #1029
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:06] #1029 closed

[2021-09-22 23:07] jamiebuilds commented on #1496
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:07] #1496 closed

[2021-09-22 23:07] jamiebuilds commented on #836
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:07] #836 closed

[2021-09-22 23:07] jamiebuilds commented on #1517
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:07] #1517 closed

[2021-09-22 23:07] jamiebuilds commented on #797
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:07] #797 closed

[2021-09-22 23:07] jamiebuilds commented on #1483
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:07] #1483 closed

[2021-09-22 23:08] jamiebuilds commented on #1475
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:08] #1475 closed

[2021-09-22 23:08] jamiebuilds commented on #803
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:08] #803 closed

[2021-09-22 23:09] jamiebuilds commented on #1068
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:09] #1068 closed

[2021-09-22 23:09] jamiebuilds commented on #1021
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:09] #1021 closed

[2021-09-22 23:14] jamiebuilds commented on #1565
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:14] #1565 closed

[2021-09-22 23:14] jamiebuilds commented on #1562
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:14] #1562 closed

[2021-09-22 23:16] kno-raziel commented on #1040
@jamiebuilds I believe this issue shouldn't closed since is not related to typescript based coded used to build Rome, it was related to the linter functionality using typescript files and global names. Not sure if that have been updated/fixed...

[2021-09-22 23:17] jamiebuilds commented on #1326
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:17] #1326 closed

[2021-09-22 23:18] jamiebuilds commented on #1356
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:18] #1356 closed

[2021-09-22 23:18] jamiebuilds commented on #1542
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:18] #1542 closed

[2021-09-22 23:18] jamiebuilds commented on #731
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:18] #731 closed

[2021-09-22 23:18] jamiebuilds commented on #752
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:18] #752 closed

[2021-09-22 23:19] jamiebuilds commented on #734
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:19] #734 closed

[2021-09-22 23:19] jamiebuilds commented on #1380
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:19] #1380 closed

[2021-09-22 23:19] jamiebuilds commented on #1362
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:19] #1362 closed

[2021-09-22 23:20] jamiebuilds commented on #1367
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:20] #1367 closed

[2021-09-22 23:20] jamiebuilds commented on #1358
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:20] #1358 closed

[2021-09-22 23:20] jamiebuilds commented on #1329
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:20] #1329 closed

[2021-09-22 23:22] jamiebuilds commented on #1327
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:22] #1327 closed

[2021-09-22 23:22] jamiebuilds commented on #1322
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:22] #1322 closed

[2021-09-22 23:22] jamiebuilds commented on #1247
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:22] #1247 closed

[2021-09-22 23:23] jamiebuilds commented on #1243
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:23] #1243 closed

[2021-09-22 23:23] jamiebuilds commented on #1155
Merging this into the other linked issues

[2021-09-22 23:23] #1155 closed

[2021-09-22 23:26] jamiebuilds commented on #1111
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:26] #1111 closed

[2021-09-22 23:26] jamiebuilds commented on #1134
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:26] #1134 closed

[2021-09-22 23:26] jamiebuilds commented on #981
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:26] #981 closed

[2021-09-22 23:26] jamiebuilds commented on #1136
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:26] #1136 closed

[2021-09-22 23:27] jamiebuilds commented on #1116
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:27] #1116 closed

[2021-09-22 23:27] jamiebuilds commented on #1087
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:27] #1087 closed

[2021-09-22 23:27] jamiebuilds commented on #1065
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr

[2021-09-22 23:27] #1065 closed

[2021-09-22 23:27] jamiebuilds commented on #978
Hi! Thank you for opening this issue

We recently made the decision to [migrate the Rome codebase to Rust](https://rome.tools/blog/2021/09/21/rome-will-be-rewritten-in-rust) and making some significant changes to its architecture. We've also decided not to release the previous version written in TypeScript.

We're going through and closing pull requests and issues that were specific to the TypeScr