[2020-02-20 18:46] sebmck opened #1 "Logo"
The current logo is OK but it would be nice to have something a lot simpler. It was created with an SVG I purchased which was modified with illustrator and the lines smoothed out and color with shading added.

[2020-02-20 18:47] sebmck opened #2 "☂️ Governance"
As the project matures we'll want to have a more established governance structure. This wont be an area of focus until a published release.

[2020-02-20 18:47] sebmck opened #3 "Diagnostics"
Diagnostics are an extremely powerful feature of Rome that allow the generic construction and presentation of errors in source code.

- Types can be found in [`packages/@romejs/diagnostics/types.ts`](https://github.com/facebookexperimental/rome/blob/master/packages/%40romejs/diagnostics/types.ts).
- Diagnostics can take two forms. The `PartialDiagnostic` type, which has a lot of optional propertie

[2020-02-20 18:48] sebmck opened #4 "Markup"
We have a package called [`string-markup`](https://github.com/facebookexperimental/rome/tree/master/packages/%40romejs/string-markup) that we process all strings through when we log to the console. This is also used inside of [diagnostics](https://github.com/facebookexperimental/rome/issues/3) strings. It's a HTML-like syntax that removes the need for hardcoding ANSI formatting, and would allow ea

[2020-02-20 18:48] sebmck opened #5 "Codebase structure"

[2020-02-20 18:48] sebmck opened #6 "Server architecture"

[2020-02-20 18:48] sebmck opened #7 "Projects"
The package [`@romejs/project`](https://github.com/facebookexperimental/rome/tree/master/packages/%40romejs/project) is responsible for loading, validating, and normalizing project configs. Rome project config exist as `rome.json` or [`rome.rjson`](https://github.com/facebookexperimental/rome/issues/13) files. It can also take the form of a `rome` property in `package.json`.

[2020-02-20 18:48] sebmck opened #8 "AST"
The Rome AST is derived from [estree](https://github.com/estree/estree) but with some pretty significant changes. Contained here are notes that may be useful when working with it.

- Redundant AST nodes have been eliminated. Some of these exist in estree to provide additional location information eg. `ClassBody` but it has been eliminated in favor of putting the `body` array on the parent.

- The

[2020-02-20 18:49] sebmck opened #9 "☂️ Add tests"
I'm not very good at writing tests. This issue is to track tasks involved with writing tests for a stable release.

- Add `js-generator` tests #17
- Update `js-parser` tests #11

[2020-02-20 18:49] sebmck opened #10 "☂️ Public API"
The [`rome`](https://github.com/facebookexperimental/rome/tree/master/packages/rome) package will likely be the only package published for users. This will contain the CLI and a very thin API that heavily limits the public API exposed. There's no intention to publish any other packages as this would heavily restrict the changes we can make.

 - Custom project finding logic exists that matches the

[2020-02-20 18:49] sebmck opened #11 "Update js-parser tests to match babel-parser"
`js-parser` is a fork of `babel-parser`. The code has diverged way too far to allow any sort of commit merging but the test fixtures are still valuable. [`packages/@romejs/js-parser/__rtests__/__rfixtures__/
`](https://github.com/facebookexperimental/rome/tree/master/packages/%40romejs/js-parser/__rtests__/__rfixtures__) should be updated with those from [`babel-parser/test/fixtures`](https://gith

[2020-02-20 18:49] sebmck opened #12 "Update TS syntax"
Since I implemented TypeScript support there has been new syntax added such as `assert` that I've yet to add.

[2020-02-20 19:36] sebmck opened #13 "RJSON"
Rome contains a custom JSON parser at [`packages/@romejs/codec-json`](https://github.com/facebookexperimental/rome/tree/master/packages/%40romejs/codec-json). The primary motivation for building this was `JSON.parse` does not emit detailed information for syntax errors. So I decided to build a vanilla JSON parser with detailed errors that emits Rome diagnostics (#3).

Once I had this built, it was

[2020-02-20 19:57] sebmck opened #14 "☂️ Website"
I've yet to start building any sort of website. I'd love for someone else to start building one as it will definitely be needed for our first release.

[2020-02-20 20:00] sebmck opened #15 "Parser"
The Rome parser is located at [`packages/@romejs/js-parser/`](https://github.com/facebookexperimental/rome/tree/master/packages/%40romejs/js-parser/). It was a fork of `@babel/js-parser` that has diverged so much it's almost indistinguishable.

Followed are some notes that may be useful.

- Plugins don't exist, they are hardcoded into the parser.
- The parser is tolerant, meaning that it will neve

[2020-02-20 22:10] sebmck opened #16 "☂️ Integrations"
This issue documents possible Rome integrations into existing tools.

This will be limited by the public API discussed in #10, notably async only methods that may restrict integration in some tooling.

[2020-02-20 22:22] sebmck opened #17 "Add js-generator tests"

[2020-02-20 22:42] sebmck opened #18 "☂️ Published Release"
This issue is to track the milestone [Published Release](https://github.com/facebookexperimental/rome/milestone/1).

Rome is still in development and once we are confident we have something usable and stablefor a wider audience we'll publish to npm.

[2020-02-20 22:46] sebmck opened #19 "Create issues for all TODO comments"
We have almost 100 TODO comments throughout the codebase. Go through these and work out what's still relevant and create issues for the rest. https://github.com/facebookexperimental/rome/search?q=TODO&unscoped_q=TODO

[2020-02-20 23:36] sebmck opened #20 "☂️ Linting"
The current area of focus for Rome is linting. This is the path of least resistance for finishing a part of Rome that can be used most easily.

With diagnostics #3 the lints that Rome can produce will be more detailed than any other existing JS linter. The most difficult part of this will be editor integration and writing a set of lint rules.

One large question is how we handle configuration. Are

[2020-02-21 04:44] sebmck opened #21 "Update vendored version of Rome"

[2020-02-23 01:52] #21 closed, assigned to nobody

[2020-02-27 05:02] pcooney10 opened #25 "Been waitin for this bad boy"
😏

[2020-02-27 05:03] #25 closed

[2020-02-27 05:15] shirshak55 opened #26 "removing node_modules"
as node_modules is from history I don't think creating PR is easy . However I think we should add node_modules to gitignore ?

I used the following command to remove entire node modules from git history
[code]

I did made a fork which address this issue.
https://github.com/shirshak55/rome/

I think pushing node_module is not intentional right?

[2020-02-27 05:15] Daniel15 commented on #14
Might be a good use case for Docusaurus! cc @yangshun

[2020-02-27 05:18] vvo commented on #19
Would an app that creates them be useful? https://github.com/JasonEtco/todo for example

[2020-02-27 05:19] yangshun commented on #14
Definitely, we hope new open source projects within Facebook use Docusaurus as well! @sebmck if you have a list of items that you want/need to have for the website, I can advise whether Docusaurus will a good fit. Sample websites that you want to emulate will be hugely helpful too.

If this proceeds, we can provide dedicated support for the website as well. cc @JoelMarcey @lex111

[2020-02-27 05:20] itaditya commented on #26
in the [Contributing.md](https://github.com/facebookexperimental/rome/blob/master/.github/CONTRIBUTING.md#getting-started) file they have mentioned that they push the node_modules to GitHub intentionally.

[2020-02-27 05:21] sebmck commented on #26
Yeah pushing `node_modules` is deliberate. The dependency list is extremely small and only for development. I'll leave this open since I'm sure this question will come up more.

[2020-02-27 05:24] EverlastingBugstopper opened #30 "Build from source?"
Would love to help out with some documentation on building from source - if you can point me in the right direction I'm happy to make a PR 😄

[2020-02-27 05:28] sebmck commented on #30
There's two scripts that are relevant. [`dev-rome`](https://github.com/facebookexperimental/rome/blob/master/scripts/dev-rome) and [`build-release`](https://github.com/facebookexperimental/rome/blob/master/scripts/build-release).

When running `dev-rome` it compiles Rome then immediately runs it with the arguments passed. This is used when you're actually developing against trunk. eg. `scripts/dev

[2020-02-27 05:34] shanewilson opened #31 "Fatal error occurred: Error: EMFILE: too many open files"
Description:

OSX 10.15.1
Node v12.14.1

Tried to follow the steps in [CONTRIBUTING.md](https://github.com/facebookexperimental/rome/blob/master/.github/CONTRIBUTING.md) but keep running into a `too many open files` error.

I see the `Adding project /...` line for about a second and then the error pops up.

## Steps To Reproduce

1. Cloned the repo

[code]

2. Ran the help command

[code]

3. Trie

[2020-02-27 05:36] felixhaeberle commented on #14
would love building one! +1 docusaurus sounds really good for the rome! 👍

[2020-02-27 05:40] EverlastingBugstopper commented on #30
👍 thanks

[2020-02-27 05:40] #30 closed

[2020-02-27 06:35] aligoren opened #32 "There is no node_modules folder in the .github folder"
Hi :)

I was reading the **Getting Started** section in the contributing documentation.

In the below line mentioned about **node_modules** folder.

I clicked it but as you can see there is no .github folder. I think [this](https://github.com/facebookexperimental/rome/tree/master/node_modules) is the new location of the **node_modules** folder.

[2020-02-27 06:38] sebmck commented on #31
Thanks for the report! Looks like a lot of others were experiencing this with macos on the Discord. I develop on Linux so took a wild guess from the stacktrace that it was something to do with file watching and had a look and found 0bd48c3c6f3e926b2c840dc7937b83632b1f5a5e. I've been told this fixes it, let me know if it doesn't!

[2020-02-27 06:41] #32 closed

[2020-02-27 06:41] sebmck commented on #32
Not sure why that was a link in the first place. The `CONTRIBUTING` file was originally in the root but was moved into `.github` which caused the incorrect reference. Thanks for the report!

[2020-02-27 06:49] Haroenv commented on #13
What is the reason you added no-comma support? Three others are js features, so that makes sense, but I haven’t seen commaless before. Is it to be closer to yaml/rc?

[2020-02-27 06:51] slobo commented on #20
Whether opinionated or fully configurable, it would be great to have ability to disable linter and/or prettifyer on blocks/sections of code - for those situation where a human believes they know better.

Something to this effect (excuse the unrealistic examples).

Sample Syntax:
[code]

Examples:

- Turn off a particular linter rule on a block of code

[code]

- Turn off a particular linter  rule

[2020-02-27 06:58] ChristopherBiscardi opened #33 "Can't parse ES6 imports *and* JSX in the same file"
Description:

Consider the following file, which with various extensions doesn't parse.

[code]

When using `.js`:

[code]

When using `.mjs`

[code]

when using `.jsx`

[code]

## Steps To Reproduce

1. Put the contents of the file in a file named `test-file` with the appropriate extension from above (`.js`, `.mjs`, or `.jsx`).
2. run `./scripts/dev-rome parse test-file.jsx`
3. one of the errors

[2020-02-27 07:09] sejr commented on #1
![](https://i.imgur.com/MTAJSCu.png)
![](https://i.imgur.com/vooxypr.png)
![](https://imgur.com/HF6fofp.png)

[Galea SVG source](https://www.svgrepo.com/svg/71032/roman-helmet)

[2020-02-27 07:25] OmerHerera opened #34 "Issues link in contributing page is broke"
Description:

Issues link in contributing page is broke
## Steps To Reproduce

1. Go to https://github.com/facebookexperimental/rome/blob/master/.github/CONTRIBUTING.md
2. Click on `GitHub issues`

## Expected Results

Issues Page is open

[2020-02-27 07:28] OmerHerera commented on #34
Here is the link for the PR with the fix:
https://github.com/facebookexperimental/rome/pull/35

[2020-02-27 07:37] tom-sherman opened #36 "Add Test262 for JavaScript parser"
Prior art in this space:

https://github.com/babel/babel-test262-runner

[2020-02-27 07:45] tom-sherman commented on #9
I have raised #36 to add the Test262 suite for the parser

[2020-02-27 07:49] tom-sherman commented on #14
One idea I've stumbled upon recently when creating a docs website at work is to use Hats y and place the typescript types into Gatsby's GraphQL schema.

It's great to be able to use that data in loads of different ways and work from a single source of truth.

[2020-02-27 08:10] sesam commented on #20
IMHO: Have good defaults, and make it slightly painful to disable the linter for a line. Add good linting explanations that link specifically to the linting repo....
This ensures that lintier-rage :tableflip: gets targeted at the linting repo, and then just man that repo with chat-bots that are trained at calming people down and telling them their way is probably the best, but the linting rules ar

[2020-02-27 08:14] vickywane commented on #19
How about using other tools to track todos like @vvo has suggested ?

Like Trelllo or something easily accessible for those who want to contribute so they can jump in right away

[2020-02-27 08:22] fredericbonnet commented on #1
I was about to open an issue about the logo :)

The current logo is a Greek helmet, not a Roman one. The logo proposed by @sejr is correct.

I like the middle design BTW.

[2020-02-27 08:27] kimstacy commented on #1
@sejr What are your thoughts on a laurel wreath? Is the Roman helmet a cemented desire?

Example of what I mean:
![spqr](https://user-images.githubusercontent.com/46656072/75425197-d5830c80-5907-11ea-99f1-21c93f5f7a96.png)

[Source](https://en.wikipedia.org/wiki/SPQR#/media/File:Roman_SPQR_banner.svg)

---
I also discovered a more simplistic rendition at the site linked above. See [here](https://w

[2020-02-27 08:49] MaggieAppleton commented on #1
👋 If you need some help with this, I'm up for it.

I'm the AD/illustrator for egghead and have some experience with tech logos 👉
 https://maggieappleton.com/

For branding projects I like the approach of have a well illustrated graphic for website headers and promotions (stickers, podcast covers, etc.), and then a matching simplified SVG for small-scale menu bars, favicons, etc. Gives you a good r

[2020-02-27 08:59] tom-sherman opened #39 "Developing on Windows?"
Currently all of the scripts are written in bash which is possible to get working on WSL, but it may be a bridge too far for a lot of people. Maybe these scripts could be ported to Node?

[2020-02-27 09:09] linvain opened #40 "Improve README"
Please describe the actual usage of the package

— https://news.ycombinator.com/item?id=22430940

[2020-02-27 09:34] smbkr commented on #40
Given the state of the project (early stages, experimental and subject to change), I think the README is pretty clear already.

[2020-02-27 09:51] jloleysens commented on #20
I think the extendability of formatting should be limited. Perhaps a small set of options could be exposed in config (a starting point could be a subset of those Prettier exposes https://prettier.io/docs/en/options.html, like newline and semicolon).

It's just one less thing to have to think about - which complements the goals of this project. We can take a cue from `go fmt` here, IMO.

Opening up

[2020-02-27 09:51] abhinavdalal opened #42 "🗣️ Standardize order of the imports in a file"
relates to #20

The goal is to order the imports based on type of import; philosophy in general is that code closer to the file is imported after code further away. this may need some config around it however.

proposed order for front end js files:
- library imports
- api function imports
- component imports
- css imports
- relative path imports

sort it alphabetically within these categories

we

[2020-02-27 09:58] sgwilym commented on #1
Given the namesake:

A focus on militaristic imagery seems off-key. To me it makes sense to somehow symbolise Rome's fixation on infrastructure and their engineering feats.

Imagery like an aqueduct, maybe? It represents infrastructure well, has a pleasing internal visual rhythm, and has a great silhouette:

![image](https://user-images.githubusercontent.com/579491/75432979-8b257e00-594f-11ea-8220

[2020-02-27 10:02] jloleysens opened #43 "Where are the configuration options?"
Playing with `dev-rome` a bit the documentation seems to only go one level deep; listing the commands that are available on `./scripts/dev-rome --help`. Specific help for subcommands was not present and so I ran into 👇🏻 quite quickly.

[code]

The following would be really helpful (to me, a totally random new user 😅):

1. A way to get docs for sub-commands
2. Some kind of indication of how to inte

[2020-02-27 10:05] iraycd commented on #1
@MaggieAppleton I think it's great, but I personally prefer square than rectangular logos.

[2020-02-27 11:43] fnky commented on #33
I agree that it would be better not to rely on the extension. The issue with that is that it is very difficult to cover all edge cases to determine what type of source it is without other kind of metadata to let the parser know how to parse it.

One way to do it is to include `type: "module"` in your `package.json`. If you have a code base with multiple types of files, you could split ES Modules a

[2020-02-27 12:47] bhargavgana commented on #43
hi,
Rome project config exist as rome.json or rome.rjson files. It can also in the  rome property, in package.json.

[2020-02-27 13:28] torifat commented on #31
I applied the patch but still having same issue. Also, increased my `maxfiles` limit.
[code]

[2020-02-27 13:35] olee commented on #40
Just a small list of getting started steps for a kinda hello world project built with rome to test it would be much appreciated.
This project looks super awesome and I would really like to try it out without having to dig through the project first to understand how to use it.

[2020-02-27 14:34] chadhietala commented on #20
While I agree with @jloleysens, one thing I think is fairly common in large codebases is introducing lint rules as a means to migrate away from specific APIs in addition to codemods. However, if there is the capability participate in compilation through plugins one could create their own application specific linting tools based on the Rome AST.

[2020-02-27 14:55] mikesherov opened #48 "What's the best way for a new contributor to this project to get involved?"
Congrats on Rome! A lot of people are excited about this project and some people are itching to get involved. There are already a lot of issues in the issue tracker and there are clearly laid out philosophies, etc. Seems like fertile ground for folks to contribute.

It would be great if layered on top of the good work here if there was some signal about areas you're specifically looking for active

[2020-02-27 15:37] torifat commented on #31
It worked! Had to change the compiled file. My bad 🤦🏽‍♂️

[2020-02-27 15:56] kevinbarabash commented on #6
Does this encompass LSP support?

[2020-02-27 15:59] wardpeet commented on #14
I'm happy to help setup a Gatsby site if this becomes the choice ☺️

[2020-02-27 16:05] Aghassi commented on #20
I'm torn on escape hatches. They are needed, but also I've seen them abused by devs who don't care. I think the main question for that is what are we trying to achieve with listing rules. Are they style rules for formatting, or are they actual bug prevention rules? Style rules can always be overridden, but some bug prevention stuff I feel pretty strongly should not have an out.

As for plugins, it

[2020-02-27 16:16] iFlameing commented on #14
I would be happy to help with anything related to the website :)

[2020-02-27 16:18] arvigeus commented on #20
I think instead of error/warnings like eslint, Rome should categorize code based on levels, example:
1: Errors. Reserved only for invalid JS code, things that will throw exceptions when executed.
2: JS quirks. Things that JS allows, but will most likely produce unexpected result. Examples: duplicate object keys, using variables before defining.
3: Ambiguous code: Things that are possibly wrong, bu

[2020-02-27 16:37] wzalazar commented on #20
I would like to leave my experience in Po.et in architecture at least, we decide to create a project with the  linting rules, also could be in the monorepo, only I will leave the link I think is very easy to understand the idea and you can take a look

https://github.com/poetapp/tslint-rules

[2020-02-27 16:39] jkrems commented on #33
You can also use `.cjs` for the CommonJS files. Using multiple `package.json` files should be a very last resort since it makes it really hard to follow what's going on in the project. Both humans and tools have to constantly look through the directory tree just in case there's a `package.json` file hiding somewhere.

I think I would prefer if JSX syntax would be treated as a layered feature. Usin

[2020-02-27 16:40] wzalazar commented on #18
all packages will have the same version when you publish or will be independent?

[2020-02-27 16:41] arslivinski opened #50 "Package manager"
There's a plan to make Rome a package manager too? This way the only external dependency would be the Node itself.

[2020-02-27 18:31] Daniel15 commented on #39
Around 48% of developers are on Windows according to Stack Overflow's developer surveys (https://insights.stackoverflow.com/survey/2019#technology-_-developers-primary-operating-systems) so this seems like a reasonable suggestion.

[2020-02-27 18:54] MareikeTaeubner commented on #39
I tried to run the test suite on windows in the git bash, but failed at this:

[code]

[2020-02-27 18:58] shanewilson commented on #31
👍 works for me! Thanks!

[2020-02-27 18:58] #31 closed

[2020-02-27 20:27] #34 closed

[2020-02-27 20:27] OmerHerera commented on #34
PR merged to master.
Thanks

[2020-02-27 20:29] sebmck commented on #1
Thanks for the logo designs everyone! I've had a few other people privately reach out so I'll wait for any additional contributions and we can make a decision in a few weeks.

@fredericbonnet

We are aware. The [README](https://github.com/facebookexperimental/rome#history) explicitly mentions this:

[2020-02-27 20:31] sebmck commented on #6
It does. Rome has a daemon that can be ran. When you run the CLI without a connected daemon then it spins up a temporary server just for the command execution. Inside the server is the logic for parallelizing work across workers, project initialization, module resolution etc.

[2020-02-27 20:32] sebmck commented on #13
I added optional commas because they can unambiguously be added. I started with just omitting all the syntax I could while still feeling JSONish. Colons could also theoretically be made optional but I feel like that's stepping over "the line".

[2020-02-27 20:32] sebmck commented on #18
The only package that will be published will be `packages/rome`. All the others are just for internal organization.

[2020-02-27 20:33] sebmck commented on #19
I was actually going to close this issue before going public. I looked through the current TODO comments and a lot of them are just notes or not really actionable right now. We can possibly use something automatic once those comments are moved to reduce the noise.

[2020-02-27 20:40] sebmck commented on #33
I implemented the current [Node ES modules interop](https://nodejs.org/api/modules.html) which requires either a `.mjs` extension to enable ES modules for that file, or a `"type": "module"` added to `package.json`. Regardless of if you're a fan of this approach, the ecosystem is likely going to need to converge on it.

This bug is actually caused by the way syntax is enabled. The parsing here is h

[2020-02-27 20:47] sebmck commented on #40
I specifically wrote the README with the current target audience of Rome, which are contributors already familiar with the project. I'm unsure how to actually make it clearer without maker it longer. I'm happy to accept PRs that make it clearer if anybody has specific suggestions.

[2020-02-27 20:50] ChristopherBiscardi commented on #33
yeah I'll take a crack at adding it

[2020-02-27 20:55] alexanderwallin opened #53 "The Roman Empire was a violent empire run by dictators"
## Description

Rome was the capital of the Roman Empire, a society run through dictatorship, slavery and violence. Your etymological trivia refers to proverbs that seem innocent but refers to slavery and assimilation.

Sure you could argue about the technicalities of what you're actually referring to, but that's irrelevant. No matter your intensions, the profile of this project is of white ruling

[2020-02-27 20:57] vinayakkulkarni commented on #53
**facebookexperimental**/rome

[2020-02-27 21:20] matiasngf commented on #1
I found @sgwilym idea interesting..., so I tried to made something based on that:

![Rome-Logo](https://user-images.githubusercontent.com/29680544/75487605-75cf4480-598d-11ea-9470-e16febc43d89.jpg)

[2020-02-27 21:22] intercaetera commented on #53
Not even sure if this is trolling.

[2020-02-27 21:36] himynameissebbo commented on #14
Same here, would be happy to help!

[2020-02-27 21:46] weblancaster commented on #14
Really good suggestions. Although it's safe to say by looking at the use of Docusaurus for Jest, React Native, Redux and many other projects that its a great option.

@felixhaeberle @Daniel15 I would suggest to setup it up and opening a PR to get it going and going from there.

[2020-02-27 21:50] sebmck commented on #40
I've opened #55 with some basic usage instructions. As said before, I'd welcome any contributions that make the purpose of the project clearer.

[2020-02-27 21:50] #40 closed

[2020-02-27 21:52] sebmck commented on #50
Tentatively, yes. Rome already parses `package.json` files, as well as normalizing and validating them. There also exists hooks in the module resolver for fetching packages that don't exist. This would be very long-term functionality though and need to be done very deliberately to avoid disrupting the JS package management ecosystem.

[2020-02-27 21:53] jcpsimmons commented on #48
It seems like this is already addressed in https://github.com/facebookexperimental/rome/issues/20 ?

[2020-02-27 21:55] sebmck commented on #48
The team is only me currently. I'm going to be fleshing out issues over the coming weeks so the best way to be involved would be watching the repo. I'm also going to be submitting my own contributions in the form of PRs. I'll be merging them after a while by myself but would really appreciate reviews.

I've opened PR #55 with some usage instructions which detail how to use Rome more.

The status s

[2020-02-27 22:06] sebmck commented on #53
I don't think the way this issue has been presented will lead to a productive discussion so I am closing and locking. The logo issue #1 is of relevance as the usage of a soldier's helmet as the current logo is contentious.

[2020-02-27 22:06] #53 closed

[2020-02-27 22:10] sebmck commented on #43
#55 will add some documentation.

[2020-02-27 22:34] sebmck commented on #1
The helmet isn't important to keep at all. In fact I'd strongly be in favor of getting rid of it.

[2020-02-27 23:47] Jeffersonchive commented on #1
I think this is the ticket, as recent criticisms have highlighted its vulnerability to alluding to Rome's violent past and all it entails. While I disagree with that interpretation within the context of this project, it would be doubtlessly beneficial to not provide an inch of argumentative grounds within the logo as well. Rome was an Empire that was profoundly interested in art and constructs; I

[2020-02-27 23:53] ishpartko commented on #13
Why do you need to create another data format when there are formats already familiar to the people? Like .js/.ts/.json/.yaml

It's good when people read about this new format, but usually it's easier for people who work a lot to use the familiar syntaxes.

And it will be easier for code editors, they are more comfortable dealing with familiar syntaxes than with "erroneous json"/ "plain text" in t

[2020-02-28 01:04] sebmck opened #58 "Add ExportExternalDeclaration"
Right now `ExportNamedDeclaration` is overloaded.

[2020-02-28 02:03] wzalazar commented on #18
So, Do you consider implement semantic release for that?

[2020-02-28 02:06] sebmck commented on #13
You can already use `.json`. There does not exist a JS parser and stringifier today for YAML or another format that has the ability to retain comments, which I see as the sole motivation for having a custom JSON format.

[2020-02-28 02:08] sebmck commented on #58
Fixed in #57.

[2020-02-28 02:08] #58 closed

[2020-02-28 02:58] sebmck commented on #20
Dumping some of my brief thoughts here:

 - **No formatting options.** Zero. None. Prettier initially tried to do this but caved under demands for things like an option for  quote type etc. If you aren't happy with the defaults that Rome provides then you can use prettier or another tool.
 - **AST transforms for prettification.** This is a hard stance that prettier has taken where they don't want

[2020-02-28 06:29] weblancaster commented on #14
After coming back tonight and not seeing any answer, I've decided to get this going since it wouldn't take long. https://github.com/facebookexperimental/rome/pull/62

[2020-02-28 06:41] talentlessguy commented on #13
json5 support for configs would be cool too

https://json5.org/

[2020-02-28 07:13] TamalAnwar commented on #48
@mikesherov You echoed my own thoughts. I am also a newbie contributor and excited to get involved in this project.

[2020-02-28 08:22] adrianhasna opened #65 "Project config file - minimize API"
One of the project goals is to minimize the API, but right in the getting started guide, we see the project configuration "can take three possible forms": rome.json, rome.rjson or "rome" entry in package.json.
Already too many options. Is there a case where a project won't have a package.json!?

IMHO we should stick to "rome" entry in package.json.

[2020-02-28 08:32] adrianhasna commented on #50
I don't think there is a benefit in doing this.
There are great package managers already and long term may split the rome's community and direction: folks who use rome as a package manager, and folks who use it as a companion tool (as intended I guess).
Also we're trying to minimize the API here.

[2020-02-28 09:00] inomdzhon opened #66 "Create symlink to rome/dist folder"
Hi,

## Context

1. I have run `./scripts/build-release dist`.
2. Then create test project with next `package.json`
[code]

## Problem

When try to run `npm run compile` or `npm run lint` I get error
[code]

What I do wrong? 🤔

[2020-02-28 09:32] pajaydev commented on #11
I would love to work on this 😊

[2020-02-28 13:17] lukahartwig commented on #66
I believe the executable is missing the `#!/usr/bin/env node` shebang. If you replace `rome` with `node ./node_modules/.bin/rome` it should work.

[2020-02-28 14:59] inomdzhon commented on #66
Unfortunately, I have same error with `./node_modules/.bin/rome` :(

[2020-02-28 15:49] lukahartwig commented on #66
It should look like this
[code]

[2020-02-28 16:21] rzig opened #69 "Unable to enable linting"
Hello! I have created a new project and added rome as a dependency. Here's my `package.json`:
[code]

The file in `src/index.js` is just one line, `console.log("Hi");`.

I am able to successfully run `npm run rome compile src/index.js`, but running `npm run rome config enable lint` fails with the following:
[code]

When I manually update `rome.json` and run `npm run rome lint src/index.js`, I get

[2020-02-28 16:26] inomdzhon commented on #66
Yeah, old error doesn't appear 🙂 Thanks!
...hmmm, I have next points:
- `rome compile src/index.js` works well
- `rome compile src/index.js --bundle` throw error
[code]
- `rome lint src/index.js` throw error
[code]
But it's another story.

[2020-02-28 16:26] #66 closed

[2020-02-28 18:06] eddiemonge commented on #65
package.json can and already is already pretty crowded. Minimizing the API to me does not mean limiting the choices in how to do configuration, but in having less configuration.

[2020-02-28 18:32] sebmck commented on #69
Looks like the command should actually be `rome config enable-category lint`. So the config should be:

[code]

[2020-02-28 18:32] sebmck commented on #69
We should add some special cases to the root objects if they're booleans since this seems like something someone would also write organically

[2020-02-28 18:33] sebmck commented on #65
Yes. You can have subprojects with different settings. `package.json` also doesn't allow comments which is one of the greatest advantages of RJSON #13.

[2020-02-28 18:38] rzig commented on #69
I can make a PR to change the error message outputted by the CLI then, currently it tells users to run the old command.

[2020-02-28 19:25] jonstuebe commented on #20
Love all of those @sebmck. If we learned one thing from the rails world, it's setting up conventions that are inmovable. Allows us all to have consistent projects and stop any/all arguments. If you want things to be ultra configurable, then the individual tools exist (i.e. prettier, eslint, etc).

[2020-02-28 20:15] ClarkMitchell commented on #20
PHP's static analysis tools have started to introduce the concept of a [baseline file](https://psalm.dev/docs/running_psalm/dealing_with_code_issues/#using-a-baseline-file) which suppresses errors for existing code but not for new code.

I've found this helps limit the proliferation of suppression comments while at the same time providing just enough friction to discourage overuse.

[2020-02-28 20:17] dwelle commented on #20
I'm all for zero formatting options. I can get over anything even if it deeply offends my aesthetic sensibilities, as long as we're saved from styleguide wars.

That said, it might not be obvious where to draw the line between formatting and semantic/logic/error lint rules, such as `prefer-const`. One would say it's formatting, I'd say it's code-complexity issue.

Oh noes, are we back to styleguid

[2020-02-28 21:02] pajaydev commented on #11
@sebmck  Do I need to include the missing test fixtures from babel-parse ?.

[2020-02-28 22:23] binarybaba commented on #1
Can have an aerial view of the colloseum. Gives you a circular subtle base which fits on a square.
Just food for thought for designers.

![image](https://user-images.githubusercontent.com/6381439/75591783-eefb9400-5a80-11ea-98dd-d6836226f607.png)
![image](https://user-images.githubusercontent.com/6381439/75591911-48fc5980-5a81-11ea-8317-dbcf3af7f143.png)

[2020-02-28 22:36] rzig commented on #69
I went ahead and created a PR. Right now `rome config enable-category lint` doesn't seem to be actually modifying the file, but there's a good chance it may be on my end - I'll open a new issue if necessary.

[2020-02-28 22:36] #69 closed

[2020-02-29 03:56] jahzielv commented on #20
I'm also on board with no (or _very_ limited) options. One of the things I love most about Go is how strong its opinions are, even about linting/formatting. It might ruffle some feathers, but it's something that people can learn to live with (I learned to live with tabs in go 😖).

[2020-02-29 07:06] maraisr commented on #65
I'd like to echo @adrianhasna comment and say, the simplicity nature of this project doesn't really articulate its own message. rjson seems very complicated compared to standard json. Having multiple ways of defining things, with or without quotes, root level object etc...

Now I personally don't mind which form wins out - however, these three forms thing has to turn into "this is how you configur

[2020-02-29 10:42] jeremyscatigna commented on #17
Would love to help :)

[2020-02-29 13:15] zubhav commented on #20
I agree with having a set of configurations that come out of the box. At this initial stage, it is probably a good idea to leverage this feature to show that Rome will be somewhat opinionated. However, as mentioned above by a few, there is reason to have flexibility in such enforced rules. Developers shouldn't have to battle against the default lint rules. They should be guidelines to maintain a s

[2020-02-29 14:20] jonasgrilleres commented on #1
I think the Colosseum represents Rome even better. Viaducts would be great for a devops/infrastructure project :)

I like the analogy between the robust architectural structure and the purpose of this new toolchain 👍

[2020-02-29 16:12] slobo commented on #20
What if instead of offering a wide range of rules that can be configured in `.rc` and/or disabled via annotations, there were just a few strongly opinionated idioms that can be chosen when needed inside specific sections of code. _(Sounds like a distinction without a difference, but bear with me as I think it through)_

The example that comes to mind at the moment is a formatting one. I'm a big fa

[2020-02-29 17:39] prateekrastogi commented on #48
Excited about the past accomplishments of the author itself, I am working on same things differently at https://github.com/paxos-raft/paxos-raft

Would love to know timelines to get my hands on prod version of rome.

[2020-02-29 20:04] stephenwf commented on #20
**When should linting happen?**
Assuming auto-fixing by modifying the AST, it's possible that these transforms may be destructive. Removing unused imports automatically, for example, would be incredible useful to prevent checked in code containing them, but may get in the way while developing. Mis-type + save and half of the file tree-shakes itself to cmd-z. Other rules, like those to catch bugs e

[2020-02-29 20:53] sebmck commented on #11
@pajaydev Yep. The `options.json` files will also need to be updated since they use options that Rome doesn't. Also removing any tests for syntax that Rome won't support such as some of the TC39 proposals.

[2020-02-29 20:55] #33 closed

[2020-02-29 21:10] sebmck commented on #20
@stephenwf

That's a good point. I think there would be two operations. Autoformatting and autofixing. Autoformatting would be an implicit action, on editor save. To perform autofixing that (potentially) changes the semantics of the code, it would have to be an explicit action, by a button in an editor integration, or from the CLI.

[2020-02-29 21:12] sebmck commented on #20
@slobo

My concern would be the vast amount of possible forms this could take. If the value is in consistency then that flies against it.

[2020-02-29 21:13] sebmck commented on #20
@dwelle

A linter doesn't just deal with formatting issues. A linter is broadly just a tool that finds potential problems in your code. A type checker is also another form of a linter. I think we should push the envelope and get out of the box that linters are currently categorized as in JavaScript.

[2020-02-29 21:14] sebmck commented on #13
JSON5 does not allow for the reserialization of files and retaining comments. Are you proposing that it be reimplemented?

[2020-02-29 21:34] dwelle commented on #20
@sebmck oh, no argument from me there. It's just that for formatting, I'd be fine with enforcing one styleguide for all, without ability to customize. But for things rules like `prefer-const`, which I personally don't consider as a formatting rule, I'm not sure where you stand on it. Enforce or not enforce?

I think that people can get over pure-formatting rules even if the dislike them (hence Pre

[2020-02-29 23:24] macovedj commented on #18
Looks like there's already a rome on npm.  Do you know yet how you plan to handle that?

[2020-02-29 23:39] sebmck commented on #18
@macovedj I'm the owner of that package. @bevacqua graciously donated it! :heart:

[2020-03-01 00:34] talentlessguy commented on #13
@sebmck

maybe I got you wrong but:

json5 allows making comments

also what does "reserialization" mean?

[2020-03-01 00:40] talentlessguy commented on #13
another cool format that I just remembered, Toml

[npm package](https://www.npmjs.com/package/toml) | [toml repo](https://github.com/toml-lang/toml)

I like TOML because online yml or json it is actually readable and simple. Example

[code]

[2020-03-01 01:04] talentlessguy commented on #65
I don't think this is a good idea because a lot of people are used to config files instead of putting everything to package.json

importing either json from the config or package.json won't make a huge difference. Both can be supported, it won't lose much in performance (as I think)

[2020-03-01 01:40] stephenwf commented on #13
@talentlessguy This I believe: https://codesandbox.io/s/recursing-star-33xfn when you parse you only have the option of getting back an object representation. `consumeJSONExtra` in RJSON implementation keeps the comments.

[2020-03-01 03:18] sebmck commented on #13
@talentlessguy

Reading a file, changing something, and then reserializing it back and retaining the original comments. Exactly what @stephenwf said.

[2020-03-01 03:20] sebmck commented on #13
@talentlessguy Do you know of any JavaScript tooling that uses TOML? Previously Rome did actually use TOML but after reading https://hitchdev.com/strictyaml/why-not/toml/ and seeing it's extremely limited usage in the JavaScript community I pivoted. I know it sounds contradictory since RJSON is some unique-only-for-Rome JSON, but I would consider syntax omission to not be as big of a deal.

[2020-03-01 03:21] sebmck commented on #13
RJSON adds the same syntax extensions as JSON5 except RJSON allows omitting syntax and you cannot use single quotes.

[2020-03-01 03:23] sebmck commented on #13
This article resonated strongly and motiviated some of the syntax omission such as top-level curlies etc https://www.lucidchart.com/techblog/2018/07/16/why-json-isnt-a-good-configuration-language/

[2020-03-01 05:23] pajaydev commented on #11
@sebmck  okay cool. Thanks 👍

[2020-03-01 05:37] sebmck commented on #20
@dwelle

Yeah I'm not really sure about that. I personally don't use that rule and use `const` as a special signifier for top-level variables. Some of the decisions will be arbitrary but ultimately we'll be able to have autofixes for almost everything so compared to ESLint it really wont be as big of a deal to have.

Ideally the proper way to signal "I know what I'm doing" is with a specific comme

[2020-03-01 05:37] sebmck commented on #20
I went through the list of [ESLint rules](https://eslint.org/docs/rules/) and made a note of the ones I think we should have. I omitted all the ones that have to do with code style, and those where a type system could detect more reliably. A **vast** majority of these can be autofixed.

- enforce `return` statements in getters (getter-return)
- disallow using an async function as a Promise executo

[2020-03-01 05:43] sebmck commented on #20
I also merged #72 which adds formatting functionality separate to lint autofixing.

[2020-03-01 06:08] sebmck commented on #14
Update: Thanks to @weblancaster we now have a docusaurus install in the `website` directory! #62

[2020-03-01 06:59] sebmck commented on #65
Also in favor of removing `package.json` and having only `rome` in `package.json` and `rome.rjson`.

[2020-03-01 07:19] sebmck opened #74 "Add ignore property to format project config"

[2020-03-01 08:03] talentlessguy commented on #13
oh I see. As I understood Rome config will be very nested and big, so TOML won't work :/. So we have to use something json-like

[2020-03-01 08:07] talentlessguy commented on #13
@stephenwf @sebmck

hm ok I see that json5 doesn't save comments. But why Rome should save comments in the configuration? Shouldn't they be erased after config consumption?

[2020-03-01 08:14] sebmck commented on #13
Rome has the ability to modify the config and then save it. This allows us to have commands like `rome config enable-category lint` and have it load, modify, and save while retaining comments.

[2020-03-01 08:18] talentlessguy commented on #20
imo there should be a basic linter config for only general style preferences, like:

[code]

And only these rules, because being too opinionated as a linter might make some people to have to use Rome just because they don't like semi or quotes

[2020-03-01 08:20] sebmck commented on #20
Rome won’t have any formatting options. If you want to use prettier, then use prettier. It’s honestly not that big of a deal. Rome’s many other advantages should outweigh any minor temporary annoyance.

[2020-03-01 12:04] MareikeTaeubner commented on #39
After debugging a bit, I found that it fails at file paths including backslashes at this point:

[code]

The printed output is then:

[code]

With 't' not being a valid hex code. I admit I have no idea where to start searching to fix this though. Does anyone have more insight?

[2020-03-01 13:15] talentlessguy commented on #20
@sebmck ok, maybe I interpreted "f you aren't happy with the defaults that Rome provides then you can use prettier or another tool." in a wrong way

[2020-03-01 16:11] zinyando opened #79 "Semver Parsing error for versions which are NPM aliases"
Description:

I'm trying to bundle a node hapijs app and running into an issue where versions which are npm aliases are failing.

## Steps To Reproduce

  Try bundling a basic `hapijs` server. It's getting stuck in the `package.js` file of one the dependencies on `"@hapi/joi-legacy-test": "npm:@hapi/joi@15.x.x"`

![Screenshot 2020-03-01 at 18 04 20](https://user-images.githubusercontent.com/806774

[2020-03-01 19:52] milesj commented on #65
Please no config in `package.json`, it's the most restrictive format. Hell, even JSON is an awful config format.

[2020-03-01 19:59] sebmck commented on #65
@milesj Hence RJSON #13. I don't see a problem with allowing people to put it in there if they want, especially if the config is only very small.

[2020-03-01 19:59] sebmck commented on #39
I have to admit I didn't really think about Windows and figured that WSL would have bash. Is there any shell language that is supported out of the box on Linux and Windows? I really don't want to write what is essentially a list of commands to execute in Node. The overhead is unnecessary and for things like `scripts/node` it's extremely weird.

[2020-03-01 20:01] sebmck commented on #39
@MareikeTaeubner Reason for that error: We have a markup abstraction #4 for passing around formatted strings. It makes it so that we don't need to worry about ANSI formatting in those callsites, and that we can render in the future to HTML etc. It looks HTML-ish and the strings are parsed with the same semantics as JavaScript strings. Unfortunately this means that `\` is considered an escape chara

[2020-03-01 20:12] sebmck commented on #39
I've created #82 which removes unescaping markup attribute values. I can't think of a place where we'd even want that. I've kept Windows paths in mind, including UNC paths, when designing the path handling in the rest of Rome, so hopefully the rest is fine. I assume so since the vendored Rome successfully compiled trunk.

[2020-03-01 20:12] sebmck commented on #39
@MareikeTaeubner Could you try from `master`? If that fixes it then the remaining thing is to address the shell scripts and we'll have support for contributors on Windows.

[2020-03-01 20:15] sebmck opened #83 "Use Module.createRequire instead of Module.createRequireFromPath"
Currently getting this Node deprecation message:

[code]

[2020-03-01 20:19] sebmck commented on #12
@torifat added `asserts` support. Not sure if there's anything else we're missing.

[2020-03-01 20:32] MareikeTaeubner commented on #39
Sadly it still fails with the same path. :(

Personally I don't have a problem with using the gitbash - you install it with git anyway. A space in the username (and therefore in the path of the homedir) seemed to be an issue on my husbands machine though. I'll have another look at that after this one.

[2020-03-01 20:35] sebmck commented on #79
Thanks for the report! Fixed in #85.

[2020-03-01 20:40] sebmck commented on #39
Ah, we haven't updated the version of Rome that compiles trunk so the error is still in the vendored version. 3238667a4ede31f0e58557be9a41483021695d46 updates it.

[2020-03-01 20:43] sebmck commented on #39
Created #86 to add Windows to GitHub Actions.

[2020-03-01 20:44] #79 closed

[2020-03-01 21:06] MareikeTaeubner commented on #39
Nice! After this I was able to run the test suite! :D

...just to fail at another point ^^"
At the first run I had this problem:
[code]

Then I tried to run it again to see whether I can reproduce it again I failed at this (and the output was a lot shorter):

[code]

[2020-03-01 21:15] zinyando opened #88 "This scope does not allow `var`iables."
Description:

I get the following error when trying to bundle a `hapijs` server.

`This scope does not allow `var`iables. This is probably because `var`iables were injected into a scope that did not contain `var` in the original source.program`

`Error occurred while requesting compile for project-quick-server/@hapi/hapi/lib/config.js`

## Steps To Reproduce

<img width="1273" alt="Screenshot 2020

[2020-03-01 21:39] macovedj commented on #20
disallow using an async function as a Promise executor (no-async-promise-executor)
disallow comparing against -0 (no-compare-neg-zero)
disallow assignment operators in conditional expressions (no-cond-assign)
disallow the use of debugger (no-debugger)
disallow duplicate arguments in function definitions (no-dupe-args)
disallow duplicate keys in object literals (no-dupe-keys)
disallow a duplicate c

[2020-03-01 23:41] sebmck commented on #39
Yeah... For some reason the test worker is timing out. I haven't managed to repro in my Windows VM but it's failing via GitHub Actions too.

I've also converted all the bash scripts to Node in #86.

[2020-03-02 01:47] ndresx commented on #83
I have taken a look at this and created a PR for it with some follow-up questions inside.

[2020-03-02 01:50] sebmck commented on #39
Looks like the test worker timeout was due to CRLF line endings. When we run the parser tests, we assert that the returned pretty formatted AST is identical to one we have on disk. However, the one on disk has CRLF line endings while the one we've produced as LF line endings. This then causes every single parser test to fail. This then causes a diff to be computed for every single test, which on s

[2020-03-02 02:54] weblancaster commented on #20
@macovedj I'm wondering the same thing. For starters, I believe we can mention this issue in the PRs that are implementing items from the lint list @sebmck shared.

[2020-03-02 03:30] sebmck opened #94 "Implement ESLint rules"
Followed is a list of ESLint rules that we should implement.

- [X] enforce `return` statements in getters (getter-return) #129
- [X] disallow using an async function as a Promise executor (no-async-promise-executor) #101
- [X] disallow comparing against -0 (no-compare-neg-zero) #106
- [X] disallow assignment operators in conditional expressions (no-cond-assign) #116
- [X] disallow the use of debu

[2020-03-02 03:31] sebmck commented on #20
Created #94 to track the implementation of the ESLint rules mentioned.

[2020-03-02 04:38] yangshun commented on #94
I'd like to try working on `no-debugger`

[2020-03-02 05:13] weblancaster commented on #94
I started working on `no-delete-var`

[2020-03-02 05:31] JayaKrishnaNamburu commented on #94
I would like to try working on `no-unreachable` :

[2020-03-02 05:53] mattsjones commented on #20
@sebmck What are you thoughts on library specific lint rules? React is a big example that I could understand being built in first class, but smaller libraries can benefit from custom lint rules as well. [eslint-plugin-tailwind](https://www.npmjs.com/package/eslint-plugin-tailwind) being a good example.

I can see similar problems coming up once you start working on proper bundling support as well.

[2020-03-02 06:16] MareikeTaeubner commented on #39
Woah this sounds like it was hard to find, good work.

I can run the tests now in either git-bash and cmd!

![success-tests-windows](https://user-images.githubusercontent.com/4388257/75650217-97fae800-5c55-11ea-9a27-a6b02005a1ea.png)

Thank you very much :)

[2020-03-02 07:01] aarjithn commented on #50
Actually, rome already supports pulling in packages from url's which is kind of approach deno is also following. Doesn't that make rome a full fledged package manager?

[2020-03-02 07:10] tanhauhau commented on #94
I'd like to try on `no-async-promise-executor`

[2020-03-02 07:21] sebmck commented on #50
It does I guess. I was thinking more about managing packages from npm though which is essential for Node development and what most people think of as a package manager.

[2020-03-02 07:54] thebinarysearchtree opened #96 "Non-capturing groups"
All the regexes I see in the code use capturing groups, but don't make use of the captured group. Not sure what percentage of performance is related to the regexes, but just wondering if you have tested using non-capturing groups to see if it makes a significant difference? Maybe you have already figured this out and are going with the easier to read option. Babel does the same thing.

[2020-03-02 08:50] tom-sherman commented on #39
I can confirm too that running with git bash works on my machine too, great work!

It's a shame that git bash/WSL is required, but I suppose it's not too much of a leap - most Windows devs are going to have git bash installed at least. There should probably be something added to CONTRIBUTING.md too regarding developing on Windows right?

[2020-03-02 08:50] stephenwf commented on #12
Is `import type { ... } from '...'` supported?

[2020-03-02 08:51] MareikeTaeubner commented on #39
@tom thanks to the node scripts, you can run it on the cmd too. I didn't check the powershell though.

[2020-03-02 09:01] tom-sherman commented on #39
Ah I missed that bit, cool! Just need to remember to prefix with `node` as cmd doesn't support shebangs.

[2020-03-02 09:08] MareikeTaeubner commented on #39
yes. I agree, that documenting that detail for windows devs would take out an unecessary hurdle, when starting out with the project.

[2020-03-02 09:48] zinyando commented on #94
I'd like to try taking on `no-dupe-args`

[2020-03-02 10:12] mattsjones commented on #94
Taking a look at `no-dupe-keys`

[2020-03-02 10:32] GriffinSauce commented on #20
Sorry to backtrack a little to @slobo 's comment:
[code]
^ a danger with this pattern is that it doesn't enforce a boundary at the end. For instance with ESLint you can have a typo `/* eslint-nable */` and accidentally disable linting for the rest of your file.

So a couple ideas:
- Only allow unclosed ignore-blocks at top of file
- Perhaps try to catch common typo's in the `enable` comment

Also

[2020-03-02 10:34] aarjithn commented on #12
@stephenwf Seems prettier still doesn't support it

https://github.com/prettier/prettier/issues/7263

[2020-03-02 12:15] zinyando commented on #94
I'm taking on `no-duplicate-case`

[2020-03-02 13:45] gobeli commented on #94
Would take `no-label-var`

[2020-03-02 13:51] #96 closed

[2020-03-02 14:38] yangshun commented on #94
I've added links to the ESLint rule documentation, src implementation and test implementation as it might be useful for people working on them.

---

- [ ] enforce `return` statements in getters (`getter-return`)
  - [docs](https://eslint.org/docs/rules/getter-return/) | [src](https://github.com/eslint/eslint/blob/master/lib/rules/getter-return.js) | [test](https://github.com/eslint/eslint/blob/ma

[2020-03-02 14:45] yangshun commented on #94
Some general observations/thoughts while working on the `noDebugger` rule:

- Not clear how to test for both valid and invalid cases. Would be good to have a [format similar to ESLint's](https://github.com/eslint/eslint/blob/master/tests/lib/rules/no-debugger.js) where contributors just specify the valid and invalid patterns along with desired errors
- Might want to sort the exports in `packages/@

[2020-03-02 15:02] cavoirom opened #104 "ReferenceError: require is not defined when bundle client-side JavaScript"
## Description:

When the dependency uses **require** function, I got error

    Uncaught ReferenceError: require is not defined

Generated code

    const ___R$$priv$project$...$supports$color$index_js$os = require('os');

The bundle was created successfully but got error at runtime.

## Steps To Reproduce

Error happen when depend project on **axios** module.

## Expected Results

NodeJS API sho

[2020-03-02 15:48] JayaKrishnaNamburu commented on #94
Hey is anyone interested in discussing some pointers on implementation of ``no-unreachable`` implementation. I tried some way, but one way or the other few edge cases are failing when tested over **eslint** test rules 😓 😅

[2020-03-02 16:28] rzig opened #105 "☂️ Documentation"
I think it makes sense to have an issue for documentation-related tasks since the website is up now. Here's a couple things I was thinking would be good to add as a start:

- [x] Install and update instructions
- [x] Getting started that uses `rome init` instead of `echo` - possibly a two tracks, one for new projects one for existing
- [ ] Command documentation within the command definitions thems

[2020-03-02 17:34] jloleysens commented on #94
Taking `no-compare-neg-zero`

[2020-03-02 17:41] macovedj commented on #94
@JayaKrishnaNamburu Sounds like one of the more fun ones.  I'd be interested in thinking about it.  Got a branch up yet?

[2020-03-02 18:47] JayaKrishnaNamburu commented on #94
Sure @JayaKrishnaNamburu i will update it tomorrow and let's discuss there 😄

[2020-03-02 19:24] #83 closed

[2020-03-02 19:24] sebmck commented on #39
I'll close this now. Thanks for confirming! Feel free to open additional issues if anything breaks on Windows but now that we have CI and I have a working VM we should be able to fix potential issues quickly.

[2020-03-02 19:24] #39 closed

[2020-03-02 19:25] sebmck commented on #20
I think the best option is to only allow line suppression comments.

[2020-03-02 19:26] sebmck opened #108 "Share Flow and TypeScript `import type` syntax"
Flow supports this on import specifiers, not sure if TypeScript does so that may be the one exception to this.

[2020-03-02 19:26] sebmck commented on #12
@stephenwf Ah, it's not actually. We support it for Flow so sharing that logic should be easy. Created #108 to track.

[2020-03-02 19:51] sebmck commented on #94
@JayaKrishnaNamburu

I don't think it would be as straightforward as ESLint since we don't have the same concept of code paths. It's fine if it's not as smart. Rome has a more sophisticated analysis system in `js-analysis` that we can utilize in the far future for something even better.

[2020-03-02 19:52] sebmck commented on #94
I've updated the main issue body with the latest PRs.

[2020-03-02 19:52] mattsjones commented on #94
My user is @mattsjones not @MattJones btw 😅

[2020-03-02 19:54] sebmck opened #109 "DIsallow modifications when running lint without `fix`"
This can currently trigger false negatives/positives.

[2020-03-02 20:00] sebmck commented on #94
Oops, sorry @MattJones :stuck_out_tongue:

[2020-03-02 21:01] lodi-g opened #110 "Remove the use of non-inclusive terms"
There is two non-inclusive words on master branch: 'whitelist' and 'blacklist'.
I think they are not inclusive and should be replaced by 'allow-list' and 'disallow-list' or some equivalent.

https://github.com/facebookexperimental/rome/blob/master/packages/%40romejs/js-compiler/transforms/compile/validation/optimizeImports.ts#L29
https://github.com/facebookexperimental/rome/blob/master/packages/%4

[2020-03-02 21:09] bsotodo commented on #94
I will work on `no-template-curly-in-string`

[2020-03-02 21:27] sebmck commented on #110
Thanks for flagging! Happy to accept a PR, otherwise I'll get around to it when I can.  I've avoided blacklist/whitelist in the configuration in favor of `ignore`, `only` etc but this must have slipped through.

We also use the terms `master` and `worker`. Unclear if that's a concern since it's not `master`/`slave` which is the common problematic case.

[2020-03-02 21:41] #110 closed

[2020-03-02 22:06] wgardiner commented on #94
I'll take `no-func-assign`

[2020-03-02 22:43] torifat commented on #108
I can pick this up 🙂

[2020-03-02 22:49] torifat commented on #108
I haven't check the `flow` on yet but `TypeScript` one looks like this:
<img width="866" alt="Screen Shot 2020-03-03 at 9 48 24 am" src="https://user-images.githubusercontent.com/208544/75725247-280f5f00-5d34-11ea-8525-9ac06a76115e.png">

[2020-03-03 02:02] macovedj commented on #94
no-cond-assign please

[2020-03-03 05:40] sebmck commented on #94
Yeah we would want the always/only option. Parens seems like an odd escape hatch. Just suppress it if it's what you actually want to mean.

[2020-03-03 06:02] JayaKrishnaNamburu commented on #94
Sure,  Thank you. I will continue my work then 👍  😄

[2020-03-03 06:04] mattsjones commented on #94
Happy to pickup `no-shadow-restricted-names`. ESLint currently only handles `"undefined", "NaN", "Infinity", "arguments", "eval"`.

I was thinking we should block everything matching `scope.getRootScope().isGlobal(name)`?

[2020-03-03 07:00] sebmck commented on #94
Sounds good to me!

[2020-03-03 07:33] weblancaster commented on #94
Picking up `no-ex-assign`

[2020-03-03 07:49] mitchellhamilton commented on #94
I'll pick up `no-import-assign`

[2020-03-03 08:44] zinyando commented on #94
I'm taking on `no-unsafe-finally`

[2020-03-03 10:29] ikeryo1182 commented on #94
I will try `no-regex-spaces`

[2020-03-03 11:53] torifat commented on #108
If `importKind = type` means import type then we don't need to do anything  https://github.com/torifat/rome/commit/ab002e30cced4d14d5efca7a330a329ceb32b7b7#diff-a710314f39f391073bdad02e8b38af51R26. Can you please have a look?

[2020-03-03 11:57] torifat commented on #94
I'm taking `prefer-template`

[2020-03-03 12:04] mattsjones commented on #42
I agree supporting import sorting would be nice. However, not sure about your order rules. They seem quite app specific. I think a more generic rule set around distance from the current file to the import would make more sense.

Prior art for reference [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/order.md)

[2020-03-03 16:20] cavoirom opened #122 "Invalid package.json in dependency cause bundle error"
## Description:

In my case, the fill-range module has invalid package.json

    ✖ Expected a string at contributors[4]name
    53 │       "url": "www.rouvenwessling.de"
    54 │     },
    55 │     {
    56 │       "url": "https://github.com/wtgtybhertgeghgtwtg"
    57 │     }
       │ ^^^^^
    58 │   ],
    59 │   "dependencies": {

## Steps To Reproduce

Add fill-range as dependency and run **

[2020-03-03 16:30] ljharb commented on #122
It’s not actually invalid; name isn’t a required field there.

[2020-03-03 18:06] macovedj commented on #94
I can do `getter-return`

[2020-03-03 21:10] sebmck commented on #42
The biggest problem with import ordering is that it's highly specific and can effect overall module execution order that can introduce module cycles and break code, making this a pretty unsafe transform.

[2020-03-03 21:13] sebmck commented on #122
@ljharb Yes it is.

https://docs.npmjs.com/files/package.json#people-fields-author-contributors

[2020-03-03 21:15] #122 closed

[2020-03-03 21:16] sebmck commented on #122
Thanks for the report! Fixed in #125. When we normalize manifests, there's a bunch of conditions we allow when inside `node_modules` that don't respect any of the npm `package.json` documentation. Otherwise we're strict.

[2020-03-03 21:25] sebmck commented on #94
Updated the issue body. Thanks everyone! Super happy and appreciative of all the PRs so far!

[2020-03-03 21:33] KevinKelbie commented on #94
I can do `no-empty-character-class`

[2020-03-03 21:34] ljharb commented on #122
Fair enough :-)

[2020-03-03 22:28] #109 closed

[2020-03-04 01:29] cavoirom opened #128 "You cannot use CommonJS exports in an ES module"
## Description:

I got an error while bundling my React application

    node_modules/symbol-observable/lib/index.js:29 analyzeDependencies

    ✖ You cannot use CommonJS exports in an ES module

    28 │ var result = (0, _ponyfill2['default'])(root);
    29 │ exports['default'] = result;
       │ ^^^^^^^^^^^^^^^^^^^^^^^^^^^

## Steps To Reproduce

I'm not sure about the config, here is my project

[2020-03-04 02:13] cavoirom commented on #128
## Work around

When I remove the "type": "module" from symbol-observable's package.json. I can bundle successfully.

[2020-03-04 02:17] ljharb commented on #128
If you use type module, it’s ESM, which doesn’t have exports. If you don’t, it’s CJS, which doesn’t have import.

[2020-03-04 04:01] cavoirom commented on #128
The problem is Rome resolve wrong JavaScript file in dependency.
It bundles the files in `/lib/*` of a dependency when it's `package.json` already declare `"type": "module"`, it should resolve file in `/es/*`.

[2020-03-04 04:12] ljharb commented on #128
That’s not how type module works - it just means that dot js files are ESM.

You’d need the “exports” field to conditionally point imports at a different directory.

[2020-03-04 04:21] cavoirom commented on #128
It happen in the dependency. In my case: **symbol-observable**. Do I need to manually change the **symbol-observable** source code to make it works?

[2020-03-04 04:35] ljharb commented on #128
In this case, it's not using `type: "module"`, it's using the nonstandard "module" field. I'm not sure if Rome pays attention to it (but I hope it doesn't, since nobody should be relying on nonstandard module fields). If it's not, then it should be pointing to https://unpkg.com/browse/symbol-observable@1.2.0/lib/index.js which is a CJS module.

[2020-03-04 04:42] sebmck commented on #128
It doesn't. The Node ES modules resolution is the only thing implemented. `jsnext:main` used to be supported as an alternative to `main` but I removed it a couple days ago.

[2020-03-04 06:11] cavoirom commented on #128
Now I was confuse wherever it's a bug in Rome or it's a bug in symbol-observable?

[2020-03-04 08:03] tatchi commented on #94
I would like to try `no-inner-declarations` (hopefully it's not too complex 😄)

[2020-03-04 08:57] zinyando commented on #94
I'm going to try to work on `no-extra-boolean-cast`

[2020-03-04 09:47] baryla commented on #10
@sebmck are there any plans to get the API working in the browser? Similar to what the Rollup team is doing?

[2020-03-04 10:56] abhinavdalal commented on #42
@sebmck my current understanding is that it can only break if the imports are unnamed; if that understanding is correct.. what if we enforce that no unnamed imports and then apply a set of grouping rules as discussed?

[code]

if we feel that this is a hard-to-solve problem that provides not enough value; i get it.. we can de-prioritize in the backlog if you want; but i feel we should address this

[2020-03-04 18:53] macovedj commented on #94
picking up `prefer-template`

[2020-03-04 19:37] bsotodo commented on #74
@sebmck I would like to take a look at this. If tha's ok, could you please point me in the right direction? Otherwise I can work on something else

[2020-03-04 21:01] sebmck commented on #128
Did you add the `"type": "module"` field to the `package.json` of `symbol-observable` or was it already there? I can't find it in the source repo or npm release.

[2020-03-04 21:05] #26 closed

[2020-03-04 21:08] sebmck commented on #10
@baryla Maybe, it's definitely possible. Seems like we'd want to do something like an interactive REPL. Rome deliberately doesn't use a lot of Node APIs, and the way the server is architected it allows everything to be ran in one process instead of separate worker processes, although web workers would be doable but likely unnecessary.

[2020-03-04 21:11] sebmck commented on #42
@abhinavdalal Module execution order is determined by the dependency order in the source code. If you have:

[code]

Then the order will always be `foo, bar`. This then works recursively for all dependencies, with the first reference being the place in which the module is executed. There are definitely places in the Rome codebase where this rule would likely break module cycles.

[2020-03-04 21:31] sebmck commented on #74
@bsotodo Quite a few files would need to be updated. It's not really for the quaint of heart.

- Project loading: [`packages/@romejs/project/load.ts`](https://github.com/facebookexperimental/rome/blob/master/packages/%40romejs/project/load.ts): You would need to go to the block that has `categoryExists(format)` and copy+paste the same `ignore` property handling that you see for `config.lint.ignore

[2020-03-04 22:02] KevinKelbie commented on #94
I'll take on `no-invalid-regexp`

[2020-03-05 03:32] cavoirom commented on #128
It is modified. I don't why the `symbol-observable/package.json`  in my `node_modules` was modified and added with some specific information related to my project. I could see the lines:

    "_requiredBy": [
      "/redux"
    ],

redux is my project's direct dependency.

The comment I used to install redux is `npm install --save redux`

In the package.json of my project. I specified `"type": "mo

[2020-03-05 05:09] ljharb commented on #128
It should not; the "type" field does not extend to things in `node_modules`.

[2020-03-05 05:50] sebmck commented on #128
Those are some properties injected by npm (or yarn).

There might be a bug in the way we resolve manifests when providing them to a worker. All workers are sent a (sub)copy of every single manifest in a project and assigned to an id. Whenever we need to perform an operation on a file, we also include the relevant manifest id. There might be something wrong there.

[2020-03-05 09:51] bsotodo commented on #74
Thanks! I'll give it a try.

[2020-03-05 10:23] baryla commented on #10
@sebmck Oh nice! I'm working on something similar but I actually utilise web workers and the speed gain is amazing compared to running all the transpilation in one process on the main thread. If Rome was opened up to allow community plugins, I can see workers in the browser environment play a massive part for speed.

Just a side note - are you guys looking for contributors to the project? If so, i

[2020-03-05 10:43] mattsjones commented on #10
The current focus is getting linting up to scratch. Starting with replicating a lot of eslints recommended rules. Checkout this issue it you wanna get involved. https://github.com/facebookexperimental/rome/issues/20

[2020-03-05 12:45] zinyando commented on #105
I'm interested in helping out with this. We need to come up with a strategy on how to tackle what is ready to be documented.

[2020-03-05 15:47] rzig commented on #105
I will open a PR today with the first two items.

As for the remaining items, what's your thought on those? I'm thinking we ought to start with docs for `run` and `test` since those probably won't change significantly and will be some of the most commonly used commands. I'm hesitant to add too much to other commands such as lint since those will probably have significant changes in behavior.

[2020-03-05 16:39] zinyando commented on #105
I think we can start documenting the following sections under the CLI  `--help` command

`Source Code Commands`
`Code Quality Commands`
`Project Management Commands`

I don't think the function of the commands themselves will change much. The aim would be to document the basics of how things work instead of letting people struggle to figure things out on their own. The docs can be basic to start,

[2020-03-05 18:09] mucsi96 opened #144 "Considering implementation in system language like C++ or Rust"
First of all thanks a lot for coming up with idea of improving the developer experience for frontend community. All of us spend tremendous amount of time with setting it up and waiting until it does it's job. I wanted to come up with a crazy idea. I saw that one of the key ideas is to not use any dependency. In that case maybe it would worth to think about choosing some system programming language

[2020-03-05 19:35] zinyando commented on #144
A systems programming language would definitely bring a lot of speed improvements to the tool but that might be at a cost. There might be a drop in the number of contributors since this is mostly a build tool for the "web", most people looking to contribute are more proficient in JS/TS. Switching to c++/rust might push contributors away.

At the same time, Rome has been in the making for years now

[2020-03-05 19:46] mattsjones commented on #144
I believe the vision for Rome was to bring speed improvements via its architecture. Rome will do a lot less work than a combination of tools (typescript, eslint, webpack, babel) will do collectively. Also, the consistently running server will be able to cache this work much more intelligently than other tools.

[2020-03-05 21:47] sebmck commented on #144
My comments on the Hacker News thread [here](https://news.ycombinator.com/item?id=22430859) summarize my thoughts on the topic:

[2020-03-05 21:49] sebmck commented on #144
We should first release Rome and see how the performance is for most people. Then we can experiment with possibly moving out expensive pieces. My optimistic hope is that eventually Rome's type system would allow compiling straight from the existing source into wasm, avoiding the requirement for porting to another language completely.

[2020-03-06 05:43] sebmck opened #147 "Add `rome ci`"

[2020-03-06 05:43] sebmck opened #148 "Improve test snapshot format"

[2020-03-06 05:44] sebmck opened #149 "Add freezeSnapshots option to test framework"
Use this in #147

[2020-03-06 06:24] #149 closed

[2020-03-06 06:24] #147 closed

[2020-03-06 16:27] OriR opened #150 "Questions with disallowMultipleSpacesInRegularExpressionLiterals lint rule"
Hey 👋
I was looking around to get a sense of how it's built and learn from it - so far it looks pretty cool 👍

I then looked at the linting umbrella, and that rabbit hole led me to `disallowMultipleSpacesInRegularExpressionLiterals`.

Looking at the code there, and me being a bit of a fan of regular expressions, I was interested to see this regular expression used to match multiple spaces
https://

[2020-03-06 21:41] sebmck opened #153 "Add lint rule for usage of `any`"

[2020-03-06 22:07] lucagentile commented on #1
Agree. Praetorian helmets are cool, no need to use a Greek's one.
As other people suggested, there are also other things from Roman civilization to use as inspiration. So why use something historically inaccurate?

https://www.google.com/search?q=roman+civilization+vector&tbm=isch&ved=2ahUKEwiV14SB7oboAhUFLOwKHWGdCrwQ2-cCegQIABAA&oq=roman+civilization+vector&gs_l=img.3...6559.8704..8758...0.0..0.1

[2020-03-06 23:53] KevinKelbie commented on #153
Can I take this? @sebmck

[2020-03-07 00:01] #148 closed

[2020-03-07 00:03] sebmck commented on #153
Sure. You will need to add suppression comments to the rest of the codebase though since there are some usage of `any` in very specific places.

[2020-03-07 00:06] sebmck commented on #150
These would be questions for @ikeryo1182 since they implemented the rule in #121.

[2020-03-07 00:06] KevinKelbie commented on #153
Sure thing, just to be clear is this the rule that you want implemented? https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/no-explicit-any.md

[2020-03-07 00:07] sebmck commented on #153
Yeah. Just check for all `AnyKeywordTypeAnnotation` nodes, and add `// rome-supress lint/noExplicitAny` to the existing usages.

[2020-03-07 00:30] sebmck commented on #144
I don't think there's a lot more to add here and "rewrite in another language" isn't really a goal we can even consider doing now. I'll make sure to reference this issue in any future conversations on partial implementation in another wasm language, but it would be in the extreme future.

[2020-03-07 00:30] #144 closed

[2020-03-07 00:31] sebmck commented on #104
Rome doesn't bundle any Node builtins. The bundler is not a focus so I'll close this until we're at the point where we can start supporting and investing in it.

[2020-03-07 00:31] #104 closed

[2020-03-07 00:31] #19 closed

[2020-03-07 15:11] KevinKelbie opened #154 "rome-suppress not working on tests"
Description:

I've found a couple of issues while working with `rome-suppress` the first is an off-by-one line error which I've detailed how to fix below. Once the off-by-one line error is fixed the suppressions in the codebase itself work with `rome lint` but not `rome test`. When running `rome test` it returns something like

<img width="676" alt="Screenshot 2020-03-07 at 15 02 50" src="https://

[2020-03-07 19:11] ikeryo1182 commented on #150
Hi @OriR 👋
Thanks for questioning my implementing codes.

Answer for the first question:
I used that regular expression `/( {2,})(?: [+*{?]|[^+*{?]|$)/` because of referring to the implementation of eslint.
At the time, I thought the regular expression `/ {2,}/` maybe not make sure correct testing for multiple spaces, but it was my misunderstanding.
I think your thought is correct and `/( {2,})(?:

[2020-03-07 22:13] sebmck commented on #150
I'm implementing a regex parser, so we'll be able to do this lint just based on the regex AST

[2020-03-08 06:48] sebmck commented on #154
The line behaviour is deliberate. It's the same way `@ts-ignore` comments work.

[2020-03-08 06:49] sebmck commented on #154
The Rome formatter isn't going to respect comments on the same line as a node. It's extremely difficult to retain and infer the position.

[2020-03-08 23:21] macovedj commented on #20
Have you decided yet if you want these/other things to happen between https://github.com/facebookexperimental/rome/issues/94 being completed and your first release?  Are there things that would be most helpful for people to pickup still?

[2020-03-08 23:23] sebmck commented on #20
Yeah they're still helpful to pick up. I didn't put them in the ESLint rules task since their behaviour is less clear but happy to accept PRs!

[2020-03-09 00:05] macovedj commented on #20
Sweet.  I'll probably pick up duplicate imports.  FYI there are only a couple others that I feel I could pick up without further clarification, which I'm sure is something you would have guessed.  This is my first time contributing to open source, so I'm not really sure what the best means is by which to gather clarity around them.  If you wanted to do that here or anywhere else though, I'd be exc

[2020-03-09 05:26] #74 closed

[2020-03-09 18:39] sebmck commented on #20
There's no formal process around issue creation and discussion yet since there's not a lot of structure, so feel free to post any questions here or create a new issue. We also have a fairly active Discord server: https://discord.gg/rome

[2020-03-09 21:36] KevinKelbie opened #159 "☂️ Implement Regex Rules"
Followed is a list of ESLint rules that we should implement.

- [x] `groupopen` Unmatched opening parenthesis.
- [x] `groupclose` Unmatched closing parenthesis.
- [x] `setopen` Unmatched opening square bracket.
        Example @baryla #176
- [x] `rangerev` Range values reversed. Start char code is greater than end char code.
- [x] `quanttarg` Invalid target for quantifier. @CaffeinateOften #189
-

[2020-03-09 21:41] KevinKelbie commented on #159
@sebmck let me know if there are any rules we shouldn't implement that are listed here.

[2020-03-09 22:20] customcommander opened #160 "Confusing "empty file" message for rome.json in doc"
Just when I finished writing up my question on [Stack Overflow](https://stackoverflow.com/q/60608736/1244884) did I realise that I took the "empty file" message too literally. Classic ;)

I did have an empty rome.json file but this isn't what rome is actually expecting. It seems that it needs at least an empty object.

<img width="821" alt="Screenshot 2020-03-09 at 22 10 20" src="https://user-imag

[2020-03-09 23:33] MareikeTaeubner commented on #160
Related #145

[2020-03-10 00:12] KevinKelbie opened #161 "rome init creates rome.json file when prompt is escaped."
Description:

`rome init` creates a `rome.json` file when the prompt asking to use recommended settings is canceled.

## Steps To Reproduce

1. `rome init`
2. hit the `escape` key

## Expected Results

A message like `init canceled` and there shouldn't be a `rome.json` file.

[2020-03-10 00:38] MareikeTaeubner opened #162 "Confusing usage message in init script"
When starting the init script the user sees this output:

[code]

The information message suggests, that you can do something with the space key - directly over a choice where pressing the space key does nothing. If you are missing your coffee in the morning it could take a while to realize that you are not expected to press the space key here at all.

Should the script better guide the user by di

[2020-03-10 03:03] sebmck commented on #160
You can actually have an empty (no object literal) `rome.rjson` file.

[2020-03-10 03:20] sebmck commented on #161
#164 should address this.

[2020-03-10 03:20] sebmck commented on #162
#164 should address this.

[2020-03-10 06:32] customcommander commented on #160
@sebmck Perhaps this should be clearer. From what I can see you cannot have an empty `rome.json` file and chances are that people are more likely go for a "classic" JSON file rather than a RJSON  one. (Although this is pure speculation at this stage admittedly)

[2020-03-10 09:56] KevinKelbie commented on #161
fixed in #164

[2020-03-10 09:56] #161 closed

[2020-03-10 13:45] zinyando commented on #159
@KevinKelbie I'd love to help work on these but I'm not sure what they are, can you give me a quick summary and a link to an example implementation in Rome. Which file do we put the rules in also?

[2020-03-10 14:46] tatchi commented on #159
Hey,

I would like to work on `dupname` :)

[2020-03-10 14:52] KevinKelbie commented on #159
@zinyando I think the main file you want to look at is [here](https://github.com/facebookexperimental/rome/blob/2723f2d7ffc9e305754ffdf568923d2a0bdfdef8/packages/%40romejs/codec-js-regexp/index.ts) because that's were the other rules are located such as `Invalid capture group modifier`, `Unclosed group` and `Unclosed character set`. Additionally there is another [project](https://github.com/gskinn

[2020-03-10 20:54] sebmck commented on #162
#164 merged. Thanks for the report!

[2020-03-10 20:54] #162 closed

[2020-03-10 20:55] sebmck commented on #159
@tatchi Tip: Use the `RegExpGroupCapture` node and `name` property

[2020-03-10 20:55] sebmck commented on #159
Note that there are also some missing syntax implementation in the regex parser. Notably some unicode escapes and backreferences. Happy to accept PRs if anyone wants to implement them.

[2020-03-10 20:58] baryla commented on #159
I'll have a go at the `fwdslash` one 🙂

[2020-03-10 21:00] sebmck commented on #159
Unclear how the `fwdslash` one would work since it will be a JS syntax error. I believe that rule only exists in regexr because you paste in regex bodies.

[2020-03-10 21:03] baryla commented on #159
@sebmck that is a fair shout. Should that be taken out then since it may not apply to Rome?

[2020-03-10 21:12] tryggvigy commented on #159
I can look into `modebad`

[2020-03-10 21:14] baryla commented on #159
If we're unsure how to tackle `fwdslash` or if it should be implemented into the regex rules, I can look at `setopen` in the meantime :)

[2020-03-10 21:44] stephenwf commented on #159
Are RegExp constructor calls (`new Regex('...')`) ignored?

[2020-03-10 21:50] sebmck commented on #159
@stephenwf They are. I think we should leave them as-is for the timebeing. We should figure out some strategy to extract the regex, explode it into a `RegExpLiteral`, run the compiler over it, and then reserialize it. It would allow us to have transforms and lints "just work" and avoid having to special case it and risk performance regressions by having to parse it all over the place.

[2020-03-11 03:27] diokey commented on #43
It looks like this PR https://github.com/facebookexperimental/rome/pull/165 will improve CI output include subcommand help and examples

[2020-03-11 09:17] tatchi commented on #159
Hey,

I can work on the `badname` one :)

[2020-03-12 04:10] diokey commented on #18
Are you targeting a particular timeline for the release or is it just whenever things are ready?

[2020-03-12 04:27] diokey commented on #159
Hi there,
I'd like to try `esccharopen`

[2020-03-12 06:51] Janne252 commented on #65
I think I would prefer having support for `*.js` configuration file as some options might be useful to resolve at runtime, like checking custom command line arguments. Some tools even have support for a default exported async function that resolves the configuration.

[2020-03-12 08:04] aarjithn commented on #1
The phrase "all roads lead to Rome" is a reference to the Milliarium Aureum—the point to which all roads were said to lead. This is the remains of the same. There are couple of interesting symbols here - could this be simplified and used as logo?

![image](https://user-images.githubusercontent.com/10304259/76488696-318f7a00-644c-11ea-8734-8faef6a98e2b.png)

[2020-03-12 10:40] zinyando commented on #159
I'll try tackling `extraelse`

[2020-03-12 11:34] zinyando commented on #159
I'll take on `unicodebad`

[2020-03-12 23:03] sebmck opened #173 "Expansion Packs"
There exist a category of compiler transforms and lint rules that are framework-specific. We need to figure out a strategy to support them in Rome. I really do not want third party plugins. It goes against the "batteries included" approach that so far we've found extremely valuable, and reduces the velocity and sort of changes we can make internally to Rome.

So I've come up with the idea of "expa

[2020-03-12 23:29] sebmck commented on #18
When things are ready. Unclear what that actually means. I can guarantee a release by the end of the month though, even if it's not ready we'll still publish to npm and figure out the remaining gaps.

[2020-03-12 23:42] mattsjones commented on #173
I think something like this has to exists, otherwise Rome will be of limited use to the real world, which would be a shame. It feels like React is the easy choice here though. I'm interested in what is the criteria to qualify for a first class extension? Is it usage? Some packages require much heavier opinions on compiling and bundling than others like static CSS-in-JS libraries. Probably have to

[2020-03-13 00:00] mattsjones commented on #18
Feel like changesets would be a good option for Rome to keep track of release notes over time.
https://github.com/atlassian/changesets

[2020-03-13 01:25] sebmck commented on #173
Once we have more strict governance, I think good criteria should be a commitment from active core maintainers, good tests, and code quality kept up to the standard of the rest of the codebase. We should be able to make changes to the compiler and confidentally make them to transforms included in an "expansion pack". It will be extremely problematic to goal inclusion on usage.

[2020-03-13 07:48] Janne252 commented on #173
Assuming that the goal of Rome is to support _all kinds of_ import formats (e.g. images, css/scss, web workers)

What about existing input formats that are already generally handled by a common dependency or usually implemented by using one of existing implementations like with SCSS/SASS: `node-sass`, `dart-sass`, or `sass`?
For example both Webpack's `sass-loader` and Gulp's `gulp-sass`  use `nod

[2020-03-13 19:08] sebmck commented on #173
I don't know if this is a goal we have.

It's easy to have hooks for different asset compilation. The complexity comes with exposing JavaScript compilation APIs that have an extremely large API, including specific traversal order etc.

Not sure. There are things that would need to be changed. You could not throw errors, you would have to emit diagnostics in the format that Rome expects, you would

[2020-03-13 20:11] KevinKelbie commented on #154
fixed in #168

[2020-03-13 20:11] #154 closed

[2020-03-13 20:19] sebmck commented on #154
Put up #174 for a more robust fix.

[2020-03-13 20:57] milesj commented on #173
Not to derail this issue, but does "I really do not want third party plugins." mean that third party plugins for stuff like custom lint rules or transformers never going to be supported?

It's also a bit confusing and seems to counter this "We should make it really easy to fork Rome, and add your own special expansion.". So if we do want something custom, we need to fork Rome, and publish our own

[2020-03-13 21:46] sebmck commented on #173
If it can be avoided, no.

Depends on what it does. This exact issue is detailing how that stuff can live in core.

[2020-03-14 14:53] KevinKelbie commented on #159
I'll do `quantrev`

[2020-03-15 02:08] wgardiner commented on #159
@KevinKelbie are POSIX character classes supported in javascript regex? It looks like Regexr only supports them for the PCRE engine.

[2020-03-15 11:54] KevinKelbie commented on #159
@wgardiner that does seem to be the case. Could we still add some linting to tell the user that its not a supported feature in the javascript version of regex?

[2020-03-15 18:01] macovedj commented on #94
Is anybody here stuck/feel like they could use a second pair of eyes on whatever problem they're on?

[2020-03-15 18:26] wgardiner commented on #159
@KevinKelbie Sure, I can add a lint rule to throw an error for POSIX character classes and POSIX collating sequences

[2020-03-17 13:04] CaffeinateOften commented on #159
I'll take a stab at ```quanttarg```.

I need to check to see if the unquantifiable types are defined but if not hopefully I can add those.

[2020-03-17 13:43] KevinKelbie commented on #159
@CaffeinateOften I'll probably make a PR for `quantrev` today. Just so you know there are currently some bugs with the quantifier node but I've created fixes for them so that should help with your lint rule.

[2020-03-17 22:33] gustavopch opened #180 "Will it do versioning/releasing?"
I mean like https://github.com/semantic-release/semantic-release. I'm asking because versioning/releasing is something we must do for every project (either manually or automatically). If Rome wants to provide all the tooling someone needs to create stuff, then perhaps it should also handle that.

[2020-03-18 19:11] sebmck commented on #180
Yeah it could. We'll also have the ability later on to build module type signatures, which would be an additional layer of checks for a breaking change.

[2020-03-19 01:05] diokey commented on #159
I'd like to try `unmatchedref` next

[2020-03-21 16:39] ParkourKarthik commented on #159
I'd love to contribute. I'll pick up `esccharbad`. I need some help on where I could start and other specific references if any.

[2020-03-21 22:27] macovedj commented on #159
Guess I'll jump in.  Can I claim `modebad`?

[2020-03-21 23:30] macovedj commented on #159
I might not understand `badmode` correctly, but it appears that [this function](https://github.com/facebookexperimental/rome/blob/master/packages/%40romejs/js-parser-utils/regex.ts#L13) actually does what I expected this issue to be about.

[2020-03-22 00:45] KevinKelbie commented on #159
@macovedj I think your right however I find the error message to not be that helpful. It would be nice if the underline was under the incorrect flags rather than the start of the regex. What do you think?
<img width="234" alt="Screenshot 2020-03-22 at 00 43 40" src="https://user-images.githubusercontent.com/19197564/77239774-31bf1080-6bd6-11ea-86cf-f28b2a7c25d2.png">

[2020-03-23 03:40] devongovett commented on #144
Stumbled on this issue by accident. We're definitely starting to hit the performance walls of JS in Parcel too. We've started porting some expensive parts to C++ where it makes sense. For example, we just moved to a C++ library for [source maps](https://github.com/parcel-bundler/source-map), which improved perf by ~70% vs. the prior JS implementation (~25% of overall build time in one benchmark).

[2020-03-23 03:50] sebmck commented on #144
We've had pretty good luck so far with contributions, including those from people who are not familiar with compilers and ASTs. Other languages would make these abstractions more complex and difficult. So I do think that language matters and can make these concepts harder than they would otherwise be in JavaScript.

At the point when Rome is hitting the walls of JavaScript performance, Rome will b

[2020-03-23 03:53] devongovett commented on #144
That would be very exciting indeed. 😲

[2020-03-23 20:54] KevinKelbie opened #194 "☂️ Implement React Rules"
Followed is a list of [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react) that we should implement.

- [ ] [react/button-has-type](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/button-has-type.md): Forbid "button" element without an explicit "type" attribute
- [ ] [react/display-name](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/ru

[2020-03-23 20:55] KevinKelbie commented on #194
I have omitted (w/ ~~strikethrough~~) all the eslint react rules that are about code style. If there is a rule that shouldn't be omitted let me know but keep in mind we are not focussing on code style for now.

[2020-03-23 22:13] macovedj commented on #194
Will these go where most of the linter work has happened thus far?  Or will these go in an [expansion-pack](https://github.com/facebookexperimental/rome/issues/173)?  If they go in an expansion pack then I guess we would need an issue/PR to create the react expansion pack?  I'll pick one up after I do the `regex` item I'm currently slated for.

[2020-03-23 22:23] KevinKelbie commented on #194
@sebmck that's something I was meaning to ask you ☝️

[2020-03-23 22:23] mattsjones commented on #194
I feel quite a few of these rules are quite dated and should be omitted. Specifically `react/no-did-update-set-state`, `react/no-set-state` and `react/no-did-mount-set-state`.

[2020-03-23 22:25] mattsjones commented on #194
Also we need to support [eslint-plugin-react-hooks](https://github.com/facebook/react/tree/master/packages/eslint-plugin-react-hooks).

[2020-03-23 23:56] macovedj commented on #173
Maybe weekly installs would be a good metric to use for criteria?  At the end of the day, I guess the act of using criteria will have some stifling effect, but any framework already has integrating with other popular tech as a barrier to entry.  Performance, size etc. feel to me like things you would use to choose a framework, not to measure how many people will benefit from supporting it.  Weekly

[2020-03-24 07:09] tatchi commented on #194
I can try to implement `react/jsx-key` :)

[2020-03-24 08:39] sebmck commented on #194
Please don’t get started on any changes until we have consensus on the rules, expansion packs, and consult the React team so we’re following their recommended best practices.

[2020-03-25 00:44] sebmck commented on #94
There's been some changes to structure since this issue was created and many of the PRs submitted. I just created a PR that adds a simple rule #196 and included some instructions that will hopefully be helpful to others.

[2020-03-26 00:51] 1ntEgr8 commented on #159
I can pick up timeout!

[2020-03-26 09:57] ooflorent opened #200 "Rome produces invalid code for optional catch binding"
`rome lint --fix` produces invalid code for optional catch binding.

## Steps To Reproduce

Considering the following file:

[code]

When running `rome lint --fix`, the code is transformed like this:

[code]

`catch ()` is invalid JavaScript code and produces a `SyntaxError`.

## Expected Results

[code]

[2020-03-26 18:16] andreadito commented on #1
please change the logo!

[2020-03-27 00:48] #200 closed

[2020-03-27 02:19] kgrz opened #206 "Should `yarn` be mentioned as a step during installation"
Even though yarn/node_modules aren't strictly required for the base installation, the `engines` setting in `package.json` is not checked during `./script/build-release dist` (one of the steps in documentation) is run. I ran into an error while running this on node 8.9.4[1], which didn't point to this. Running `yarn` in the folder after clone would hint users to this better, making the UX better.

[2020-03-27 02:49] jedwards1211 opened #208 "Codemods"
If this aims to be a project for all things related to the processing of JavaScript, should it also provide an alternative to JSCodeshift, or perhaps more importantly Recast?

[2020-03-27 03:02] CaffeinateOften commented on #159
I never commented here but I opened a PR for `quanttarg` #189 a few days ago!

[2020-03-27 03:10] sebmck commented on #208
A codemod in the Rome world is just a lint autofix. It's actually better than a codemod, since a codemod is a step you perform only once. At least at Facebook that's problematic that there's always so much code in flight that you need to run the code mod over the following days to make sure you catch all newly committed code. An autofix would allow it to happen automatically. Unclear what this loo

[2020-03-27 03:15] sebmck commented on #206
I don't think it makes sense to recommend running `yarn` or `npm` just to get the `engines` validation. We could add a step to all `scripts` to check it instead.

[2020-03-27 03:24] sebmck commented on #206
Just created and merged #209 which adds the message to all `scripts`. You will still encounter syntax errors if your Node version doesn't support any of the syntax that the scripts use, but that's a much better indicator for an outdated Node than some obscure API calls. Thanks for the report!

[2020-03-27 03:24] #206 closed

[2020-03-27 06:03] MrHIDEn commented on #13
In that article you mentioned there is HJSON format, very similar to yours RJSON. I agree with you with the idea of RJSON. I believe it is too late for that format but it is interesting thing.

[2020-03-27 09:31] snrakshith opened #212 "Exposure of node_modules folder in project workflow"
## Description:
[code]

## Steps To Reproduce
[code]
## Expected Results

  Works fine as expected as **it doesn't modify the core functionalities of the Framework**.

[2020-03-27 15:12] curran opened #213 "Run in Browser?"
Hey! I have a question about the project.

I'm working on an in-browser JavaScript IDE [VizHub](https://vizhub.com/curran/90f961ce0f824558a4cc053bd38ae5f3?edit=files&file=index.js).

Would it be remotely possible to run this toolchain within the browser?

I'm thinking the biggest blocker is extensive use of `require('fs')`.

I'm opening this issue mainly to see if anyone else would be interested i

[2020-03-27 17:36] jedwards1211 commented on #208
Yeah I write a lot of custom transforms these days, and many of them are intended to be manually triggered on a specific file/selection by an IDE command instead of run on a whole codebase, like [material-ui-codemorphs](https://marketplace.visualstudio.com/items?itemName=vscodeshift.material-ui-codemorphs)

[2020-03-27 21:35] Tembocs opened #215 "Can't Build Rome on Windows"
Can't build Rome on Windows. I tried to build Rome on Windows as follows.
1. Cloned rome
2. ```cd rome```
3. Run ```./scripts/build-release dist```
4. Got the following error message:

[code]
I'm on Windows 10 x64 version 1903 build 18362.113.

[2020-03-27 22:53] Tembocs commented on #215
I've been able to determine the cause. On Windows we have to be explicit that Node is running the command by doing the following.
```cd rome && scripts/build-release dist```
A pull request has been created for this instructions on the main Rome website.

[2020-03-27 22:54] #215 closed

[2020-03-28 02:38] sebmck commented on #212
#134  #26

[2020-03-28 02:38] #212 closed

[2020-03-28 16:02] macovedj commented on #159
@KevinKelbie I think that `mode-bad` became obsolete as the underline no longer appears after changes made by @sebmck, and instead there is a color change in the text that correctly is applied to the first problematic flag.  If you agree then we can close https://github.com/facebookexperimental/rome/pull/195 and if there's something else you think should be done then let me know.

[2020-03-30 11:33] carusog opened #223 "Wrong logo"
Hi, it looks like you are using a greek helmet in place of a roman helmet for your logo. ☺️

Apart that, maybe something like a styled [Colosseum](https://en.wikipedia.org/wiki/Colosseum) illustration could fit the project better since, first of all it is more iconic for Rome, and, finally, it's related to a "building" tool and it could be a good reference for a solid building.

[2020-03-30 13:32] macovedj commented on #223
There's a place where this is discussed over [here](https://github.com/facebookexperimental/rome/issues/1)

[2020-03-30 17:05] antoine-amara commented on #20
Hello, I'm interested in contributing, I've got a question about this lint rule:

Eslint provides multiple rules for this case:

* [disallow the use of arguments.caller/arguments.callee (no-caller)](https://eslint.org/docs/rules/no-caller)
* [suggest using the rest parameters instead of arguments (prefer-rest-params)](https://eslint.org/docs/rules/prefer-rest-params)

So, would we want to implemen

[2020-03-31 00:47] sebmck commented on #223
From the README:

[2020-03-31 00:47] #223 closed

[2020-03-31 19:41] ooflorent opened #233 "`rome ci` does not run the tests"
When running `rome ci`, only the linting is performed.
I think there might be a `process.exit()` call between the `lint` and the `test` command.

## Steps To Reproduce

[code]

## Expected Results

The tests should be ran.

[2020-04-01 01:08] lodenrogue commented on #9
This project includes a testing suite, right? You can write the tests using this suite.

[2020-04-01 12:29] KevinKelbie opened #235 "Rome can't resolve npm modules with `@` prefix."
Description:

When importing npm modules it seems that Rome returns a `resolver/notFound` error when importing modules with an `@` prefix.

Example:
<img width="647" alt="Screenshot 2020-04-01 at 13 19 34" src="https://user-images.githubusercontent.com/19197564/78137294-f7970f80-741c-11ea-8b04-38bc565c3cfb.png">

## Steps To Reproduce

    npm install @xstate/react --save

<!-->

    // index.ts

[2020-04-01 12:33] KevinKelbie commented on #235
This was reproduced by @ooflorent on discord too

[2020-04-01 19:30] vsobotka opened #238 "Several problems with rome not working at all"
Description:

    Maybe I am trying to use rome the wrong way, I just wanted to try it out. But I am having a few problems with it. Versions:
![image](https://user-images.githubusercontent.com/4008662/78178360-cab81c00-745f-11ea-8b9e-dccc70091d2c.png)
Rome has been built from `6efc1b3a2fde5d7166ee41aa0c09e0a8aa06ed73`

## Steps To Reproduce

    Problem 1: Have a file `test.js` with a simple funct

[2020-04-01 20:18] ooflorent commented on #238
Thanks for trying rome!

1. `rome test` is not ready yet to be used outside of the project because `@romejs/test` is yet to be published
2. `rome --help` is currently broken. There is a WIP PR #214

[2020-04-01 20:24] #233 closed

[2020-04-01 22:30] tbeseda opened #240 "Console output error breaks build on Windows 10"
## Description:

Running build-release on Win 10 Pro, PowerShell 7, Node 12.13.0 throws an error and stops the build

![screen shot](https://user-images.githubusercontent.com/15697/78192613-bceda100-7435-11ea-9ba9-084c416d8d01.png)

## Steps To Reproduce:

Using [these instructions](https://romejs.dev/docs/introduction/installation):

1. clone rome
1. run build-release
1. get console output seen a

[2020-04-01 22:36] vsobotka commented on #238
@ooflorent I was running rome run, not rome test though.

[2020-04-02 16:09] Lagily commented on #240
Hey @tbeseda could you check if https://github.com/facebookexperimental/rome/pull/242 would fix your issue?

[2020-04-02 16:20] tbeseda commented on #240
@Lagily It does progress further in the build, but I get this error
[code]
![image](https://user-images.githubusercontent.com/15697/78272872-4ef3b900-74cb-11ea-96d0-640b3b660a36.png)

[2020-04-02 16:24] Lagily commented on #240
Can you try again @tbeseda?

[2020-04-02 16:32] tbeseda commented on #240
@Lagily I'm able to build and install Rome. Some of the console output is a bit off, but I think that would be a different issue/scope:

![image](https://user-images.githubusercontent.com/15697/78274285-35537100-74cd-11ea-8b3d-2f4510b99657.png)

[2020-04-02 17:04] Lagily commented on #240
I see, looks like I broke something with the backslash escaping, I'll have a look

[2020-04-03 13:22] Lagily commented on #240
the pull request should now also not break the output in your console

[2020-04-04 12:50] Lagily commented on #20
I feel like a lot of interesting thoughts and discussions took place in this thread. I am wondering if some sort of 'mission statement' can be generated from this. Basically is there a mission (specific to the linting part of Rome) that will differentiate it from existing solutions? Or will the result more or less be the same?

[2020-04-04 22:27] #235 closed

[2020-04-04 22:31] sebmck commented on #20
@Lagily

Rome will be different in a few ways.

**Advanced autofixes.** All of our lint autofixes are regular compiler transforms. This means we can do a lot more complicated fixes than traditional linters like eslint. In ESLint you insert raw strings, so are severely limited by the sorts of things you can do.

**Rich diagnostics.** Our diagnostics format allows us to provide diagnostic metadata a

[2020-04-04 23:23] sebmck commented on #213
All file system access happens through the `@romejs/fs` package.

You can individually use each piece of Rome without requiring file access. eg. you can require `@romejs/js-parser` and `@romejs/js-compiler` and call `lint` yourself. But like you mentioned, file system access is required by the server.

I haven't spent a ton of time thinking about it since it hasn't been high priority. I imagine if

[2020-04-04 23:31] sebmck commented on #238
No commands other than `rome lint` and other project configuration commands are supported. We're currently focused on the linter/autoformatter. I'll leave this issue open so we can address them when the focus shifts to bundling, which is ultimately what `rome run` relies on.

[2020-04-05 12:02] KevinKelbie commented on #159
@macovedj sorry for the late response, the underline still appears for me on `master`. The colour change is the autofixer and both appear for me.

<img width="251" alt="Screenshot 2020-04-05 at 12 59 53" src="https://user-images.githubusercontent.com/19197564/78480250-61752900-773d-11ea-97aa-dd91bdb6b8c4.png">

[2020-04-05 16:00] KevinKelbie opened #250 "regex parser only prints one diagnostic per file"
## Description

When you have more than one regex error in a file only the first diagnostic is printed.

## Steps To Reproduce

1. Create file with the following contents as an example:

[code]

2. `rome lint test.ts`

## Expected Results

There should be a diagnostic for each regexp error in the file.

## Actual Results

<img width="491" alt="Screenshot 2020-04-05 at 16 58 22" src="https://user-i

[2020-04-05 20:13] sebmck commented on #250
Parser errors are purposely deduped to one per line. This is to prevent noisy cascading parser errors. There's nothing specific about this to the regex parser.

Actually after looking into it the unique deduping is commented out and only a max of one diagnostic is produced for `js-parser`. [`JSParser#getDiagnostics`](https://github.com/facebookexperimental/rome/blob/master/packages/%40romejs/js-pa

[2020-04-09 15:23] KevinKelbie commented on #250
ah, that makes sense. I'll close this since it seems that its expected behaviour.

[2020-04-09 15:23] #250 closed

[2020-04-11 07:27] YMaster commented on #240
# node ./scripts/build-release ./dist
 Building trunk
ℹ Bundling packages/@romejs/cli/bin/rome.ts
✔ Saved to ~/AppData/Local/Temp/rome-dev
 Executing trunk
⚠ Disk caching has been disabled due to the ROME_CACHE=0 environment variable ⚠

 unknown parse/stringMarkup ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

  ✖ Expected token Word but got Slash

[2020-04-12 02:40] sebmck commented on #240
This, along with other Windows improvements, were fixed in #260.

[2020-04-12 02:40] #240 closed

[2020-04-13 17:24] ktfth opened #264 "Help flag not working well"
argv:1:7 flags/invalid ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

  ✖ Unknown help flag at

    $ rome --help

[2020-04-13 17:25] ktfth commented on #264
node version v13.12.0
npm version 6.14.4

[2020-04-13 17:32] ktfth commented on #264
After try build again, this occur on the code base

 Building trunk

 internal/fs/watchers.js:169:25 internalError/request ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

  ✖ ENOSPC: System limit for number of file watchers reached, watch '/home/ktfth/war/rome/p

[2020-04-13 19:11] linux-china commented on #264
Same problem to me.

[code]

[2020-04-13 19:22] sebmck commented on #264
Known issue #262 and #214

[2020-04-14 14:13] ooflorent opened #270 "Class inner comments are not attached"
Inner comments are not attached to classes if the class body is empty.

## Steps To Reproduce

Create the following file:

[code]

Parse it:

[code]
[code]

## Expected Results

The comment should be attached to the class declaration.

[2020-04-14 16:55] sebmck commented on #270
We might be missing a finishNode call on ClassBody

[2020-04-14 17:44] sebmck commented on #270
Actually we have no `ClassBody` node since it's now just an array on `ClassHead['body']`.

[2020-04-14 17:48] brillout opened #271 "SSR & SSG"
Do you plan to support SSR & SSG setups?

E.g. building React views to be executed in the browser as well as:
 1. At runtime in a Node.js server, that is SSR.
 2. At build-time to build static pages, that is SSG.

Neat project btw. :-).

[2020-04-14 18:36] #270 closed

[2020-04-14 22:20] sebmck commented on #271
I don't think there's anything that Rome needs to do to support these cases? It's an application framework thing?

[2020-04-15 09:41] ooflorent opened #276 "FunctionHead inner comments are not properly attached"
Function nodes inner comments are attached to the wrong node.

## Steps To Reproduce

Create the following file:

[code]

Parse it:

[code]

## Expected Results

- `EMPTY` should be attached to `FunctionHead` as an inner comment.
- `ARGS` should be attached on `FunctionHead` as an inner comment instead of a leading comment on the `BlockStatement`.

[2020-04-15 09:41] ooflorent opened #277 "Call expressions inner comments are not attached"
Inner comments are not attached to classes if the class body is empty.

## Steps To Reproduce

Create the following file:

[code]

Parse it:

[code]

## Expected Results

The comment should be attached to the call expression.

[2020-04-15 13:36] ooflorent opened #278 "JS formatter accepts invalid syntax"
The parser and the formatter do not behave differently.

## Steps To Reproduce

Considering the following file:

[code]

Calling `./scripts/dev-rome parse` fails, which is expected.
However `./scripts/dev-rome format` does not, which is wrong.

## Expected Results

The formatter should not attempt to format invalid JavaScript.

[2020-04-15 19:17] #278 closed

[2020-04-15 21:25] brillout commented on #10
I'm interested in a public API from the perspective of SSR/SSG (#271).

Is there a draft somewhere online of how the public API would look like?

[2020-04-15 21:26] brillout commented on #271
I just saw that you plan to have a public API #10. Neat.

I've implemented a little SSR/SSG tool ([Goldpage](https://github.com/reframejs/goldpage)) on top of Webpack and more than 80% of the code is about circumventing Webpack shortcomings.

Depending on how Rome's public API is designed, SSR/SSG could be implement-able with only a couple hundreds of LoCs, which would be a thrilling little piece

[2020-04-15 21:29] #276 closed

[2020-04-15 21:29] #277 closed

[2020-04-15 21:31] sebmck commented on #264
Fixed by #262.

[2020-04-15 21:31] #264 closed

[2020-04-16 00:46] macovedj commented on #159
@KevinKelbie Have you seen that is ready for review again?  Also, is my understanding of `branchreseterr` correct in that you basically just want us to throw an error whenever anybody attempts to use a branch rest group?  If so I could pick that up, or maybe another after a question or two.  Finally, do we have a way of knowing which items have been claimed but aren't being acted on?  Also curious

[2020-04-16 06:05] KevinKelbie commented on #159
Awesome!

It's been almost a month since we have heard anything from some of the assignees so I'd be happy to re-assign someone else to some of these issues. If anyone is stuggling with implementing their rule they have taken I'm sure some people on the [discord](https://discord.gg/rome) would be able to point you in the right direction.

If you are taking on an already assigned rule then perhaps

[2020-04-16 09:24] brillout opened #283 "Rigid IDE integration"
I appreciate that Rome is rigid in areas where flexibility is futile, such as your intent to make linting fully inflexible.

I'm curious if you considered to go as far as applying the same principle to IDE integration? E.g. having a vscode Rome extension that is fully opinionated. Rome could go as far as even creating its own (strongly opinionated) modal editing, e.g. https://github.com/johtela/vs

[2020-04-17 01:41] sebmck commented on #283
We actually have an implementation of the [LSP](https://microsoft.github.io/language-server-protocol/) and  VSCode extension that was implemented in #207. The only special sauce that's in the VSCode extension is finding the Rome binary and then executing it. You should be able to use any other editor that supports LSP and it just needs to run `rome lsp` and connect over stdin.

Right now I don't t

[2020-04-20 02:34] sebmck commented on #159
Feel free to take on rules that have been assigned but have had no movement on.

[2020-04-20 07:46] ooflorent opened #293 "Leading comments on export statements are not attached properly"
Leading comments on export statements are not attached properly.

## Steps To Reproduce

Considering this file:

[code]

The comments are attached as expected:

[code]

- `LEADING` is attached to `ExportExternalDeclaration`
- `INSIDE` is attached to `ExportExternalSpecifier`

However, if `INSIDE` is removed:

[code]

Then `LEADING` is attached to both nodes, which makes formatting way more complic

[2020-04-20 23:41] pnegahdar opened #295 "Failed Semver parsing in"
Description:

    Cannot parse version ` "^4.0.0 || ^4.0.0-beta.* || ^3.8.1 || ^3.0.0 || ^3.0.0-rc.0 || ^2.1.0 || ^1.13.1"` in package.json.

## Steps To Reproduce
[code]

It fails to parse this part: `^4.0.0-beta.*`

It isn't clear to me if this is this is valid or invalid.

[2020-04-21 01:17] macovedj commented on #159
Cool I'll probably start with some of the non-regex ones since they're older.

[2020-04-22 01:58] sebmck commented on #295
I don't think that is technically valid but if npm/yarn handles it silently then we should too. We have a "loose" mode that we enable for `package.json` files found in `node_modules` that has some fallbacks for these cases. For regular `package.json` files in your project then we validate them more strictly.

[2020-04-22 04:18] sebmck commented on #1
Wanted to resurrect this issue since I'd be amazing to have a finalized logo for when we have a release to really cement the project from the beginning.

I really like the laurel wreath idea (suggested by @kimstacy) and the Milliarium Aureum symbols (suggested by @aarjithn) also look really interesting.

I think we definitely don't want something like a helmet, spear etc. I think it would be inter

[2020-04-22 18:10] thecodrr commented on #94
@sebmck can you please update the list? I see some rules in the list that are unchecked but are already implemented. Oh and I implemented `no-inner-declarations` rule (#305) since @tatchi never made a PR. So please update accordingly.

[2020-04-22 18:46] sebastian-naicker opened #306 "Unable to run a simple js file"
Description:

Rome fails to execute my script file. I have tested with node, and it works fine, hence I decided to report an issue.

## Steps To Reproduce
1. Follow the installation & getting started guide on the rome docs.
2. Create a new directory
3. Run `rome init` and proceed with the recommended settings
4. create a new file, in this case I created `hello.js`
5. Insert the following content
[

[2020-04-22 19:16] tatchi commented on #94
@thecodrr actually I did open a PR #142 but we decided to close it. Sorry, I should have added a comment here.

[2020-04-22 19:30] thecodrr commented on #94
@tatchi and I should have confirmed (and researched) before jumping to implementation. :laughing: Duplicate efforts. haha

[2020-04-22 19:36] sebmck commented on #94
It actually looks like all these rules have been implemented or deferred. If anyone has any other ideas for lint rules, whether ones that already exist, or new ones that are made easier/justified with an easy autofix, please open an issue to discuss!

[2020-04-22 19:36] #94 closed

[2020-04-23 05:07] sebmck commented on #306
Thanks for the report! Fixed by 8be8243c0ca7d98d1b23c31190530cbd140aea80. The problem here was the function being the same name as a parameter which caused a collision in some internal data structure that was shared.

[2020-04-23 05:07] #306 closed

[2020-04-23 12:04] ooflorent opened #310 "SourceLocation#identifierName is always undefined"
`SourceLocation#identifierName` is not correctly set.

## Steps To Reproduce

Considering the following file:

[code]

The output AST is:

[code]

`identifierName` is always `undefined` and should not.

## Expected Results

`identifierName` is defined.

[2020-04-24 07:18] avin-kavish opened #311 "Inconsiderate Language is not really inconsiderate. The problem is YOU."
So I saw this issue where @sebmck has created a plugin that replaced blacklist with denylist. Because the world blacklist is inconsiderate. The origin of the world blacklist has nothing to do with black people and all to do with the fact that literature associates light and dark with white and black and light is generally safe due to visibility and darkness is generally dangerous due to the lack o

[2020-04-24 07:18] avin-kavish opened #312 ""Inconsiderate Language" is not really inconsiderate. The problem is YOU."
So I saw this issue where @sebmck has created a plugin that replaced blacklist with denylist. Because the world blacklist is inconsiderate. The origin of the world blacklist has nothing to do with black people and all to do with the fact that literature associates light and dark with white and black and light is generally safe due to visibility and darkness is generally dangerous due to the lack o

[2020-04-24 07:21] #312 closed

[2020-04-24 07:21] #311 closed

[2020-04-24 10:22] Tembocs opened #313 "Can't Install: Missing package version"
After successful compilation, installation of Rome fails with error message ```Can't install: /rome/dist: Missing package version```

## Steps To Reproduce
1. Clone Rome repository: ```git clone https://github.com/facebookexperimental/rome```
2. Compile it: ```cd rome; ./scripts/build-release dist```
3. Try to install: ```npm install -g ./dist/```

The last step (installation) fails with error mes

[2020-04-24 10:44] Tembocs commented on #313
After compilation, adding "version" field to ```~/projects/javascript/rome/dist/package.json``` with any version number as its value makes the installation successful without any error. I could not figure out where this files comes from during compilation.

[2020-04-24 18:54] #313 closed

[2020-04-24 21:47] sebmck commented on #293
I think this has something to do with us converting `ExportLocalSpecifier` into a `ExportExternalSpecifier`, and when we do the comment attachment, we correctly try to remove the leading comment from the specifier, but since we've cloned the node it has no effect.

[2020-04-24 22:47] #293 closed

[2020-04-24 23:35] sebmck opened #320 "Lint suggestions"
Right now the linter only has one possible autofix. I saw that ESLint added [suggestions](https://eslint.org/docs/developer-guide/working-with-rules#providing-suggestions) which allows for multiple possible fixes.

This is something that we will probably want to add to Rome. This issue tracks the implementation if we decide to add it.

[2020-04-25 09:59] ooflorent commented on #320
Suggestions also might be used when the fix is unsafe. For example, since `==` cannot be replaced without strong heuristics, the fix could be a single suggestion.

Another approach might be to tag some fixes as _unsafe_ and apply them only if a flag is provided. Not sure if it’s a good idea though. Definitely not if suggestions are implemented...

[2020-04-25 19:15] ooflorent opened #322 "Consider adding ArrayHole AST type"
Currently, parsing the following array uses `undefined` to represent holes:
[code]
[code]

The issue is that the comment nodes cannot be attached correctly.
Adding a new type `ArrayHole` could solve the issue:

[code]

[2020-04-25 19:26] ooflorent opened #323 "Flow comment types are not correctly attached"
## Steps To Reproduce

Considering this declaration:
[code]

Its AST is:
[code]

Comment `1` is not attached.

## Expected Results

Comment `1` is attached to the function declaration.

[2020-04-25 19:30] sebmck opened #324 "Add MasterRequest cancellation"
This should be pretty easy to add. `MasterRequest#check` could be called periodically that throws an exception if `this.cancelled`. Then add a token or something somewhere. Also add a new `MasterQueryResponse` type.

[2020-04-25 19:59] sebmck opened #325 "Add TestDiagnosticAdvice"
Subset of DiagnosticAdvice that’s allowed from TestHelper#addToAdvice. Normalized in the future.

[2020-04-25 21:43] sebmck opened #326 "Remove allowDirty VCS stuff"
Yolo

[2020-04-25 22:29] #326 closed

[2020-04-26 00:18] sebmck opened #327 "Formatter broken on nested group"
Formatting `packages/@romejs/project/types.ts` currently produces an error. This is because `lineSuffixes` can contain `state` from a group, and in this file, when the line suffix is printed, there is no group in the call chain. I've added this file to the lint ignore.

**Minimal repro:**

[code]

cc @ooflorent

[2020-04-26 00:31] langpavel opened #328 "yarn dev-rome not workin on linux (Ubuntu with zsh)"
## Steps To Reproduce

Linux, zsh
[code]

[2020-04-26 01:23] sebmck commented on #328
Node version?

[2020-04-26 01:24] #322 closed

[2020-04-26 01:28] #328 closed

[2020-04-26 01:28] sebmck commented on #328
I guess it doesn't matter. I'm on Linux running Node v12.6.0 and have never encountered this. Closed commit should fix this. Thanks for the report!

[2020-04-26 01:32] langpavel commented on #328
I'm on node 14.0.0

[2020-04-26 01:51] #324 closed

[2020-04-26 01:51] #320 closed

[2020-04-26 06:18] #325 closed

[2020-04-26 16:25] macovedj opened #337 "Optional Chaining Autofix"
So currently the linter identifies optional chaining and fixes it by simply getting rid of it as depicted below.
BEFORE:
`const foo = {bar: 'baz'}; console.log(foo?.bar)`
AFTER:
`const foo = {bar: "baz"}; console.log(foo.bar)`.

Is there a reason that the linter should get rid of optional chaining?  If so, then it should fix to `foo && foo.bar` so that there isn't a lost null check.  If not, then

[2020-04-26 17:11] ooflorent commented on #337
There was an issue in the formatter that was omitting the optional chaining operator. It has been fixed a few hours ago. Could you try using the latest commit?

[2020-04-26 18:20] macovedj commented on #337
Oh cool.  I tried with the latest and the issue disappeared.  Thanks!

[2020-04-26 18:20] #337 closed

[2020-04-26 19:29] #327 closed

[2020-04-27 00:08] KevinKelbie opened #340 "[internalError/request] Unknown command undefined: When running lint, test, ci"
## Description

When running `./scripts/dev-rome lint`
<img width="1065" alt="Screenshot 2020-04-27 at 01 02 25" src="https://user-images.githubusercontent.com/19197564/80323356-c85c9e00-8822-11ea-900d-2ff849f4ba2d.png">

When running `./scripts/dev-rome test`
<img width="1070" alt="Screenshot 2020-04-27 at 01 06 42" src="https://user-images.githubusercontent.com/19197564/80323451-651f3b80-8823-11

[2020-04-27 00:55] KevinKelbie commented on #340
fixed by running `ps aux | grep rome` then `kill -9 <id>`

[2020-04-27 00:55] #340 closed

[2020-04-27 01:33] sebmck opened #341 "☂️ [PAUSED] React lint rules"
This issue serves to discuss what React rules we should have in Rome. Ideally these rules would be blessed by the React team.

What rules do you think are the most important? Keep in mind that Rome does not allow disabling lint rules. You can only suppress them. The React rules will not be an exception. Rome allows AST autofixes which drastically simplifies the existence of many lint rules by allo

[2020-04-27 01:35] sebmck commented on #341
It would be nice to have a strong set of accessibility rules. We could have autofixes/suggestions that infer from usage what props the author probably meant.

[2020-04-27 01:41] Daniel15 commented on #341
FWIW here's the list of lint rules included with Create React App, which is probably a good guide as to which rules a lot of people are using today: https://github.com/facebook/create-react-app/blob/master/packages/eslint-config-react-app/index.js

The "Rules of Hooks" rule is a pretty important one for React hooks: https://github.com/facebook/react/tree/master/packages/eslint-plugin-react-hooks

[2020-04-27 01:52] jamiebuilds commented on #341
Here's a list of all the potential rules, with info on what if they are in the "recommended" set and what their setting is in Create React App:

## React rules

- [ ] [react/boolean-prop-naming](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/boolean-prop-naming.md): Enforces consistent naming for boolean props
- [ ] [react/button-has-type](https://github.com/yannickcr/esli

[2020-04-27 02:03] sebmck commented on #341
A lot of those seems so superfluous. We can pretty much ignore any of the rule that are specific to createClass. Also there’s many there that just get around ESLints poor handling of JSX, that we already handle such as variables in JSX being marked as used.

[2020-04-27 03:09] chicoxyzzy commented on #153
It seems that it was implemented and merged so probably this issue could be closed

[2020-04-27 03:29] sebmck commented on #153
Yup. Thanks for the ping!

[2020-04-27 03:29] #153 closed

[2020-04-27 04:20] jeremyBanks opened #342 "[ts, jsx] parser OOM crash on "0 ? (<b>0</b>) : (<b>0</b>)""
👋

## Description:

`@romejs/js-parser` with the `['ts', 'jsx']` syntaxes enabled crashes with a Node OOM error when you try to parse the document `0 ? (<b>0</b>) : (<b>0</b>)`. This does not happen with `['flow', 'jsx']` enabled instead.

## Steps To Reproduce

Tested Rome master at 964fde9a180b4d317386662d1c0d26f01ce84b84 (Sun Apr 26 17:55:48 2020 -0700) on Node v14.0.0.

1. ```bash
    echo '0

[2020-04-27 04:21] ljharb commented on #341
There’s also the Airbnb config’s react rules worth considering.

[2020-04-27 04:28] sebmck commented on #342
Looks like we're trying to parse it as an arrow function and it's hitting EOF and getting into an infinite loop parsing and creating nodes.

[2020-04-27 04:31] sebmck commented on #342
Thanks for the report! Fixed by #343

[2020-04-27 04:34] #342 closed

[2020-04-27 04:49] borisaka opened #345 "Cannot construct a FilePath with zero segments. Fails with any project"
MacOS 10.14.6
[code]

[code]

[2020-04-27 04:56] sebmck commented on #345
Need more information. What command are you running? Where are you running it?

[2020-04-27 05:05] diokey commented on #341
Are react specific rules going to be implemented as expansion packs as discussed in https://github.com/facebookexperimental/rome/issues/173 ? It didn't seem like the discussion was conclusive. Maybe this is a good time to make that decision.

[2020-04-27 05:06] sebmck commented on #341
Thinking about expansion packs, it feels like having an on switch just for the sake of it. We can detect the React code pretty unambiguously so there's no reason to have configuration to turn it on.

[2020-04-27 05:32] sebmck commented on #345
Actually this is thrown in the memory file system so it will be every command. Judging from the stack trace it's failing to parse the `exports` field in a `package.json` two levels deep from the root. I have no idea what sort of input would trigger a path to be created like this.

What's the output of running `cat */*/package.json`? It's one of those files triggering this.

[2020-04-27 18:57] danteissaias opened #347 "Shell completions"

[2020-04-27 19:02] danteissaias commented on #347
A thought: since Rome already generates help information from a centralized list of commands/descriptions it wouldn't be that too much of a leap to auto-generate shell completions.

[2020-04-27 19:15] danteissaias commented on #347
Here's a rudimentary example for the fish-shell (there's probably a much more efficient implementation).

[code]

[2020-04-27 21:19] sebmck commented on #347
Good idea! I just opened #348 which adds the relevant hooks and instructions to the `@romejs/cli-flags`, that way there's access to all command and flag information. It will also then just automatically work if we use that module elsewhere, or make it available third-party.

Let me know if you want to have a go at implementing it. I use fish shell too so happy to test out any changes. Feel free to

[2020-04-27 21:22] EduardoLopes commented on #1
Let's see. I'm up do this.

Before start to working on the logo idea i made this to try to capture a mood, see shapes and try a color palette. On this one i tried the "javascript yellow", as you said above.

![Yellow](https://user-images.githubusercontent.com/1084297/80420988-14a2ef00-88b2-11ea-861e-f1b26b3ac55e.png)

On this one i tried a color palette going more towards the Rome flag colors.

![

[2020-04-28 01:04] danteissaias commented on #347
I've made a start with the fish completions:

![image](https://user-images.githubusercontent.com/13090065/80435467-813edd80-88f4-11ea-91fd-31f2d4837293.png)

[2020-04-29 09:04] tatchi commented on #341
Something that we might consider: https://twitter.com/dan_abramov/status/1255237989548134405?s=20

[2020-04-30 00:35] #3 closed

[2020-04-30 00:36] #4 closed, assigned to nobody

[2020-04-30 00:36] #5 closed

[2020-04-30 00:36] #6 closed

[2020-04-30 00:36] #7 closed

[2020-04-30 00:36] #8 closed

[2020-04-30 00:36] #9 closed

[2020-04-30 00:37] #13 closed

[2020-04-30 00:37] sebmck commented on #14
Closing this in favour of more specific issues

[2020-04-30 00:37] #14 closed

[2020-04-30 00:37] #15 closed

[2020-04-30 00:38] sebmck commented on #16
Closing this in favour of more specific issues

[2020-04-30 00:38] #16 closed

[2020-04-30 01:41] macovedj commented on #341
Is it safe to assume that the recommended rules are not superfluous?  If there's not going to be an expansion pack, could people have at those ones?

[2020-04-30 19:02] hzoo opened #360 "`rome lint --review` applies autofixes automatically (without user prompt)"
## Description

Looks like `rome lint --review` applies autofixes automatically, similar to prettifying/formating. ([video](https://imgur.com/AOfzncM))

## Steps To Reproduce

1. Create a file with an autofixable rule (lint/preferTemplate)

[code]

2. Run rome:

[code]

## Expected Results

Unlike `rome lint --save`, prompt for autofixes when using `--review! Sebastian mentioned it was previously

[2020-04-30 19:08] sebmck commented on #360
Fixed by #361

[2020-04-30 19:14] sebmck commented on #360
Thanks for the report! Just merged #361.

[2020-04-30 19:14] #360 closed

[2020-05-01 14:21] KevinKelbie commented on #194
Closing in favor of #341

[2020-05-01 14:21] #194 closed

[2020-05-01 16:41] mnemanja commented on #194
@KevinKelbie I hope this list will be transferred somewhere else or at least maintained here as it progresses. It makes no sense to just leave it.

[2020-05-01 20:53] ooflorent opened #371 "Apply suppression to a node"
Currently a suppression is applied to a line. Thanks to this mechanism, the same error could be muted multiple times. For example, the below snippet does not report `any` as error:

[code]

However, we have errors because `noShorthandArrayType` fails for `any[]`. When the fixes are applied, the type is updated and the node is formatted:

[code]

Because of the formatting, the second and the last l

[2020-05-02 00:31] binarybaba opened #372 "setup breaks when node < 6"
Description:
`_setup.cjs` throws a syntax error when we're using node v6 or lesser. It made sense for me to file an issue here since node is giving an LTS support for 8x,6x and 4x.
[code]

## Steps To Reproduce

Switch to node versions <=6 and run `scripts/dev-rome test`

## Expected Results
Should say `Rome requires Node >=v12 but got <xxx>`

[2020-05-02 00:43] binarybaba commented on #372
I'll pick this up and send a PR

[2020-05-02 01:01] ljharb commented on #372
6 is EOL, as is 8; the only node versions currently in LTS are 10 and 12.

[2020-05-02 01:06] binarybaba commented on #372
I know. I just think it should exit nicely rather than give out a stack trace. What do you think? I mean this is ultra low priority

[2020-05-02 01:07] binarybaba commented on #372
I was looking at the docs and it did say it was in LTS so I kinda got confused :D

[2020-05-02 01:11] #372 closed

[2020-05-02 01:34] sebmck commented on #372
We do have a check that you're running Node >12 which is the only version currently supported for development. There's isn't anything we can really do about Node versions so old that they don't support basic ES2015 syntax.

[2020-05-02 03:20] sebmck commented on #371
On the surface this seems like a good idea but I'm worried that this will make it extremely easy to suppress errors in big blocks of code. eg. having it attached to a function.

[2020-05-02 04:01] sebmck commented on #371
#373 has been merged but I want to leave this open to make sure we're being deliberate. Quoted from that PR:

This PR also implements `rome-ignore-next-statement` that takes the range of the node it's attached to and suppresses everything within it. I'm not 100% sure how I feel about this. It feels very easily abused, or could even accidentally hide new errors unintentionally. We should have a goo

[2020-05-02 04:54] #371 closed

[2020-05-02 12:27] ooflorent opened #378 "Comments are not correctly attached on while statements"
## Steps To Reproduce

Given to following file:

[code]

The parsed AST is:

[code]

There are 2 mistakes here:

  - comment `0` is attached to `WhileStatement.test`
  - comment `1` is attached to `WhileStatement.body`

Because of this, the above code is formatted as:

[code]

## Expected Results

  - comment `0` is attached to `WhileStatement` as `leadingComment`
  - comment `1` is attached to `W

[2020-05-02 15:28] Tembocs opened #379 "Missing write access to /usr/local/lib/node_modules/rome"
## Description:
On Ubuntu 20.04 x64, installation step fails with error message ```Missing write access to /usr/local/lib/node_modules/rome```. I gave write access to all users to this directory using ```sudo chmod -R a+rwx /usr/local/lib/node_modules/rome``` but got the same error message.

## Steps To Reproduce
```git clone https://github.com/facebookexperimental/rome```
```cd rome; ./scripts/bu

[2020-05-02 16:38] #379 closed

[2020-05-02 19:11] ooflorent opened #380 "Inner comments not attached on TSEnumDeclaration"
## Steps To Reproduce

The following file:

[code]

produces the following AST:

[code]

The inner comment is not attached to the enum declaration.

## Expected Results

The inner comment should be attached to the enum declaration.

[2020-05-02 20:05] ooflorent opened #381 "SourceLocation's end is wrong for ObjectProperty nodes"
End location is wrong for `ObjectProperty` nodes. This is an issue when empty lines between properties are printed because it produces an extra line since the end location line might be off by 1 line.

## Steps To Reproduce

Given the following file (please mind the comma placement):

[code]

Rome parses the object expression as:

[code]

The first property end line is `2` but it should be 3.

##

[2020-05-03 02:26] sebmck commented on #381
Why should it be line 3? The comma is a separator. Should `a` in

[code]

end on line 2?

[2020-05-03 02:28] sebmck commented on #381
Babel, Flow, and TypeScript all work the same and consider the end of an object property to be at the end of the object property value and not the comma separator.

[2020-05-03 05:35] sebmck commented on #323
This is caused by `FunctionHead` having an incorrect `loc.end` that is the end of the comment, presumably because the location is captured after we've skipped token whitespace and comments.

[2020-05-03 05:48] #310 closed

[2020-05-03 05:48] #323 closed

[2020-05-03 05:48] #378 closed

[2020-05-03 08:30] ooflorent commented on #381
Then we should keep this behavior.

[2020-05-03 08:30] #381 closed

[2020-05-03 12:32] ooflorent opened #385 "Test reporter should indicate which assertion failed"
## Steps To Reproduce

Given the following test file:

[code]

When ran, it produces the following output:

[code]

Lines 8 to 10 are also marked as error because they were not executed but it is misleading in my opinion.

## Expected Results

Only the lines covered by the assertion should be marked as error.

[code]

Another example:

[code]

[2020-05-03 18:30] sebmck commented on #385
There’s nothing deliberate about this implementation. The source maps are probably wrong, or we’re fetching the wrong call frame.

[2020-05-03 19:44] ooflorent commented on #385
Which source maps are used? The ones from the parser or those from the formatter?

[2020-05-04 02:50] EduardoLopes commented on #1
Just to update. I'm still working on this, but not ready to post just yet.

[2020-05-04 12:08] ooflorent opened #389 "Deleting a file while a command is running crashes Rome"
## Steps To Reproduce

1. Create an empty file `dummy.ts`
2. Start a long running command such as `rome lint`
3. Delete `dummy.ts` while the command is running

Doing this would cause Rome to crash:

[code]

## Expected Results

Rome should not crash.

[2020-05-04 12:33] ooflorent opened #390 "Syntax 'export * as ns' is not supported"
TypeScript 3.8 adds `export * as ns from "mod"` syntax.
Rome parses it but the specifier is not added to the AST.

## Steps To Reproduce

Parsing the following file:

[code]

Produces the following AST:

[code]

`namespaceSpecifier` is `undefined`.

## Expected Results

`namespaceSpecifier` should be defined.

[2020-05-04 18:11] sebmck commented on #389
Looks like a race condition.

[2020-05-04 18:29] #390 closed

[2020-05-05 18:16] chrcatalano92 opened #393 "problem: rome run index.js"
Description:

I have the rome version 0.0.2 and I have a problem run: rome run index.js
To boot I used rome.json in Sublime

rome.json:
{
  "version": "^0.0.2",
  "lint":{
  	"enabled": true
  }
}

## Steps To Reproduce

 C:\Users\User\hello-world\rome\my_existing_project>rome run index.js

 rome.json:4:3 parse/json ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

[2020-05-05 18:20] sebmck commented on #393
Remove the lint object, it’s enabled by default now. Did you find these instructions on the website?

[2020-05-05 18:20] #393 closed

[2020-05-07 15:53] EduardoLopes commented on #1
I finally finished. It's a logo inspired by the arch in the romam architecture, the arch is all over the place in their constructions and it's pretty important. The shape of the arch is more clear when you see it in the pattern, with the logo repeated.

The yellow used is the one in the rome flag. I can try others colors if necessary!

I hope the community like it!

![01 - Rome - Logo Mark](https:

[2020-05-07 16:18] lucagentile commented on #1
It's cool! Really like it.

Black definitely gives a more modern look.
Common colors in ancient Rome are purple (the Senate), green, white, gold,
blue, and obviously red.
I don't think is that kind of necessary to have *everything* in a logo
related to Rome, there are already plenty of references on that logo and
the idea doesn't convince me. Some modern vibe is appreciated.
I would try only anoth

[2020-05-07 22:45] sebmck commented on #1
Wow nice! I like it. It looks awesome as a pattern. I asked a few people for their thoughts and this was some of the more critical comments:

[2020-05-07 22:55] jamiebuilds commented on #1
So personally I think we should avoid doubling down on Rome imagery, because I don't think we should be trying to invoke the literal _"Rome: The City"_. We're trying to invoke _"Rome: The Tool"_.

I think we should take a step back and ask what we want out of Rome's identity:

- Bold
- Stable
- Exciting
- etc.

And then we should look for inspiration out of what Rome is actually doing:

- Convergi

[2020-05-07 23:14] sebmck commented on #1
Honestly the more I research and read the history of Ancient Rome I'm having more difficulty wanting to invoke the memories and comparison.

[2020-05-08 02:01] EduardoLopes commented on #1
@lucagentile
Yeah, i was going for something modern. I stick to yellow because @sebmck mentioned above, but i don't think the js logo yellow fits well in this logo, so i prefere to use the yellow from the rome flag. And use blue to remind water is cool, since the arch was heavily used in the aqueducts as well.

Here's other colors:
![Other Colors](https://user-images.githubusercontent.com/1084297/

[2020-05-08 02:13] EduardoLopes commented on #1
Definitely there's room to improve the logomark/symbol! No comments on the logotype/font, then we can keep that. We're half way there.

I'm here to try new ideas and see if it works. Feedback is pretty important, so i know where to go. I was in a dark room with a candle trying to find stuff, now the light is on (it's low light, though) haha

---
Here's some explorations i did over the arch concept

[2020-05-08 03:42] EduardoLopes commented on #1
I just made this logo compilation so it can bring some insights to mind!

![js logos](https://user-images.githubusercontent.com/1084297/81367657-3c6d3080-90c4-11ea-88a7-abb1a60cfb4c.jpg)

[2020-05-08 21:25] fredericbonnet commented on #1
Rome is a toolchain, right? So how about taking inspiration from Roman engineering tools, such as the Roman crane? Here is an example of such a crane used to build an aqueduct. I think that's an idea worth trying.

https://www.quora.com/How-did-the-Romans-lift-the-30-foot-high-pillars-on-to-the-foundation
![image](https://user-images.githubusercontent.com/11368533/81450530-e8755100-9182-11ea-8fa7-

[2020-05-08 21:32] sebmck commented on #1
@EduardoLopes

Oh awesome, I prefer this logo a lot more than the T. I've shown it to a few people and so far they've agreed. I think it could be improved by maybe thickening up the lines since there's a lot of whitespace in the middle. If the pattern is useful then we could definitely still use the T logo for it since it's close enough to this one. What do you think?

Thanks for sharing the other

[2020-05-08 21:35] ljharb commented on #1
Somewhat related, please express all copyright years in Roman numerals, so the branding is cohesive.

[2020-05-08 21:36] jamiebuilds commented on #1
<img width="592" alt="Screen Shot 2020-05-08 at 2 33 13 PM" src="https://user-images.githubusercontent.com/952783/81451317-13d34e00-9139-11ea-8e69-ddaf51d3e466.png">

I would like to play around more with the weight and detail to make it feel more substantive

[2020-05-08 22:04] sebmck commented on #1
I asked for some feedback on [Twitter](https://twitter.com/sebmck/status/1258874898220380160) and a lot of people seem to feel that the T logo resembles a helmet (I don't see it).

[2020-05-08 22:45] rickhanlonii commented on #1
If you want to make the arch feel more substantive you could add a keystone, romans were the first to start using keystones and Rome is sort of the keystone of your infra.

[2020-05-08 22:46] ljharb commented on #1
@sebmck specifically, it looks like the *shadow* part of a helmet - i think the form is called "chiaroscuro"?

[2020-05-09 00:34] EduardoLopes commented on #1
The reflected version is discarded for me. The arch is not clear that way. People sees all sorts of things, but not a arch. The pattern created by the logo is cooler than the logo, that's not right!

I had the keystone idea while finishing that one, but decided i would try if that one was rejected. I think it looks nice!

I think the diagonal lines make it looks a bit like a helmet, so i remove it

[2020-05-09 01:24] orta commented on #1
Just wanted to say I like this black & orange theme, and these arch shapes feel real night

[2020-05-09 01:30] sebmck commented on #1
Woah sweet. I really like the second and third row. Notably the last two of row three.

[2020-05-09 01:37] EduardoLopes commented on #1
I like those too

---
Here's with sans-serif fonts
![Sans-serif](https://user-images.githubusercontent.com/1084297/81460520-4a7e8800-917c-11ea-9292-1cc04d38e097.jpg)

[2020-05-09 01:39] EduardoLopes commented on #1
I'm sure about two things:
- "Rome" needs to be align with the bottom of the logomark, not the middle
- I like smooth edges better

[2020-05-09 01:48] EduardoLopes commented on #1
by the way

![extra bold](https://user-images.githubusercontent.com/1084297/81460781-ed83d180-917d-11ea-9634-915af0be35ad.jpg)

[2020-05-09 03:14] EduardoLopes commented on #1
![exploration](https://user-images.githubusercontent.com/1084297/81462572-e9f64780-9189-11ea-93a4-0abd6620defc.jpg)

[2020-05-09 04:35] sebmck commented on #1
@EduardoLopes

I love the fourth one "smooth edges Biryani Black", it's definitely my favourite so far.

![logo](https://user-images.githubusercontent.com/853712/81464081-a42e8480-9173-11ea-8f51-d588097853f9.png)

I'm almost tempted to commit to using it. What do you think? I've shown it to a bunch of people so far and they think it's great. The arch is obvious with the keystone while staying geom

[2020-05-09 04:54] sebmck commented on #1
@EduardoLopes This one looks good. I actually spent so long looking at it that after looking at the solid lines in the one above it looked weird.

![Screenshot from 2020-05-08 21-51-11](https://user-images.githubusercontent.com/853712/81464379-0b4d3880-9176-11ea-819e-6bd6290965a1.png)

@jamiebuilds pointed out that the two chunks next to the keystone look too small. Maybe join them and move the ot

[2020-05-09 05:51] #12 closed

[2020-05-09 05:57] sebmck commented on #345
Closing due to lack of information.

[2020-05-09 05:57] #345 closed

[2020-05-09 06:32] EduardoLopes commented on #1
@sebmck

I really like it, but i think the font Biryani extra bold is better, because it keeps the width consistent.

And, yeah. it looks a lot better like this. This is the logo already remade with all the metrics consistent.
![02 - Rome - Logo Type - 001](https://user-images.githubusercontent.com/1084297/81465865-b2949480-91a3-11ea-9dbe-61b773cae0cb.jpg)
![01 - Rome - Logo Mark - 001](https://us

[2020-05-09 07:01] sebmck commented on #1
Nailed the arch! Looks perfect. I think the kerning there looks really wide. The previous versions look a lot closer which looks better.

[2020-05-09 07:09] sebmck commented on #1
Also might be good to try it out with sharp instead of soft edges.

[2020-05-09 07:45] ooflorent commented on #1
I agree with the serif font usage, i think it’s better looking. I also like the latest proposal but I’m worried that it could have too much details for low resolution: 16x16 or 32x33 would not have a crispy sharp look.

[2020-05-09 07:47] sebmck commented on #1
It’s not uncommon to reduce detail as you scale a logo. I imagine if we needed it that small we would just eliminate the stroke gaps.

[2020-05-09 08:12] edjw opened #402 "Use of “AST” in Getting Started is jargon"
In the parse section of the Getting Started page, it says parse generates a pretty-formatted AST. I think this is jargon that isn’t understood by beginners. I’m taking this from the (great) philosophy section of the readme.

[2020-05-09 08:19] giuseppeg commented on #1
Just throwing an idea there :) It is simple and can be drawn in the back of a napkin, can adapt do different background colors etc. The font is Euphemia UCAS. FWIW I always regretted not unique, easy to google names for my side projects. ![rome](https://user-images.githubusercontent.com/711311/81468143-07ed9780-91de-11ea-95a0-8b7379178713.png)

[2020-05-09 08:25] sebmck commented on #402
Do you know of a simpler term for “pretty formatted”? The parse command is fundamentally advanced and internal so there’s certain terminology that’s just impossible to avoid.

[2020-05-09 12:20] edjw commented on #402
I meant AST as the jargon bit! 🙂

[2020-05-09 13:39] macovedj commented on #402
I don't think you can get very far into into parsing and compiling before encountering an AST (abstract syntax tree).  Maybe we could just put a link to an excerpt in some resource near it in the Getting Started section.  I like [this resource](https://craftinginterpreters.com/a-map-of-the-territory.html#parsing), and I guess there's always [wikipedia](https://en.wikipedia.org/wiki/Abstract_syntax

[2020-05-09 16:00] EduardoLopes commented on #1
Kerning was actually smaller. but i made it even smaller. These are smooth and sharp edges, and smaller versions of the logomark.

![Artboard 13](https://user-images.githubusercontent.com/1084297/81478351-34f87500-91f3-11ea-9f39-3edb96bd0f95.jpg)

16px x 16px lose detail. but looks like chrome and firefox doesn't use 16px x 16px  icons by default  anymore.

These screenshots lose quality when expo

[2020-05-09 16:42] sebmck commented on #402
Yeah it’s impossible to avoid the term AST when we’re showing an AST. There’s no alternate terminology that would be easily understood. Once we have a finalized logo I want to redo the website and the parse command belongs in some advanced section because 99% of people will not find it useful.

[2020-05-09 18:31] VictorHom opened #404 "Running commands in contributing page after running ./scripts/build-release dist"
I followed the installation steps and then when I got to the contributing docs, I thought I could also run the commands on that page while in the cloned repo (example - `scripts/dev-rome test`) but ran into the following error below.

If I use a separate clone of the repo for the contributing instructions, there are no issues.

Just thought I would bring it in case that's not expected. It could ju

[2020-05-09 18:34] sebmck commented on #1
Nice! I think I prefer a combination of the soft and hard edges. Soft edges for the keystone but hard for the stroke. The hard edges convey accuracy, precision etc more. I think it pairs particular well with the previous serif font which I definitely prefer.

![Untitled-1](https://user-images.githubusercontent.com/853712/81482044-04134280-91e9-11ea-83c1-a3645e88150b.png)

It might also be worth mo

[2020-05-09 18:39] sebmck commented on #404
Where in the docs does it mention the `build-release` script? I can't find it in `CONTRIBUTING.md` or the website docs. There isn't really a reason for anyone to be running that script since `dev-rome` handles building for you, and `build-release` would only be used when we have an actual release.

[2020-05-09 18:39] sebmck commented on #404
Actually I just noticed it's in the installation docs, which have a different flow than a contributor.

[2020-05-09 19:49] VictorHom commented on #159
Can I work on `rangerev`?

[2020-05-09 20:23] EduardoLopes commented on #1
I was already getting used to sans-serif. But i like the serif font at lot! At first i choose a serif font because at the front of the pantheon there's uppercase serif letters, and serifs fonts gives me ancient vibes. Maybe people will find it weird, since there's no other javascript logo with serif letters (that we know). It's not common, at least.

Here's side by side:

<img width="1323" alt="Si

[2020-05-09 20:30] EduardoLopes commented on #1
Smooth edges on the edges close to the keystone

<img width="1599" alt="02 - Rome - Logo Type - 001" src="https://user-images.githubusercontent.com/1084297/81484169-fcb85d00-9219-11ea-9442-32a94085aa6c.png">

The others edges here, are just a little bit rounded.
<img width="1599" alt="02 - Rome - Logo Type - 001" src="https://user-images.githubusercontent.com/1084297/81484284-bfa09a80-921a-11ea-9b

[2020-05-09 20:37] sebmck commented on #1
First one looks good to me! I'm a fan of the hard edges on the bottom but soft on and next to the keystone. If you're happy with it feel free to submit a PR with the source files to the [`assets`](https://github.com/facebookexperimental/rome/tree/master/assets) folder!

Thinking about licensing, would you feel comfortable with the [CreativeCommons Attribution-NonCommercial-ShareAlike 4.0 Internati

[2020-05-09 20:44] EduardoLopes commented on #1
Looks good to me. I'll prepare the files and send the pull request.

I need to submit a [CLA](https://code.facebook.com/cla), for this project?

[2020-05-09 21:00] sebmck commented on #1
Actually it'd be better to just have it in a new repo. Just created https://github.com/romejs/logo We can always fold it into a new repo later.

[2020-05-10 03:53] sebmck commented on #1
Just merged #406 which updates our logo! https://github.com/romejs/logo contains all the design assets. Thank you so much @EduardoLopes!

[2020-05-10 03:53] #1 closed

[2020-05-10 16:35] VictorHom commented on #341
If no one has started working on jsx-a11y/accessible-emoji, can I take a look at it?

[2020-05-10 18:31] VictorHom commented on #341
if also available, can I work on `react/require-render-return`?

[2020-05-11 06:15] ionut-botizan commented on #402
Would something like this be any better? The description is oversimplified and not completely accurate but experts will understand while it will also give beginners a rough idea about what the command is doing.

[2020-05-11 12:26] yuzima opened #412 "Parse export expression failed"
Rome can't parse correctly the ESModule export expression like this
[code]

I got this error when I run 'rome run ./src/moduleA.js':
[code]

I looked into the source code, seems like **js-parser** think it is an `ExportDefaultSpecifier` rather than an `ExportSpecifiers` and handle it differently.

[2020-05-12 20:31] #43 closed

[2020-05-12 20:31] sebmck commented on #18
I'm going to be making another issue to track this.

[2020-05-12 20:31] #18 closed

[2020-05-12 20:32] #65 closed

[2020-05-12 20:32] #173 closed

[2020-05-12 20:32] #180 closed

[2020-05-12 20:33] sebmck commented on #208
Closing since the question has been answered.

[2020-05-12 20:33] #208 closed

[2020-05-12 20:33] sebmck commented on #180
Closing since the question has been answered.

[2020-05-12 20:33] sebmck commented on #213
Closing since the question has been answered.

[2020-05-12 20:33] #213 closed

[2020-05-12 20:33] #271 closed

[2020-05-12 20:33] sebmck commented on #50
Closing since the question has been answered.

[2020-05-12 20:33] #50 closed

[2020-05-12 20:34] sebmck commented on #283
Closing since the question has been answered. LSP will be the implemented protocol. LSP additionally allows custom methods which we could expose for additional functionality.

[2020-05-12 20:34] #283 closed

[2020-05-12 21:11] sebmck opened #413 "☂️ Path to a published release"
This issue is tracking the remaining tasks before we have an official release.

- [x] Transfer repo to [@romejs](https://github.com/romejs/) org

This will hopefully be done by the end of the work. There's some additional things to work out.

- [ ] Rework website

I'm handling this one. I want a mostly single-page website for 90% of people. Not single page as in SPA, single page as in a single pag

[2020-05-12 21:12] sebmck commented on #413
I don't think it makes sense to have blockers on pending features or missing lint rules.

[2020-05-12 21:12] jedwards1211 commented on #208
FWIW, I've been refactoring the codebase of Sequelize to replace promise chains with async/await.  There were too many of them to ever be able to do it all by hand, so I wrote a codemod; however it's impossible to get perfect output with the codemod either, so it had to be a one-time thing followed by manual cleanup.  Some AST transforms don't really want to be lint rules...

[2020-05-13 02:36] sebmck opened #416 "test"

[2020-05-13 02:36] #416 closed

[2020-05-13 03:13] sebmck opened #417 "Test"

[2020-05-13 03:13] sebmck commented on #417
test comment

[2020-05-13 03:13] #417 closed

[2020-05-13 06:19] aarjithn commented on #413
Do we have any target on what the publish version should be capable of doing?

[2020-05-13 13:51] curran commented on #213
Very nice. Thanks for responding!

[2020-05-13 22:21] sebmck commented on #413
Everything it does now. There's no other launch blockers besides a new website and additional tests.

[2020-05-14 04:24] jamiebuilds opened #425 "Hard Tabs"
People are allowed to have opinions on how much visual indentation they want in their code. When I first started coding I found 4-space indentation to be really helpful when I would easily get lost in my code. After a few years I preferred 2-spaces. So there is an argument to be made about accessibility.

People have debated endlessly about tabs vs spaces, and ultimately most of people's opinions

[2020-05-14 04:26] sebmck commented on #425
One change I'm going to work on now is making sure that tabs render correctly in `buildMessageCodeFrame`. We should render `\t` as `  ` and make sure the pointer aligns.

[2020-05-14 06:37] renatobenks commented on #17
@sebmck I'm quite confused about which package is this related, is the `js-ast` one? 🤔

[2020-05-14 06:38] sebmck commented on #17
The package is named js-generator

[2020-05-14 12:29] tchetwin opened #427 "Is the Facebook CLA still a contribution requirement?"
Is this still the case:

https://github.com/romejs/rome/blob/b458829dd813b5c897f04877ba9580071c02a365/.github/CONTRIBUTING.md#L7

I notice the `facebook-github-bot` stopped adding the `CLA Signed` label ~2 days ago.

[2020-05-14 14:32] sebmck commented on #427
It’s no longer required. We also do not need to add Facebook copyright headers to new files, however it must remain on existing ones.

[2020-05-14 14:50] VictorHom opened #429 "error from running scripts/dev-rome test"
Description:

I saw it while trying to run tests in my cloned project. I cloned the repo again and ran the scripts/dev-rome test and the error still showed up for me. I didn't go through all the commits and arbitrarily picked `b373405b5612a4ef95ccc001044d0110ca683063` to go back to and tests passed on that. Could spend more time later to look at it when I have more time, but just wanted to report

[2020-05-14 21:15] jamiebuilds commented on #425
Just to confirm the accessibility issue: https://www.reddit.com/r/javascript/comments/c8drjo/nobody_talks_about_the_real_reason_to_use_tabs/

[2020-05-15 01:57] diokey commented on #425
Thank you for sharing this. I had never thought/considered the accessibility concerns of using spaces

[2020-05-15 04:11] VictorHom commented on #341
I'm going to take a look at implementing: `react/no-did-update-set-state` if no one has started 🙏

[2020-05-15 17:56] EduardoLopes opened #431 "Update website with new logo"
I'll do this and change others stuff to match the new logo design look

[2020-05-16 01:34] EduardoLopes commented on #431
#432

[2020-05-16 02:48] VictorHom opened #434 "a new line added in packages/@romejs/js-compiler/lint/rules/index.ts"
Description:

when you run `node scripts/lint/add.cjs testRule react`, the auto generated file ` packages/@romejs/js-compiler/lint/rules/index.ts` has a new line whereas when you run `node scripts/assert-generated`, the new line doesn't exist in `packages/@romejs/js-compiler/lint/rules/index.ts`. Just a small inconsistency that I wanted to add

## Steps To Reproduce
1. run `node scripts/lint/add.c

[2020-05-16 03:37] sebmck commented on #434
Running `scripts/assert-generated` will format all the generated files. The other scripts deliberately don't do that as I figured people would end up running `./scripts/dev-rome lint --save` before putting up a PR anyway.

[2020-05-16 12:31] mucsi96 commented on #144
https://twitter.com/devongovett/status/1261379312898306048?s=12

[2020-05-16 15:58] egoist commented on #413
I made a documentation tool for this: docup.now.sh, would love some feedback from you 🤔

[2020-05-16 16:58] macovedj commented on #413
Just a thought about clear docs.  It's hard to express how much I value the versioned docs I've seen in the elixir community (linked below for reference), and the impact that that has had on the community's ability to be welcoming to newcomers.  If it's something you're up for, I'd love to help make it happen.

https://hexdocs.pm/elixir/1.10.1/Kernel.html
<img width="160" alt="Screen Shot 2020-05-

[2020-05-16 17:01] #434 closed

[2020-05-16 19:17] sebmck commented on #341
Before submitting React or JSX lint rules of any kind please get confirmation in this issue or on the Discord.

[2020-05-16 19:29] sebmck commented on #341
@jamiebuilds Could you look at finalizing the rule list? The comment at the top with a link in big bold letters looks like it's finalized and ready for people to work on. While a lot of them are fine, I don't want someone to spend a lot of time on ones that we don't want only to have their PR rejected.

[2020-05-16 20:51] sebmck commented on #431
Closed by #432, thanks @EduardoLopes!

[2020-05-16 20:51] #431 closed

[2020-05-16 20:51] #427 closed

[2020-05-16 20:52] sebmck commented on #429
Should be fixed on `master`.

[2020-05-16 20:52] #429 closed

[2020-05-16 20:52] sebmck commented on #425
Merged #439. I'll make the indentation change once I've merged the outstanding PRs.

[2020-05-16 20:53] #404 closed

[2020-05-16 22:24] ivan commented on #328
I tried master 432b9ced876684c102724aedb707909ed2d32312 and see this on NixOS, maybe the vendored rome needs to be updated?

[code]

My git tree is clean, I did `git reset --hard` and `git clean -xdf`

[2020-05-16 22:26] sebmck commented on #328
@ivan What is `process.platform` on NixOS?

[2020-05-16 22:44] ooflorent commented on #108
I think this issue is no longer relevant

[2020-05-16 22:50] ivan commented on #328
[code]

[2020-05-16 23:25] sebmck opened #442 "Double quotes"
This issue is to discuss changing the formatting of strings to default to double instead of single quotes.

- It's much more common for an apostrophe to appear in a string than a quotation mark.
- Single quotes are used for things other than strings in other languages.
- JSON only allows double quotes.

This feels like enough reasons to justify the change.

[2020-05-16 23:28] sebmck commented on #425
Opened #443 to switch us to hard tabs. I also opened #442 to discuss switching to double quotes.

[2020-05-16 23:31] sebmck commented on #108
Yup.

[2020-05-16 23:31] #108 closed

[2020-05-16 23:52] #425 closed

[2020-05-17 00:06] sebmck commented on #442
Accidentally pushed to `master` instead of another branch. Really need to setup branch protection (I've been saying this for ages...). Historically whenever I've tried to revert commits on `master` and redo them in a separate branch I've always messed up my local checkout so I'm just going to leave it as-is. 8463545ec585b49c650fcad3900e138b3e1dc9dd

[2020-05-17 00:06] #442 closed

[2020-05-17 00:10] sejr commented on #442
I think it would be best to leave them as single quotes. While the frequency of apostrophes is a great point, moving to double quotes adds an extra bit of friction for _every_ (non-interpolated) string in your code.

[code]

[2020-05-17 00:11] sebmck commented on #442
What do you mean?

[2020-05-17 00:14] sejr commented on #442
Instead of just tapping the `'` key, it becomes `Shift + '`. Considering accessibility as a motivating factor for moving from spaces to tabs, it seems like the additional key press might raise some similar concerns. No solid evidence to back to that up though.

[2020-05-17 00:18] gustavopch commented on #42
@sebmck What about a `// rome-disable-line` or something like that? Because in 99% of the cases, enforcing import order wouldn't cause troubles.

[2020-05-17 00:22] sebmck commented on #442
That's a good point but you're already pressing shift for other operators. The accessibility rationale for tabs is about how the code is read and processed whereas this is just a cosmetic change.

[2020-05-17 00:43] sebmck commented on #42
That could work. We do already support `rome-disable` suppression comments after all. Ultimately I'm conflicted on import ordering because in an ideal world an editor would automatically fold imports as most files have so many that they're just noise, and combined with auto-imports in something like VSCode it's extremely easy to add imports as you type.

[2020-05-17 00:48] bitpshr commented on #341
Grabbing `jsx-a11y/no-autofocus`, `jsx-a11y/no-access-key`, and `jsx-a11y/scope`.

[2020-05-17 00:49] dcleao commented on #442
Depends on your keyboard layout.

[2020-05-17 01:06] gustavopch commented on #42
@sebmck I agree to some extent. Not sure whether Rome should assume editors are folding their imports. Even in that case, keeping them unorganized is like sweeping dirt under the carpet. You'll still have to handle the imports in some cases, like when working with `git diff` or `git add -p`.

[2020-05-17 01:07] sergiodxa commented on #442
You can always use single quotes and let Rome change them to double quotes, I do that with Prettier all the time.

[2020-05-17 01:08] ljharb commented on #442
Apostrophes in strings are typographically incorrect; they need to be curly quotes, single or double. Using single quotes for JS strings can help catch this typographical error :-)

[2020-05-17 01:13] sebmck commented on #42
Yeah for sure, we definitely shouldn't be planning around editor dreams. Rome has capabilities already to detect module cycles which we could pair with an import order rule to make this really safe.

[2020-05-17 01:22] Faithfinder commented on #442
There are keyboard layouts (Russian for me, sure there are others) that don't have single quotes at all (the language doesn't use apostrophes), so I've been confused by single quotes for a long time.

[2020-05-17 01:37] ljharb commented on #42
Careful when ordering imports; it’s generally not safe to move anything across a bindingless import, as that means it has side effects where order might matter.

[2020-05-17 01:51] akukas commented on #442
Double vs single quotes feels like mostly a matter of personal preference, or how you were "raised". I find double quotes to be more visually pleasing since they're what I've primarily used in every language since I first started coding. Consistency between languages, given JSON requires double quotes, feels like a strong argument for using them whenever convenient.

[2020-05-17 01:55] ljharb commented on #442
Doesn’t Rome have RJSON tho, which doesn’t have that constraint?

[2020-05-17 02:07] VictorHom opened #448 "Generated test.md file for rules should be in numeric order"
Right now, for test cases > 9, they get generated in the order of
[code]
just adding a task to have it print to file in numeric order so it matches the order of the test cases

[2020-05-17 02:10] sebmck commented on #448
In `packages/@romejs/core/test-worker/SnapshotManager.ts` we do `.sort()` on some arrays. We already have a natural sort function available as:

[code]

Want to submit a PR that updates the `sort()` to `.sort(naturalCompare)`?

[2020-05-17 02:11] sebmck commented on #442
@ljharb RJSON only allows for syntax ommission and comments. It doesn't add any new data types. Property keys can be unquoted if they're a valid identifier, like in regular JS, but it still requires double quotes.

[2020-05-17 02:39] VictorHom commented on #448
Thanks. I'll open up a pr

[2020-05-17 15:11] bitpshr commented on #341
Grabbing `jsx-a11y/autocomplete-valid`, `jsx-a11y/heading-has-content`, and `jsx-a11y/no-distracting-elements`.

[2020-05-17 16:34] VictorHom opened #455 "node scripts/assert-generated has an indent for first line in packages/@romejs/diagnostics/categories.ts"
nothing big, but just noticed this:
<img width="773" alt="Screen Shot 2020-05-17 at 12 31 13 PM" src="https://user-images.githubusercontent.com/3211873/82154273-a7dc9e00-983a-11ea-8341-fa2630bf5fb5.png">

the task would be to just make all categories aligned

running `node scripts/lint/add.cjs aRule react` will generate the categories with the misalignment

[2020-05-17 16:36] sebmck commented on #455
Yeah I noticed this with the tab change. Previously the indentation would have been spaces so it would have been folded in some how. @ooflorent I think this should be a relatively easy fix? I can try taking a look too.

[2020-05-17 16:37] sebmck commented on #455
I think ignoring pendingSpaces when we have pendingTabs should be the correct fix in js-formatter Printer

[2020-05-17 16:40] ooflorent commented on #455
Instead of pendingTabs we could have pendingIndent which would solve this.

[2020-05-17 16:41] ooflorent commented on #455
Also another required fix is to add the pendingSpaces when adding a source position marker

[2020-05-17 16:42] sebmck commented on #455
What would be the difference between pendingTabs and pendingIndent beyond the name?

[2020-05-17 16:43] ooflorent commented on #455
Nothing. It better describes the intention in my opinion. Our responses collided 😅

[2020-05-17 16:44] VictorHom opened #456 "jsxA11Y casing autogenerated in packages/@romejs/js-compiler/lint/rules/index.ts"
Description:

when I run `node scripts/lint/add.cjs aRule react`, the auto generated file keeps changing the spelling of the rules prefixed with node `jsxA11y`. Master has capital Y `jsxA11Y` which doesn't match the lowercase y in the pathname. I'm for matching the pathname, so if it's capital Y in pathname, then same for the rule name, and if lowercase Y, then match in pathname and rulename.

##

[2020-05-17 17:42] ooflorent commented on #455
I'll take care of the fix

[2020-05-17 18:45] diokey opened #460 "[js-formatter] Unnecessary line break"
Description:

This was observed by @ooflorent in https://github.com/romejs/rome/pull/451

## Steps To Reproduce

Given the following input

[code]
The formatter currently outputs
[code]
  See https://github.com/romejs/rome/pull/451

## Expected Results
There shouldn't be a line break
[code]

[2020-05-17 19:08] bitpshr opened #463 "Remove Facebook copyright from generated files"
Now that Rome is no longer a Facebook project, it should be safe to remove the Facebook copyright from newly-generated lint and AST files.

[2020-05-17 19:27] #455 closed

[2020-05-17 19:28] #463 closed

[2020-05-17 19:33] #460 closed

[2020-05-17 19:34] #412 closed

[2020-05-17 19:37] sebmck commented on #456
What's happening is that when `lint --save` is ran it's automatically renaming those variables to "correct camelcase". There's not really a way for us to correctly infer that when "a11y" is one word.

We should update `scripts/lint/add.cjs` to properly convert the rule name to the camelcase format we expect. Might be weird since the camelcase logic is a bit complicated. See `toVariableCamelCase` i

[2020-05-17 19:57] bitpshr commented on #448
Resolved by #453, this can be safely closed.

[2020-05-17 20:09] #448 closed

[2020-05-17 20:56] diokey opened #466 "[js-formatter] InterpreterDirective not formatted correctly"
Description:
InterpreterDirective is not formatted correctly

## Steps To Reproduce
Take the following input:
[code]
Rome formats it as follow
[code]
Part of the confusion in the formatter is that the comment is both added as a regular comment and interpreter directive in the parser

[code]

## Expected Results

Interpreter directive should not be treated the same as comment

[2020-05-17 23:18] dcleao commented on #442
@ljharb

1. Why aren't non-curly single quotes better than non-curly double quotes at catching this "typographical error"?
2. Why is this relevant given (what I believe is) the rarity of such content in strings?

Also, if you want to bring typography into the question, aren't double quotes de norm?

[2020-05-17 23:26] ljharb commented on #442
@dcleao i'm saying `'` is always incorrect in prose, you want `it’s`, never `it's`.

[2020-05-17 23:30] SolarLiner commented on #328
`./scripts/dev-rome` works with Node.js 13, but not Node.js 14 (tested on Ubuntu 20.04); so this is related to the new version of Node.js.

[2020-05-17 23:38] dcleao commented on #442
But, apart from the possible humor, do you really find that that's a strong argument for using single quotes? I usually use the reverse argument, that using double quotes is best, in one way, because it allows you to use the, so common, single quote, un-escaped. After all, most people use the "non-typographically correct" non-curly single-quote to denote the apostrophe of the possessive case.
By t

[2020-05-18 00:29] sebmck commented on #442
Relevant to note here that we do have a list of unicode characters that look like ASCII that we use to provide syntax error hints:

![Screen Shot 2020-05-17 at 5 28 28 PM](https://user-images.githubusercontent.com/853712/82164112-db7fee00-9863-11ea-937c-857a9bdcce7f.png)

The file will even product an AST correctly with the recoverable parser (although will fatal unless we add an option to ignore

[2020-05-18 00:32] sebmck commented on #328
I made the relevant fix to set `recursive` to `false` under Linux which was the commit that closed this issue 51d9a93489db72e11c20f124afdf7cb311b9c6fa.

From what I can tell all Node is doing it should only error when it's `true` which I don't think is possible? [`fs.js`](https://github.com/nodejs/node/blob/b533fb3508009e5f567cc776daba8fbf665386a6/lib/fs.js#L1440)

I'm not really sure why it would

[2020-05-18 00:35] #466 closed

[2020-05-18 01:14] ivan commented on #328
@sebmck `scripts/vendor/rome.cjs` wasn't updated, it still has the old

[code]

[2020-05-18 02:19] VictorHom commented on #456
alternatively, we can put all jsx_a11y into it's own directory at the level of `react` and `regular`

That way contributors don't have to keep adding that prefix which I had to think about as I was naming (jsxA11y , or jsxA11Y).

Also would make it easier to read the names of the rules because seeing the prefix just makes it harder to find the rule you're looking for sometimes if you're just tryin

[2020-05-18 02:29] bitpshr commented on #456
I'm actually working on a slight reorganization of our lint rules so that they properly align with their upstream plugin groupings. To @VictorHom's point, we have `jsx-a11y` rules in the `react` group, etc.

Regardless of the updated grouping, I still think we should be camel casing generated filenames in using the same logic as the linter like @sebmck suggested. Addressed in #470.

[2020-05-18 02:39] VictorHom commented on #341
grabbing:
`react/no-will-update-set-state`,
`aria-unsupported-elements`
`anchor-has-content`

[2020-05-18 03:34] sebmck commented on #328
Ahhh right that'd do it...

[2020-05-18 03:37] sebmck commented on #328
#471 should fix it. Thanks @ivan for the catch!

[2020-05-18 03:38] #456 closed

[2020-05-18 03:48] sebmck commented on #150
We now have a regex parser and it's used by the `packages/@romejs/js-compiler/lint/rules/regular/noMultipleSpacesInRegularExpressionLiterals.ts` rule so I think this can be closed out now.

[2020-05-18 03:48] #150 closed

[2020-05-18 08:35] Ayudh commented on #5
@sebmck can you provide any docs/video on understanding the existing codebase. I am trying to figure out the flow of code, but failing. If possible, please provide any docs on the major construct of the codebase so that the code can be familiarised.

[2020-05-18 08:45] sebmck commented on #5
Nothing like that exists. Writing technical documentation is hard and I do not have the time at the moment. I would recommend reading previous PRs. The codebase is massive and it depends on what you want to do. I am available in the Discord server to answer any questions and provide code references if you are trying to achieve something specific.

[2020-05-18 09:15] ematipico commented on #341
I would like to work on `jsx-a11y/lang`

[2020-05-18 13:22] diokey commented on #413
I'd like to help with adding tests

[2020-05-18 14:25] abihf commented on #144
Since it's already written in typescript, maybe migrating it to [AssemblyScript](https://github.com/AssemblyScript/assemblyscript) is easier than rust/c++?

[2020-05-18 16:46] Kelbie opened #476 "vscode server crashes when rome is included in node_modules"
So currently the VSCode extension works fine if you have the following file structure:

[code]

[code]

But if you `npm install rome@^0.0.25` or `yarn add rome@^0.0.25` it crashes producing the following:

<img width="726" alt="Screenshot 2020-05-18 at 17 39 06" src="https://user-images.githubusercontent.com/19197564/82238009-7fce6700-992e-11ea-8e76-f0f198fd0529.png">

When `rome` isn't included i

[2020-05-18 17:59] diokey commented on #476
Is it because the server is not started automatically? What happens if you try to start the server from node_modules?

[2020-05-19 03:39] VictorHom commented on #341
going to take a look at:
`no-autofocus`
`no-distracting-elements`
`no-access-key`
`media-has-caption`

[2020-05-19 05:53] bitpshr commented on #341
@VictorHom just a heads up, `jsx-a11y/no-autofocus`, `jsx-a11y/no-distracting-elements`, and `jsx-a11y/no-access-key` should already be done.

[2020-05-19 07:46] ematipico commented on #341
I'd like to tackle:
- `jsx-a11y/mouse-events-have-key-events`
- `jsx-a11y/role-has-required-aria-props`

[2020-05-19 09:48] KevinKelbie commented on #341
I'll have a go at `jsx-a11y/aria-props`

[2020-05-19 13:18] VictorHom commented on #341
If possible, I want to take a look at `react-hooks/rules-of-hooks` unless someone else is working on it

[2020-05-19 15:36] VictorHom commented on #341
Also, I would like to take a look at `jsx-no-useless-fragment`

[2020-05-19 15:51] bitpshr commented on #341
Grabbing `import/no-anonymous-default-export`.

Has the spreadsheet above been fully triaged? Is the idea to implement all rules listed in that document, except for those marked in red as explicitly unnecessary? I'm personally in favor of a very opinionated set of lint rules as long as they can be silenced.

cc @sebmck

[2020-05-19 17:13] sebmck commented on #341
@bitpshr

We have the rule `defaultExportSameBasename` that enforces that the default export id of a module matches. Right now it just checks `id !== undefined` so we should modify that rule. We can also rename it since the name is weird.

I think that document is up to date? I know @jamiebuilds was trying to find the time to finalize it. The ones in red we definitely don't want, same with general

[2020-05-19 18:30] jamiebuilds commented on #341
So here's a list of things we generally want to avoid:

- Rules specific to APIs that have been deprecated for awhile `React.createClass`/etc
- Rules where they are not useful (or not useful enough) without some additional configuration (Example: `react/forbid-component-props`)
- Rules for things that are/can be handled by the formatter in Rome (Example: `react/jsx-curly-newline`)
- Rules that enf

[2020-05-19 18:31] ljharb commented on #341
Agree with that list, except that `function-component-definition` does have concrete benefits (whether you care about them or not) :-)

[2020-05-19 19:14] bitpshr commented on #341
Currently working on:

- `react/button-has-type`
- `react/forbid-foreign-prop-types`
- `react/no-deprecated`
- `react/no-did-mount-set-state`
- `react/no-redundant-should-component-update`
- `react/no-unsafe`

[2020-05-19 23:11] smlmrkhlms commented on #341
I will have an initial pass at `jsx-a11y/no-onchange` if it is unclaimed.

[2020-05-20 16:33] VictorHom commented on #341
I am going to take on `jsx-fragments` since I am looking at `jsx-no-useless-fragment` as well if that's alright.

A question I have is, in `jsx-fragments` do want to enforce one `<>...</>` over `<React.Fragment>...<React.Fragment> or <Fragment/>...</Fragment>`?

[2020-05-20 19:08] sebmck commented on #341
@VictorHom I think we do. I can't imagine why you'd want `React.Fragment` instead of `<>`.

[2020-05-20 19:45] jamiebuilds commented on #341
Does `<>` have a `key` syntax yet?

[2020-05-20 19:46] ljharb commented on #341
That is indeed the primary reason why you *must* use `React.Fragment`; the other is if an API takes a "component", and the component you want to pass is React.Fragment.

[2020-05-20 20:01] VictorHom commented on #341
Does it always have to be `<React.Fragment>`?

Would we maybe want to only support `<Fragment>` and `<>`? (I ask because of how the ast looks, but wanted to clarify)

[2020-05-20 20:44] bitpshr commented on #341
I think that we should support both `<Fragment>` and `<React.Fragment>` for cases where a key is used. I feel that it's overly-opinionated to mandate destructured imports. For what it's worth, most other rules that check for members on the default React export check for both cases, e.g. `React.createElement` and `createElement`. If they don't, we'll probably have to do a pass to make sure this is

[2020-05-20 23:27] KevinKelbie commented on #213
I got Rome working in the browser and have documented the steps here: https://github.com/KevinKelbie/rome/blob/rome-browserify/browserify.sh but keep in mind its a very hacky approach.

The only line of code I had to manually change was in `packages/@romejs/path/index.ts` where this `os.userInfo().homedir` causes issues.

[2020-05-21 03:21] smlmrkhlms commented on #341
Would it be okay if I start working on `react/no-string-refs`?

[2020-05-21 03:26] sebmck commented on #341
Go for it!

[2020-05-21 05:09] sebmck commented on #2
Going to close this and defer discussion to #494.

[2020-05-21 05:09] #2 closed

[2020-05-21 05:17] sebmck opened #496 "☂️ Website for release"
This issue lists improvements that need to be done to the existing website before we release:

- [X] <strike>Fix dark logo not being used on page load. (You need to flip the toggle twice to correct it)</strike> Fixed by @EduardoLopes in #497
- [X] <strike>Remove star count from homepage</strike> Fixed by @sreetamdas  in #498
- [X] <strike>Update tagline "Rome is an experimental JavaScript toolchai

[2020-05-21 05:18] sebmck commented on #413
We now have a publishing process. The only thing remaining for a release is an improved website. I've opened #496 to track. Tests would be really nice but aren't a blocker for an alpha/beta release. If anyone is interested feel free to go through the folders in `packages/@romejs` and find a package that looks interesting and write some unit tests. You can find `*.test.ts` files elsewhere as a refe

[2020-05-21 05:19] sebmck commented on #105
Deferring to #496.

[2020-05-21 05:21] sebmck commented on #20
I think this can be closed out in favor of more specific issues like #341. I don't think we should focus on other general JS lint rules at this time. Let's move towards a release! Thanks everyone for your contributions so far. I encourage you to get involved in #341 (React lint rules), #18 (Published release) or #496 (Website for release). Thank you again!

[2020-05-21 05:21] #20 closed

[2020-05-21 05:22] #105 closed

[2020-05-21 05:23] sebmck commented on #159
Copying what I mentioned in #20

Thank you everyone!

[2020-05-21 05:23] #159 closed

[2020-05-21 05:23] sebmck commented on #347
Looks like I can close this out due to #403. Thank you @1ntEgr8 for the PR, and thanks @danteissaias for raising this!

[2020-05-21 05:23] #347 closed

[2020-05-21 05:24] sebmck commented on #48
Closing in favor of #413, #496 and #341. Please feel free to comment on any of those issues if it's something you're willing to help with. Also check out our [Discord](https://discord.gg/rome) if you have any other general questions! Thanks!

[2020-05-21 05:24] #48 closed

[2020-05-21 06:09] prateekrastogi commented on #48
@sebmck  Thanks

[2020-05-21 07:38] EduardoLopes commented on #496
Once i wake up, i'll take care of the tasks that can already be applied to the current website. Then, i'll check out Eleventy!

[2020-05-21 13:25] sreetamdas commented on #496
@sebmck shouldn't the README also be updated to remove the experimental warning and other things to keep in sync with the website?

[2020-05-21 16:38] sebmck commented on #496
@sreetamdas Yeah it should.

[2020-05-21 18:15] smlmrkhlms commented on #341
I can start working on `react/no-is-mounted` if there are no objects.

[2020-05-21 18:19] bitpshr commented on #341
@smlmrkhlms: I don't think we need to implement this rule since we're ignoring rules and logic paths within rules that only apply to `createReactClass`. Apologies, I'll try to get the document updated.

[2020-05-22 07:18] EduardoLopes commented on #496
Just pushed a branch for the new website: EduardoLopes/new-website

It setup eleventy with CSS and JS minification, syntax highlighting and automatic table of content using [Tocbot](https://tscanlin.github.io/tocbot).

I've added purecss as well, i think it's cool because we don't need to write much css to deal with responsive grids and stuff. And we can use only the parts we need (the base and gr

[2020-05-22 15:01] curran opened #506 "Svelte Support?"
Hey! I have a question about the project.

I was wondering if this is architected in such a way that you could plug in a third party transpilation step such as [Svelte](https://svelte.dev/) .

Is there any setup whereby one could author a "plugin" of sorts for Rome, similar in spirit to the [Svelte Rollup plugin](https://github.com/sveltejs/rollup-plugin-svelte), to enable Svelte?

[2020-05-22 16:56] EduardoLopes commented on #496
Thanks to @matvp91 we got a lot done already.

I've add some more tasks and created a pull request for review #507

[2020-05-22 17:12] MareikeTaeubner opened #508 "The config command seems to be broken"
Description:

Using the config command to add a section to the rome.rjson does not seem to work right now.
I tried to add `lint` with `rome config enable lint` and `rome config enable lint.enabled` (old variant). Both resulted in an error:

[code]

## Steps To Reproduce

1. create rome.rjson with `rome init`
2. try to add the `lint` section via `rome config enable lint`

## Expected Results

The `

[2020-05-22 17:41] MareikeTaeubner commented on #496
What points are still in need for documentation? I kind of lost the overview ^^"

[2020-05-22 18:06] matvp91 commented on #496
@MareikeTaeubner sorry, we're mixing both the "old" Docusaurus site and the "new" Eleventy site.

Let's clean this up :)

[2020-05-22 19:12] sebmck commented on #506
There's currently no way to have plugins. I would expect us to revisit this when we add HTML support which seems to be a prerequisite.

[2020-05-22 19:15] sebmck commented on #508
Docs aren't up to date, which I assume is where you got `rome config enable lint` from.

`rome config set key value` basically just does `config[key] = String(value)`. Since it only works on strings we have `enable` and `disable that do: `config[key] = true/false;`.

We removed the ability to have to enable/disable `lint` as for Rome's initial release it will be the only function. If it's really n

[2020-05-23 18:04] VictorHom commented on #341
gonna take a look at `click-events-have-key-events` if no one is working on it

will follow up on `jsx-no-useless-fragment` after I address `jsx-fragments` (not that they are dependent)

[2020-05-23 22:47] thecotne opened #514 "typescript syntax in js files"
typescript syntax is supported in js files and it gives false impression that flow is supported and/or somehow it's correct js syntax

[2020-05-23 22:48] sebmck commented on #514
This is a bug. What typescript syntax are you using that works? We have assertions in a bunch of places to prevent this from happening but it’s likely missing from somewhere.

[2020-05-23 22:52] thecotne commented on #514
[code]

<img width="440" alt="Screen Shot 2020-05-24 at 02 51 30" src="https://user-images.githubusercontent.com/1606993/82741976-8105f680-9d69-11ea-9642-142df68f90e9.png">

[2020-05-24 03:19] yassere opened #516 "unescapeString doesn’t handle Unicode code point escapes"
Description:

The `unescapeString` function has no logic to handle Unicode code point escapes, but that's the default escape format produced by the `escapeString` function in the same package. If this mismatch is intentional, I think it should be documented.

## Steps To Reproduce

[code]

## Expected Results

I expect to see a rocket. Instead, it throws an error.

[2020-05-24 07:26] jthegedus commented on #442
Also relevant, Prettier has an ongoing discussion for making the `singeQuote` option `true` by default - https://github.com/prettier/prettier/issues/4102 (I am a fan of double quotes)

[2020-05-24 16:26] KevinKelbie opened #519 "When tests are renamed it doesn't update the snapshots correctly"
If you rename a test it keeps the old snapshot and appends the new snapshot to the end of the file. Since the tests still pass I suspect that Rome already has some stale snapshots from this bug.

## Steps To Reproduce

1. Open up any `*.test.ts` file for example `noVar.test.ts`

2. Rename the test from `disallow var` to `disallow var2`

3.  Run `rome test --update-snapshots`

4. Look at the snapsh

[2020-05-24 19:21] yassere commented on #519
I poked around a bit, and here's what I think is happening, but please correct me if I'm wrong.

All the snapshot tests within a single test file correspond to a single snapshot file.

When snapshot files are loaded, all the parsed nodes are used to populate an `entries` Map on a snapshot object that represents the whole file. When a renamed (or new) snapshot test can't find a matching entry in th

[2020-05-24 20:33] sebmck commented on #514
Ahh so basically everything... the checks must have been removed by #440.

[2020-05-24 20:48] sebmck commented on #514
Should be fixed by #521. Thank you for the report!

[2020-05-24 20:53] sebmck commented on #519
Yeah this isn't really a bug, just a missing feature. All changes will just be made to `SnapshotManager`. To resolve this:

 - Add a `used` property to `SnapshotEntry`
 - In `SnapshotManager#loadSnapshot` add `used: false` on all the entry objects
 - In `SnapshotManager#set` add `used: true` on the entries object
 - In `SnapshotManager#buildSnapshot` add `if (!entry.used && !this.hasFocusedTests)

[2020-05-24 20:54] sebmck commented on #519
Let me know if anyone wants to do this. Just reply to this issue so multiple people aren't working on it. Just run `./scripts/dev-rome ci --fix` after those changes to refresh all the snapshots.

[2020-05-24 20:57] sebmck commented on #516
That package is a bit confusing. `unescapeString` is only used by the JSON parser so it follows JSON semantics. Then `escapeString` is used by the code formatter to ensure correctly escaped strings and in a bunch of other places just for pretty printing strings.

I don't think any changes need to be made to `unescapeString` but for clarity it would make sense to rename `unescapeString` to `unescap

[2020-05-24 20:57] yassere commented on #519
I can work on this.

[2020-05-24 21:03] #514 closed

[2020-05-24 21:04] VictorHom commented on #341
going to also take a look at `anchor-is-valid` rule if no one is working on it.

[2020-05-24 21:19] yassere commented on #516
I can do that. I'll add a few simple tests in the same PR.

[2020-05-25 02:24] KevinKelbie commented on #10
@baryla I actually have a [fork](https://github.com/KevinKelbie/rome/tree/rome-browserify) of rome which can be run in the browser which is demonstrated by with the [astexplorer for rome](https://kevinkelbie.github.io/).

There is only one line of code I had to change to get Rome to run in the browser but the bundle output was a bit tricky so there is a [script](https://github.com/KevinKelbie/rome

[2020-05-25 19:17] yassere commented on #385
I wasn't able to reproduce this. Are you still seeing these errors?

[2020-05-25 19:57] #519 closed

[2020-05-25 23:36] #516 closed

[2020-05-26 08:31] ooflorent commented on #385
Looks like it has been fixed.

[2020-05-26 08:31] #385 closed

[2020-05-26 09:35] ematipico commented on #341
Working on:
- `jsx-a11y/no-noninteractive-tabindex`
- `jsx-a11y/no-noninteractive-element-to-interactive-role`

[2020-05-26 11:34] bitpshr commented on #508
There are a few issues causing confusion:

1. The documentation describes an interactive `init` command that is not currently interactive.
2. The documentation describes a `config` command that is not currently capable of updating any supported configuration property.

We should definitely verify the correctness and applicability of all documentation prior to a published release. think that we sho

[2020-05-26 12:30] VictorHom commented on #341
I'll look at `no-access-state-in-setstate` if no one is working on that

[2020-05-26 17:27] sebmck commented on #508
It does. You can do `rome config set name whatever` and it will work. There are a lot of project config options that aren't relevant for linting though where it would be the most valuable.

[2020-05-27 10:44] MareikeTaeubner commented on #508
I'm not sure what to do with the ticket right now, because it was obviously a mistake on my side (do I need to close it?)

On the other hand was the printed error message not really helpful in that situation. With `config -h` not helping either - I was really, really confused. Maybe the help section could be expanded in a later version?

[2020-05-27 11:14] bitpshr commented on #508
The CLI is in a confusing place since linting and formatting are the primary functions of Rome for its initial release, but only unrelated (and undocumented) project options can be configured. This means that even if a consumer guesses a supported config property (e.g. `name`), configuring that property using `rome config set name foo` updates the config, but otherwise has no effect on the linting

[2020-05-27 15:17] bitpshr opened #534 "Rome should support TypeScript enums"
## Description:

Rome does not handle TypeScript enums properly. Compilation strips enums in the same way types are stripped, causing the resulting code to fail.

## Steps To Reproduce

         ReferenceError: ___R$$priv$project$rome$bug_ts$Foo is not defined

## Expected Results

Rome should not crash and should output the underlying enum value for `Foo.bar`.

[2020-05-27 16:27] yassere opened #535 "Lint rule noFunctionAssign has false positive"
## Steps To Reproduce

Lint a file containing:

[code]

## Expected Results

`lint/js/noFunctionAssign` shouldn't be included in the diagnostics.

[2020-05-27 17:10] bitpshr commented on #534
It looks like an enum transpilation module is needed at `@romejs/compiler/transforms/compile/transpile/enums.ts` that modifies the AST as-needed to create an in-scope enum variable.

Working on a fix now.

[2020-05-28 07:57] ematipico opened #539 "Lint rule unusedVariable not working as expected"
Description:

The lint rule `unusedVariable` is not able to catch the following case:

## Steps To Reproduce

[code]

## Expected Results

It should return an error for unused variable around `myVar`

To note that the case

[code]

is correctly caught by the rule

[2020-05-28 13:52] VictorHom commented on #341
I'll take a look at `react/no-array-index-key` if no one is working on it

[2020-05-29 02:21] yassere opened #544 "Lint rule noDuplicateCase only matches against duplicate string literals"
## Steps To Reproduce

Lint a file containing duplicate switch case test expressions of any type except string literal.

[code]

## Result

"No known problems!"

## Expected Results

The lint rule should match against duplicate numbers, identifiers, or anything else.

[2020-05-29 02:32] sebmck commented on #544
`noDuplicateCase` currently only checks for strings. Should be straightforward to make it support numeric literals.

[2020-05-29 02:57] yassere commented on #544
Right, I saw that. The matching ESLint rule is more universal, but if adding support for numeric literals is sufficient for our needs, this should be an easy fix.

[2020-05-29 03:38] VictorHom commented on #341
I'll take a look at `jsx-pascal-case` if no one is working on it.

[2020-05-29 23:04] yassere opened #547 "Lint rule noShadowRestrictedNames has false negatives"
## Steps To Reproduce

Lint a file containing:
[code]

## Expected Results

There should be a diagnostic for lint rule `noShadowRestrictedNames`, but there isn't one.

[2020-05-29 23:22] yassere commented on #547
This seems to be related to the problem with `unusedVariable` in #539

They both check for bindings on the scope where `scope.node === node` but that condition doesn't appear to be true on the scope where `scope.node.type === "JSFunctionDeclaration"` which is where I think the relevant bindings are.

[2020-05-30 21:41] #544 closed

[2020-05-30 21:46] #534 closed

[2020-05-31 00:28] yeonjuan commented on #341
I want to work on `react/jsx-no-literals`. :)

[2020-05-31 17:32] aaron-simpson97 commented on #402
I think the above could be a bit more helpful. You're right in that this is the kind of thing that would go in an "Advanced Topics" section, but even just for clarification and unambiguity and a link to a resource like Wikipedia for people to skim and learn more.

[2020-05-31 17:37] ematipico opened #556 "🗣️ New rule to the jsx-a11y ruleset"
For accessibility purpose, images should have a title, svg also. The suggested way to provide this is by adding a `<title>` straight after the `svg` element:

[code]

I was wondering that maybe we could show and error if `<title>`is not there.
This rule should also handle the case `aria-labelledby` is used, because it's valid.

First case

[code]

Second case:

[code]

`<desc>` is not mandatory.

[2020-05-31 21:03] sebmck opened #557 "Reenable CI integration test logs"

[2020-06-01 04:01] VictorHom commented on #341
I would like to take a look at `react-hooks/rules-of-hooks` if no one is looking at that one

[2020-06-01 07:01] UsamaHameed commented on #341
I would like to take a look at `react/default-props-match-prop-types` if no one else is already working on it.

[2020-06-01 23:06] yassere opened #562 "Lint rule htmlHasLang has failing test cases"
The original implementation of `htmlHasLang` had diagnostics for these test cases:

    <html lang={false}></html>
    <html lang={true}></html>
    <html lang={42}></html>

But the current implementation does not.

[2020-06-01 23:10] yassere opened #563 "Lint rule iframeHasTitle has failing test cases"
The original implementation of `iframeHasTitle` had diagnostics for these test cases:

    <iframe title={``} />
    <iframe title={false} />
    <iframe title={true} />
    <iframe title={42} />

But the current implementation does not.